﻿@model SmoovPOS.Entity.Models.SearchInventoryModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    input, select, textarea {
        max-width: none;
    }

    span#searchclear {
        position: absolute;
        right: 55px;
        top: 7px;
        cursor: pointer;
    }

    .exampleone {
        -moz-appearance: toolbarbutton;
    }
</style>

@{
    ViewBag.Title = "Store Management";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    int index = 0;
}

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertInventoryCountIsLimited")</div>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-default" id="1" onclick="checkActive(this.id);" style="display:none">Activate</button>
        <button type="button" class="btn btn-default" id="2" onclick="checkActive(this.id);" style="display:none">Deactivate</button>
        <button onclick="location.href='@Url.Action("Create", "Inventory")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Branch</button>
    </div>
</div>

<div class="q-clear"></div>

<div class="row">
    <div class="col-md-6">
        @if (Model.Inventories != null && Model.Inventories.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }

                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

            </ul>
        }

    </div>
    <div class="col-md-6" style="margin: 20px 0;">
        <div class="input-group">
            <input type="text" name="text" id="text" class="form-control" value="@Model.Paging.text" onkeypress="$('#searchclear').show(); if ($.browser.mozilla){  $('#type').css('margin-left','-4px');}" placeholder="Search store name">
            <span id="searchclear" style="display: none;"><i class="fa fa-times"></i></span>
            <input type="hidden" id="type" name="type" value="title" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="Searching()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<table class="table" id="contributors">
    <thead>
        <tr class="header_table">
            <th style="width: 50px;">
                
            </th>
            <th class="u_title">
                @Html.ActionLink("Store Name", "Index", new { sort = "title", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "title")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">
                @Html.ActionLink("Store ID", "Index", new { sort = "index", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "index")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">Description</th>
            <th class="u_title">Active</th>
            <th class="u_title"></th>
        </tr>
    </thead>

    
    @if (Model.Inventories != null && Model.Inventories.Count() > 0)
    {

        foreach (var item in Model.Inventories)
        {
            if (item.display && item.businessID != "Master")
            {
                <tr>
                    @*<td>
                            <input type="checkbox" class="case" name="case" value=@item._id />
                        </td>*@
                    @if (item.index != 1)
                    {
                        <td><img src="~/Content/Upload/ico-store.png" style="width: 23px;" /> </td>
                        <td>@Html.ActionLink(item.businessID, "Detail", new { id = item._id })</td>
                    }
                    else
                    {
                        <td><img src="~/Content/Upload/ico-online.png" style="width: 23px;" /></td>
                        <td>@Html.DisplayFor(modelItem => item.businessID)</td>
                    }
                    <td>
                        @try
                        {
                            @Html.DisplayFor(modelItem => item.index)
                        }
                        catch (Exception) { }
                    </td>
                    <td>
                        @try
                        {
                            if (string.IsNullOrEmpty(item.description))
                            {
                                <text>N/A</text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.description)
                            }
                        }
                        catch (Exception) { }
                    </td>

                    <td>
                        @try
                        {

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                    <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                    @Html.LocalizedLabel("ON")
                                </label>
                                <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">

                                    <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                    @Html.LocalizedLabel("OFF")
                                </label>


                            </div>
                        }
                        catch { }
                    </td>
                    <td>
                        <button onclick="location.href='@Url.Action("ListProduct", "Inventory", new { id = item._id, store = item.index })';return false;" class="btn btn-default">Manage</button>
                    </td>
                </tr>
                        index++;
            }
        }
    }
</table>

<div class="row">
    <div class="col-md-6">
        @if (Model.Inventories != null && Model.Inventories.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" nclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }

                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        }
    </div>  
</div>

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Do you want to deactivate this store?
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<div class="q-toolsbar">
    <div class="col-md-4"></div>

    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Inventory")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Branch</button>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        // add multiple select / deselect functionality
        $("#selectall").click(function () {
            $('.case').prop('checked', this.checked);
        });
        // if all checkbox are selected, check the selectall checkbox
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);

            } else {
                $("#selectall").prop("checked", false);
            }

        });
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
    });

    function checkActive(obj) {
        var yesNo;
        if (obj == 1)
            yesNo = true;
        else {
            yesNo = confirm("This product will be inactivated in stores.Are you sure you want to inactivate it ?");
        }
        //--------------
        if (yesNo) {
            var delChecked = [];
            var status = (obj == 1) ? true : false;

            $("input:checkbox[name=case]:checked").each(function () {
                delChecked.push($(this).val());
            })
            if (delChecked.length == 0) {
                alert('Please select item !');
                exit;
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("updateStatus", "Inventory")',
                    data: {
                        arrId: delChecked,
                        status: status
                    },
                    success: function (status) {

                        if (status == false) {
                            alert('please try again.');
                        }
                        else {
                            location.reload(true);
                        }
                    }
                })
            }
        }


    }

    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }

    isDismiss = "False";
    jsProductItem = {};
    function dismissPopup() {

        $('#lbl-' + jsProductItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsProductItem["position"]);
        if (jsProductItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsProductItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsProductItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsProductItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusInventory", "Inventory")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {


            },
            error: function (status) {
            }

        });
    }

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsProductItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsProductItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsProductItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveStore")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveStore")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }
    function GoToPage(page,bool) {
        if(bool){
            var link = "@(Url.Action("Index","Inventory"))";
            location.href = link +"/Index?sort=" + "@Model.Paging.sort" + "&type=" + "title" + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault;
        }
    }
    function Searching() {
        var link = "@(Url.Action("Index", "Inventory"))";
        location.href = link +"/Index?sort="+ "@Model.Paging.sort" + "&type=" + "title" + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault;
    }
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }
    });
    $( "#searchclear" ).click(function() {
        var link = "@(Url.Action("Index", "Inventory"))";
        location.href = link;
    });
    var input = $('#text');
    input.on('keydown', function() {
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ){
            var length= $('#text').val().length-1;
            if(length==0){
                $('#searchclear').hide();
            }
        }
    });
    var text= "@Model.Paging.text";
    if(text.length>0){
        $('#searchclear').show();
    }
    setInterval(function(){
        var length= $('#text').val().length;
        if(length==0){
            $('#searchclear').hide();
        }
    },1000)


</script>
