﻿@model SmoovPOS.Entity.Models.SearchProductModel
@using SmoovPOS.Utility.CustomHTMLHelper

<style>
    input, select, textarea {
        max-width: none;
    }

    span#searchclear {
        position: absolute;
        right: 177px;
        top: 7px;
        cursor: pointer;
    }

    .exampleone {
        -moz-appearance: toolbarbutton;
    }

    .header_table {
        border-bottom: 2px solid #ddd;
    }

    .u_title > a {
       
    }
</style>
@{
    //ViewBag.Title = "Store";
    ViewBag.Title = "Inventory";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    int idDiv = 0;
    int idDivVariant = 0;
}
<style>
    .table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #fff;
    }
</style>
<div class="q-toolsbar">
    <div class="col-md-4">
        @*<h2> Store / @Model.Paging.store </h2>*@
        <h2> Store /  @ViewBag.StoreName </h2>
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-primary" id="1" style="margin-right:5px;" onclick="checkActive(true)">Activate</button>
        <button type="button" class="btn btn-danger" id="2" style="margin-right:5px;" onclick="checkActive(false)">Deactivate</button>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inventory")';return false;">Back</button>
    </div>

</div>
<div class="clr"></div>

<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        }

    </div>
    <div class="col-md-6" style="margin: 20px 0;">
        <div class="input-group">
            <input type="text" name="text" id="text" class="form-control" value="@Model.Paging.text" onkeypress="$('#searchclear').show(); if ($.browser.mozilla){  $('#type').css('margin-left','-4px');}" placeholder="Search product" style="width: 84%;">
            <span id="searchclear" style="display: none;"><i class="fa fa-times"></i></span>
            <select class="form-control" id="type" name="type" style="width: 16%;">
                <option @(Model.Paging.type == "category" ? " selected" : "") value="category">Category</option>
                <option @(Model.Paging.type == "product" ? " selected" : "") value="product">Product</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onclick="Searching()" style="padding-left:20px;padding-right:20px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>

<table class="table" id="q-store-list-product">

    <thead>
        <tr class="header_table">
            <th style="width:50px;"><input type="checkbox" class="root" id="selectall" value="@Model.ListProductItem.Count()" /></th>
            <th class="u_title">

                @Html.ActionLink("Product", "ListProduct", new { sort = "product", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true, store = Model.Paging.store })
                @if (Model.Paging.sort == "product")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">
                @Html.ActionLink("Category", "ListProduct", new { sort = "category", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true, store = Model.Paging.store })
                @if (Model.Paging.sort == "category")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">Price</th>
            <th class="u_title"> Quantity  </th>
            <th class="u_title" style="text-align: center">Active</th>
            <th class="u_title"></th>
        </tr>
    </thead>
 
@if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
{
    foreach (var item in Model.ListProductItem)
    {
        int idVariant = -1;
        idDiv++;
        if (item.display)
        {
            <tr id="tr-@idDiv">
                <td style="width: 50px;">
                    <input type="checkbox" class="child-@idDiv" onclick="childCheckBox(this,@idDiv)" name="case" value=@item._id />
                </td>
                <td>
                    @item.title.ToString()
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.categoryName)
                </td>
                <td>
                    @ViewBag.currency @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @{
            //  int count = 0;
            int total = 0;
            int itemCount = 0;
            // int countCompare = 0;
            bool isLargerZero = false;
            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
            {
                if (itemVarient.quantity >= 0)
                {
                    total = total + itemVarient.quantity;
                }

                itemCount++;

            }

            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
            {
                if (itemVarient.quantity >= 0)
                {
                    isLargerZero = true;
                    break;
                }
            }
            if (isLargerZero)
            {
                if (total >= 0)
                {

                    <text> @total.ToString() for @itemCount.ToString() variants</text>
                }
                else
                {
                    <text> 0 for  @itemCount.ToString() variants </text>
                }
            }
            else
            {
                if (item.inventoryPolicy == "100")
                {
                    <text> N/A for  @itemCount.ToString() variants </text>
                }
                else
                {
                    <text> 0 for  @itemCount.ToString() variants </text>
                }


            }
                    }


                </td>

                <td style="text-align: center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@idDiv">
                            <input type="radio" name="@item._id" id="statusActive-@idDiv" value="true" class="optionsRadios">
                            @Html.LocalizedLabel("ON")

                        </label>
                        <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@idDiv">
                            <input type="radio" name="@item._id" id="statusInActive-@idDiv" value="false" class="optionsRadios">
                            @Html.LocalizedLabel("OFF")
                        </label>
                    </div>
                </td>

                <td class="q-expand" style="text-align:center">
                    <img src="@Url.Content("~/Content/Images/Arrowhead-Down.png")" id="expand-none-@idDiv" onclick="CollapseDiv('collapse-@idDiv','@idDiv')" width="30" height="30">
                    <img src="@Url.Content("~/Content/Images/Arrowhead-Right.png")" id="expand-@idDiv" style="display: none" onclick="CollapseDiv('collapse-@idDiv','@idDiv')" width="30" height="30">
                </td>
            </tr>
            if (item.arrayVarient.Count() > 0)
            {
                <tr class="q-collapse" style="display: none" id="collapse-@idDiv">
                    <td colspan="7">
                        <table class="table" id="table-@idDiv">

                            @foreach (Com.SmoovPOS.Entity.VarientItem variant in item.arrayVarient)
                            {
                                idVariant++;
                                idDivVariant++;
                                <tr>
                                    <td style="width: 50px;"><input style="visibility:hidden" type="checkbox" class="subChild-@idDiv" onclick="subChildCheckbox(@idDiv)" name="check[]" value=@idVariant /></td>
                                    <td>
                                        <h5>
                                            @(!string.IsNullOrEmpty(variant.title) ? variant.title : "") @(!string.IsNullOrEmpty(variant.color) ? " - " + variant.color : "") @(!string.IsNullOrEmpty(variant.size) ? " - " + variant.size : "")
                                        </h5>

                                        <h5>
                                            SKU: @variant.sku
                                        </h5>

                                    </td>
                                    <td></td>
                                    <td>@ViewBag.currency @variant.price</td>
                                    <td>
                                        @{
                                if (variant.quantity == -1)
                                {
                                    <text>N/A</text>
                                }
                                else
                                {
                                    @variant.quantity
                                }
                                        }
                                    </td>
                                    <td style="text-align: center" id="variant-@idVariant">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default @(variant.status == true ? "active" : "") statusMerchant" id="lbl-statusVariantActive-@idDivVariant">
                                                <input type="radio" name="@item._id~@idVariant~@idDiv" id="statusVariantActive-@idDivVariant" value="true" class="optionsVariantRadios">
                                                @Html.LocalizedLabel("ON")

                                            </label>
                                            <label class="btn btn-default @(variant.status == false ? "active" : "") statusMerchant" id="lbl-statusVariantInActive-@idDivVariant">
                                                <input type="radio" name="@item._id~@idVariant~@idDiv" id="statusVariantInActive-@idDivVariant" value="false" class="optionsVariantRadios">
                                                @Html.LocalizedLabel("OFF")
                                            </label>
                                        </div>
                                    </td>
                                    <td></td>
                                </tr>
                            }
                        </table>
                    </td>
                </tr>
            }


        }

    }
}
else
{
    <tr style="width:100%">
        <td style="width:100%;text-align:center" colspan="7">
            @Html.LocalizedMessage("NoResultWasFound")
        </td>
    </tr>
}

   

</table>


<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        }

    </div>
   
</div>

<!--  present Modal variant for edit,remove -->
<div class="modal fade" id="Edit-Variant-Inventory" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">View Mode</h4>
            </div>
            <div class="modal-body">
                <div class="validation-summary-errors">
                    <ul>
                        <li id="ErrNameVariantEdit" style="display:none">The Title field is required.</li>
                        <li id="ErrColorVariantEdit" style="display:none">The Color field is required.</li>
                        <li id="ErrSizeVariantEdit" style="display:none">The Size field is required.</li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="ShortName">Title</label>
                                <input type="text" size="30" maxlength="30" class="form-control" id="titleInEdit" name="titleInEdit" placeholder="title">
                            </div>
                            <div class="col-md-6">
                                <label for="color">Color</label>
                                <input type="text" size="15" maxlength="15" class="form-control" id="colorInEdit" name="colorInEdit" placeholder="color" required>
                            </div>
                            <div class="col-md-6">
                                <label for="size">Size</label>
                                <input type="text" size="15" maxlength="15" class="form-control" id="sizeInEdit" name="sizeInEdit" placeholder="size" required>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="price">Price</label>

                                <input type="text" size="13" maxlength="13" class="form-control" id="priceInEdit" name="priceInEdit" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="priceCompare">Compare at price</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="priceCompareInEdit" name="priceCompareInEdit" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="sku">SKU</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="skuInEdit" name="skuInEdit" placeholder="sku" required disabled>
                            </div>
                            <div class="col-md-6">
                                <label for="costPrice">Cost Price ( only for reporting )</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="costPriceInEdit" name="costPriceInEdit" placeholder="0.00">
                            </div>
                            <div>
                                <label>
                                    <input type="checkbox" id="require-ship-edit" name="require-ship-edit" onclick="showMe('weight-group-edit', this)">
                                    Require a shipping address (not needed for services or digital goods)
                                </label>
                            </div>
                            <div class="form-group" id="weight-group-edit" style="display:none">
                                <div class="col-md-6" style="padding-left:0px;">
                                    <label for="weightInEdit">Weight (kg)</label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="weightInEdit" name="weightInEdit" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />

                        <div class="row">
                            <div class="col-md-5">
                                <label for="inventoryPolicyEdit">Inventory Policy</label>
                        
                                        <select id="inventoryPolicyEdit" name="inventoryPolicyEdit" class="form-control">
                                    <option value="20">Don't track this inventory</option>
                                    <option value="21">Track this inventory</option>
                                </select>
                            </div>
                            <div class="q-clear">
                            </div>
                            <div id="21" class="col-md-12 showHide" style="display:none">
                                <div class="col-md-6">
                                    <label for="master-inventory-edit">Quantity</label>

                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="master-inventory-edit" name="master-inventory-edit" placeholder="0">
                                </div>
                                <div class="col-md-6">
                                    <label for="remind-stock-edit">Remind me when stock reaches</label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="remind-stock-edit" name="remind-stock-edit" placeholder="0">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-6" align="left">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Active</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Remove</button>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="ValidateVariant()" class="btn btn-default" data-dismiss="modal">Save</button>
                    <button type="button" id="submit-Variant" class="btn btn-default" data-dismiss="modal" style="display:none">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="productItem" value="" />
<input type="hidden" id="status" value="" />
<input type="hidden" id="idDiv" value="" />
<input type="hidden" id="idVariant" value="" />
<div class="modal fade" id="modalInactiveProductItem" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>
               
            </div>
        </div>
    </div>
</div>
<!-- End present Modal variant for edit,remove -->

<div class="modal fade" id="modalInactiveVariant" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdateVariant()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopupVariant()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>
<!-- End present Modal variant for edit,remove -->
<div class="q-toolsbar">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-primary" id="1" style="margin-right:5px;" onclick="checkActive(true)">Activate</button>
        <button type="button" class="btn btn-danger" id="2" style="margin-right:5px;" onclick="checkActive(false)">Deactivate</button>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Inventory")';return false;">Back</button>
    </div>

</div>

<script>
    function CollapseDiv(div, id) {
        $('#' + div).toggle("fold", 10);
        $('#expand-none-' + id).toggle("fold", 10);
        $('#expand-' + id).toggle("fold", 10);
        var attr = $('#tr-' + id + " td").css('background');
        if (attr) {
            if (attr == "rgb(215, 215, 215) none repeat scroll 0% 0% / auto padding-box border-box") {
                $('#tr-' + id + " td").css("background", "#fff");
            } else {
                $('#tr-' + id + " td").css("background", "#D7D7D7");
            }

        } else {
            $('#tr-' + id + " td").css("background", "#D7D7D7");
        }

    }
    function dismissPopup() {
        $('#lbl-' + jsProductItem["position"]).removeClass("active");
        // var element = document.getElementById('#' + jsProductItem["position"]);
        if (jsProductItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive
            $('#lbl-' + jsProductItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }
        else {

            $('#lbl-' + jsProductItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    function dismissPopupVariant() {
        $('#lbl-' + jsVariant["position"]).removeClass("active");
        // var element = document.getElementById('#' + jsVariant["position"]);
        console.log(jsVariant["position"].indexOf("statusVariantInActive"));
        if (jsVariant["position"].indexOf("statusVariantInActive") != -1) { // exit // lbl-statusActive
            $('#lbl-' + jsVariant["position"].replace("statusVariantInActive", "statusVariantActive")).addClass("active");
        }
        else {
            $('#lbl-' + jsVariant["position"].replace("statusVariantActive", "statusVariantInActive")).addClass("active");
        }
    }
    function confirmUpdate(productItem, status, idDiv) {
        //setStatus(jsProductItem["position"]);
        toggleSwitcheryProductItem($('#productItem').val(), $('#status').val(), $('#idDiv').val());
        isDismiss = "False";

    }
    function confirmUpdateVariant(productItem, status, idDiv) {
        //setStatus(jsProductItem["position"]);
        toggleSwitcheryVariant($('#productItem').val(), $('#idVariant').val(), $('#status').val(), false, $('#idDiv').val());
        isDismiss = "False";

    }

    $(document).ready(function () {
        var params = getParameters();
        var divID = params.divID;
        if (divID) {
            CollapseDiv("collapse-" + divID, divID);
        }

        jsProductItem = {};
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {
                var variantItem = JSON.parse(e.target.value);
                $('#productItem').val(e.target.name);
                $('#status').val(e.target.value);
                $('#idDiv').val(e.target.id.split('-')[1]);
                jsProductItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsProductItem.position).hasClass('active');
                if (!hasActive) {
                    isDismiss = "True";
                    if (this.value == "true") {
                        $('#modalInactiveProductItem').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveProductStore")');
                    } else {
                        $('#modalInactiveProductItem').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveProductStore")');
                    }
                    $('#modalInactiveProductItem').modal();
                }
            };
        }

        jsVariant = {};
        var elems = document.querySelectorAll('.optionsVariantRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {
                var variantItem = JSON.parse(e.target.value);
                $('#productItem').val(e.target.name.split('~')[0]);
                $('#status').val(e.target.value);
                $('#idDiv').val(e.target.name.split('~')[2]);
                $('#idVariant').val(e.target.name.split('~')[1]);
                jsVariant.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsVariant.position).hasClass('active');
                if (!hasActive) {
                    isDismiss = "True";
                    if (this.value == "false") {
                        $('#modalInactiveVariant').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactivateProduct")');
                    } else {
                        $('#modalInactiveVariant').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActivateProduct")');
                    }
                    $('#modalInactiveVariant').modal();
                }
            };
        }
    })


    function toggleSwitcheryProductItem(productItemId, status, id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusProductItem", "Inventory")',
            data: {
                productId: productItemId,
                status: status == "true" ? true : false
            },
            success: function (data) {
                toggleSwitcheryVariant(productItemId, -1, status, true, id);
                var params = getParameters();
                var divID = params.divID;
                if (!divID) {
                    location.href = document.URL + "&" + "divID=" + id;
                }
                else {
                    var tmp = document.URL.split("&");
                    var link = "";
                    for (var i = 0; i < tmp.length - 1; i++) {
                        link += link + tmp[i];
                    }
                    location.href = link + "&" + "divID=" + id;
                }
            }
        });
    }

    function toggleSwitcheryVariant(productItemId, indexVariant, status, all, id) {
        status = status == "true" ? true : false;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusVariant", "Inventory")',
            data: {
                productId: productItemId,
                indexVariant: indexVariant,
                status: status,
                all: all
            },
            success: function (data) {              
                if (data == 2) {
                    $('#lbl-statusActive-' + id).removeClass("active");
                    $('#lbl-statusInActive-' + id).removeClass("active");
                    if (!status) {
                        $('#lbl-statusInActive-' + id).addClass("active");
                    } else {
                        $('#lbl-statusActive-' + id).addClass("active");
                    }
                  } 
                else if (status) {
                    $('#lbl-statusActive-' + id).removeClass("active");
                    $('#lbl-statusInActive-' + id).removeClass("active");
                    $('#lbl-statusActive-' + id).addClass("active");
                }

            }
        })
    }

    function getParameters() {
        var searchString = window.location.search.substring(1)
                , params = searchString.split("&")
                , hash = {}
        ;

        if (searchString == "") return {};
        for (var i = 0; i < params.length; i++) {
            var val = params[i].split("=");
            hash[unescape(val[0])] = unescape(val[1]);
        }
        return hash;
    }

    /*
   *    check box for multiple Active/inactive
   */
    $(function () {
        totalItem = $('.root').val();
        // add multiple select / deselect functionality
        $(".root").click(function () {
            for (var i = 1; i <= totalItem; i++) {
                $('.child-' + i).prop('checked', this.checked);
                $('.subChild-' + i).prop('checked', this.checked);
            }

        });

        // if all checkbox are selected, check the selectall checkbox
        $(".child").click(function () {

            if ($(".child").length == $(".child:checked").length) {
                $(".root").prop("checked", true);

            } else {
                $(".root").prop("checked", false);
            }
        });
    });

    function childCheckBox(checkbox, id) {
        $(".subChild-" + id).prop('checked', checkbox.checked);
        if (checkbox.checked) {
            var count = 0;
            for (var i = 1; i <= totalItem; i++) {
                if ($(".child-" + i).is(':checked')) {
                    count++;
                } else {
                    $(".root").prop("checked", false);
                    return;
                }
            }
            if (count == totalItem) {
                $(".root").prop("checked", true);
            }
        } else {

            $(".root").prop("checked", false);
        }

    }
    function subChildCheckbox(id) {
        if ($(".subChild-" + id).length == $(".subChild-" + id + ":checked").length) {
            $(".child-" + id).prop("checked", true);
            var count = 0;
            for (var i = 1; i <= totalItem; i++) {
                if ($(".child-" + i).is(':checked')) {
                    count++;
                } else {
                    $(".root").prop("checked", false);
                    return;
                }
            }
            if (count > 0) {

            }
        } else {
            $(".child-" + id).prop("checked", false);
            $(".root").prop("checked", false);
        }
    }

    // submit for controller
    function checkActive(obj) {
        // alert('list product');
        var yesNo;
        if (obj)
            yesNo = true;
        else {
            yesNo = confirm("This product will be inactivated in this stores. Are you sure you want to inactivate it ?");
        }
        if (yesNo) {
            var delChecked = [];
            for (var i = 1; i <= totalItem; i++) {
                var childCheck = {};
                childCheck.productID = $(".child-" + i).val();
                var subcheck = [];

                $(".subChild-" + i + ":checked").each(function () {
                    subcheck.push($(this).val());
                })

                childCheck.arrayVariant = subcheck;
                if ($(".child-" + i).is(':checked')) {
                    childCheck.status = true;
                } else {
                    childCheck.status = false;
                }
                if (subcheck.length > 0) {
                    delChecked.push(childCheck);
                }
            }
            var productItemId = {};
            productItemId.ProductVariantId = delChecked;
            productItemId.status = obj;

            console.log(JSON.stringify(productItemId));
            var json = (delChecked);
            if (delChecked.length == 0) {
                alert('Please select item !');
                return false;
            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("updateProductItemStatus", "Inventory")',
                    data: productItemId,
                    success: function (data) {
                        if (data) {
                            location.reload(true);
                        }
                        else {
                            alert('please try again.');
                        }
                    }
                })
            }
        }
    }
    //----- End  Call to controller set active/inactive Category
    function GoToPage(page, bool) {
        if (bool) {
            var link = "@(Url.Action("ListProduct", "Inventory"))";
            location.href = link + "?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault + "&store=" + "@Model.Paging.store";
        }
    }

    function Searching() {
        var link = "@(Url.Action("ListProduct", "Inventory"))";
        location.href = link + "?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault + "&store=" + "@Model.Paging.store";
    }

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }

    });
    $("#searchclear").click(function () {
        var link = "@(Url.Action("ListProduct", "Inventory", new { store= Model.Paging.store }))";
        location.href = link;
    });
    var input = $('#text');
    input.on('keydown', function () {
        var key = event.keyCode || event.charCode;
        if (key == 8 || key == 46) {
            var length = $('#text').val().length - 1;
            if (length == 0) {
                $('#searchclear').hide();
            }
        }
    });
    var text = "@Model.Paging.text";
    if (text.length > 0) {
        $('#searchclear').show();
    }
    setInterval(function () {
        var length = $('#text').val().length;
        if (length == 0) {
            $('#searchclear').hide();
        }
    }, 1000)
</script>