﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ServicePlan.ServicePlanViewModel

@{
    ViewBag.Title = "Service Plan";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<style>
    .col-md-5 {
        width: 50% !important;
    }
</style>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@Html.LocalizedLabel("ServicePlan")</h3>
    </div>

    <div class="col-md-8"></div>
</div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Package")</h4>
            <text>@Html.LocalizedLabel("OverviewOfYourAccountAndServicePlan")</text>
        </div>

        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;"> @Html.LocalizedLabel("MemberSince")</h4>
                    <text>@Model.MemberSince</text>
                </div>
                
                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;">@Html.LocalizedLabel("PackageName")</h4>
                    <text>@Model.PackageType</text>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;">@Html.LocalizedLabel("PackageStatus")</h4>
                    @if (@Model.PackageStatus == "Active")
                    {
                        <div style="color: green">@Model.PackageStatus</div>
                    }
                    else
                    {
                        <div style="color: red">@Model.PackageStatus</div>
                    }
                </div>

                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;">@Html.LocalizedLabel("BillingCycle")</h4>
                    <text>@Model.BillingCycle</text>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;">@Html.LocalizedLabel("LastPayment")</h4>
                    <text>@Model.LastPayment</text>
                </div>

                <div class="col-md-4">
                    <h4 style="font-size:14px;font-weight:bold;">@Html.LocalizedLabel("ExpiredDate")</h4>
                    <text>@Model.ExpiredDate</text>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();
</script>