﻿@model SmoovPOS.UI.Models.Tax.TaxModel

@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Taxes";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";

}
<style>
    .TaxesTable {
        table-layout: auto !important;
    }

        .TaxesTable tr {
            border-top: 0px dashed #ddd !important;
        }

        .TaxesTable .first_tr {
            width: 100%;
            background-color: #f0f0f0;
            font-weight: bold;
        }

    .add-tax .col-md-6 {
        padding-right: 0px !important;
    }

        .add-tax .col-md-6:first-child {
            padding-right: 15px !important;
        }

        .add-tax .col-md-6:last-child {
            padding-left: 15px !important;
        }
</style>
@*@using (Html.BeginForm("Edit", "Tax", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {*@
@* //------- Header Taxs-------*@
<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>Taxes</h3>
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-primary submit" data-toggle="modal" data-target="#newTaxId">Add</button>
    </div>
</div>
@*//------ End Header Taxs ------*@
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    @Html.AntiForgeryToken()
    @*------------------- Service Charge Information ------------------------*@
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>Tax List</h4>
            <text>Define tax rate by adding tax for each store.</text>
            <input type="text" class="form-control" name="taxId" value="@Model.id" style="display:none">
            <input type="text" style="display:none" name="listStore" id="listStore" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.listStoreId)">
            <input type="text" style="display:none" name="listInventory" id="listInventory" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model.inventoryList)">
        </div>
        <div class="col-md-8">
            @*1. -------Email Address and Pin Code  fields------ *@
            @foreach (var item in Model.listTaxItem)
            {
                int count = 0;
                <div class="form-group">
                    <div class="col-md-12">
                        <table class="table TaxesTable" id="table-@item.indexStore">
                            <tr class="first_tr">
                                <td colspan="4">@item.storeName</td>
                            </tr>


                            @if (item.serviceCharge != null && item.indexStore != 1)
                            {
                                <tr id="service-@item.indexStore">
                                    <td>Service Charge</td>
                                    <td style="width:20%"><label>@String.Format("{0:0.00}", item.serviceCharge.serviceChargeValue) &nbsp;%</label></td>
                                    <td style="width:5%"><button value="@Newtonsoft.Json.JsonConvert.SerializeObject(item.serviceCharge)" class="btn btn-primary" onclick="detailTax(this, @item.indexStore,'1')" data-toggle="modal" data-target="#newTaxId"><i class="fa fa-pencil"></i></button></td>
                                    <td style="width:5%"><button value='{"index":"@item.indexStore", "taxItemId":"@item.serviceCharge.store._id", "type":"1"}' class="btn btn-danger tnDeleteImage" onclick=deleteTax(this,1) data-toggle="modal" data-target="#modalInactive"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                count++;
                            }

                            @foreach (var itemTax in item.listTaxItem)
                            {
                                <tr id="tax-@item.indexStore-@itemTax._id">
                                    <td><label>@itemTax.name</label></td>
                                    <td style="width:20%"><text id="price-@item.indexStore-@itemTax._id">@String.Format("{0:0.00}", itemTax.storeInformation.Where(s => s.index == item.indexStore).FirstOrDefault().valueRate) &nbsp;%</text></td>
                                    <td style="width:5%"><button value="@Newtonsoft.Json.JsonConvert.SerializeObject(itemTax)" class=" btn btn-primary" data-toggle="modal" onclick="detailTax(this, @item.indexStore,'0')" data-target="#newTaxId"><i class="fa fa-pencil"></i></button></td>
                                    <td style="width:5%"><button value='{"index":"@item.indexStore", "taxItemId":"@itemTax._id", "type":"0"}' class="btn btn-danger tnDeleteImage" onclick=deleteTax(this,0) data-toggle="modal" data-target="#modalInactive"><i class="fa fa-trash"></i></button></td>
                                </tr>
                                count++;
                            }

                            @if (count == 0)
                            {
                                <tr>
                                    <td class="center" colspan="4">No Tax was found.</td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
<div class="q-toolsbar">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-primary submit" data-toggle="modal" data-target="#newTaxId">Add</button>
    </div>
</div>
@Html.Partial("~/Views/Tax/NewTax.cshtml", Model);


@* show modal confirm delelte *@
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Do you want to delete this tax?
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(".mainMenu").hide();
    $(".settingsMenu").show();

    $('#inputId').prop('readonly', true);
    $(function () {
        listStore = jQuery.parseJSON($('#listStore').val());
        var TaxItem = {};
        var idDelete;
        listDeleteService = [];
        $('.chargeStore').maskMoney();
        $('#taxRate').maskMoney();
        // clear modal when it represent
        $('#newTaxId').on('hidden.bs.modal', function (e) {
            $('#ErrTaxRate').css('display', 'none');
            $('#ErrTaxName').css('display', 'none');
            $('#ErrStore').css('display', 'none');
            $(this).find('#taxRate').val('');
            $(this).find('#taxName').val('');
            $(this).find('#taxName').prop('disabled', false);
            $(this).find('#type').prop('disabled', false);
            $("#newTaxId").find(".container").empty();
            var listStore = jQuery.parseJSON($('#listInventory').val());
            $(this).find("input[type=checkbox]").prop("checked", "").end();
            $("#newTaxId").find(".container").append('<br>');
            for (var i = 0; i < listStore.length ; i++) {
                $("#newTaxId").find(".container").append('<div id=' + listStore[i]._id + '><input type="checkbox" class="storeId" name="storeId" value=' + listStore[i]._id + '>&nbsp;' + listStore[i].businessID + '<br/></div>');
            }
            $('#newTaxId').find('#type').val("0");
            $('#newTaxId .row').find('#taxRate').val("0.00");
            $('#newTaxId .modal-footer').find('#isEdit').val("0");
        });

        $('#type').on('change', function () {
            if ($(this).val() == "1") {
                $('#taxName').prop("disabled", true);
                for (var i = 0; i < listStore.length ; i++) {
                    $("input:checkbox[name=storeId]").each(function () {
                        if ($(this).val() == listStore[i]) {
                            $('#' + listStore[i]).css('display', 'none');
                        }
                    });
                }
            } else {
                for (var i = 0; i < listStore.length ; i++) {
                    $('#' + listStore[i]).css('display', 'block');
                }
                $('#taxName').prop("disabled", 'false');
            }
        });

        $('#btn-New-Tax').click(function () {
            $('.loading').css('display', 'block')
            var taxName = $("#taxName").val().trim();
            var taxRate = $("#taxRate").val();
            var check = true;
            var type = $('#type').val();
            if (taxName.length < 1 && type == 0) {
                $('#ErrTaxName').css('display', 'block');
                check = false;
            } else {
                $('#ErrTaxName').css('display', 'none');
            }

            if (taxRate.length < 1) {
                $('#ErrTaxRate').css('display', 'block');
                check = false;
            } else {
                $('#ErrTaxRate').css('display', 'none');
            }
            var i = 0;
            var listStoreid = [];
            if ($('#newTaxId').find('#isEdit').val() == "0") {
                $("input:checkbox[name=storeId]:checked").each(function () {
                    listStoreid.push($(this).val().toString());
                    i++;
                })
                if (i === 0) {
                    $('#ErrStore').css('display', 'block');
                    check = false;
                } else {
                    $('#ErrStore').css('display', 'none');
                }
            }


            var id = '@Model.id';
            if (check) {
                $('#newTaxId').find('#type').prop('disabled', false);
                $('#submit').click();
            } else {
                $('.loading').css('display', 'none')
            }
        });
    });

    function detailTax(self, indexStore, type) {
        var detailTax = jQuery.parseJSON($(self).val());
        $('#newTaxId').find('.modal-title').html("Edit Tax");
        $('#newTaxId .row').find('#type').val(type);
        $('#newTaxId .row').find('#type').prop("disabled", true);
        $("#newTaxId").find(".container").empty();
        $("#newTaxId").find(".container").append('<br>');
        // detail tax
        if (type == "0") {
            var listStore = detailTax.storeInformation;
            for (var i = 0 ; i < listStore.length; i++) {
                if (listStore[i].index == indexStore) {
                    $('#newTaxId .row').find('#taxRate').val(convertMoney(listStore[i].valueRate.toString()));
                    break;
                }
            }
            $('#newTaxId .row').find('#taxName').val(detailTax.name);
            var arrStore = detailTax.storeInformation;
            for (var i = 0; i < arrStore.length ; i++) {
                if (arrStore[i].index == indexStore) {
                    $("#newTaxId").find(".container").append('<text>' + arrStore[i].storeName + '</text> <br />');
                }
            }
            $('#newTaxId .modal-footer').find('#submit').val(detailTax._id);
        } else {
            $('#newTaxId .row').find('#taxRate').val(convertMoney(detailTax.serviceChargeRate.toString()));
            $("#newTaxId").find(".container").append('<text>' + detailTax.store.businessID + '</text> <br />');
            $('#newTaxId .modal-footer').find('#submit').val(detailTax.index);
        }
        $('#newTaxId .row').find('#taxName').prop("disabled", true);
        $('#newTaxId').find('#isEdit').val(indexStore);

        $('#newTaxId .modal-footer').find('#btn-New-Tax').html('Save')
    }
    /*
     * Detail Taxitem
     */
    //$(".detailTax").click(function () {
    //    var detailTax = jQuery.parseJSON($(this).val());
    //    $('#TaxName').html(detailTax.name);
    //    $('#tax-Rate').html("Tax Rate: " + detailTax.valueRate + "%");
    //    var arrStore = detailTax.storeInformation;
    //    $("#detailTaxItemModal").find(".container").empty();
    //    $("#detailTaxItemModal").find(".container").append('<br>');
    //    for (var i = 0; i < arrStore.length ; i++) {
    //        $("#detailTaxItemModal").find(".container").append('<text>' + arrStore[i].storeName + '</text> <br />');
    //    }
    //});

    function deleteTax(self, type) {
        TaxItem = jQuery.parseJSON($(self).val());
        if (type == 0) {
            $('#modalInactive').find(".modal-body").html(" Do you want to delete this Tax?");
        } else {
            $('#modalInactive').find(".modal-body").html(" Do you want to delete this Service Charge?");
        }
        $('#modalInactive').modal();
    }

    function confirmUpdate() {
        //  $('#btnDelete-' + TaxItem._id).parents("tr").remove();
        var id = "@Model.id";
        if (TaxItem.type == "0") {
            $.ajax({
                url: '@Url.Action("Delete", "Tax")',
                dataType: "html",
                type: "POST",
                data: {
                    id: id,
                    indexStore: TaxItem.index,
                    taxItemId: TaxItem.taxItemId
                },
                success: function (data) {
                    if (data == "False") {
                        // update service false
                    } else {
                        $('#tax-' + TaxItem.index + "-" + TaxItem.taxItemId).remove();
                        var count = $('#table-' + TaxItem.index).find('tbody').children('tr').length;
                        if (count == 1) {
                            $('#table-' + TaxItem.index).append(' <tr> <td class="center" colspan="4">No Tax was found.</td></tr>');
                        }
                    }
                },
                error: function (data) {
                    return false;
                }
            });
        } else {
            $.ajax({
                url: '@Url.Action("DeleteServiceCharge", "Tax")',
                dataType: "html",
                type: "POST",
                data: {
                    id: id,
                    indexStore: TaxItem.index
                },
                success: function (data) {
                    if (data == "False") {
                        // update service false
                    } else {
                        $('#service-' + TaxItem.index).remove();
                        for (var i = 0; i < listStore.length; i++) {
                            if (listStore[i] === TaxItem.taxItemId) {
                                listStore.splice(i, 1);
                                break;
                            }
                        }
                        var count = $('#table-' + TaxItem.index).find('tbody').children('tr').length;
                        if (count == 1) {
                            $('#table-' + TaxItem.index).append(' <tr> <td class="center" colspan="4">No Tax was found.</td></tr>');

                        }
                    }
                },
                error: function (data) {
                    return false;
                }

            });
        }

    }

    function convertMoney(obj) {
        var valueCurrency;

        if (obj.indexOf(',') != -1) {

            valueCurrency = parseFloat(obj.replace(/,/g, ""))
                .toFixed(2)
                .toString()
                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");

        }
        else {
            valueCurrency = parseFloat(obj)
              .toFixed(2)
              .toString()
              .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
        return valueCurrency;
    }

</script>
