﻿@model Com.SmoovPOS.Entity.Tax
@*@{
  String urlImgDynamic = Url.Content("~/Content/Images/delete-ico.png");
}*@

<table class="table TaxesTable">       
    @if (Model.arrayTax != null)
    {
        foreach (var item in Model.arrayTax)
        {
            <tr>
                <td>
                    <button class="detailTax"  value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)" data-toggle="modal" data-target="#detailTaxItemModal"><text>@item.name</text></button>                   
                </td>
                <td>
                    <text>@String.Format("{0:0.00}", item.valueRate) % </text> 
                </td>

                <td>                     
                    <button class="tnDeleteImage" onclick="deleteTax(this)" value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)" id="btnDelete-@item._id" data-toggle="modal" data-target="#modalInactive"> <img src="@Url.Content("~/Content/Images/delete-ico.png")" width="15" height="15"></button>
                </td>
            </tr>
        }
    }

</table>



