﻿<div>
    <div id="header-mail">

        <label>
            Hi [FirstNameOfMerchant],
        </label>
        <div style="margin-top:10px;">
            Your account password has been changed successfully. Please contact admin system for more information.
        </div>
        <div>

            <div style="margin-top:30px;">

                Thank you,
            </div> <div>
                SmoovPos Team
            </div>
        </div>
    </div>
</div>
