﻿

<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfMerchant],

        </label>
        <div style="margin-top:10px;">
            Thank you for signup with [BusinessName]! We're excited to have you join us and start shopping. We look forward to serve you.
        </div>       
        <div>
            <div style="margin-top:10px;">
                Visit us again at: <a href="[LinkActiveMerchant]"> [LinkActiveMerchant]</a>
            </div>
            <div style="margin-top:30px;">
                Sincerely,
            </div>
            <div>
                SmoovPos Team
            </div>
        </div>
    </div>

</div>

