﻿@model SmoovPOS.UI.Models.MemberPoint.MemberPointViewModel
@using SmoovPOS.Utility.CustomHTMLHelper

@*@using (Html.BeginForm("EditMemberPoint", "MemberPoint", FormMethod.Post, new { @encType = "multipart/form-data", @id = "formData" }))
{*@
    <div class="row">
        <div class="col-md-12 add-Station">
            <div class="input-group" >
                @Html.LocalizedLabel("ExchangeRate")
                <input type="text" class="form-control" id="Amount" name="Amount" value="@Model.Amount" style="width:150px; float:right" onkeypress="return event.charCode >= 48 && event.charCode <= 57" placeholder="0.00">
                <span class="input-group-btn">
                    <input type="button" class="form-control" id="Currency" value="@Model.Currency" style="width:80px" />
                </span>
                <span style="margin-left:20px; top:30px;">for 1 point</span>
            </div>
           
        </div>
    </div>
@*}*@

<script>
    $("#Amount").maskMoney({
        allowZero: false
    });
</script>