﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.MerchantManagementViewModel
@{
    ViewBag.Title = @Html.LocalizedLabel("CreateNewMerchant");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<link type="text/css" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>
<div class="q-form">
    @*@using (Html.BeginForm("Create", "MerchantManagement", FormMethod.Post, new { @encType = "multipart/form-data" }))*@
    @using (Ajax.BeginForm("Create", "MerchantManagement", new SmoovPOS.UI.Models.MerchantManagementViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.merchantID)
            @Html.HiddenFor(model => model.userID)
            <div class="col-md-4">
                <h3><span class="parant-title">Merchant / </span>@ViewBag.Title  @Model.fullName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="submit" class="btn btn-primary style=" margin-right:5px;">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MerchantManagement")'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        @*. ------END HEADER MerchantID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN MERCHANT INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("MerchantInformation")</h4>
                <p>@Html.LocalizedLabel("MerchantInformationDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.businessName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.businessName, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("businessName_placeholder") })
                            @Html.ValidationMessageFor(m => m.businessName)
                            @*<nobr>
                                    @Html.ValidationMessageFor(m => m.businessName)
                                    <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="businessName" id="ExistedRecordBusiness"></span>
                                </nobr>*@
                        </div>
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.email)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control", @maxlength = 255, @placeholder = @Html.LocalizedLabel("email_placeholder") })
                            @Html.ValidationMessageFor(m => m.email)
                            @*<nobr>
                                        @Html.ValidationMessageFor(m => m.email)
                                    <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="email" id="ExistedRecordEmail"></span>
                                </nobr>*@
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-2 outer">
                        <div class="inner">
                            <label for="ShortName">@Html.LocalizedLabel("MerchantName")<span style="color:red"> *</span></label>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.title, Model.titles, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.title)
                            @*
                                @Html.ValidationMessageFor(m => m.title)*@
                        </div>
                    </div>
                    <div class="col-md-3 outer">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @maxlength = 255, @placeholder = @Html.LocalizedLabel("FirstName") })
                            @Html.ValidationMessageFor(m => m.firstName)
                        </div>
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @maxlength = 255, @placeholder = @Html.LocalizedLabel("LastName") })
                            @Html.ValidationMessageFor(m => m.lastName)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.birthday)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            <div id="datetimepicker1" class="input-append date">
                                @Html.TextBoxFor(m => m.birthday, new { @class = "form-control", @maxlength = 10 })
                                @*<input data-format="MM/dd/yyyy" type="text" class="form-control" id="birthday" name="birthday" maxlength="10" />*@
                                <span class="add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @Html.ValidationMessageFor(m => m.birthday)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.phoneRegion)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.phoneRegion, new { @class = "form-control", @style = "text-align:right;", @maxlength = 10, id = "phoneRegionMerchant", @placeholder = "+65" })
                            @Html.ValidationMessageFor(m => m.phoneRegion)
                        </div>
                    </div>
                    <div class="col-md-3 outer">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @maxlength = 15, id = "phoneMerchant" })
                            @Html.ValidationMessageFor(m => m.phone)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-10">
                        <div class="inner">
                            @Html.LabelFor(model => model.address)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.address, new { @class = "form-control", @maxlength = 255 })
                            @Html.ValidationMessageFor(m => m.address)
                        </div>
                    </div>
                </div>
                <div class="q-clear">
                </div>
                <div class="form-group">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.city, new { @class = "form-control", @maxlength = 255 })
                            @Html.ValidationMessageFor(m => m.city)
                        </div>
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control", @maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.zipCode)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.country)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.country, Model.countrys, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.country)
                        </div>
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.region)
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.region, new { @class = "form-control", @maxlength = 255 })
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            @*5. -------END MERCHANT INFORMATION------ *@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("ServicePackage")</h4>
                <p>@Html.LocalizedLabel("ServicePackageDetail")</p>
            </div>
            <div class="col-md-9">
                @*5. ------Service Package ------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.servicePacketID, Model.servicePackets, new { @class = "form-control", @id = "list-service-package" })
                            @Html.ValidationMessageFor(m => m.servicePacketID)
                        </div>
                    </div>
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketStartDate)
                        </div>
                        <div class="inner">
                            <div id="datetimepicker2" class="input-append date">
                                @{
        DateTime bd = DateTime.Now;
        var dateStartStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                                }
                                @Html.DisplayFor(m => dateStartStr)
                                @*@Html.TextBoxFor(m => m.servicePacketStartDate, new { @class = "form-control", @maxlength = 10 })
                                    <span class="add-on">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    @Html.ValidationMessageFor(m => m.servicePacketStartDate)*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.BillingCycleName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.billingCycleId, new List<SelectListItem>(), new { @class = "form-control", @id = "list-billing-cycle" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />
        <div class="q-toolsbar">
            <div class="col-md-4">

            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="submit" class="btn btn-primary" style="margin-right:5px;">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MerchantManagement")'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    var IsExistEmail = false;
    var IsExistBusiness = false;
    $(function () {
        $('#birthday').attr('data-format', 'MM/dd/yyyy');
        //$('#servicePacketStartDate').attr('data-format', 'MM/dd/yyyy');

        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });
        //var picker = $('#datetimepicker2').datetimepicker({
        //    language: 'pt-BR',
        //    startDate: new Date()
        //});
        @*$('#servicePacketStartDate').val('@DateTime.Now.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate)');*@
        $('#country').val('@SmoovPOS.Common.ConstantSmoovs.Countrys.Singapore');

        //$('#businessName').filter_input({ regex: '[a-zA-Z0-9_ ]' });
    });
    var countSubmit = 0;
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        //do your success logic
                        //if (result.success) {
                        var url = '@Url.Action("Index", "MerchantManagement")';
                        window.location.href = url;
                        return;
                    },
                    //error: function (result) {
                    //    //do your success logic
                    //    $('button[type=submit]').each(function () {
                    //        $(this).button('reset');
                    //    });
                    //    $('button[type=button], .btn-default').each(function () {
                    //        $(this).removeAttr('disabled');
                    //    });
                    //},
                    beforeSend: function () {
                        $('button[type=submit]').each(function () {
                            $(this).button('loading');
                        });
                        $('button[type=button], .btn-default').each(function () {
                            $(this).attr('disabled', 'disabled');
                        });
                    },
                    complete: function () {
                    }
                });

            }
            else {
                //do your success logic
                $('button[type=submit]').each(function () {
                    $(this).button('reset');
                });
                $('button[type=button], .btn-default').each(function () {
                    $(this).removeAttr('disabled');
                });
            }
        }
        else {
            $('button[type=submit]').each(function () {
                $(this).button('loading');
            });
            $('button[type=button], .btn-default').each(function () {
                $(this).attr('disabled', 'disabled');
            });
            return;
        }
        //else {
        //    ShowMessageExistBussiness();
        //    ShowMessageExistEmail();
        //}
    });

    function is_valid_phone(phone) {
        return phone.match(/^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/);
    }

    $(document).ready(function () {
        $("#phoneMerchant").keydown(function (e) {

            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }

        });
        $("#phoneRegionMerchant").keydown(function (e) {
            // Validate phone region
        });

        $("#list-service-package").change(function () {
            // let's assume /list page prints a JSON string
            var url = '@Url.Action("GetListBillingCycleByServicePackage", "MerchantManagement", new { id = "service_package_id" })';
            url = url.replace("service_package_id", $(this).val());
            $.getJSON(url, null, function (data) {
                var result = '';
                if (data.length > 0) {
                    for (var i = 0, iL = data.length; i < iL; i++) {
                        result += '<option value="' + data[i].billingCycleID + '">' + data[i].paymentCycleName + ' - ' + data[i].moneyType + ' ' + data[i].moneyPerUnit + '</option>';
                    }
                }
                else {
                    result += '<option value="-1">---No billing cycle.---</option>';
                }
                $("#list-billing-cycle").html(result);
            });
        });

        $("#list-service-package").change();
    });
</script>


