﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.MerchantManagementViewModel

@{
    ViewBag.Title = "Merchant / Detail / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .col-md-5 {
        width: 50% !important;
    }
</style>
<div class="q-form">
    @using (Html.BeginForm("Edit", "MerchantManagement", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        string daysleft = string.Empty;
        string status = string.Empty;
        @*. ------BEGIN HEADER MerchantID and Full Name ------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.merchantID)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.fullName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" onclick="location.href='@Url.Action("Edit", "MerchantManagement", new { id = Model.merchantID })'">Update</button>
                @if (!Model.isVerifyLink)
                {
                    <button type="button" class="btn btn-default" style="margin-right:5px;" disabled="disabled" onclick="return false;">Reset Password</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" style="margin-right:5px;" onclick="location.href='@Url.Action("ChangePassword", "MerchantManagement", new { id = Model.merchantID })'">Reset Password</button>
                }
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "MerchantManagement")'">Close</button>
            </div>
        </div>
        @*. ------END HEADER MerchantID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN MERCHANT INFORMATION------ *@
        <div class="form-horizontal">

            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("MerchantInformation")</h4>
                <p>@Html.LocalizedLabel("MerchantInformationDetail")</p>
            </div>

            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.fullName)
                        </div>
                        <div class="inner">
                            @Html.DisplayFor(model => model.fullName)
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="outer" style="padding-left: 0px;padding-top:0px;">
                            <div class="inner">
                                @Html.LabelFor(model => model.email)
                            </div>
                            <div class="inner">
                                @Html.DisplayFor(model => model.email)
                            </div>
                        </div>
                    </div>

                </div>
                @*5. -------Business Name and Phone fields------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.businessName)
                        </div>
                        <div class="inner">
                            @Html.DisplayFor(model => model.businessName)
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="outer" style="padding-left: 0px;padding-top:0px;">
                            <div class="inner">
                                @Html.LabelFor(model => model.phone)
                            </div>
                            <div class="inner">
                                @Html.DisplayFor(model => model.phoneRegion)&nbsp;@Html.DisplayFor(model => model.phone)
                            </div>
                        </div>
                    </div>

                </div>
                @*5. -------Birthday and Address fields------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.birthday)
                        </div>
                        <div class="inner">
                            @if (Model.birthday != null)
                            {
                                DateTime bd = Model.birthday.GetValueOrDefault();
                                dateStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.MonthText);
                            }
                            @Html.DisplayFor(model => dateStr)
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div style="padding-left: 0px;padding-top:0px;">
                            <div class="">
                                <label>
                                    @*@Html.LabelFor(model => model.address)*@
                                    <label> @Html.LocalizedLabel("Address")</label>

                                </label>
                            </div>
                            <div class="">
                                @*@Html.DisplayFor(model => model.address)*@
                                @{

                            System.Text.StringBuilder addressShow = new System.Text.StringBuilder();
                            addressShow.Append(!string.IsNullOrWhiteSpace(Model.address) ? Model.address : "");
                            addressShow.Append(", ");
                            addressShow.Append(!string.IsNullOrWhiteSpace(Model.city) ? Model.city : "");
                            addressShow.Append(", ");
                            addressShow.Append(!string.IsNullOrWhiteSpace(Model.region) ? Model.region : "");
                            addressShow.Append(", ");
                            addressShow.Append(!string.IsNullOrWhiteSpace(Model.zipCode) ? Model.zipCode : "");
                            addressShow.Append(", ");
                            addressShow.Append(!string.IsNullOrWhiteSpace(Model.country) ? Model.country : "");

                                }
                                <text>@addressShow.ToString()</text>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        @*5. -------END MERCHANT INFORMATION------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ServicePackage")</h4>
                <p>@Html.LocalizedLabel("ServicePackageDetail")</p>
            </div>
            <div class="col-md-8">
                @*5. ------Service Package ------ *@
                <div class="form-group ">
                    <div class="col-md-5">
                        <div class="col-md-5 outer" style="padding-left: 0px;padding-top:0px;">
                            <div class="inner" style="width:350px;">
                                @Html.LabelFor(model => model.servicePacketName)
                            </div>
                            <div class="inner">
                                @Html.DisplayFor(model => model.servicePacketName)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="col-md-5 outer" style="padding-left: 0px;padding-top:0px;">
                            <div class="inner" style="width:350px;">
                                @Html.LabelFor(model => model.BillingCycleName)
                            </div>
                            <div class="inner">
                                @Html.DisplayFor(model => model.BillingCycleName)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                @*5. ------Bussiness Name and Exprite Date------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketStartDate)
                        </div>
                        <div class="inner">
                            @if (Model.servicePacketStartDate != null)
                            {
                                DateTime startDate = Model.servicePacketStartDate.GetValueOrDefault();
                                dateStr = startDate.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.LongDate);
                            }
                            else
                            {
                                dateStr = string.Empty;
                            }
                            @Html.DisplayFor(model => dateStr)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketEndDate)
                        </div>
                        <div class="inner">
                            @if (Model.servicePacketEndDate != null)
                            {
                                DateTime endDate = Model.servicePacketEndDate.GetValueOrDefault();
                                dateStr = endDate.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.ShortDate);
                                dateStr = string.Format("{0} - ", dateStr);
                                daysleft = string.Format(@Html.LocalizedLabel("daysleft").ToString(), Model.expiredDate);
                            }
                            else
                            {
                                dateStr = string.Empty;
                            }
                            @Html.DisplayFor(model => dateStr)
                            @if (Model.isExpiredDate)
                            {
                                <span style="color:red;">@daysleft</span>
                            }
                            else
                            {
                                <span style="color:green;">@daysleft</span>
                            }
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        @*5. ------Verify Link------ *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("MerchantStatus")</h4>
                <p>@Html.LocalizedLabel("StatusDetail")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @if (Model.status)
                            {
                                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                            }
                            else
                            {
                                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                            }
                            @if (Model.status)
                            {
                                <span style="color:green;">@Html.DisplayFor(model => status)</span>
                            }
                            else
                            {
                                <span style="color:red;">@Html.DisplayFor(model => status)</span>
                            }
                        </div>
                        <div class="inner">
                            @if (!Model.isVerifyLink)
                            {
                                @Html.LocalizedLabel("Waitingforemailverification")
                            }
                        </div>
                    </div>
                </div>
                <div class="q-clear">
                </div>
                @if (!Model.isVerifyLink)
                {
                    <div class="form-group">
                        <div class="col-md-7 outer">
                            <div class="inner">
                                <label>@Html.LocalizedLabel("VerifyLink")</label>
                            </div>
                            <div class="inner">
                                <a href="@Html.DisplayFor(model => model.verifyLink)">@Html.DisplayFor(model => model.verifyLink)</a>
                            </div>
                            <div class="inner">
                                @if (!Model.isVerifyLink)
                                {
                                    @Html.LocalizedMessage("SendVerification")
                                }
                            </div>
                        </div>
                        <div class="col-md-3 outer">
                            <div class="inner">
                                <label>&nbsp;</label>
                            </div>
                            <div class="inner">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalConfirmResend" style="margin-right:5px;" id="btnResend">Resend</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <hr />
    }

</div>
<div class="modal fade" id="modalConfirmResend" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body" style="text-align:center">
                @Html.LocalizedMessage("ConfirmResendVerifyLink")
            </div>
            <div class="modal-footer">
                <button onclick="Resend('@Model.email', '@Model.verifyLink', '@Model.bucket','@Model.firstName')" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Resend(email, verifyLink, bucket, firstName) {
        $.ajax({
            url: '@Url.Action("Resend", "MerchantManagement")',
            type: "POST",
            data: { email: email, verifyLink: verifyLink, bucket: bucket, firstName: firstName },
            success: function (data) {

            },
            beforeSend: function () {
                $('#btnResend').button('loading');
            },
            complete: function () {
                $('#btnResend').button('reset');
            }
        });
    }
</script>