﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.MerchantManagementViewModel
@{
    ViewBag.Title = "Merchant / Edit / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<link type="text/css" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>

<div class="q-form">
    @{
        string dateDoBStr = string.Empty;
        string dateStartStr = string.Empty;
    }
    @*@using (Html.BeginForm("Create", "MerchantManagement", FormMethod.Post, new { @encType = "multipart/form-data" }))*@
    @using (Ajax.BeginForm("Edit", "MerchantManagement", new SmoovPOS.UI.Models.MerchantManagementViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.merchantID)
            @Html.HiddenFor(model => model.userID)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.fullName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" id="btnSubmit">@Html.LocalizedButton("Save")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "MerchantManagement", new { id = @Model.merchantID })'">@Html.LocalizedButton("Cancel")</button>

            </div>
        </div>
        @*. ------END HEADER MerchantID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN MERCHANT INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("MerchantInformation")</h4>
                <p>@Html.LocalizedLabel("MerchantInformationDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.businessName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.businessName, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("businessName_placeholder") })
                            @Html.ValidationMessageFor(m => m.businessName)
                            @*<nobr>
                                    @Html.ValidationMessageFor(m => m.businessName)
                                    <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="businessName" id="ExistedRecordBusiness"></span>
                                </nobr>*@
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.email)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.email, new { @disabled = "disabled", @class = "form-control", @placeholder = @Html.LocalizedLabel("email_placeholder") })
                            @Html.ValidationMessageFor(m => m.email)
                            @*<nobr>
                                        @Html.ValidationMessageFor(m => m.email)
                                    <span class="field-validation-error" data-valmsg-replace="true" data-valmsg-for="email" id="ExistedRecordEmail"></span>
                                </nobr>*@
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-2 outer">
                        <div class="inner">
                            <label for="ShortName">@Html.LocalizedLabel("MerchantName")</label><span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.title, Model.titles, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.title)
                            @*
                                @Html.ValidationMessageFor(m => m.title)*@
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @maxlength = 255, @placeholder = @Html.LocalizedLabel("FirstName") })
                            @Html.ValidationMessageFor(m => m.firstName)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @maxlength = 255, @placeholder = @Html.LocalizedLabel("LastName") })
                            @Html.ValidationMessageFor(m => m.lastName)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.birthday)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            <div id="datetimepicker1" class="input-append date">
                                @Html.TextBoxFor(m => m.birthday, new { @class = "form-control", @maxlength = 10 })
                                <span class="add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                @if (Model.birthday != null)
                                {
                                    DateTime bd = Model.birthday.GetValueOrDefault();
                                    dateDoBStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                                }
                                @Html.ValidationMessageFor(m => m.birthday)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="inner">
                            @Html.LabelFor(model => model.phone)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.phoneRegion, new { @class = "form-control", @style = "text-align:right;", @maxlength = 10 })
                            @Html.ValidationMessageFor(m => m.phoneRegion)
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inner">
                            <label for="ShortName">&nbsp;</label>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.phone)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-10">
                        <div class="inner">
                            @Html.LabelFor(model => model.address)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.address, new { @class = "form-control", @maxlength = 255 })
                            @Html.ValidationMessageFor(m => m.address)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.city, new { @class = "form-control", @maxlength = 255 })
                            @Html.ValidationMessageFor(m => m.city)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control", @maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.zipCode)
                        </div>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.country)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.country, Model.countrys, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.country)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.region)
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.region, new { @class = "form-control", @maxlength = 255 })
                        </div>
                    </div>

                </div>
            </div>
        </div>
        @*5. -------END MERCHANT INFORMATION------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("ServicePackage")</h4>
                <p>@Html.LocalizedLabel("ServicePackageDetail")</p>
            </div>
            <div class="col-md-9">
                @*5. ------Service Package ------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.servicePacketID, Model.servicePackets, new { @class = "form-control", @id = "list-service-package" })
                            @Html.ValidationMessageFor(m => m.servicePacketID)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketStartDate)
                        </div>
                        <div class="inner">
                            <div id="datetimepicker2" class="input-append date">
                                @*@Html.TextBoxFor(m => m.servicePacketStartDate, new { @class = "form-control", @maxlength = 10 })
                                    <span class="add-on">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>*@
                                @if (Model.servicePacketStartDate != null)
                                {
                                    DateTime bd = Model.servicePacketStartDate.GetValueOrDefault();
                                    dateStartStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.LongDate);
                                }
                                else
                                {
                                    dateStartStr = string.Empty;
                                }
                                @Html.DisplayFor(model => dateStartStr)
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.BillingCycleName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.billingCycleId, new List<SelectListItem>(), new { @class = "form-control", @id = "list-billing-cycle" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            @*5. -------END MERCHANT INFORMATION------ *@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("MerchantStatus")</h4>
                <p>@Html.LocalizedLabel("MerchantStatusDetail")</p>
            </div>
            <div class="col-md-9">
                @*5. ------Service Package ------ *@
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @if (Model.isVerifyLink)
                            {
                                <label>@Html.LocalizedLabel("Active")</label>
                            }
                            else
                            {
                                var status = string.Empty;
                                if (Model.status)
                                {
                                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                                }
                                else
                                {
                                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                                }
                                <span style="color:red;">@Html.DisplayFor(model => status)</span>
                            }
                        </div>
                        <div class="inner">
                            @if (Model.isVerifyLink)
                            {
                                try
                                {
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant" id="lbl-statusActive">
                                            @*<input type="radio" name="optionsRadios" id="@item.merchantID" value=@item.merchantID class="optionsRadios">*@
                                            @*<input type="radio" id="switch-@Model.merchantID" class="optionsRadios" value=@Model.merchantID />*@
                                            <input type="radio" name="@Model.merchantID" id="statusActive" value="true" class="optionsRadios">
                                            ON

                                        </label>
                                        <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive">
                                            @*<input type="radio" name="optionsRadios" id="@item.merchantID" value=@item.merchantID class="optionsRadios">*@
                                            @*<input type="radio" id="switch-@Model.merchantID" class="optionsRadios" value=@Model.merchantID />*@
                                            <input type="radio" name="@Model.merchantID" id="statusInActive" value="false" class="optionsRadios">
                                            OFF
                                        </label>
                                    </div>
                                }
                                catch { }
                            }
                            else
                            {
                                @Html.LocalizedLabel("Waitingforemailverification")
                            }
                        </div>
                    </div>
                    <div class="col-md-5">
                    </div>

                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />
        <div class="q-toolsbar">
            <div class="col-md-4">

            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" id="btnSubmit1">@Html.LocalizedButton("Save")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "MerchantManagement", new { id = @Model.merchantID })'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
    }

</div>

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Are you sure you want to deactivate this merchant?
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var IsExistEmail = false;
    var IsExistBusiness = false;
    var jsMerchantItem = {};
    
    $(function () {

        $('#birthday').attr('data-format', 'MM/dd/yyyy');
        //$('#servicePacketStartDate').attr('data-format', 'MM/dd/yyyy');
        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });

        @*var adds = @((int)(DateTime.Now - Model.servicePacketStartDate.Value).TotalDays);
        var startDate = new Date();
        startDate.setDate(startDate.getDate()-adds);

        var picker1 = $('#datetimepicker2').datetimepicker({
            language: 'pt-BR',
            startDate: startDate
        });
        $('#servicePacketStartDate').val('@dateStartStr');*@
        $('#birthday').val('@dateDoBStr');

        //set css status
        showStatus();

        $('#title').val('@Model.title');
        $('#country').val('@Model.country');
        $('#servicePacketID').val('@Model.servicePacketID.ToString()');

        //$('#businessName').filter_input({ regex: '[a-zA-Z0-9_ ]' });
    });

    var countSubmit = 0;
    $('#btnSubmit1').click(function (e) {
        $('#btnSubmit').click();
    });
    $('#btnSubmit').click(function (e) {
        var check = true;
        var form = $("#formid");
        var checkForm = form.valid();
        if (checkForm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IsExistedbusinessName","MerchantManagement")',
                data: { businessName: $('#businessName').val(), merchantID: $('#merchantID').val() },
                success: function (result) {
                    //do your success logic
                    check = result;
                },
                beforeSend: function () {
                    $('#btnSubmit').button('loading');
                    $('#btnSubmit1').button('loading');
                    $('button[type=button], .btn-default').each(function () {
                        if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                            $(this).attr('disabled', 'disabled');
                        }
                    });
                },
                complete: function () {

                }
            });

        }

        if (checkForm && check) {
            $("#formid").submit();
        }
        else {
            if (checkForm) {
                $('#name').focus();
            }

            $('#btnSubmit').button('reset');
            $('#btnSubmit1').button('reset');

            $('button[type=button], .btn-default').each(function () {
                if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                    $(this).removeAttr('disabled');
                }
            });
        }
        return false;
    });
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        var url = '@Url.Action("Detail", "MerchantManagement",new {id=Model.merchantID})';
                        window.location.href = url;
                        return;
                    },
                    beforeSend: function () {
                        $('#btnSubmit').button('loading');
                        $('#btnSubmit1').button('loading');
                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                    },
                    complete: function () {
                    }
                });

            }
        }
    });
    function dismissPopup() {


        $('#lbl-' + jsMerchantItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsMerchantItem["position"]);
        if (jsMerchantItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsMerchantItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsMerchantItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }

    function confirmUpdate() {
        //  setStatus(jsMerchantItem["status"], jsMerchantItem["value"]);
        setStatus(jsMerchantItem["position"]);
        isDismiss = "False";

    }

    function setStatus(id) {
        var element = document.getElementById(id);

        //var statusMerchant = element.checked ? true : false;
        var statusMerchant = element.value == "true" ? true : false;
        var yesNo;
        var idMerchantManager = element.getAttribute("name");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusMerchant", "MerchantManagement")',
            data: {
                id: idMerchantManager,
                status: statusMerchant
            },
            success: function (status) {

                if (status) {
                }
                else {
                }
            },
            error: function (status) {

            }

        });
        //  debugger;
        // }


    }
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsMerchantItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsMerchantItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsMerchantItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActive")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactive")');

                    }

                    $('#modalInactive').modal();
                }
            };
        }
    }

    $("#list-service-package").change(function () {
        // let's assume /list page prints a JSON string
        var currentBillingId = "@Model.billingCycleId";
        var url = '@Url.Action("GetListBillingCycleByServicePackage", "MerchantManagement", new { id = "service_package_id" })';
        url = url.replace("service_package_id", $(this).val());
        $.getJSON(url, null, function (data) {
            var result = '';
            if (data.length > 0) {
                for (var i = 0, iL = data.length; i < iL; i++) {
                    var selected = data[i].billingCycleID == currentBillingId ? 'selected' : '';
                    result += '<option value="' + data[i].billingCycleID + '" ' + selected + '>' + data[i].paymentCycleName + ' - ' + data[i].moneyType + ' ' + data[i].moneyPerUnit + '</option>';
                }
            }
            else {
                result += '<option value="-1">---No billing cycle.---</option>';
            }
            $("#list-billing-cycle").html(result);
        });
    });

    $("#list-service-package").change();
</script>
