﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Entity.Category

@{
    ViewBag.Title = "Edit Category";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
  
    Boolean checkExistProduct = Model.arrayProduct.Count() > 0;
    String urlNoImage = Url.Content("~/Content/Images/imageDefault.png");
    String urlImgDefault = string.IsNullOrEmpty(Model.image) ? Url.Content("~/Content/Images/imageDefault.png") : Model.image;
    
    System.Drawing.Size size = new System.Drawing.Size(0, 0);
    System.Drawing.Image image = null;
    if (urlNoImage == urlImgDefault)
    {
        try
        {
            image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(urlImgDefault));
        }
        catch
        {
            image = null;
        }
    }
    else
    {
        try
        {
            WebRequest request = WebRequest.Create(urlImgDefault);
            WebResponse response = request.GetResponse();
            image = System.Drawing.Image.FromStream(response.GetResponseStream());
        }
        catch
        {
            image = null;
        }
    }
    if (image != null)
    {
        size.Width = image.Width;
        size.Height = image.Height;
        size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
    }
    }

@using (Html.BeginForm("Edit", "Category", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
   
    @Html.AntiForgeryToken()

    <input type="hidden" name="NameCategoryOld" value="@Model.title" />
    <div class="q-toolsbar">
        <div class="col-md-4 outer">
            <h3>Category / @Model.title</h3>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary btnSaveCate" style="display: none;" id="btnSaveCateSubmit">@Html.LocalizedButton("Save")</button>
            <button type="button" name="checkSubmit" class="btn btn-primary checkSubmit" id="btnSaveCate">@Html.LocalizedButton("Save")</button>
            <button type="button" class="btn btn-danger btnDeleteCate" data-toggle="modal" data-target="#myModal" id="btnDeleteCate">@Html.LocalizedButton("Delete")</button>
            <button type="button" onclick="location.href='@Url.Action("Detail", "Category", new { id = Model._id })';return false;" class="btn btn-default btnCancelCate" style="margin-right:5px;" id="btnCancelCate">@Html.LocalizedButton("Cancel")</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model._id)


        <div class="col-md-4 outer">
            <h4>@Html.LocalizedLabel("InformationDetail")</h4>
            <p>@Html.LocalizedLabel("WriteANameAndDescriptionCategory")</p>       
        </div>
        <div class="col-md-8 outer">
            <div class="form-group">
                <div class="col-md-10 outer">
                    <div class="inner">
                        <label for="categoryName">@Html.LocalizedLabel("CategoryName")</label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="categoryName" name="categoryName" required maxlength="100" value="@{@Html.DisplayFor(model =>model.title)}">
                        <div class="error-message" style="display:none; margin-left: 0;" >The Category Name is required.</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 outer">
                    <div class="inner">
                        <label for="description">@Html.LocalizedLabel("description")</label>
                        <textarea class="form-control" id="description" name="description" rows="5" maxlength="300">@{@Html.DisplayFor(model => model.description)}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">
        <div class="col-md-4 outer">
            <div class="inner">
                <h4>Image</h4>
                <p>@Html.LocalizedLabel("ImageRepresentsForAllProduct")</p> 
            </div>
        </div>
        <div class="col-md-8 outer">
            <div class="form-group">
                <div class="col-md-4 outer">
                    <div class="inner">
                    </div>
                    @if (!string.IsNullOrEmpty(Model.image))
                    {
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image" style="position: relative;min-width: 263px; min-height: 170px;width: 263px!important;height: 170px!important;">
                                    <img src="@urlImgDefault" width="@size.Width" height="@size.Height" id="thumbnil" style="position: absolute;width: @size.Width px!important;height: @size.Height px!important;bottom:0px;" class="img-rounded category-image">
                                    <div class="q-clear"></div>
                                    <button class="btn btn-default" onclick="deleteImage()" style="position: absolute;bottom: 2px;left: 2px;min-width:37px!important;padding-left: 0px!important;padding-right: 0px!important;">   <i class="fa fa-trash">    </i> </button>
                                </div>
                                <input id="logoImg" name="logoImg" type="hidden">
                            </div>
                            <div id="lbl_image" style="display:none">
                                <img src="@urlNoImage" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px">
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id="logoImg" type="hidden" value="" name="logoImg">
                                </div>
                            </div>
                            <div id="lbl_image">
                                <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-8 outer">
                    <div class="inner">
                        <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                        <input type="file" name="image" id="choose" style="display:none" />
                        <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                        <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                        <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- ACTIVE / INACTIVE-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Status")</h4>
            <p>@Html.LocalizedLabel("ControlWhetherThisCategory")</p>
        </div>
        <div class="col-md-8">
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default @(Model.status == true ? "active":"" ) statusMerchant" id="lbl-statusActive-0">
                    <input type="radio" name="@Model._id" id="statusActive-0" value="true" class="optionsRadios">
                    @Html.LocalizedLabel("ON")

                </label>
                <label class="btn btn-default @(Model.status == false ? "active":"" ) statusMerchant" id="lbl-statusInActive-0">
                    <input type="radio" name="@Model._id" id="statusInActive-0" value="false" class="optionsRadios">
                    @Html.LocalizedLabel("OFF")
                </label>
            </div>
            <input id="statusCategory" name="statusCategory" type="hidden" value="true">
        </div>
    </div>
        <!-- END ACTIVE / INACTIVE-->
    <!-- modal delete discount -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                @if (checkExistProduct)
                {
                    <div class="modal-body">
                        Can not delete until Category is empty.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                }
                else
                {
                    <div class="modal-body">
                        @Html.LocalizedMessage("ConfirmDeleteCategory")
                    </div>
                    <div class="modal-footer">
                        <button onclick="deleteCategoryAction()" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                }
            </div>
        </div>
    </div>
       <!-- FOOTER-->
   
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary btnSaveCate" style="display: none;">@Html.LocalizedButton("Save")</button>
            <button type="button" name="checkSubmit" class="btn btn-primary checkSubmit">@Html.LocalizedButton("Save")</button>
            <button type="button" class="btn btn-danger btnDeleteCate" data-toggle="modal" data-target="#myModal">@Html.LocalizedButton("Delete")</button>
            <button type="button" onclick="location.href='@Url.Action("Detail", "Category", new { id = Model._id })';return false;" class="btn btn-default btnCancelCate" style="margin-right:5px;">@Html.LocalizedButton("Cancel")</button>
        </div>
    </div>
     <!-- END FOOTER-->
     <!-- MODEL POPUP CONFIRM-->
    <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeactiveProduct")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                    <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

                </div>
            </div>
        </div>
    </div>
        <!-- END MODEL POPUP CONFIRM-->
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function deleteCategoryAction() {
        $('.checkSubmit').attr("disabled", true);
        disableButton();
        var id = "@Model._id";
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Category")',
            data: {
                id: id
            },
            success: function (status) {
                if (status == false) {
                    $('.btnCancelCate').show();
                    $('.btnDeleteCate').show();
                    $('.btnSaveCate').show();
                    //$('.btnCancelCate').attr("disabled", false);
                    $('.btnDeleteCate').attr("disabled", false);
                    //$('.btnSaveCate').attr("disabled", false);
                    enableButton();
                }
                else {
                    location.href = "@Url.Action("Index", "Category")";
                }
            }
        });
    }
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    function deleteImage() {
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

    /*
   * - update check Safari to upload image
   * - Nguyen Anh Dao
   * - Created: 26/11/2014
   */
    $(document).ready(function () {
        //---------------- STATUS ACTIVE/ INACTIVE
        jsCategoryItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        $('.btnCancelCate').show();
        $('.btnDeleteCate').show();
        $('.btnSaveCate').show();

        //----------------- check Safari to upload image
        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }

        //----------------- check Safari to upload image
    });
    /*
    * - check when user select image
    * - call function UploadImage and get data to append into preview
    * - Nguyen Anh Dao
    * - Created: 27/11/2014
    */
    var numCount = 0;
    var totalImage = 0;

    /*
     * - check valid Link image
     * - Nguyen Anh Dao
     * - Created: 27/11/2014
     */
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    /*
    * - check and get Link image
    * - put link image to inputLinkS3 to save database
    * - Nguyen Anh Dao
    * - Created: 27/11/2014
    */
    function getListImage() {
        var images = [];
        $('.category-image').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                images.push($(this).attr('src'));

            }

        });
        //    console.log(images);
        return images;
    }

    $(function () {
        $('.btnSaveCate').hide();
        $('input[type=file]').change(function () {
            var val = $('input[type=file]').val();
            if (val != "") {
                $("#thumbnil").show();
                $("#editImg").hide();
            } else {
                $("#thumbnil").hide();
                $("#editImg").show();
            }
        });
        $('.checkSubmit').click(function () {
            //disableButton();                       //--20150409 MaoNguyen DEL
            enableButton();                          //--20150409 MaoNguyen ADD
            debugger;
            var listImage = document.getElementById('listImageSave');
            listImage.value = getListImage();
            var categoryName = $('#categoryName').val();
            if (categoryName == "") {
                $('.error-message').show();
            } else {
                //var yesNo = true;
                //var status = $('.optionsRadios').val();

                //if (status.toString() == "false") {
                //    yesNo = confirm("This category will be deactivated in all stores. Are you sure you want to inactivate it?");
                //}
                //if (yesNo) {
                //    $('.error-message').hide();
                //    $('.btnSaveCate').click();
                //}
                $('.btnSaveCate').prop("disabled",false);
                $('.error-message').hide();
                $('.btnSaveCate').click();
                enableButton();
            }

        })
    });

    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCategoryItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCategoryItem["position"]);
        if (jsCategoryItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCategoryItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCategoryItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsCategoryItem["position"]);
        isDismiss = "False";
        var statusCategory = element.value == "true" ? true : false;
        document.getElementById("statusCategory").value = statusCategory;

    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCategory = element.value == "true" ? true : false;
        var yesNo;

        var idCategory = "@Model._id";
        //var idProduct = element.getAttribute("name");
     //   var idProduct = document.getElementById("productID").value;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCategory", "Category")',
            data: {
                id: idCategory,
                status: statusCategory
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {

        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCategoryItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCategoryItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCategoryItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    function disableButton()
    {
        $('.btnCancelCate').prop('disabled', true);
        $('.btnDeleteCate').prop('disabled', true);
        $('.btnSaveCate').prop('disabled', true);
    }
    function enableButton()
    {
        $('.btnCancelCate').prop('disabled', false);
        $('.btnDeleteCate').prop('disabled', false);
        $('.btnSaveCate').prop('disabled', false);
    }

</script>
