﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryViewModel

<div style="border:1px solid #D3D2D2; border-radius: 5px;">
    <div id="div-delivery">
        <h3 style="margin-left:5%;">@Html.LocalizedLabel("Delivery")</h3>

        <table style="width:100%;font-size:9pt">
            <tr style="height:20px;">
                <td style="width:30%">Type</td>
                <td colspan="2"><input type="checkbox" name="chk_group" value="1" @((Model.orderType == 1) ? "checked" : "") disabled />@Html.LocalizedLabel("SelfCollect")</td>
            </tr>

            <tr style="height:20px;">
                <td style="width:30%">@Html.LocalizedLabel("DateAndTime")</td>
                <td colspan="2">@Model.OrderDateDisplayForCustomer</td>
            </tr>

            @{
                if (Model.orderType == 0)
                {
                    <tr style="height:20px;">
                        <td style="width:30%">@Html.LocalizedLabel("DeliveryTo")</td>
                        <td colspan="2">
                            @{
                                if (Model.customerReceiver != null)
                                {
                                    @Model.customerReceiver.phoneRegion @Model.customerReceiver.phone
                                    
                                    @(Model.customerReceiver.address != null ? Model.customerReceiver.address : "")@(Model.customerReceiver.city != null ? ", " + Model.customerReceiver.city : "")@(Model.customerReceiver.state != null ? ", " + Model.customerReceiver.state : "")@(Model.customerReceiver.zipCode != null ? " " + Model.customerReceiver.zipCode : "")@(!string.IsNullOrEmpty(Model.customerReceiver.country) ? ", " + Model.customerReceiver.country : "")
                                }
                            }
                        </td>
                    </tr>
                }
                else
                {
                    <tr style="height:20px;">
                        <td style="width:30%">@Html.LocalizedLabel("PickupPoint")</td>
                        <td colspan="2">
                            @{
                                if (@Model.inventory != null)
                                {
                                    @Model.inventory.businessID
                                
                                    @Model.inventory.phone
                                
                                    @Model.inventory.addressCombine
                                }
                            }
                        </td>
                    </tr>
                }
            }

            <tr style="height:20px;">
                <td style="width:30%">@Html.LocalizedLabel("Status")</td>
                <td colspan="2">@Model.OrderStatusDisplayForCustomer</td>
            </tr>
        </table>
    </div>
</div>