﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryViewModel

@{
    ViewBag.Title = "Order Detail";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<link rel="stylesheet" href="~/Content/breakcumd.css">

<div class="q-form" id="divPrint">
    <div>
        <div style="margin-left:2%;">
            <h3>Order # @Model.orderCode</h3>
            <text style="font-style:italic;">@Model.OrderDateDisplayForCustomer @Model.OrderTimezoneDisplayForCustomer</text>
        </div>

        <div class="col-md-8">
            <div id="productList">
                @Html.Partial("~/Views/OrderHistory/ProductItem.cshtml", Model)
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2;" /></div>
            <div id="remark">
                @Html.Partial("~/Views/OrderHistory/Remark.cshtml", Model)
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2;" /></div>
        </div>

        <div class="col-md-4">
            @*<div id="Delivery">
                This link is to display Delivery table
                @Html.Partial("~/Views/OrderHistory/Delivery.cshtml", Model)
            </div>*@
            <div id="CustomerProfile">
                @Html.Partial("~/Views/OrderHistory/CustomerProfile.cshtml", Model)
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2;" /></div>
            <div id="mapAddress">
                @Html.Partial("~/Views/OrderHistory/ShippingAddress.cshtml", Model)
            </div>
        </div>        
        @if ((Model.orderStatus < 3) || (Model.orderStatus == 5))
        {
            if (Model.isCancelRequest)
            {
                <div class="col-md-8">
                    <text style="font-style:italic;">@Html.LocalizedMessage("YourCancelRequestIsBeingProcessed")</text>
                </div>
            }
            else
            {
                <div class="col-md-8">
                    <text id="txtCancelProcessing" style="font-style:italic;display:none;height:40px;">@Html.LocalizedMessage("YourCancelRequestIsBeingProcessed")</text>
                </div>
            
                <div class="col-md-8">
                    <div class="col-md-8" style="text-align:right;height:40px;">
                        <div class="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>
                    <div class="col-md-4" style="text-align:right;height:40px;">
                        <button id="btnCancelOrder" data-toggle="modal" data-target="#myModal" style="background-color:#333;color:#fff" class="btn btn-default">@Html.LocalizedButton("CancelMyOrder")</button>
                    </div>
                </div>
            }
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmCancelOrder")
            </div>
            <div class="modal-footer">
                <button type="button" id="CancelMyOrder" onclick="CancelMyOrder()" style="background-color:#333;color:#fff" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>

<script>
    function CancelMyOrder() {
        $('.loading').css('display', 'block');
        $.ajax({
            type: "POST",
            url: '@Url.Action("CancelMyOrder", "OrderHistory", new { orderID=Model._id })',
            contentType: 'application/json; charset=UTF-8',
            success: function (result) {
              
                $('#txtCancelProcessing').css('display', 'block');
                $('#btnCancelOrder').hide();
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
                $('.loading').css('display', 'none');
            }
        });
    }
</script>