﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryViewModel

<div style="border:1px solid #D3D2D2;margin-top:10px;border-radius: 5px;">
    <div style="margin-top:5px;margin-left:3%;font-size:10pt">
        <label style="font-weight:bold;">
            @Html.LocalizedLabel("Remark")
        </label>
    </div>

    <div style="margin-left:20px;margin-right:20px;margin-bottom:20px;font-size:9pt">
        <text name="remark" id="remark" style="word-break:break-all">@Model.remark</text>
    </div>
</div>