﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model IEnumerable<Com.SmoovPOS.Entity.DeliverySetting>
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Delivery";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>
    .col-md-8 label, .inner label {
        font-weight: bold;
    }

    .modal .col-md-12.outer, .modal .col-md-5.outer, .modal .col-md-7.outer {
        padding: 8px 0;
    }

    .modal .col-md-6.outer {
        padding-right: 20px;
    }

        .modal .col-md-6.outer.right {
            padding-right: 0px;
        }

    a.text-muted {
        text-decoration: underline;
    }

    label.text-muted, a.text-muted {
        font-style: Italic;
    }

    .delivery-form .row {
        padding-bottom: 15px !important;
    }

        .delivery-form .row:last-child > div:nth-child(2n+1) {
            background: #000;
        }

    a {
        color: #428bca;
        text-decoration: none;
    }

    .q-toolsbar .col-md-6 {
        text-align: right;
        padding: 25px 0;
    }
    .btn-default{
         color:#3276b1; 
    }
</style>
<script type="text/javascript" src="~/Scripts/underscore.js"></script>
@* //------- Header -------*@
<div class="q-toolsbar">
    <div class="col-md-3">
        <h3>@Html.LocalizedLabel("DeliverySettings")</h3>
    </div>
    <div class="col-md-3" style="text-align:right;margin-top:30px;">
        <div class="loading" style="display:none;">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <div class="col-md-6">
        <button type="button" id="btn_newZone" class="btn btn-primary" data-toggle="modal" data-target="#myModalAddZone">New Zone</button>
    </div>
</div>

@*//------ End Header ------*@
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    @Html.AntiForgeryToken()
    @*------------------- Standard & Format Information ------------------------*@
    <div class="form-horizontal">
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("ShippingRate")</h4>
            @*<text class="text-muted">Define shipping rate by adding zone and fee. Make sure to enable Delivery method on Checkout Settings</text>*@
            <p>@Html.LocalizedLabel("ShippingRateDetail")</p>
        </div>
        <div class="col-md-9">
            <div class="col-md-12" id="listZone">
                @Html.Partial("~/Views/Delivery/DeliveryListing.cshtml", Model)
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
@*------------------- footer function ------------------------*@
<div class="q-toolsbar">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button type="submit" id="btn_newZone1" class="btn btn-primary" data-toggle="modal" data-target="#myModalAddZone">New Zone</button>
    </div>
</div>
<!-- modal delete collection -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Are you sure you want to delete this zone?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveZone()" data-dismiss="modal" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*------------------- Modal show new zone -------------------*@

<div class="modal fade" id="myModalAddZone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Add Zone</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-12">
                        <strong>Select a zone</strong>

                        @if (ViewBag.Countrys != null)
                        {
                            var listCountrys = (List<SelectListItem>)ViewBag.Countrys;
                            @Html.DropDownList("country", listCountrys, new { @class = "form-control" })
                        }

                        <div style="margin-top:10px">
                            <text>(You can select a country or region)</text>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary selectProduct" id="AddZone">Add</button>
                    <button type="button" class="btn btn-default text-primary" data-dismiss="modal" id="CancelAddZone">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*------------------- Modal show service -------------------*@
<div class="modal fade" id="myModalService" tabindex="-1" role="dialog" aria-labelledby="myModalServiceLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalServiceLabel">Singapore / New Service</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="serviceDelivery">

                </div>
                <div class="modal-footer">
                    <a id="linkRemoveService" href="#" class="text-muted" data-toggle="modal" data-target="#modalServiceDelete" style="margin-left:-20px;float:left;color:red;">remove this service</a>
                    <div class="loadingservice" style="display:none;">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <button type="button" class="btn btn-primary selectProduct" id="SaveInfoService">Save</button>
                    <button type="button" class="btn btn-primary selectProduct" id="EditInfoService">Edit</button>
                    <button type="button" class="btn btn-primary selectProduct" id="CreateInfoService">Create</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCloseSaveInfoService">Close</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btnCancelSaveInfoService">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalServiceDelete" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Are you sure you want to delete this service?
            </div>
            <div class="modal-footer">
                <button type="button" onclick="RemoveService()" data-dismiss="modal" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();
    var currentZoneId = '';
    $(function () {
        $('#AddZone').click(function (e) {
            var check = true;
            var selectedValue = $('#country').val();
            if (selectedValue != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CreateDelivery", "Delivery")',
                    data: {
                        id: selectedValue
                    },
                    success: function (result) {
                        if (result.success == true) {

                            ReloadZone();
                            $('#myModalAddZone').modal('hide');

                            LoadCountry(result.listItems);
                        }
                        else {
                            $('#AddZone').button('reset');
                            $('#CancelAddZone').removeAttr('disabled');
                        }

                        $("#country").val($("#country option:first").val());
                    },
                    beforeSend: function () {
                        $('#AddZone').button('loading');
                        $('#CancelAddZone').attr('disabled', 'disabled');
                    },
                    complete: function () {
                        $('#AddZone').button('reset');
                        $('#CancelAddZone').removeAttr('disabled');
                    }
                });
            }
            else {
                return false;
            }
        });
        $('#EditInfoService').click(function (e) {

            var id = $('#deliveryid').val();
            var serviceid = $('#serviceid').val();

            $('#SaveInfoService').button('loading');
            $('#CreateInfoService').button('loading');
            $('#btnCancelSaveInfoService').attr('disabled', 'disabled');
            $('#btnCancelSaveInfoService').css("display", "inline");
            $('#btnCloseSaveInfoService').css("display", "none");

            loadEditService(id, serviceid);
        });
        $('#CreateInfoService').click(function (e) {
            $('#SaveInfoService').click();
        });
        $('#SaveInfoService').click(function (e) {
            var form = $("#formid");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);

            var serviceid = $('#serviceid').val();

            var beginvalue = parseFloat(convertCurrrency($('#beginValue').val()));
            var endvalue = parseFloat(convertCurrrency($('#endValue').val()));
            var check = true;
            if (endvalue < beginvalue) {
                $('#ErrendValueAfter').css('display', 'block');
                check = false;
            } else {
                $('#ErrendValueAfter').css('display', 'none');
            }

            var beginEstimate = parseFloat($('#beginEstimate').val());
            var endEstimate = parseFloat($('#endEstimate').val());
            if (endEstimate < beginEstimate) {
                $('#ErrendEstimateAfter').css('display', 'block');
                check = false;
            } else {
                $('#ErrendEstimateAfter').css('display', 'none');
            }

            if (form.valid() && check) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function (result) {
                        if (result.success == true) {
                            ReloadZone();
                            if (serviceid == '') {
                                loadEditService(result.id, result.serviceid);
                            }
                            else {
                                $('#myModalService').modal('hide');
                            }
                        }
                        else {
                            return false;
                        }
                    },
                    beforeSend: function () {
                        $('#SaveInfoService').button('loading');
                        $('#CreateInfoService').button('loading');
                        $('#btnCancelSaveInfoService').attr('disabled', 'disabled');
                        $('#linkRemoveService').css("display", "none");
                    },
                    complete: function () {

                    }
                });
            }
        });

        var length = $('#country > option').length;
        if (length <= 0) {
            $('#btn_newZone1').attr('disabled', 'disabled');
            $('#btn_newZone').attr('disabled', 'disabled');
        }
    });

    function ReloadZone() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeliveryListing", "Delivery")',
            data: null,
            success: function (result) {
                $('#listZone').html(result);
            },
            beforeSend: function () {
                $('.loading').css("display", "block");
            },
            complete: function () {
                $('.loading').css("display", "none");
            }
        });
    }

    function RemoveZone() {
        if (currentZoneId != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveZone", "Delivery")',
                data: { id: currentZoneId },
                success: function (result) {
                    if (result.success == true) {
                        //sort option select
                        //var selectList = $('#country option');

                        //selectList.sort(function (a, b) {
                        //    a = a.text;
                        //    b = b.text;

                        //    return a - b;
                        //});

                        //$('#country').html(selectList);

                        LoadCountry(result.listItems);
                    }
                    ReloadZone();
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }
    }
    function RemoveService() {
        var id = $('#deliveryid').val();
        var serviceid = $('#serviceid').val();

        if (id != '' && serviceid != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("RemoveServiceDelivery", "Delivery")',
                data: { id: id, serviceId: serviceid },
                success: function (result) {
                    if (result.success == true) {
                        ReloadZone();
                        $('#myModalService').modal('hide');
                    }
                    else {
                        return false;
                    }
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }
    }
    function LoadCountry(listItems) {
        var select = $('#country');
        select.empty();

        $.each(listItems, function (sender, obj) {
            if (obj.Selected == true) {
                var option = new Option(obj.Text, obj.Value, obj.Selected, true);
                select.append($(option));
            }
            else {
                var option = new Option(obj.Text, obj.Value);
                select.append($(option));
            }
        });

        var length = $('#country > option').length;
        if (length <= 0) {
            $('#btn_newZone1').attr('disabled', 'disabled');
            $('#btn_newZone').attr('disabled', 'disabled');
        }
        else {
            $('#btn_newZone1').removeAttr('disabled');
            $('#btn_newZone').removeAttr('disabled');
        }
    }
    function loadEditService(id, serviceId) {
        var url = '@Url.Action("EditService", "Delivery")'
        var data = { id: id, serviceId: serviceId }

        $('#EditInfoService').css("display", "none");
        $('#CreateInfoService').css("display", "none");
        $('#SaveInfoService').css("display", "inline");
        $('#linkRemoveService').css("display", "inline");
        $('#linkRemoveService').css("disabled", "disabled");
        loadService(data, url, false);
    }

    function loadService(data, url, isclear) {
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (result) {
                if (!isclear) {
                    $('#serviceDelivery').html("");
                }
                $('#serviceDelivery').html(result);
                $('#SaveInfoService').removeAttr('disabled');
                $('#EditInfoService').removeAttr('disabled');
                $('#CreateInfoService').removeAttr('disabled');
                $('#btnCancelSaveInfoService').removeAttr('disabled');
                $('#linkRemoveService').removeAttr('disabled');
            },
            beforeSend: function () {
                if (isclear) {
                    $('#serviceDelivery').html("");
                    $('.loadingservice').css("display", "inline");
                }
                $('#SaveInfoService').attr('disabled', 'disabled');
                $('#EditInfoService').attr('disabled', 'disabled');
                $('#CreateInfoService').attr('disabled', 'disabled');
                $('#btnCancelSaveInfoService').attr('disabled', 'disabled');
                $('#linkRemoveService').css("disabled", "disabled");

            },
            complete: function () {
                if (isclear) {
                    $('.loadingservice').css("display", "none");
                }
                $('#SaveInfoService').button('reset');
                $('#CreateInfoService').button('reset');
                $('#btnCancelSaveInfoService').removeAttr('disabled');
            }
        });
    }
    function convertToCurrency(element) {
        var value = element.val();
        if (value == '') {
            value = '0.00';
        }
        var crr = convertCurrrency(value);
        element.val(crr);
    }
</script>
