﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ServiceDeliveryViewModel

<style>
    .s_delivery .col-md-1, .s_delivery .col-md-3, .s_delivery .col-md-4, .s_delivery .col-md-5, .s_delivery .col-md-7, .s_delivery .col-md-8, .col-md-8, .s_delivery .col-md-9, .s_delivery .col-md-10, .s_delivery .col-md-11, .s_delivery .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        max-width: 100%;
    }

    .s_delivery .col-md-2, .s_delivery .col-md-5, .s_delivery .col-md-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .s_delivery .col-md-1 {
        padding-right: 20px;
    }

    .form-control[disabled] {
        background: #fff;
    }
</style>
<div class="s_delivery">
    @using (Ajax.BeginForm("SaveInfo", "Delivery", new SmoovPOS.UI.Models.ServiceDeliveryViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        var criteria = string.Empty;

        <div class="row" style="display:none;">
            <div class="col-md-4">
                @Html.LabelFor(model => model.criteria)
                @Html.HiddenFor(model => model.deliveryid)
                @Html.HiddenFor(model => model.serviceid)
                @Html.DropDownListFor(m => m.criteria, Model.criterias, new { @class = "form-control", @style = "padding-right: 0px;padding-left: 0px;", @disabled = "disabled" })
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <label class="PriceRange">@Html.LocalizedLabel("PriceRange")</label>
                    <div class="input-group" id="beginValueGroup">
                        @Html.TextBoxFor(m => m.beginValue, new { @class = "form-control beginValue", @maxlength = 16, @disabled = "disabled", @placeholder = "0.00", @Value = Model.beginValue == 0 ? "0.00" : Model.beginValue.ToString() })
                    </div>
                </div>
                <div class="col-md-1 form_to">
                    <label class="PriceRange"> &nbsp; </label>
                    <p>_</p>
                </div>
                <div class="col-md-5 form_to">
                    <label class="PriceRange"> &nbsp; </label>

                    <div class="input-group" id="endValueGroup">
                        @Html.TextBoxFor(m => m.endValue, new { @class = "form-control endValue", @maxlength = 16, @disabled = "disabled", @placeholder = "0.00", @Value = Model.endValue == 0 ? "0.00" : Model.endValue.ToString() })
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <label>&nbsp</label>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isUnlimit, new { @disabled = "disabled" })
                        Unlimit
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.shippingPrice)
                <div class="input-group">
                    <span class="input-group-addon">@Model.currency</span>
                    @Html.TextBoxFor(m => m.shippingPrice, new { @class = "form-control", @maxlength = 100, @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-10" style="padding-bottom: 0px">@Html.LabelFor(model => model.beginEstimate)</div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.beginEstimate, new { @class = "form-control", @maxlength = 100, @disabled = "disabled" })
                </div>
                <div class="col-md-1">
                    <p>_</p>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.endEstimate, new { @class = "form-control", @maxlength = 100, @disabled = "disabled" })
                </div>
            </div>
            <div class="col-md-2">
                <label>&nbsp</label>
                <div style="margin-top: 5px;">working days</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isDefault, new { @disabled = "disabled" })
                        Default Service
                    </label>
                </div>
            </div>
        </div>

        <div class="row price_region @(string.IsNullOrEmpty(Model.serviceid) ? " hidden" : " ")" id="price_region_table">
            <div class="col-md-12">
                <div>
                    <br />
                    <label>Price for individual regions</label>
                    @*@Html.LabelFor(model => model.businessName)<span style="color:red"> *</span>*@
                </div>
                <div style="max-height:380px;overflow-y:scroll;">
                    <table cellspacing="0" style="width:100%">
                        @for (int i = 0; i < Model.arrayAreaShipping.Count; i++)
                        {
                            //var check = area.isSelect ? "checked" : "";
                            <tr>
                                <td width="40px">
                                    @Html.CheckBoxFor(m => m.arrayAreaShipping[i].isSelect, new { @disabled = "disabled" })
                                    @*<input type="checkbox" id="arrayAreas" value="@area.areaName" @check />*@
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.arrayAreaShipping[i].areaName)
                                    @Html.HiddenFor(m => m.arrayAreaShipping[i].areaName)
                                    @Html.HiddenFor(m => m.arrayAreaShipping[i].zipCode)
                                </td>
                                <td width="150px">
                                    <div class="input-group">
                                        <span class="input-group-addon">@Model.currency</span>
                                        @Html.TextBoxFor(m => m.arrayAreaShipping[i].areaPrice, new { @class = "form-control areaPrice", @maxlength = 100, @style = "width:100px;display:inline;", @disabled = "disabled", @Value = Model.arrayAreaShipping[i].areaPrice == 0 ? "0.00" : Model.arrayAreaShipping[i].areaPrice.ToString(), @placeholder = "0.00" })
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    }
</div>
<script>
    var currentZoneId = '';
    $(document).ready(function () {
        setTimeout(function () {
            $('#serviceName').focus();
        }, 800);

        $(".areaPrice").maskMoney();
        $("#shippingPrice").maskMoney();
        $("#beginEstimate").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $("#endEstimate").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        var criteria = "@Model.criteria";
        SelectType(criteria);
        hideFormTo();

        $("#myModalService :text").each(function () {

            try {
                if ($(this).attr("id").indexOf('Estimate') <= 0) {
                    convertToCurrency($(this));
                }
            }
            catch (err) { }
        });
    });
    function SelectType(criteria) {
        //endValueGroup
        if ($('#endValueGroup span').length > 0) {
            $('#endValueGroup span').remove();
        }
        if ($('#beginValueGroup span').length > 0) {
            $('#beginValueGroup span').remove();
        }

        if (criteria == "1") {
            var html = $('#endValueGroup').html();
            $('#endValueGroup').html("");
            $('#endValueGroup').append('<span class="input-group-addon form_price">@Model.currency</span>');
            $('#endValueGroup').append(html);

            var html = $('#beginValueGroup').html();
            $('#beginValueGroup').html("");
            $('#beginValueGroup').append('<span class="input-group-addon form_price">@Model.currency</span>');
            $('#beginValueGroup').append(html);
        } else {
            $('#endValueGroup').append('<span class="input-group-addon form_price">Kg</span>');
            $('#beginValueGroup').append('<span class="input-group-addon form_price">Kg</span>');
        }

        $(".beginValue").maskMoney();
        $(".endValue").maskMoney();

        convertToCurrency($('#beginValue'));
        convertToCurrency($('#endValue'));
    }
    function hideFormTo() {
        if ($('#isUnlimit').is(":checked")) {
            $('.form_to').css("display", "none");
        } else {
            $('.form_to').css("display", "block");
        }
    }
</script>
