﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ServiceDeliveryViewModel

<style>
    .s_delivery .col-md-1, .s_delivery .col-md-3, .s_delivery .col-md-4, .s_delivery .col-md-5, .s_delivery .col-md-7, .s_delivery .col-md-8, .col-md-8, .s_delivery .col-md-9, .s_delivery .col-md-11, .s_delivery .col-md-12 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .form-control {
        max-width: 100%;
    }

    .s_delivery .col-md-2, .s_delivery .col-md-5, .s_delivery .col-md-6, .s_delivery .col-md-10 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .s_delivery .col-md-1 {
        padding-right: 20px;
    }

    .hidden {
        display: none;
    }
</style>
<div class="s_delivery">
    @using (Ajax.BeginForm("SaveInfo", "Delivery", new SmoovPOS.UI.Models.ServiceDeliveryViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(model => model.serviceName)<span style="color:red"> * </span>
                @Html.HiddenFor(model => model.deliveryid)
                @Html.HiddenFor(model => model.serviceid)
                @Html.HiddenFor(model => model.createdDate)
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.TextBoxFor(m => m.serviceName, new { @class = "form-control", @maxlength = 50 })
                @Html.ValidationMessageFor(m => m.serviceName)
            </div>
        </div>
        <div class="row" style="display:none;">
            <div class="col-md-4">
                @Html.LabelFor(model => model.criteria)
                @Html.DropDownListFor(m => m.criteria, Model.criterias, new { @class = "form-control", @style = "padding-right: 0px;padding-left: 0px;", @onchange = "SelectType($('#criteria').val())" })
            </div>
            <div class="col-md-6">
                <div class="col-md-5">
                    <label class="PriceRange">@Html.LocalizedLabel("PriceRange")</label>
                    <div class="input-group" id="beginValueGroup">
                        @Html.TextBoxFor(m => m.beginValue, new { @class = "form-control beginValue", @maxlength = 16, @placeholder = "0.00", @Value = Model.beginValue == 0 ? "0.00" : Model.beginValue.ToString() })
                    </div>
                    @Html.ValidationMessageFor(m => m.beginValue)
                </div>
                <div class="col-md-1 form_to">
                    <label class="PriceRange"> &nbsp; </label>
                    <p>_</p>
                </div>
                <div class="col-md-5 form_to">
                    <label class="PriceRange"> &nbsp; </label>

                    <div class="input-group" id="endValueGroup">
                        @Html.TextBoxFor(m => m.endValue, new { @class = "form-control endValue", @maxlength = 16, @placeholder = "0.00", @Value = Model.endValue == 0 ? "0.00" : Model.endValue.ToString() })
                    </div>
                    @Html.ValidationMessageFor(m => m.endValue)
                    <label id="ErrendValueAfter" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("EndvalueVSBegindvalue")</label>
                </div>
            </div>
            <div class="col-md-2">
                <label>&nbsp</label>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(m => m.isUnlimit)
                        Unlimit
                        @*<input type="checkbox" name="unlimit" id="unlimit" onchange="hideFormTo()"> Unlimit*@
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.shippingPrice)<span style="color:red"> * </span>
                <div class="input-group">
                    <span class="input-group-addon">@Model.currency</span>
                    @Html.TextBoxFor(m => m.shippingPrice, new { @class = "form-control", @maxlength = 16, @placeholder = "0.00", @Value = Model.shippingPrice == 0 ? "0.00" : Model.shippingPrice.ToString() })
                </div>
                @Html.ValidationMessageFor(m => m.shippingPrice)
            </div>
            <div class="col-md-6">
                <div class="col-md-10" style="padding-bottom: 0px">@Html.LabelFor(model => model.beginEstimate)<span style="color:red"> * </span></div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.beginEstimate, new { @class = "form-control", @maxlength = 9, @placeholder = "from" })
                    @Html.ValidationMessageFor(m => m.beginEstimate)
                </div>
                <div class="col-md-1">
                    <p>_</p>
                </div>
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.endEstimate, new { @class = "form-control", @maxlength = 9, @placeholder = "to" })
                    @Html.ValidationMessageFor(m => m.endEstimate)
                    <label id="ErrendEstimateAfter" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("EndEstimateVSBeginEstimate")</label>
                </div>
            </div>
            <div class="col-md-2">
                <label>&nbsp</label>
                <div style="margin-top: 5px;">working days</div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="checkbox">
                    @if (Model.isDefault)
                    {
                        <label>
                            <input checked="checked" data-val="true" disabled="disabled" id="default" name="default" type="checkbox" value="true" />
                            @*@Html.CheckBoxFor(m => m.isDefault, new { @disabled = "disabled" })*@
                            Default Service                            
                            @Html.HiddenFor(m => m.isDefault)
                        </label>
                    }
                    else
                    {
                        <label>
                            @Html.CheckBoxFor(m => m.isDefault)
                            Default Service
                        </label>
                    }
                </div>
            </div>
        </div>

        <div class="row price_region @(string.IsNullOrEmpty(Model.serviceid) ? " hidden" : " ")" id="price_region_table">
            <div class="col-md-12">
                <div>
                    <br />
                    <label>Price for individual regions</label>
                    @*@Html.LabelFor(model => model.businessName)<span style="color:red"> *</span>*@
                </div>
                <div style="max-height:380px;overflow-y:scroll;">
                    <table cellspacing="0" style="width:100%">
                        @for (int i = 0; i < Model.arrayAreaShipping.Count; i++)
                        {
                            //var check = area.isSelect ? "checked" : "";
                            <tr>
                                <td width="40px">
                                    @Html.CheckBoxFor(m => m.arrayAreaShipping[i].isSelect)
                                    @*<input type="checkbox" id="arrayAreas" value="@area.areaName" @check />*@
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.arrayAreaShipping[i].areaName)
                                    @Html.HiddenFor(m => m.arrayAreaShipping[i].areaName)
                                    @Html.HiddenFor(m => m.arrayAreaShipping[i].zipCode)
                                </td>
                                <td width="150px">
                                    <div class="input-group">
                                        <span class="input-group-addon">@Model.currency</span>
                                        @Html.TextBoxFor(m => m.arrayAreaShipping[i].areaPrice, new { @class = "form-control areaPrice", @maxlength = 16, @style = "width:100px;display:inline;", @placeholder = "0.00", @Value = Model.arrayAreaShipping[i].areaPrice == 0 ? "0.00" : Model.arrayAreaShipping[i].areaPrice.ToString() })
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>

    }
</div>
<script>
    var currentZoneId = '';
    $(document).ready(function () {
        setTimeout(function () {
            $('#serviceName').focus();

            var serviceid = $('#serviceid').val();

            if (serviceid != '' && '@Model.isDefault.ToString()' != 'True') {
                $('#linkRemoveService').css("display", "inline");
            }

        }, 800);

        $(".areaPrice").maskMoney();
        convertToCurrency($('#shippingPrice'));
        $("#shippingPrice").maskMoney({
            allowZero: true
        });
        $("#beginEstimate").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $("#endEstimate").keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });

        $("#price_region_table :text").each(function () {
            $(this).blur(function () {
                var value = $(this).val();
                if (value == '') {
                    $(this).val("0.00");
                }
            });
            convertToCurrency($(this));
        });

        $('#isUnlimit').change(function () {
            hideFormTo();
        });
        hideFormTo();

        var criteria = "@Model.criteria";
        SelectType(criteria);
    });
    function SelectType(criteria) {
        //endValueGroup
        if ($('#endValueGroup span').length > 0) {
            $('#endValueGroup span').remove();
        }
        if ($('#beginValueGroup span').length > 0) {
            $('#beginValueGroup span').remove();
        }
        if (criteria == "1") {
            var html = $('#endValueGroup').html();
            $('#endValueGroup').html("");
            $('#endValueGroup').append('<span class="input-group-addon form_price">@Model.currency</span>');
            $('#endValueGroup').append(html);

            var html = $('#beginValueGroup').html();
            $('#beginValueGroup').html("");
            $('#beginValueGroup').append('<span class="input-group-addon form_price">@Model.currency</span>');
            $('#beginValueGroup').append(html);
        } else {
            $('#endValueGroup').append('<span class="input-group-addon form_price">Kg</span>');
            $('#beginValueGroup').append('<span class="input-group-addon form_price">Kg</span>');
        }
        convertToCurrency($('#beginValue'));
        convertToCurrency($('#endValue'));

        $(".beginValue").maskMoney();
        $(".endValue").maskMoney();
    }
    function hideFormTo() {
        if ($('#isUnlimit').is(":checked")) {
            $('.form_to').css("display", "none");
        } else {
            $('.form_to').css("display", "block");
        }
    }
</script>