﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@{
    ViewBag.Title = "Order Detail / ";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<link rel="stylesheet" href="~/Content/breakcumd.css">
<div id="divAllPartial">
    @Html.Partial("~/Views/Order/ViewPartialAll.cshtml", Model)
</div>


