﻿@using SmoovPOS.Common
@model Com.SmoovPOS.Model.SearchOrderModel

<style>
    .q-order-list .col-md-5, .col-md-6 {
        padding-left: 0px;
    }
</style>

<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<link href="~/Content/dataTables.tableTools.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/underscore.js"></script>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3 style="margin-left:-20px">@ViewBag.Title</h3>
    </div>
</div>

<div class="q-clear"></div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-order-list">
    <div>
        @Html.HiddenFor(model => model.Currency)
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#@ConstantSmoovs.Order.TableOrderingTab" role="tab" data-toggle="tab" onclick="loadListing('@ConstantSmoovs.Order.TableOrderingTab')">Dine-in</a></li>
            <li><a href="#@ConstantSmoovs.Order.DeliveryTab" role="tab" data-toggle="tab" onclick="loadListing('@ConstantSmoovs.Order.DeliveryTab')">Delivery</a></li>
            <li><a href="#@ConstantSmoovs.Order.SelfCollectTab" role="tab" data-toggle="tab" onclick="loadListing('@ConstantSmoovs.Order.SelfCollectTab')">Self - Collect</a></li>
            <li><a href="#@ConstantSmoovs.Order.CancelOrderTab" role="tab" data-toggle="tab" onclick="loadListing('@ConstantSmoovs.Order.CancelOrderTab')">Cancel Order</a></li>
        </ul>

        <div style="margin-top: -30px;margin-left: 400px;position: absolute">
            <div class="loading" style="display:none;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>

    <div class="tab-content">
        <div class="tab-pane active" id="@ConstantSmoovs.Order.TableOrderingTab">
            @Html.Partial("~/Views/Order/OrderListing.cshtml", Model)
        </div>
        <div class="tab-pane" id="@ConstantSmoovs.Order.DeliveryTab"></div>
        <div class="tab-pane" id="@ConstantSmoovs.Order.SelfCollectTab"> </div>
        <div class="tab-pane" id="@ConstantSmoovs.Order.CancelOrderTab"></div>
    </div>
</div>
<!--Script references. -->
<!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
<!--Reference the SignalR library. -->
<script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
<!--Reference the autogenerated SignalR hub script. -->
<script src="~/signalr/hubs"></script>
<!--SignalR script to update the chat page and send messages.-->
<script>
    var currentTab = '@ConstantSmoovs.Order.TableOrderingTab';
    var isLoadTableOrderTab = true;
    var isLoadDeliveryTab = false;
    var isLoadSelfCollectTab = false;
    var isLoadCancelOrderTab = false;
    function loadListing(tab) {
        currentTab = tab;
        if (tab == '@ConstantSmoovs.Order.TableOrderingTab') {
            isLoad = true;
            tabIndex = @ConstantSmoovs.OrderType.OrderTypeTableOrdering;
            isLoadTableOrderTab = true;
        } else {
            var isLoad = false;
            var tabIndex = @ConstantSmoovs.OrderType.OrderTypeDelivery;
            if (currentTab == '@ConstantSmoovs.Order.DeliveryTab') {
                tabIndex = @ConstantSmoovs.OrderType.OrderTypeDelivery;
                if(!isLoadDeliveryTab){
                    isLoadDeliveryTab = true;
                    isLoad = true;
                }
            }
            if (currentTab == '@ConstantSmoovs.Order.SelfCollectTab') {
                tabIndex = @ConstantSmoovs.OrderType.OrderTypeSelfCollect;
                if(!isLoadSelfCollectTab){
                    isLoadSelfCollectTab = true;
                    isLoad = true;
                }
            }
            if (currentTab == '@ConstantSmoovs.Order.CancelOrderTab') {
                tabIndex = @ConstantSmoovs.OrderType.OrderTypeCancel;
                if(!isLoadCancelOrderTab){
                    isLoadCancelOrderTab = true;
                    isLoad = true;
                }
            }
        }

        if (isLoad) {
            getInformationPaging(tabIndex, 1, '', 'False', currentTab, ['', '', '', '', '', '', '']);
        }


    }

    function sortListing(orderType, pageGoTo, sort, desc, elementID, search) {
        //isSort = true;
        var descConvert = 'False';
        if (desc != '' && desc == 'False') {
            descConvert = desc == 'True'? 'False': 'True';
        }

        getInformationPaging(orderType, pageGoTo, sort, descConvert, elementID, search);
    }
    function getInformationPaging(orderType, pageGoTo, sort, desc, elementID, search) {

        var storeKey = search[0];
        var paymentStatusKey = search[1];
        var orderStatusKey = search[2];
        var startDate = search[3];
        var endDate = search[4];
        var filterField = search[5];
        var filterKey = search[6];

        var descConvert = false;
        if (desc != '') {
            descConvert = (desc == 'True');
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchOrder", "Order")',
            data: { orderType: orderType, pageGoTo: pageGoTo, sort: sort, desc: descConvert, StoreKey: storeKey, PaymentStatusKey: paymentStatusKey, OrderStatusKey: orderStatusKey, StartDate: startDate, EndDate: endDate, FilterField: filterField, FilterKey: filterKey, Currency: $('#Currency').val() },
            success: function (result) {
                $($("#" + elementID).find('#pageCurrent')).val('');
                $("#" + elementID + " li").each(function () {
                    $(this).removeClass("active");
                });
                var div_Main = $('#' + elementID);
                div_Main.fadeIn();
                div_Main.html(result);
                $('#divpaging').html($('#divpaging2').html());
                //if ($("#txtSearchMerchant").val() != '') {
                //    $("#searchclear").toggle(true);
                //}
                $('#DeliveryTab').removeAttr('style');
                $('#SelfCollectTab').removeAttr('style');
                $('#CancelOrderTab').removeAttr('style');
                $('#TableOrderingTab').removeAttr('style');
            },
            error: function (status) {
            },
            beforeSend: function () {
                //$('#' +  elementID + ' .loading').css("display", "block");
                $('.loading').css("display", "block");
            },
            complete: function () {
                //$('#' + elementID + ' .loading').css("display", "none");
                $('.loading').css("display", "none");
            }
        });
    }
    var chatHub;
    $(document).ready(function () {
        StartHubs();
    });
    function StartHubs() {
        // Declare a proxy to reference the hub.
        chatHub = $.connection.chatHub;
        //$.connection.hub.start({ transport: 'longPolling' }).done(function (myHubConnection) { });
        registerClientMethods(chatHub);
        // Start Hub
        $.connection.hub.start({ transport: 'longPolling' }).done(function () {
            registerEvents(chatHub)
        });
        $.connection.hub.start({ transport: 'longPolling' }).fail(function () {
            registerEvents(chatHub)
        });
    }
    function connectionByEmail() {
        chatHub.server.connect('@Model.siteID', '@Model.siteID');
    }
    function registerEvents(chatHub) {
        connectionByEmail();
    }

    function registerClientMethods(chatHub) {
        // Calls when user successfully logged in
        chatHub.client.onConnected = function (id, userName, allUsers, messages) {
            // Add All Users
            for (i = 0; i < allUsers.length; i++) {

                AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
            }
            // Add Existing Messages
            for (i = 0; i < messages.length; i++) {
                AddMessage(messages[i].UserName, messages[i].Message);
            }
            console.log(userName + ' -> Connected');
        }

        // On New User Connected
        chatHub.client.onNewUserConnected = function (stationId, id, name) {
        }

        // On User Disconnected
        chatHub.client.onUserDisconnected = function (id, userName) {
        }

        chatHub.client.messageReceived = function (userName, message) {

        }

        chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {
            UpdateStatusOrder(message);
        }
    }

    function AddUser(chatHub, stationId, id, name) {
    }

    function AddMessage(userName, message) {
        console.log(message);
    }

    function OpenPrivateChatWindow(chatHub, id, userName) {
        var ctrId = 'private_' + id;
        if ($('#' + ctrId).length > 0) return;
        createPrivateChatWindow(chatHub, id, ctrId, userName);
    }

    function createPrivateChatWindow(chatHub, userId, ctrId, userName) {
    }
    function SendMessageTableOrder(message) {
        console.log(message);
        try {
            connectionByEmail();
            var userId = $('#hdId').val();
            if (userId != '') {
                chatHub.server.sendPrivateMessage(userId, message);
            }
            else {
                chatHub.server.sendMessageToAll('@Model.siteID', "@Model.siteID");
            }
        } catch (e) {
            StartHubs();
        }

    }
</script>


<script language="javascript">
    $(function () {

        $("#@Model.TabId" + " li").each(function () {
            if (this.id.toString() == '@Model.pageCurrent') {
                $(this).addClass("active");
            }
        });

        $($("#@Model.TabId").find('#divpaging')).fadeIn();
        $($("#@Model.TabId").find('#divpaging')).html($($("#@Model.TabId").find('#divpaging2')).html());
    });
    function GetFullDate(number){
        if(number<10){
            return "0"+number;
        }else{
            return number;
        }
    }
    function UpdateStatusOrder(data) {
        var objectData = JSON.parse(data);
        console.log(objectData);
        if (objectData) {
            var typeMessage = objectData.typeMessage;
            //New Order
            if(typeMessage.toString()=="@ConstantSmoovs.Enums.TypeMessage.FirstOrDefault(r => r.Value == ConstantSmoovs.TypeMessage.NewOrder).Key"){
                var order = JSON.parse(objectData.data) ;
                var orderStatus = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.OnPreRequest).Key]";
                var paymentStatus = "@ConstantSmoovs.Enums.PaymentStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Waiting).Key]";
                var dateTimeString = order.modifiedDate.toString().split("(")[1].split(")")[0];
                var dateTime = new Date(parseInt(dateTimeString));
                // var grandTotal = order.grandTotal.toString().split(".")[1].length==1? "0": "";
                var grandTotal = order.grandTotal.toString();
                var row = "<tr>"
                             + "<td>" + "<a href='/Order/Detail?id=" +order._id + "'>"+ order.orderCode+ "</a>" + "</td>"
                             + "<td>" + order.inventory.businessID + "</td>"
                             + "<td>" + order.transactionID + "</td>"
                             + "<td>" + GetFullDate(dateTime.getMonth()+1)  + "/"+GetFullDate(dateTime.getDate()) + "/"+ dateTime.getFullYear() +"</td>"
                             + "<td>" + order.CustomerDisplay + "</td>"
                             + "<td>" + "<div class='label label-default PaymentStatusDisplay' style='background-color: @ConstantSmoovs.ColorPaymentStatus.LightOrange"  + "' id='payment_"+ order._id  + "'>"+ paymentStatus + "</td>"
                             + "<td>" + "<div class='label label-default OrderStatusDisplay' style='background-color: @ConstantSmoovs.ColorOrderStatus.DarkOrange" + "' id='order_"+ order._id  + "'>"+ orderStatus + "</td>"
                             + "<td>" + order.currency + " " + order.grandTotal  +"</td>"
                        + "</tr>";
                console.log(row);
                $("#@ConstantSmoovs.Order.TableOrderingTable tbody").prepend(row);

            }
                //Update status order
            else if(typeMessage.toString()=="@ConstantSmoovs.Enums.TypeMessage.FirstOrDefault(r => r.Value == ConstantSmoovs.TypeMessage.UpdateOrderStatus).Key"){
                var color = "";
                var typeOrder = "";
                objectData = JSON.parse(objectData.data) ;
                switch (objectData.orderStatus) {
                    case @ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInWaiting).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.Orange";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInWaiting).Key]";
                        break;
                    case @ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInConfirm).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.LightGreen";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInConfirm).Key]";
                        break;
                    case @ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInServing).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.GreenLight";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInServing).Key]";
                        break;
                    case @ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInDone).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.LightGrey";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInDone).Key]";
                        break;
                    case @ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.LightYellow";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key]";
                        break;
                }
                console.log(color);
                console.log(typeOrder);
                if(parseInt(objectData.orderStatus) == parseInt('@ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key')){
                    $('#order_'+objectData.orderID).parent('td').parent('tr').remove();
                }else{
                    $('#order_'+objectData.orderID).css('background-color',color);
                    $('#order_'+objectData.orderID).text(typeOrder);
                }             
                switch (objectData.paymentStatus) {
                    case @ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Waiting).Key:
                        color = "@ConstantSmoovs.ColorPaymentStatus.LightOrange";
                        typeOrder = "@ConstantSmoovs.Enums.PaymentStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Waiting).Key]";
                        break;
                    case @ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Pending).Key:
                        color = "@ConstantSmoovs.ColorPaymentStatus.LightOrange";
                        typeOrder = "@ConstantSmoovs.Enums.PaymentStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Pending).Key]";
                        break;
                    case @ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Paid).Key:
                        color = "@ConstantSmoovs.ColorPaymentStatus.Blue";
                        typeOrder = "@ConstantSmoovs.Enums.PaymentStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Paid).Key]";
                        break;
                    case @ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Refunded).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.Red";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Refunded).Key]";
                        break;
                    case @ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Failed).Key:
                        color = "@ConstantSmoovs.ColorOrderStatus.Red";
                        typeOrder = "@ConstantSmoovs.Enums.OrderStatus[ConstantSmoovs.Enums.PaymentStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.PaymentStatus.Failed).Key]";
                        break;
                }

                console.log(typeOrder);
                $('#payment_'+objectData.orderID).css('background-color',color);
                $('#payment_'+objectData.orderID).text(typeOrder);

            }
        }
    }


</script>