﻿@using SmoovPOS.UI.Models
@using System.Linq;
@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.Common
@model Com.SmoovPOS.Model.SearchOrderModel
@{
    int index = 0;
    int totalPrevious = 0;
    int totalNext = 0;

    totalNext = Model.pageCurrent * Model.limit;
    totalPrevious = totalNext - Model.limit + 1;

    if (totalNext > Model.countAll)
    {
        totalNext = Model.countAll;
    }
}
<style>
    .PaymentStatusDisplay {
        display: inline-block;
        *display: inline;
        /*width: 80px;*/
        height: 28px;
        line-height: 24px;
        font-size: 12px;
        height: 28px;
        line-height: 24px;
        vertical-align: middle;
    }

    .OrderStatusDisplay {
        display: inline-block;
        *display: inline;
        /*width: 120px;*/
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
        height: 28px;
        line-height: 24px;
        vertical-align: middle;
    }

    table.dataTable thead .checkboxTable {
        background: url("") no-repeat center left;
    }

    .toolbar-right {
        float: right;
        margin-top: 30px;
    }

    a:hover, a:focus {
        outline: 0;
        /*color: #000000;*/
        color: #428bca;
    }

    .expiredDate, .expiredDate a {
        color: #ff0000;
    }

    a {
        color: black;
    }

    .search-box {
        position: relative;
        width: 100%;
    }

    span#searchclear {
        position: absolute;
        right: 80px;
        top: 7px;
        cursor: pointer;
    }

    #txtSearchMerchant {
        max-width: 100% !important;
        width: 80% !important;
        right: 60px;
        position: absolute;
    }

    .pagination > li > a, .pagination > li > span {
        color: #337ab7;
    }

    #btnSearchMerchant {
        position: absolute;
        width: 65px;
        right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    i.fa.fa-sort-up, i.fa.fa-sort-down {
        color: #7A80DD;
    }

    .header_table {
        background-color: transparent;
        color: black;
        border-bottom: 2px solid #ddd;
    }

    .u_title a {
        color: black;
    }
</style>
@Html.Partial("~/Views/Order/SearchOrder.cshtml", Model)
@*<table class="display" id="@Model.TableId" cellspacing="0" style="padding-top:10px;">*@
<table class="table" cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="@Model.TableId">
    <thead>
        @*<tr class="header_table">
                <th style="text-align:center" class="checkboxTable"><input type="checkbox" /></th>
                <th class="u_title">Order Code</th>
                <th class="u_title">Store          </th>
                <th class="u_title">Transaction ID</th>
                <th class="u_title">Date         </th>
                <th class="u_title">Customer</th>
                <th class="u_title">Payment Status</th>
                <th class="u_title">Order Status</th>
                <th class="u_title">Total</th>
            </tr>*@
        <tr class="header_table">
            @*<th style="text-align:center;width:25px;" class="checkboxTable"><input type="checkbox" /></th>*@
            <th class="u_title">
                @if (Model.sort == "orderCode")
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'orderCode', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("OrderCode")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'orderCode', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("OrderCode")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">@Html.LocalizedLabel("Store")        </th>
            <th class="u_title">@Html.LocalizedLabel("TransactionID")</th>
            <th class="u_title">
                @if (Model.sort == "completedDate")
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'completedDate', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Date_Title")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }
                }
                else
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'completedDate', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Date_Title")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">
                @if (Model.sort == "CustomerDisplay")
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'CustomerDisplay', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Customer")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }
                }
                else
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'CustomerDisplay', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Customer")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">@Html.LocalizedLabel("PaymentStatus")</th>
            <th class="u_title">@Html.LocalizedLabel("OrderStatus")</th>
            <th class="u_title">
                @if (Model.sort == "grandTotal")
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'grandTotal', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Total")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }
                }
                else
                {
                    <a href="#" onclick="sortListing(@Model.OrderType, '1', 'grandTotal', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Html.LocalizedLabel("Total")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.ListOrders != null && Model.ListOrders.Count() > 0)
        {
            string dateStr = string.Empty;
            string color = string.Empty;
            string orderStatus = string.Empty;
            string paymentStatus = string.Empty;
            string store = string.Empty;
            foreach (var item in Model.ListOrders)
            {
                <tr style="border-bottom: 1px solid #000000;" class=@(item.orderStatus != 7 && item.orderStatus != 9 && item.isCancelRequest ? "expiredDate" : "")>
                    @*<td style="text-align:center;width:25px"><input type="checkbox" class="case" name="case" /></td>*@
                    <td>@Html.ActionLink(item.orderCode, "Detail", new { id = @item._id })</td>
                    <td>
                        @{
                store = "Online store";
                        }
                        @if (item.inventory != null)
                        {
                            if (!string.IsNullOrWhiteSpace(item.inventory.businessID))
                            {
                                store = item.inventory.businessID;
                            }
                        }
                        @store
                    </td>
                    <td>@item.transactionID</td>
                    <td>
                        @if (item.modifiedDate != null)
                        {
                            DateTime date = item.modifiedDate;
                            dateStr = date.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                        }
                        else
                        {
                            dateStr = string.Empty;
                        }
                        @dateStr
                    </td>
                    <td>@item.CustomerDisplay</td>
                    @*<td>@Html.ActionLink(item.CustomerDisplay, "ViewCustomer")</td>*@
                    <td>
                        @*@if (SmoovPOS.Common.ConstantSmoovs.Enums.PaymentStatus.ContainsKey(item.orderStatus))
                            {
                                switch (SmoovPOS.Common.ConstantSmoovs.Enums.PaymentStatus[item.paymentStatus])
                                {
                                    case ConstantSmoovs.PaymentStatus.Waiting:
                                        color = StringHelper.HexConverter(System.Drawing.Color.Orange);
                                        break;
                                    case ConstantSmoovs.PaymentStatus.Paid:
                                        color = StringHelper.HexConverter(System.Drawing.Color.ForestGreen);
                                        break;
                                    case ConstantSmoovs.PaymentStatus.Refunded:
                                        color = StringHelper.HexConverter(System.Drawing.Color.DarkMagenta);
                                        break;
                                    case ConstantSmoovs.PaymentStatus.Failed:
                                        color = StringHelper.HexConverter(System.Drawing.Color.Red);
                                        break;
                                }
                            }
                            else
                            {
                                color = string.Empty;
                            }*@
                        @{
                switch (item.paymentStatus)
                {
                    case ConstantSmoovs.PaymentStatusIndex.Pending:
                    case ConstantSmoovs.PaymentStatusIndex.Waiting:
                        color = ConstantSmoovs.ColorPaymentStatus.LightOrange; // orange
                        break;
                    case ConstantSmoovs.PaymentStatusIndex.Paid:

                        color = ConstantSmoovs.ColorPaymentStatus.Blue;
                        break;
                    case ConstantSmoovs.PaymentStatusIndex.Refunded:

                        color = ConstantSmoovs.ColorPaymentStatus.Red;
                        break;
                    case ConstantSmoovs.PaymentStatusIndex.Failed:
                        color = ConstantSmoovs.ColorPaymentStatus.Red;
                        break;
                }
                        }
                        <div class="label label-default PaymentStatusDisplay" style="background-color:@color" id="payment_@item._id">
                            @if (ConstantSmoovs.Enums.PaymentStatus.ContainsKey(item.paymentStatus))
                            {
                                paymentStatus = ConstantSmoovs.Enums.PaymentStatus[item.paymentStatus];
                            }
                            else { paymentStatus = string.Empty; }
                            @paymentStatus
                        </div>
                    </td>
                    <td>
                        @if (ConstantSmoovs.Enums.OrderStatus.ContainsKey(item.orderStatus))
                        {
                            switch (ConstantSmoovs.Enums.OrderStatus[item.orderStatus])
                            {
                                case ConstantSmoovs.OrderStatus.NewOrder:
                                    color = ConstantSmoovs.ColorOrderStatus.Red;
                                    break;

                                case ConstantSmoovs.OrderStatus.ReadyForCollection:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGreen;
                                    break;

                                case ConstantSmoovs.OrderStatus.Collected:

                                    color = ConstantSmoovs.ColorOrderStatus.LightGreen;
                                    break;
                                case ConstantSmoovs.OrderStatus.Received:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGrey;
                                    break;

                                case ConstantSmoovs.OrderStatus.Delivered:
                                    color = ConstantSmoovs.ColorOrderStatus.DarkGrey;
                                    break;

                                case ConstantSmoovs.OrderStatus.OnDelivery:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGreen;
                                    break;

                                case ConstantSmoovs.OrderStatus.OnPreRequest:
                                    color = ConstantSmoovs.ColorOrderStatus.DarkOrange;
                                    break;

                                case ConstantSmoovs.OrderStatus.ReadyForDelivery:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGreen;
                                    break;

                                case ConstantSmoovs.OrderStatus.Canceled:
                                    color = ConstantSmoovs.ColorOrderStatus.Red;
                                    break;

                                case ConstantSmoovs.OrderStatus.Refunded:
                                    color = ConstantSmoovs.ColorOrderStatus.LightYellow;
                                    break;
                                case ConstantSmoovs.OrderStatus.DineInWaiting:
                                    color = ConstantSmoovs.ColorOrderStatus.Orange;
                                    break;
                                case ConstantSmoovs.OrderStatus.DineInConfirm:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGreen;
                                    break;
                                case ConstantSmoovs.OrderStatus.DineInServing:
                                    color = ConstantSmoovs.ColorOrderStatus.GreenLight;
                                    break;
                                case ConstantSmoovs.OrderStatus.DineInDone:
                                    color = ConstantSmoovs.ColorOrderStatus.LightGrey;
                                    break;
                            }
                        }
                        else
                        {
                            color = string.Empty;
                        }
                        <div class="label label-default OrderStatusDisplay" style="background-color:@color" id="order_@item._id">
                            @if (ConstantSmoovs.Enums.OrderStatus.ContainsKey(item.orderStatus))
                            {
                                orderStatus = ConstantSmoovs.Enums.OrderStatus[item.orderStatus];
                            }
                            else { orderStatus = string.Empty; }
                            @orderStatus
                        </div>
                    </td>
                    <td>@Model.Currency @String.Format("{0:0.00}", item.grandTotal)</td>
                    @*<td>@item.grandTotal</td>*@ <!-- This hidden column used for order by currency -->
                    @*<td>@item.completedDate</td>*@
                </tr>
            }

        }
        else
        {
            <tr style="width:100%">
                <td style="width:100%;text-align:center" colspan="8">
                    @Html.LocalizedMessage("NoOrderWasFound")
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
</script>
<div class="q-toolsbar">
    <div class="col-md-6" id="divpaging2">
        @if (Model.countAll > 0)
        {
            <span class="pull-left" style=" margin-top: 27px; margin-right: 10px; ">
                <text>
                    @totalPrevious.ToString() - @totalNext.ToString() of @Model.countAll.ToString()
                </text>
            </span>
            <nav>
                <ul class="pagination">
                    @if (Model.pageGoTo > 1)
                    {
                        <li id="First">
                            <a href="#" aria-label="Previous" onclick="getInformationPaging(@Model.OrderType, '1', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button first disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    }
                    @if (Model.TotalItemPrevious >= 1)
                    {
                        <li id="Previous">
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.TotalItemPrevious', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.firstKey))
                    {
                        <li id="@Model.firstKey" class='@(Model.pageCurrent.ToString() == Model.firstKey.ToString()?" active":"")'>
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.firstKey', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Model.firstKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.secondKey))
                    {
                        <li id="@Model.secondKey" class='@(Model.pageCurrent.ToString() == Model.secondKey.ToString() ? " active" : "")'>
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.secondKey', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Model.secondKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.thridKey))
                    {
                        <li id="@Model.thridKey" class='@(Model.pageCurrent.ToString() == Model.thridKey.ToString() ? " active" : "")'>
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.thridKey', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Model.thridKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fourthKey))
                    {
                        <li id="@Model.fourthKey" class='@(Model.pageCurrent.ToString() == Model.fourthKey.ToString() ? " active" : "")'>
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.fourthKey', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Model.fourthKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fiveKey))
                    {
                        <li id="@Model.fiveKey" class='@(Model.pageCurrent.ToString() == Model.fiveKey.ToString() ? " active" : "")'>
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.fiveKey', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;">@Model.fiveKey</a>
                        </li>
                    }

                    @if (Model.TotalItemNext >= 1)
                    {
                        <li id="Next">
                            <a href="#" onclick="getInformationPaging(@Model.OrderType,'@Model.TotalItemNext', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    }
                    @if (Model.pageGoTo < Model.pageCount)
                    {
                        <li id="Last">
                            <a href="#" aria-label="Next" onclick="getInformationPaging(@Model.OrderType,'@Model.pageCount', '@Model.sort', '@Model.desc.ToString()', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', '@Model.FilterField', '@Model.FilterKey']); return false;"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button last disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
            @Html.HiddenFor(model => model.pageCurrent);
            @*<div>Showing page @ViewBag.PageCurrent in @Model.pageCount total page</div>*@
        }
    </div>

</div>



