﻿@using SmoovPOS.Common
@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.OrderModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    var currencyVariant = Model.CurrencyDisplay;
}
<style>
    .colAdhoc {
        min-height: 60px;
        padding-top: 10px;
        vertical-align:top;
    }
     .colPadding5 {
       
        padding-top: 5px;
    }
</style>
<div style="width:100%;background-color:#f8f8f8;border:1px solid #D3D2D2;border-radius: 5px;">
    <div style="width:100%;">
        <table style="width:100%;margin-top:10px;font-size:10pt">
            <tr>
                <td style="padding-left:15px;">
                    <b>@Html.LocalizedLabel("OrderStatus"): </b>
                    @Model.OrderStatusDisplay
                </td>
                <td style="text-align:right;padding-right:15px;">
                    <text>@Html.LocalizedLabel("OrderProcessBy")</text>
                    <text>@Model.staffFullName</text>
                </td>
            </tr>
        </table>

        <table id="order-list" style="width:100%; height:40px;font-size:10pt">
            <tr style="border-bottom:1px solid #D3D2D2;">
                <td style="width:45%;">
                    <b style=" margin-top:10px; padding-left:15px;">@Html.LocalizedLabel("Item")</b>
                </td>
                <td style="width:15%;"><b style="margin-top:10px;">@Html.LocalizedLabel("Qty")</b></td>
                <td style="width:20%"><b style="margin-top:10px;">@Html.LocalizedLabel("Price")</b></td>
                <td style="width:20%;text-align:right;padding-right:15px;"><b style="margin-top:10px;">@Html.LocalizedLabel("Total")</b></td>
            </tr>
        </table>

        @{
            if (Model != null)
            {
                foreach (var item in Model.arrayProduct)
                {
                    <div style="margin-top:5px">
                        <div>
                            <b style="margin-left:15px;font-size:10pt"> @item.title</b>
                        </div>
                        <div style="width:100%;font-size:9pt">
                            <table style="width:100%;font-size:9pt">
                                @{
                    foreach (var itemVariant in item.arrayVariantOrder)
                    {
                        double priceVariant = itemVariant.price;
                        if (item.discount)
                        {
                            var discountItem = item.discountProductItem;
                            priceVariant = discountItem.type == 0 ? priceVariant - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", priceVariant * discountItem.discountValue / 100)), 2) : priceVariant - discountItem.discountValue;
                            priceVariant = priceVariant > 0 ? priceVariant : 0.00;
                        }
                        <tr>
                            <td style="width:45%" class="colAdhoc">
                                <div >
                                    <div style="padding-left:20px;">
                                        <text>@itemVariant.title @itemVariant.color   @itemVariant.size</text>
                                    </div>
                                    <div style="padding-left:20px;margin-top:5px;">
                                        <text>@itemVariant.sku</text>                                        
                                        @if (!string.IsNullOrEmpty(itemVariant.variantRemark))
                                        {
                                            <br />
                                            <span style="font-style:italic">* @itemVariant.variantRemark</span>
                                        }
                                    </div>
                                </div>
                            </td>

                            <td style="width:15%; " class="colAdhoc">
                                <div>
                                    @itemVariant.quantity
                                </div>
                            </td>

                            <td style="width:20%;" class="colAdhoc">
                                <div>
                                    @if (item.discount)
                                    {
                                        <div>
                                            <label> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(priceVariant, 2)) </label>


                                        </div>
                                        <div>
                                            <text class="text-muted"><del>@currencyVariant&nbsp;@String.Format("{0:0.00}", itemVariant.price)</del></text>
                                        </div>
                                    }
                                    else
                                    {
                                        <text> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(itemVariant.price, 2))</text>
                                    }
                                </div>

                            </td>

                            <td style="width:20%;text-align:right;padding-right:15px;" class="colAdhoc">
                                <div>
                                    @{
                                    double total = 0.00;
                                    if (item.discount)
                                    {
                                        var discountItem = item.discountProductItem;
                                        double saveMoney = discountItem.type == 0 ? (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (itemVariant.price * itemVariant.quantity) * discountItem.discountValue / 100)), 2) : itemVariant.quantity * discountItem.discountValue;
                                        total = Math.Round(itemVariant.price, 2) * itemVariant.quantity - saveMoney;


                                        <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                        <br />
                                        <span>@Html.LocalizedLabel("YouSave")</span>
                                        <br />
                                        <span>@currencyVariant @String.Format("{0:0.00}", saveMoney)</span>

                                    }
                                    else
                                    {
                                        total = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (priceVariant * itemVariant.quantity))), 2);
                                        <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                    }
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                                }
                            </table>
                        </div>
                    </div>
                }
            }
        }
        <!---------------------------------------------- ADHOC FOR POS---------------------------------------->
        @{
            if (@Model.arrayAdhocProduct != null && @Model.arrayAdhocProduct.Count() > 0)
            {
                <table style="border-top: 1px dotted #D3D2D2;width:100%;font-size:9pt;margin-top:10px;">

                    @foreach (var itemAdHoc in Model.arrayAdhocProduct)
                    {
                        double priceAdHoc = itemAdHoc.price;
                        if (itemAdHoc.discount)
                        {
                            var discountItem = itemAdHoc.discountProductItem;
                            priceAdHoc = discountItem.type == 0 ? priceAdHoc - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", priceAdHoc * discountItem.discountValue / 100)), 2) : priceAdHoc - discountItem.discountValue;
                            priceAdHoc = priceAdHoc > 0 ? priceAdHoc : 0.00;
                        }
                        <tr>
                            <td style="width:45%" class="colAdhoc">
                                <div>
                                    <div style="padding-left:20px;">
                                        <b>@itemAdHoc.title </b>
                                    </div>
                                    <div style="padding-left:20px;margin-top:5px;">
                                        <text>@itemAdHoc.description</text>
                                    </div>
                                </div>

                            </td>

                            <td style="width:15%; " class="colAdhoc">
                                <div >
                                    @itemAdHoc.quantity
                                </div>

                            </td>

                            <td style="width:20%;" class="colAdhoc">
                                @if (itemAdHoc.discount)
                                {
                                    <div >
                                        <label> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(priceAdHoc, 2)) </label>

                                    </div>
                                    <div>

                                        <text class="text-muted"><del>@currencyVariant&nbsp;@String.Format("{0:0.00}", itemAdHoc.price)</del></text>
                                    </div>
                                }
                                else
                                {
                                    <text> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(itemAdHoc.price, 2))</text>
                                }

                            </td>

                            <td style="width:20%;text-align:right;padding-right:15px;" class="colAdhoc">
                                @{
                                double total = 0.00;
                                if (itemAdHoc.discount)
                                {
                                    var discountItem = itemAdHoc.discountProductItem;
                                    double saveMoney = discountItem.type == 0 ? (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (itemAdHoc.price * itemAdHoc.quantity) * discountItem.discountValue / 100)), 2) : itemAdHoc.quantity * discountItem.discountValue;
                                    total = Math.Round(itemAdHoc.price, 2) * itemAdHoc.quantity - saveMoney;
                                    <div >
                                        <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                        <br />
                                        <span>@Html.LocalizedLabel("YouSave")</span>
                                        <br />
                                        <span>@currencyVariant @String.Format("{0:0.00}", saveMoney)</span>
                                    </div>

                                }
                                else
                                {

                                    total = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (priceAdHoc * itemAdHoc.quantity))), 2);
                                    <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                }
                                }
                            </td>
                        </tr>

                    }

                </table>
            }

        }
        <!----------------------------------------------END ADHOC FOR POS---------------------------------------->
        <table style="border-top: 1px dotted #D3D2D2;width:100%;margin-top:10px;font-size:9pt">
            <tr style="margin-top:10px;margin-bottom:10px">
                <td style="width:60%"></td>
                <td style="align-content:center; width:20%;padding-bottom:10px" colspan="2">
                    @{
                        if (Model.discountCart)
                        {
                            <div class="colPadding5">
                                <text> @Html.LocalizedLabel("CartDiscount") </text>
                            </div>
                        }
                    }

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("TotalDiscount") </text>
                    </div>

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("SubTotal") </text>
                    </div>

                    <div class="colPadding5">
                        @{
                            if ((Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0)
                                || (Model.orderType == ConstantSmoovs.OrderType.OrderTypeTableOrdering && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0))
                            {
                                <text>  @Html.LocalizedLabel("ServiceCharge") </text>
                            }
                        }
                    </div>
                    <div class="colPadding5">
                        @{
                            if (Model.listTaxvalue != null && Model.listTaxvalue.Count > 0)
                            {
                                foreach (var itemTax in @Model.listTaxvalue)
                                {
                                    <div>
                                        <text>  @itemTax.taxName </text>
                                    </div>
                                }
                            }
                            else
                            {
                                <text> @Html.LocalizedLabel("Tax") </text>
                            }
                        }
                    </div>
                    @if (Model.orderType != ConstantSmoovs.OrderType.OrderTypeTableOrdering)
                    {
                        <div class="colPadding5">
                            <text>@Html.LocalizedLabel("ShippingFee")</text>
                        </div>
                    }
                    

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("RoundAmount")</text>
                    </div>
                    <div class="colPadding5">
                        <b>@Html.LocalizedLabel("GrandTotal") </b>

                    </div>
                </td>

                <td style="align-content:center; width:20%;text-align:right;padding-right:15px;padding-bottom:10px">
                    @{
                        if (Model.discountCart)
                        {
                            <div class="colPadding5">
                                <text style="text-align: right;">@currencyVariant @String.Format("{0:0.00}", Model.discountCartValue)</text>
                            </div>
                        }
                    }

                    <div class="colPadding5">
                        <text style="text-align: right;">@currencyVariant @String.Format("{0:0.00}", Model.discount)</text>
                    </div>

                    <div class="colPadding5">
                        <text style="text-align: right;"> @currencyVariant @String.Format("{0:0.00}", Model.subTotal) </text>
                    </div>
                    <div class="colPadding5">
                        @{
                            if ((Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0)
                                || (Model.orderType == ConstantSmoovs.OrderType.OrderTypeTableOrdering && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0))
                            {
                                <text> @currencyVariant @String.Format("{0:0.00}", Model.serviceCharge.serviceChargeValue)</text>
                            }
                        }
                    </div>
                    <div>
                        @{
                            if (Model.listTaxvalue != null && Model.listTaxvalue.Count > 0)
                            {
                                foreach (var itemTax in Model.listTaxvalue)
                                {
                                    <div class="colPadding5">
                                        <text>@currencyVariant  @String.Format("{0:0.00}", itemTax.taxValue) </text>
                                    </div>
                                }
                            }
                            else
                            {
                                <text> @currencyVariant 0.00 </text>
                            }
                        }
                    </div>
                    @if (Model.orderType != ConstantSmoovs.OrderType.OrderTypeTableOrdering)
                    {
                        <div class="colPadding5">
                            <text> @currencyVariant @String.Format("{0:0.00}", Model.ShippingFeeShow)  </text>
                        </div>
                    }
                    
                    <div class="colPadding5">
                        <text> @currencyVariant @String.Format("{0:0.00}", Model.roundAmount)  </text>
                    </div>

                    <div class="colPadding5">
                        <strong> @currencyVariant @String.Format("{0:0.00}", Model.grandTotal)  </strong>
                    </div>
                </td>
            </tr>

        </table>
        @{
            if (@Model.arrayPayment != null && @Model.arrayPayment.Count() > 0)
            {
            <div style="border-top: 1px dotted #D3D2D2;width:100%;font-size:9pt;padding-top:10px;min-height:100px">
                <div style="width:60%;display:inline-block;float:left">
                    <b style="margin-left:15px"> @Html.LocalizedLabel("PaymentInformation")</b>
                </div>
                <div style="width:40%;display:inline-block">
                    @foreach (var itemPayment in Model.arrayPayment)
                    {
                        <div  class="colpadding5">
                            <div style="width:50%;display:inline-block;float:left">
                                <text style="padding-right:10px;text-align:left;">@itemPayment.paymentType </text>
                            </div>
                            <div style ="width:50%;display:inline-block;text-align:right;padding-right:20px">
                                <text style="margin-right:-5px;"> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@itemPayment.charged, 2)) </text>
</div>
                        </div>
                    }
                </div>
            </div>
            }
            else
            {
                <div style="border-top: 1px dotted #D3D2D2;width:100%;font-size:9pt;padding-top:10px;min-height:50px">
                    <div class="col-md-8">
                        <b style="margin-left:15px"> @Html.LocalizedLabel("PaymentInformation")</b>
                    </div>
                    <div class="col-md-4">
                        
                            <div style="text-align:right;margin-right: -40px;" class=" colpadding5">
                                
                            </div>
                       
                    </div>
                </div>
               
            }
        }


    </div>

</div>