﻿@model Com.SmoovPOS.Model.SearchOrderModel
<style>
    .input-append .form-control {
        padding: 0px;
    }

    /*--------------*/
    .search-box {
        position: relative;
        width: 100%;
    }

    span#searchclear {
        position: absolute;
        right: 220px;
        top: 7px;
        cursor: pointer;
    }

    #FilterKey {
        max-width: 100% !important;
        width: 70% !important;
        right: 210px;
        position: absolute;
    }

    #btnSearchOrder {
        position: absolute;
        height:34px;
        width: 65px;
        right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    #FilterField {
        position: absolute;
        width: 150px;
        right: 62px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
           outline: 0;
        /*color: #000000;*/
        color: #428bca;
     }
    /*Search Box*/
    .order-search {
        margin: 0px!important;
        margin-top: 30px!important;
        padding: 0px!important;
    }
    .order-search-input {
        padding: 0px!important;
        padding-right: 15px!important;
    }
    .col-md-3.order-search-input.last {
        padding-right: 0px!important;
    }
    /*Input Date*/
    .col-md-6.input-append.date.OrderDatePicker:first-child {
        padding: 0px!important;
        /*padding-right: 7px!important;*/
    }
    .col-md-6.input-append.date.OrderDatePicker:last-child {
        padding: 0px!important;
        padding-left: 7px!important;
    }
    /*QToolbar*/
    .q-toolsbar {
        height: 60px!important;
        clear: both;
        margin-top: 30px!important;
    }
</style>
@{
    string dateStartStr = string.Empty;
    string dateEndStr = string.Empty;
}
@*<div style="white-space:nowrap;">*@
@using (Ajax.BeginForm("SearchOrder", "Order", new Com.SmoovPOS.Model.SearchOrderModel(), new AjaxOptions
        {
            HttpMethod = "Post",
        }, new { @class = "SearchForm" }))
{
    <div class="col-md-12">
        @Html.ValidationMessageFor(model => model.StartDate, "Please enter Start Date is a valid date in the format MM/dd/yyyy")
        @Html.ValidationMessageFor(model => model.EndDate, "Please enter End Date is a valid date in the format MM/dd/yyyy")

        <div class="validation-summary-errors">
            <ul>

                <li id="ErrBirthday" style="display: none; ">The Birthday field is required.</li>


            </ul>
        </div>
    </div>
    <div class="col-md-12 order-search">
        <div class="col-md-3 order-search-input">
            @Html.DropDownListFor(m => m.StoreKey, Model.StoresList, new { @class = "form-control", @onchange = "FilterOrder(event)" })
        </div>
        <div class="col-md-3 order-search-input">
            @Html.DropDownListFor(m => m.PaymentStatusKey, Model.PaymentStatusList, new { @class = "form-control", @onchange = "FilterOrder(event)" })
        </div>
        <div class="col-md-3 order-search-input">
            @Html.DropDownListFor(m => m.OrderStatusKey, Model.OrderStatusList, new { @class = "form-control", @onchange = "FilterOrder(event)" })
        </div>
        <div class="col-md-3 order-search-input last">
            <div class="col-md-6 input-append date OrderDatePicker" style="display:inline-block;">
                @if (Model.StartDate != null)
                {
                    DateTime bd = Model.StartDate.GetValueOrDefault();
                    dateStartStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                }
                <input data-format="MM/dd/yyyy" type="text" class="form-control" id="StartDate" name="StartDate" placeholder="Start Date" style="padding: 6px 12px!important;" />
                <span class="add-on">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            @*</div>
            <div class="col-md-2" style="float:right">*@
            <div class="col-md-6 input-append date OrderDatePicker" style="display:inline-block;padding:0px;">
                @if (Model.EndDate != null)
                {
                    DateTime bd = Model.EndDate.GetValueOrDefault();
                    dateEndStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                }
                <input data-format="MM/dd/yyyy" type="text" class="form-control" id="EndDate" name="EndDate" placeholder="End Date" style="padding: 6px 12px!important;" />
                <span class="add-on">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>

    <div class="q-toolsbar">
        <div class="col-md-6" id="divpaging">
        </div>
        <div class="col-md-6" style="margin-top:20px;">
            @Html.TextBoxFor(m => m.FilterKey, new { @class = "form-control" })
            @*<input type="text" results=5 name=search class="form-control" id="FilterKey" />*@
            <span id="searchclear"><i class="fa fa-times"></i></span>
            @*<div class=" col-md-2">*@
                @Html.DropDownListFor(m => m.FilterField, Model.FilterList, new { @class = "form-control", @id = "FilterField" })
            @*</div>*@
            <button type="submit" class="btn btn-primary" id="btnSearchOrder">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>
    </div>
    @Html.HiddenFor(m => m.OrderType)
}
@*</div>*@

<script type="text/javascript" src="@Url.Content("~/Scripts/SearchOrder.js")"></script>
<script>
    var showTime = 1;
    $(function () {
        $('#StartDate').attr('data-format', 'MM/dd/yyyy');
        $('#EndDate').attr('data-format', 'MM/dd/yyyy');

        $($("#@Model.TabId").find('#StartDate')).val('@dateStartStr');
        $($("#@Model.TabId").find('#EndDate')).val('@dateEndStr');
        if('@Model.FilterField' != ''){
            $($("#@Model.TabId").find('#FilterField')).val('@Model.FilterField');
        }
        $($("#@Model.TabId").find('#FilterKey')).val('@Model.FilterKey');
    });

    $(document).ready(function () {
        if ('@Model.FilterKey' != '') {
            $($("#@Model.TabId").find('#searchclear')).toggle(true);
        }
        else{
            $($("#@Model.TabId").find('#searchclear')).toggle(false);
        }
        $($("#@Model.TabId").find('#FilterKey')).keyup(function () {
            $($("#@Model.TabId").find('#searchclear')).toggle(Boolean($(this).val()));
        });
        $($("#@Model.TabId").find('#searchclear')).click(function () {
            var field = $($("#@Model.TabId").find('#FilterField')).val();
            $($("#@Model.TabId").find('#FilterKey')).val('').focus();
            $(this).hide();
            getInformationPaging(@Model.OrderType,'1', '', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', field, '']);
        });
    });


    @*$($("#@Model.TabId").find('#btnSearchOrder')).click(function () {
        var field = $($("#@Model.TabId").find('#FilterField')).val();
        var key = $($("#@Model.TabId").find('#FilterKey')).val();
        getInformationPaging(@Model.OrderType,'1', '', '', '@Model.TabId',['@Model.StoreKey', '@Model.PaymentStatusKey', '@Model.OrderStatusKey', '@Model.StartDate', '@Model.EndDate', field, key]);
    });*@

    //$('#txtStartDate').change(function () {
    //    var date = $(this).val();
    //    if (validateDateTime(date)) {
    //        var arrDate = date.split("/");
    //        var today = new Date();
    //        useDate = new Date(arrDate[2], arrDate[1] - 1, arrDate[0]);

    //        if (useDate > today) {
    //            alert('Please enter the correct date');
    //            $(this).val('');

    //        }
    //    }
    //    else {
    //        alert("Please enter the correct format date");
    //        $(this).val('');
    //        return false;
    //    }

    //});
    //$('#txtEndDate').change(function () {
    //    var date = $(this).val();
    //    if (validateDateTime(date)) {
    //        var arrDate = date.split("/");
    //        var today = new Date();
    //        useDate = new Date(arrDate[2], arrDate[1] - 1, arrDate[0]);

    //        if (useDate > today) {
    //            alert('Please enter the correct date');
    //            $(this).val('');

    //        }
    //    }
    //    else {
    //        alert("Please enter the correct format date");
    //        $(this).val('');
    //        return false;
    //    }

    //});
    //function validateDateTime(testdate)
    //{
    //    //^(([0]?[1-9]|1[0-2])/([0-2]?[0-9]|3[0-1])/[1-2]\d{3}) (20|21|22|23|[0-1]?\d{1}):([0-5]?\d{1})$
    //    var date_regex = /^\d{2}\/\d{2}\/\d{4}$/;
    //    return date_regex.test(testdate);
    //}

    function checkValidate() {

        // validate Birthday field
        if (birthday.length < 1) {
            $('#ErrBirthday').css('display', 'block');
            check = false;
        } else {
            $('#ErrBirthday').css('display', 'none');
        }
    }
</script>