﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.EmailConfigurationViewModel
<div>
    <div>
      @*<b>@Html.LocalizedLabel("CustomerEmail")</b>*@ 
        <b>Default Email</b> 
    </div>
    <div style="margin-top:10px;" class="col-md-6">
        @*@Html.TextBoxFor(m => m.UserName3)*@
        @*<input value="@Model.UserName" disabled class="form-control" />*@
        <input value="noreply@smoovpos.com" disabled class="form-control" />
        <div style="margin-top:10px;">
            <input value="@Model.defaultEmail" disabled class="form-control" style="width:50%" />
            <button class="btn btn-default" style="margin-left:10px; padding-left: 20px; padding-right: 20px" onclick="ApplyPrivate()">Apply</button>
        </div>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"></div>
    <div style="margin-top:10px;">
        @Html.LocalizedLabel("CustomerEmailDescription")
    </div>

</div>

<script>
    function ApplyPrivate() {
        alert(1);
        var btnApply = document.getElementById("btnApply");
        btnApply.setAttribute("disabled", "disabled");
        var btnTestSend = document.getElementById("btnTestSend");
        btnTestSend.setAttribute("disabled", "disabled");
        //   var id = $('#emailSystem').find(":selected").attr("id");
        //   var indexChoose = parseInt(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ApplyPrivate", "EmailConfiguration")',
            data: { indexChoose: 0 },
            success: function (status) {
                $('#modalApply').modal('show');
                btnApply.removeAttribute("disabled");
                btnTestSend.removeAttribute("disabled");
            },
            error: function (status) {
                btnApply.removeAttribute("disabled");
                btnTestSend.removeAttribute("disabled");
            }

        });
    }
</script>