﻿<style>
    h1, h2, h3 {
        margin-top: 10px !important;
    }

    #menu-tool {
        border-bottom: solid 2px #e2dddd;
        margin-bottom: 20px;
    }

    #content-view {
        border: solid 1px #e2dddd;
        margin-left: 29px;
        padding-bottom: 30px;
    }

    #content-menu {
        margin-left: 40px;
    }

    input {
        max-width: 540px !important;
    }

    label {
        font-weight: normal !important;
    }

    .form-group {
        margin-bottom: 15px;
        margin-top: 10px;
        height: 70px;
    }

    .nav-sidebar .active a,
    .nav-sidebar a:hover {
        margin-right: -10px;
        margin-left: -10px;
    }
    .nav > li > a:hover, .nav > li > a:focus {
        padding-left: 30px;
    }
    .nav-sidebar .active a, .nav-sidebar a:hover{
        padding-left: 30px;
      }
</style>

<ul class="nav nav-sidebar" style="border: solid 1px #e2dddd; background:#31373d;">
    <li class=@(ViewBag.ClassSub == "aboutus" ? "active" : "")>@Html.ActionLink("About Us", "AboutUs", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "contactus" ? "active" : "")>@Html.ActionLink("Contact Us", "ContactUs", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "faqs" ? "active" : "")>@Html.ActionLink("FAQs", "FAQs", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "shippinginfo" ? "active" : "")>@Html.ActionLink("Shipping Information", "ShippingInfo", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "returnexchange" ? "active" : "")>@Html.ActionLink("Return & Exchange", "ReturnExchange", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "privacypolicy" ? "active" : "")>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "termconditions" ? "active" : "")>@Html.ActionLink("Term & Conditions", "TermConditions", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "socialnetwork" ? "active" : "")>@Html.ActionLink("Social Network Link", "SocialNetwork", "WebContent")</li>
    <li class=@(ViewBag.ClassSub == "logoimageslide" ? "active" : "")>@Html.ActionLink("Logo & Images Slide", "LogoImageSlide", "WebContent", null)</li>
    <li class=@(ViewBag.ClassSub == "theme" ? "active" : "")>@Html.ActionLink("Theme", "Theme", "WebContent")</li>
</ul>