﻿@model Com.SmoovPOS.Entity.WebContent

@{

    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
@using (Ajax.BeginForm("SocialNetwork", "WebContent", new AjaxOptions { HttpMethod = "POST" }, new { @encType = "multipart/form-data" }))
{
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-11">
            <h3> Web Content </h3>
        </div>
        <div class="col-xs-6 col-md-1">
            <input type="submit" class="btn btn-primary save" name="Save" value="Save">
        </div>
    </div>
    <div class="row">
        @Html.HiddenFor(model => model._id)
        <div class="col-xs-6 col-md-2" id="content-menu">
            @Html.Partial("MenuLeft")
        </div>
        <div class="col-xs-6 col-md-9" id="content-view">

            <div class="form-group">
                <div class="col-md-10">
                    <label for="name">Facebook</label>
                    <input type="text" class="form-control" id="facebook" name="facebook" value="@Model.socialNetworkLink.facebook" maxlength="500">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="name">Twitter</label>
                    <input type="text" class="form-control" id="twitter" name="twitter" value="@Model.socialNetworkLink.twitter" maxlength="500">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="name">YouTube</label>
                    <input type="text" class="form-control" id="youtube" name="youtube" value="@Model.socialNetworkLink.youtube" maxlength="500">

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <label for="name">Google Plus</label>
                    <input type="text" class="form-control" id="google" name="google" value="@Model.socialNetworkLink.googlePlus" maxlength="500">

                </div>
            </div>
        </div>
    </div>
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-11">
        </div>
        <div class="col-xs-6 col-md-1">
            <input type="submit" class="btn btn-primary save" name="Save" value="Save" style="margin-bottom: 10px;">
        </div>
    </div>
}
<script>
    $('form').submit(function () {
        $(this).find("input[type='submit']").prop('disabled', true);
    });
</script>