﻿@model Com.SmoovPOS.Entity.WebContent
@{
    
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

@using (Ajax.BeginForm("Theme", "WebContent", new AjaxOptions { HttpMethod = "POST" }, new { @encType = "multipart/form-data" }))
{
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-11">
            <h3> Web Content </h3>
        </div>
        <div class="col-xs-6 col-md-1">
            <input type="submit" class="btn btn-primary" id="save" name="Save" value="Save">
        </div>
    </div>
    <div class="row">
        @Html.HiddenFor(model => model._id)
        <div class="col-xs-6 col-md-2" id="content-menu">
            @Html.Partial("MenuLeft")
        </div>
        <div class="col-xs-6 col-md-9" id="content-view">
        
            <div class="form-group">
                <div class="col-md-3">
                    <label for="name">Theme</label>
                </div>
                <div class="col-md-3">
                    <select id="theme" class="form-control" name="theme" >
                        <option value="theme1" @Html.Raw((Model.theme=="theme1") ? "selected=\"selected\"" : "")>Theme 1</option>              
                    </select>
                </div>
                <div class="col-md-3">
                    <input type="button" class="btn btn-primary" id="preview" name="preview" value="Preview" onclick="PreviewTheme()" />
                </div>
            </div>
         </div>
    </div>
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-11">
            
        </div>
        <div class="col-xs-6 col-md-1">
            <input type="submit" class="btn btn-primary" id="save" name="Save" value="Save" style="margin-bottom: 10px;">
        </div>
    </div>
}
<script>    
    function PreviewTheme(){
        var theme = $('#theme').val();
        if (theme == "theme1") {
            
            window.open('@(Model.PrimarySiteAlias)Home/Index?theme=' + theme+'&previewtheme=1', '_blank');
        } else {
            window.open('@(Model.PrimarySiteAlias)Home/Index?theme=' + theme+'&previewtheme=1', '_blank');
        }
    }
    $('form').submit(function () {
        $(this).find("input[type='submit']").prop('disabled', true);
    });
</script>