﻿<div>
    <b>Welcome to SmoovPOS</b>
</div>
<div id="header-mail">

    <label>
        Hi [FirstNameOfMerchant],
    </label>   <div style="margin-top:10px;">
        Thank you for signup with SmoovPos! We're excited to have you join us and start shopping. We look forward to serve you.
    </div>
    <div>
        <div style="margin-top:30px;">
            Thank you,
        </div>
        <div>     SmoovPos Team   </div>
    </div>
</div>

