﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.CollectionViewModel
@{
    ViewBag.Title = @Html.LocalizedLabel("CreateNewCollection");
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    var indexImgDefault = 0;
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}
<style>
    .unlimit {
        margin-top: 30px;
    }

    #searchProduct {
        max-width: none;
    }

    .listproduct {
        height: 235px !important;
    }

    .listproductItem {
        border: 1px solid #D3D2D2;
        height: 200px;
        overflow-y: auto;
    }

    .productItem {
        margin: 10px;
    }

    .buttonApply {
        width: 100px;
        margin-top: 10px;
    }

    .trproduct td {
        vertical-align: inherit;
    }

    .sortCollectiontitle {
        margin-top: 30px;
        color: darkgray;
    }
</style>

<script type="text/javascript" src="~/Scripts/underscore.js"></script>
<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

<link href="~/Content/jquery-ui-datetime.css" rel="stylesheet" type="text/css" />

<div class="q-form">
    @using (Ajax.BeginForm("Create", "Collection", null, new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        Html.AntiForgeryToken();
        @*<div class="q-Collection">*@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model._id)
            <div class="col-md-4">
                <h3><span class="parant-title">Collection / </span>@ViewBag.Title  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary style=" margin-right:5px;" id="btnSubmit">@Html.LocalizedButton("Save")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Collection")'" id="btnCancel">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("CollectionDetail")</h4>
                <p>@Html.LocalizedLabel("CollectionDetailDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id=" " type="hidden" value="" name="logoImg">
                                </div>
                            </div>
                            <div id="lbl_image">
                                <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.name)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @maxlength = 100, @placeholder = @Html.LocalizedLabel("collectionName_placeholder") })
                            @Html.ValidationMessageFor(m => m.name)
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = 5, @maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="q-clear">
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
            <div class="form-horizontal">
                <div class="col-md-4">
                    <h4>@Html.LocalizedLabel("DateRange")</h4>
                    <p>@Html.LocalizedLabel("DateRangeDescription")</p>
                </div>
                <div class="col-md-8">
                    <div class="form-group ">
                        <div class="col-md-5 outer">
                            <div class="inner">
                                @Html.LabelFor(model => model.beginDate)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                <div id="datetimepicker1" class="input-append date">
                                    @Html.TextBoxFor(m => m.beginDate, new { @class = "form-control", @maxlength = 50 })
                                    <span class="add-on" onclick="FocusControl('beginDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    @Html.ValidationMessageFor(m => m.beginDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 outer">
                            <div class="inner">
                                <label><input type="checkbox" id="neverExpires" name="neverExpires" onchange="expires()" value="true" /><strong>&nbsp;Never Expire</strong></label>
                            </div>
                            <div class="inner">
                                <div id="datetimepicker2" class="input-append date">
                                    @Html.TextBoxFor(m => m.endDate, new { @class = "form-control", @maxlength = 50 })
                                    <span class="add-on" onclick="FocusControl('endDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <label id="ErrendDate" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("MSG3")</label>
                                    <label id="ErrendAfter" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("EnddateVSBegindate")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Products")</h4>
                <p>@Html.LocalizedLabel("ProductsDescription")</p>
                <div>
                    <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-default buttonApply" id="buttonApply">Add</button>
                </div>
                <div class="form-group sortCollectiontitle">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.defaultSortProduct)
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.defaultSortProduct, Model.defaultSortList, new { @class = "form-control", @style = "width:270px" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div id="ListProductsApply">
                            <div class="loading" style="display:none">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusCollectionDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant" id="lbl-statusActive">
                                        <input type="radio" name="optionsRadios" id="statusActive" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive">
                                        <input type="radio" name="optionsRadios" id="statusInActive" value="false" class="optionsRadios">
                                        OFF
                                    </label>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary style=" margin-right:5px;" id="btnSubmit1">@Html.LocalizedButton("Save")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Collection")'" id="btnCancel1">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <hr />
            <!-- MODEL Add product-->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Select Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="height:30px !important;">
                            <div><label>Select Category</label></div>
                            <div>

                                <select id="category" name="category" class="form-control">
                                    <option value="all">All categories</option>
                                    @foreach (var cate in Model.listCategories)
                                    {
                                        <option value="@cate._id">@cate.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:60px;">
                            <input type="text" id="searchProduct" name="searchProduct" placeholder="Product name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="checkAll" /> Check all
                        </div>
                        <ul class="form-group listproductItem">
                            @foreach (var prod in Model.listProductItems)
                            {
                                var disableproduct = Model.arrayProduct.Select(l => l._id).ToList().Contains(prod._id) ? "disabled" : "";
                                var message = disableproduct == "disabled" ? "*" : "";
                                <li class="productItem" data-type="@prod.categoryId">
                                    <label><input type="checkbox" id="@prod._id" @disableproduct />&nbsp;&nbsp;@prod.name&nbsp;@message</label>

                                </li>
                            }
                        </ul>
                        <p>*&nbsp;Already in another Collection.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary selectProduct" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            <!-- MODEL  Add product-->
        @*</div>*@

    }
</div>
<script type="text/javascript">
    var selectProduct = [];
    $('#btnSubmit1').click(function (e) {
        $('#btnSubmit').click();
    });
    $('#btnSubmit').click(function (e) {
        var check = true;
        //var checkExpires = $('#neverExpires').is(':checked');
        //if (!checkExpires) {
        //    var beginDate = $('#beginDate').val().trim();
        //    var endDate = $('#endDate').val().trim();
        //    var begin = new Date($('#beginDate').val());
        //    var end = new Date($('#endDate').val());

        //    if (endDate.length < 1) {
        //        $('#ErrendDate').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrendDate').css('display', 'none');
        //        if (end < begin) {
        //            $('#ErrendAfter').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrendAfter').css('display', 'none');
        //        }
        //    }
        //}

        var form = $("#formid");
        var checkForm = form.valid()
        if (checkForm && check) {
            $("#formid").submit();
        }
        else {
            if (checkForm) {
                $('#endDate').focus();
            }

            $('#btnSubmit').button('reset');
            $('#btnSubmit1').button('reset');

            $('button[type=button], .btn-default').each(function () {
                if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                    $(this).removeAttr('disabled');
                }
            });
        }
        return false;
    });
    var countSubmit = 0;
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        var url = '@Url.Action("Index", "Collection")';
                        window.location.href = url;
                        return;
                    },
                    beforeSend: function () {
                        $('#btnSubmit').button('loading');
                        $('#btnSubmit1').button('loading');
                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                    },
                    complete: function () {
                    }
                });

            }
            else {
                //do your success logic
                $('#btnSubmit').button('reset');
                $('#btnSubmit1').button('reset');
                $('button[type=button], .btn-default').each(function () {
                    if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                        $(this).removeAttr('disabled');
                    }
                });
            }
        }
    });

    $(function () {
        $('#defaultSortProduct').val('@SmoovPOS.Common.ConstantSmoovs.Collection.LowestHighest');
        //$("#beginDate").keypress(function (e) {
        //    return false;
        //});
        //$("#endDate").keypress(function (e) {
        //    return false;
        //});
        $('#CollectionValue').maskMoney();
        //var check = $('#neverExpires').is(':checked');
        //if (check) {
        //    $('#datetimepicker2').hide();
        //} else {
        //    $('#datetimepicker2').show();
        //}
        //if ($('#unlimited').is(':checked')) {
        //    $('#timeUse').attr("disabled", "disabled");
        //} else {
        //    $('#timeUse').removeAttr("disabled");
        //}
        $("#CollectionValue").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        //$('#beginDate').datetimepicker({
        //    minDate: 0,
        //    onShow: function (ct) {
        //        this.setOptions({
        //            maxDate: jQuery('#endDate').val() ? jQuery('#endDate').val() : false
        //        })
        //    },
        //    format: 'm/d/Y H:m:s',
        //    timepicker: true
        //});
        //$('#endDate').datetimepicker({
        //    minDate: 0,
        //    onShow: function (ct) {
        //        this.setOptions({
        //            minDate: jQuery('#beginDate').val() ? jQuery('#beginDate').val() : false
        //        })
        //    },
        //    format: 'm/d/Y H:m:s',
        //    timepicker: true
        //});

        filterProducts($("#category").val(), "");

        //$("#checkSubmit1").click(function () {
        //    $("#checkSubmit").click();
        //});

        //$("#checkSubmit").click(function () {
        //    var check = true;
        //    var name = $('#CollectionName').val().trim();
        //    var Collection = $('#CollectionValue').val().trim();
        //    var beginDate = $('#beginDate').val().trim();
        //    var endDate = $('#endDate').val().trim();
        //    var timeUse = $('#timeUse').val().trim();
        //    var begin = new Date($('#beginDate').val());
        //    var end = new Date($('#endDate').val());
        //    if (end < begin) {
        //        $('#ErrendAfter').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrendAfter').css('display', 'none');
        //    }
        //    if (!$('#unlimited').is(':checked')) {
        //        if (timeUse.length < 1) {
        //            $('#ErrtimeUse').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrtimeUse').css('display', 'none');
        //        }
        //    } else { $('#ErrtimeUse').css('display', 'none'); }

        //    if (name.length < 1) {
        //        $('#ErrName').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrName').css('display', 'none');
        //    }
        //    if (Collection.length < 1) {
        //        $('#ErrCollection').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrCollection').css('display', 'none');
        //    }
        //    if (beginDate.length < 1) {
        //        $('#ErrbeginDate').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrbeginDate').css('display', 'none');
        //    }

        //    var checkExpires = $('#neverExpires').is(':checked');
        //    if (!checkExpires) {
        //        if (endDate.length < 1) {
        //            $('#ErrendDate').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrendDate').css('display', 'none');
        //        }
        //    }
        //    //submit form
        //    if (check) {
        //        $('#checkSubmit').prop('disabled', true);
        //        $("#submit").click();
        //    }

        //});

        var selectedProducts = $('.trproduct td input:hidden');

        for (i = 0; i < selectedProducts.length; i++) {
            selectProduct.push(selectedProducts[i].value);
        }

        $("#category").change(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $("#searchProduct").keyup(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $(".listproductItem li input:checkbox").change(function () {
            checkCheckAll();
        });

        $('#myModalEdit').on('hidden.bs.modal', function () {
            $("#searchProduct").val("");
            filterProducts($("#category").val(), $("#searchProduct").val());
            for (var i = 0; i < $(".listproductItem li input:checkbox").length; i++) {
                var checkboxid = $(".listproductItem li input:checkbox")[i].id;
                if (selectProduct.indexOf(checkboxid) > -1) {
                    $("#" + checkboxid).prop('checked', true);
                }
                else {
                    $("#" + checkboxid).prop('checked', false);
                }
            }
            checkCheckAll();
        })

        $('#myModalEdit').on('shown.bs.modal', function () {
            checkCheckAll();
        })

        $('.selectProduct').click(function () {
            selectProduct = []
            var checkedProductsFromModal = $(".listproductItem li input:checked");
            for (var i = 0; i < $(".listproductItem li input:checked").length; i++) {
                var checkboxidFromModal = $(".listproductItem li input:checked")[i].id;
                selectProduct.push(checkboxidFromModal);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectProduct", "Collection")',
                data: {
                    selectProduct: selectProduct
                },
                success: function (result) {
                    $("#ListProductsApply").html(result);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });
        });

        $("#checkAll").change(function () {
            var availableProducts = $(".listproductItem li input:checkbox");
            if ($("#checkAll").is(":checked")) {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = true;
                    }
                });
            }
            else {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = false;
                    }
                });
            }
        });
        //upload image
        var ua = navigator.userAgent.toLowerCase();
        var checkBrowser = function (r) {
            return r.test(ua);
        };
        var isChrome = checkBrowser(/chrome/);
        var isSafari = !isChrome && checkBrowser(/safari/);
        var isSafari2 = isSafari && checkBrowser(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && checkBrowser(/version\/3/);
        var isSafari4 = isSafari && checkBrowser(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image

    });
    function FocusControl(elementID) {
        $('#' + elementID).focus();
    }
    function checkCheckAll() {
        if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length < $(".listproductItem li[style='display: list-item;'] input:enabled").length) {
            $("#checkAll").prop('checked', false);
        }
        else {
            if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length == 0) {
                $("#checkAll").prop('checked', false);
            }
            else {
                $("#checkAll").prop('checked', true);
            }
        }
    }

    function expires() {
        var check = $('#neverExpires').is(':checked');
        if (check) {
            $('#datetimepicker2').hide();
        } else {
            $('#datetimepicker2').show();
        }
    }

    function showProductByCategory(category) {
        $(".listproductItem li").hide();
        $(".listproductItem li[data-type='" + category + "']").show();
    }

    function filterProducts(category, input) {
        $(".listproductItem li").hide();
        if (category == "all") {
            if (input == undefined || (input != undefined && input.trim() == "")) {
                $(".listproductItem li").show();
            }
            else {
                $(".listproductItem li:contains('" + input + "')").show();
            }
        }
        else {
            if (input != undefined && input.trim() != "") {
                $(".listproductItem li[data-type='" + category + "']:contains('" + input + "')").show();
            }
            else {
                $(".listproductItem li[data-type='" + category + "']").show();
            }
        }
    }
    function saveProduct() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectProduct", "Collection")',
            data: {
                id: '',
                selectProduct: selectProduct
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        });
    }
    function deleteProduct(self) {
        var product_id = $(self).parents("tr").find("input:hidden")[0].value;
        var indexItem = selectProduct.indexOf(product_id);
        selectProduct.splice(indexItem, 1);
        $(".listproductItem li input:checkbox").filter("[id='" + product_id + "']").attr('checked', false);
        $(self).parents("tr").remove();

        $('#ListProductsApply').removeAttr('style');
        if (selectProduct.length > 10) {
            $('#ListProductsApply').attr('style', 'max-height:700px;overflow-y:scroll;');
        }
    }

    function getTodaysDate(val) {
        var t = new Date, day, month, year = t.getFullYear();
        if (t.getDate() < 10) {
            day = "0" + t.getDate();
        }
        else {
            day = t.getDate();
        }
        if ((t.getMonth() + 1) < 10) {
            month = "0" + (t.getMonth() + 1 - val);
        }
        else {
            month = t.getMonth() + 1 - val;
        }

        return (day + '/' + month + '/' + year);
    }

    $.expr[":"].contains = $.expr.createPseudo(function (arg) {
        return function (elem) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }
    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }
</script>
