﻿@model IEnumerable<Com.SmoovPOS.Entity.SmallProductItem>
<style>
    .table tr:nth-child(even) {
        background: #f9f9f9;
    }

    .table tr:nth-child(odd) {
        background: #FFF;
    }

    .group-image {
        height: 50px;
        width: 77px;
        background-color: transparent;
        text-align: center; /* optional */
    }

    .portrait img {
        width: 100%;
        max-height: 50px;
    }

    .landscape img {
        height: 100%;
        max-width: 77px;
    }
</style>
<table class="table table-curved">
    @if (Model != null && Model.Count() > 0)
    {
        <tr>
            <th width="100px"></th>
            <th>Product</th>
            <th width="30%">Category</th>
            <th width="100px"></th>
        </tr>
        foreach (var prod in Model)
        {
            <tr class="trproduct">
                <td style="text-align:right">
                    @{
            var imageUrl = Url.Content("~/Content/Images/imageDefault.png");
            System.Drawing.Size size = new System.Drawing.Size(0, 0);
            System.Drawing.Image image = null;
            if (string.IsNullOrEmpty(prod.urlImageProduct) || imageUrl == prod.urlImageProduct)
            {
                try
                {
                    image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                }
                catch
                {
                    image = null;
                }
            }
            else
            {
                Uri uri = null;
                if (Uri.TryCreate(prod.urlImageProduct, UriKind.Absolute, out uri))
                {
                    imageUrl = prod.urlImageProduct;
                }
                try
                {
                    WebRequest request = WebRequest.Create(imageUrl);
                    WebResponse response = request.GetResponse();
                    image = System.Drawing.Image.FromStream(response.GetResponseStream());
                }
                catch
                {
                    image = null;
                }
            }
            if (image != null)
            {
                size.Width = image.Width;
                size.Height = image.Height;
                size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S);
            }

            //Console.WriteLine("Image size: {0}x{1}", image.Width, image.Height);

                    }
                    <div style="width:80px;height:auto;text-align:center;background-color: white;">
                        @if (size.Width > 0 && size.Height > 0)
                        {
                            <img src="@imageUrl" width="@size.Width" height="@size.Height" />
                        }
                        else
                        {
                            <img src="@imageUrl" width="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S" height="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S" />
                        }
                    </div>
                </td>
                <td style="vertical-align:inherit">@prod.name</td>
                <td style="vertical-align:inherit">
                    @prod.categoryName
                </td>
                <td style="vertical-align:inherit;">
                    <button type="button" class="btn btn-danger" onclick="deleteProduct(this)">Remove</button>
                    <input type="hidden" name="product" id="product" value="@prod._id" />
                </td>
            </tr>
        }
    }
    else
    {
        <caption>There aren't product.</caption>
    }
</table>
<script type="text/javascript">
    $('#ListProductsApply').removeAttr('style');
    if (@Model.Count() > 10) {
        $('#ListProductsApply').attr('style','max-height:700px;overflow-y:scroll;');
    }
</script>
@*<script>
        var itemcount = @Model.discount.ListProductItems.Count();
        var defaultNumberItem = 4;
        $(document).ready(function () {

            $('.trproduct').hide();
            LoadMoreProduct(0);

            $('#load-more').click(function () {
                var nextstep = parseInt($('#load-more').attr("step"));
                LoadMoreProduct(nextstep);
                $('#load-more').attr("step") + 1;
            })

            if (itemcount <= defaultNumberItem){
                $('#load-more').hide();
            }
        })

        function LoadMoreProduct(step) {
            for (var i = 1; i <= defaultNumberItem; i++) {
                var itemid = step * defaultNumberItem + i;
                console.log($('.trproduct[title="' + itemid + '"]'));
                if (step == 0) {
                    $('.trproduct[title="' + itemid + '"]').fadeIn();
                }
                else {
                    $('.trproduct[title="' + itemid + '"]').slideDown(1000);
                }
            }
        }
    </script>*@