﻿.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
	font: 14px Helvetica, Arial, Sans-Serif;
    padding:0px;
    background-color:transparent;
  margin-left:10px;
}
.breadcrumb li { 
	float: left; 
   
    height:100%;
}
.breadcrumb li a {
	color: #333;
	text-decoration: none; 
	padding: 10px 0 10px 35px;
   
	background: brown;                   /* fallback color */
	background: hsla(0,0%,94%,1); 
	position: relative; 
	display: block;
	float: left;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid hsla(0,0%,94%,1);
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}
.breadcrumb li:first-child a {
	padding-left: 10px;
    margin-left:10px;
}
    .breadcrumbActive li a {
        color: white;
    }
/*.breadcrumb li:nth-child(2) a       { background:        hsla(0,1%,45%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(0,1%,45%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(0,1%,55%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(0,1%,55%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(0,1%,65%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(0,1%,65%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(0,1%,75%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(0,1%,75%,1); }


.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(0,0%,94%,1); }*/

/*.breadcrumb li a:hover { background: hsla(34,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(34,85%,25%,1) !important; }*/

/*.breadcrumb .breadcrumbActive a{ background: hsla(0,1%,24%,1)!important; }
.breadcrumb .breadcrumbActive a:after { border-left-color: hsla(0,1%,24%,1) !important; }*/
/*.breadcrumb .breadcrumbActive a{ background: hsla(200,100%,35%,1)!important; }
.breadcrumb .breadcrumbActive a:after { border-left-color: hsla(200,100%,35%,1) !important; }
.breadcrumbActive li:nth-child(2) a       { background:        hsla(200,100%,45%,1) !important; }
.breadcrumbActive li:nth-child(2) a:after { border-left-color: hsla(200,100%,45%,1) !important; }
.breadcrumbActive li:nth-child(3) a       { background:        hsla(200,100%,55%,1) !important; }
.breadcrumbActive li:nth-child(3) a:after { border-left-color: hsla(200,100%,55%,1) !important; }
.breadcrumbActive li:nth-child(4) a       { background:        hsla(200,100%,65%,1) !important; }
.breadcrumbActive li:nth-child(4) a:after { border-left-color: hsla(200,100%,65%,1) !important; }
.breadcrumbActive li:nth-child(5) a       { background:        hsla(200,100%,75%,1) !important; }
.breadcrumbActive li:nth-child(5) a:after { border-left-color: hsla(200,100%,75%,1) !important; }*/

.breadcrumb .breadcrumbActive a{ background: hsla(208,56.2%,52.5%,1)!important; color: white; }
.breadcrumb .breadcrumbActive a:after { border-left-color: hsla(208,56.2%,52.5%,1) !important; }
/*.breadcrumb .breadcrumbActive1 a{ background: hsla(208,56.2%,52.5%,1)!important; color: white; }
.breadcrumb .breadcrumbActive1 a:after { border-left-color: hsla(208,56.2%,52.5%,1) !important; }

.breadcrumbActive2 a       { background:        hsla(208,56.2%,62.5%,1) !important; color: white;}
.breadcrumbActive2 a:after { border-left-color: hsla(208,56.2%,62.5%,1) !important;  }
.breadcrumbActive3 a       { background:        hsla(208,56.2%,72.5%,1) !important; color: white;}
.breadcrumbActive3 a:after { border-left-color: hsla(208,56.2%,72.5%,1) !important; }
.breadcrumbActive4 a       { background:        hsla(208,56.2%,82.5%,1) !important; color: white;}
.breadcrumbActive4 a:after { border-left-color: hsla(208,56.2%,82.5%,1) !important; }
.breadcrumbActive5 a       { background:        hsla(208,56.2%,92.5%,1) !important; color: white;}
.breadcrumbActive5 a:after { border-left-color: hsla(208,56.2%,92.5%,1) !important; }*/


.breadcrumb .breadcrumbActiveRed a{ background: hsla(0,100%,50%,1)!important; }
.breadcrumb .breadcrumbActiveRed a:after { border-left-color: hsla(0,100%,50%,1) !important; }
