﻿ .btnFontBlue{
         float: left;
        display: block !important;
        color: #0094ff;
        background-color: #ffffff;
        border-color: #0094ff;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #D9DDE0;
        /*border-radius: 4px;*/
        -webkit-user-select: none;
    }