﻿@media print {  

   h4 {
        page-break-after: avoid;
    }

    pre, blockquote {
        page-break-inside: avoid;
    }
    .q-toolsbar{
        margin-top:-150px;
        padding-top:0px;
    }
html, body {
    width: 210mm;
    height: 297mm;
  }
}
/*.page{
    height:947px;
    padding-top:5px;
     margin-top:-150px;
    page-break-after : always;   
    font-family: Arial, Helvetica, sans-serif;
    position:relative;
   border-bottom:1px solid #000;

  }*/
@page {
margin: 0.5cm;
}

/*body {
font: 12pt Georgia, "Times New Roman", Times, serif;
line-height: 1.3;
}
h1 {
font-size: 24pt;
}

h2 {
font-size: 14pt;
margin-top: 25px;
}

aside h2 {
font-size: 18pt;
}
blockquote, ul {
margin: 0;
}
ul {list-style: none}
li {
content: "» ";
}*/
h2 , h3 {
font-size: 12pt;
margin-top: 15px;
}

a:link:after, a:visited:after {
    content: "";
}
#divCustomer
{
    height:auto;
}
   hr{
      border-top: 0px solid #D9DDE0;
        
    }