﻿@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<h2>@ViewBag.Title</h2>
<hr />
<h5><span>If you have any queries or would like to give us some feedback, drop us a message below. We will get back to you as soon as possible.</span></h5>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
    function getLocation()
    {
        if (navigator.geolocation)
        {
            navigator.geolocation.getCurrentPosition(showPosition,showError);
        }
    }

    function showPosition(position)
    {
        var latlon=position.coords.latitude+","+position.coords.longitude;

        var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
        +latlon+"&zoom=14&size=400x300&sensor=false";
        document.getElementById("map").innerHTML="<img src='"+img_url+"'>";
    }

    function showError(error)
    {
        switch(error.code) 
        {
            case error.PERMISSION_DENIED:
                doc.innerHTML="Request for Geolocation denied by the user."
                break;
            case error.POSITION_UNAVAILABLE:
                doc.innerHTML="Unavailable location information."
                break;
            case error.TIMEOUT:
                doc.innerHTML="Location request timed out."
                break;
            case error.UNKNOWN_ERROR:
                doc.innerHTML="UNKNOWN_ERROR."
                break;
        }
    }
    //getLocation();
    </script>



<div class="row" id="contact-us">
    <div class="col-md-6">
        @*<h4>
            Our Address
        </h4>
        <div id="map"></div>
        <h4>
            Store Name
        </h4>*@
        <h3>@(Html.Raw(ViewBag.contactUs))</h3>
    </div>
    <div class="col-md-6">
        <form role="form">
            <div class="form-group">
                <label for="name">Your name: *</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="address">Your email address: *</label>
                <input type="text" class="form-control" id="address" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="phone_number">Your phone number:</label>
                <input type="text" class="form-control" id="phone_number" placeholder="Enter phone number">
            </div>
            <div class="form-group">
                <label for="phone_number">Message: *</label>
                <textarea class="form-control" rows ="10" name="message">

                </textarea>
            </div>
            <button type="button" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>



