﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/" + ViewBag.theme + "_Home.cshtml";
}
<div class="blog-header">
    <h1 class="blog-title">The Bootstrap Blog</h1>
    <p class="lead blog-description">Vestibulum ante ipsum primis in fauorci luctus et ultrices poues cubillia Curae, Suspendisse sollicitudin velit sed leo. DUis aute irure dolor inreprehenderit in volutate velit esse cillium dolore eu fugiat nulla paria tur. Excepteur sint occaecat cupidatat non proident..</p>
</div>