﻿@model Com.SmoovPOS.Entity.VarientItem

<fieldset>
    <div>
        <label>
            <input type="checkbox" id="chkMultipleOption"> This product has multiple options</>
        </label>
        <div class="options">
            <table id="container" style="width:100%">
                <tr>
                    <th width="30%"><label for="optionName" style="margin-top:10px;">Option name</label></th>
                    <th width="60%"><label for="tag" style="margin-top:10px;">Option value *</label></th>
                    <th width="10%" />
                </tr>
                @Html.EditorFor(model => model.VariantOptionList)
            </table>
            <hr />
            <input type="button" id="btnAdd" class="btn btn-default" value="Add another option" />
        </div>
    </div>
</fieldset>

<script>
    var MaxVariantOption = '@SmoovPOS.Common.Constants.Product.MaxVariantOption';
    var SepVariantOption = '@SmoovPOS.Common.Constants.Product.SepVariantOption';
    var AddNewVariantOption = '@SmoovPOS.Common.Constants.Product.AddNewVariantOption';

    $(document).ready(function () {
        AddNewOption();
        $("div .options").hide();
    });

    $("#chkMultipleOption").click(function (e) {
        if (e.currentTarget.checked) {
            $("div .options").show();
        } else {
            $("div .options").hide();
        }
    });

    $("#btnAdd").click(function (e) {
        AddNewOption();
    });

    function AddNewOption() {
        var itemIndex = (parseInt($("#container input.iOptionHidden:last").val()) || 0) + 1;
        var selectedOptionList = $("#container select option:selected");
        var selectedOptions = [];
        $.each(selectedOptionList, function (i, value) {
            selectedOptions.push(value.textContent);
        });

        var formData = {
            index: itemIndex,
            selectedOptions: selectedOptions
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateVariantOption", "Product")',
            data: formData,
            success: function (data) {
                $("#container").append(data);
                DropDownListBiz();
            }
        });
    }

    function DropDownListBiz(event) {
        if (event != undefined) {
            if (event.currentTarget.value == AddNewVariantOption) {
                $(event.currentTarget).next("input")[0].value = "";
                $(event.currentTarget).next("input").show();
            } else {
                $(event.currentTarget).next("input").hide();
            }
        }

        var dropdownList = $("#container select");
        var selectedOptionList = $("#container select option:selected");
        var selectedOptions = [];
        $.each(selectedOptionList, function (i, value) {
            selectedOptions.push(value.textContent);
        });

        $.each(dropdownList, function (i, dropdown) {
            $(dropdown).find("option").each(function (j, option) {
                if (option.textContent != SepVariantOption && option.textContent != AddNewVariantOption) {
                    if (option.selected) {
                        $(option).prop("disabled", false);
                    }
                    else if ($.inArray(option.textContent, selectedOptions) > -1) {
                        $(option).prop("disabled", true);
                    }
                    else {
                        $(option).prop("disabled", false);
                    }
                }
            });
        });

        if (dropdownList.length == MaxVariantOption) {
            $("#btnAdd").hide();
        }
        if (dropdownList.length > 1) {
            $(".img-remove-option").show();
        } else {
            $(".img-remove-option").hide();
        }
    }

    function DeleteVariantOption(trId) {
        $("#" + trId).remove();
        DropDownListBiz();
        $("#btnAdd").show();
    }
</script>
