﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using Com.SmoovPOS.Entity
@model IEnumerable<ProductItem>

@{
    ViewBag.Title = "Distribution ";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    ProductItem masterProductItem = Model.FirstOrDefault(m => m.store == "Master");
    string styledivleft = masterProductItem.arrayVarient != null && masterProductItem.arrayVarient.Count > 8 ? "overflow-y:auto;height:700px;" : "";
}

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@ViewBag.Title / @masterProductItem.title</h3>
    </div>
    <div class="col-md-8">
        <input type="button" value="@Html.LocalizedButton("Update")" class="btn btn-primary update" style="margin-left:auto" onclick="UpdateQuantity();" />
        <input type="button" value="@Html.LocalizedButton("UpdateClose")" class="btn btn-primary updateAndClose" style="margin-left:auto" onclick="UpdateQuantity(true);" />
        @*<button class="btn btn-primary update" onclick="UpdateQuantity();">Update</button>
    <button class="btn btn-primary updateAndClose" onclick="UpdateQuantity(true);">Update & Close</button>*@
        <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-default">Cancel</button>
    </div>
</div>
<div class="q-clear">
</div>
<div class="q-toolsbar" id="divMessage" style="height:25px;">
    @Html.ValidationSummary()
</div>
<div class="q-clear">
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2; " /></div>
<div class="q-content" ng-app="distribution" ng-controller="distributeController">
    <div class="col-md-3" style="@styledivleft">
        <div class="form-group ">
            <ul id="listVarient">
                @{try
                {
                    foreach (var item in masterProductItem.arrayVarient)
                    {
                        <li ng-click="setShowList('@item._id')" id="@item._id">
                            <div style="font-weight: bold;" class="styleVarriant">@item.title @(!string.IsNullOrEmpty(item.color) ? " - " + item.color : "") @(!string.IsNullOrEmpty(item.size) ? " - " + item.size : "")</div>
                            <div class="styleVarriant">SKU: @item.sku</div>
                            <div class="styleVarriant masterQuantity">@(item.quantity == -1 ? "N/A" : item.quantity.ToString() + " items") <span class="price">@ViewBag.currency @item.price</span></div>
                        </li>
                    }
                }
                catch { }
                }
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        @{try
        {
            foreach (var varient in masterProductItem.arrayVarient)
            {
                <div ng-show="showList=='@varient._id'" id="varientID_@varient._id">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-3 styleLetter">
                            <span class="countNumberAbove" style="min-width:150px;">MASTER INVENTORY</span>
                            <span class="countNumberUnder currentMasterQuatity">@(varient.quantity == -1 ? "N/A" : varient.quantity.ToString())</span>
                        </div>
                        <div class="col-md-3 styleLetterChange">
                            <span class="countNumberAbove">CHANGED</span>
                            <span class="countNumberUnder changedQuantity" id="numberChange">0</span>
                        </div>
                    </div>
                    <div class="row">
                        <table class="table">
                            <tr class="styletr">
                                <th>Store</th>
                                <th>Current Quantity</th>
                                <th><span>New Quantity</span></th>

                                <th>Active</th>
                            </tr>
                            @{
                var list = Model.OrderBy(m => m.index);
                int indexOfProduct = 0;
                            }
                            @foreach (var productItem in list)
                            {
                                if (@productItem.store != "Master")
                                {
                                    var varientItem = productItem.arrayVarient.FirstOrDefault(r => r._id == varient._id);

                                    var policy = productItem.inventoryPolicy;
                                    var quantityItem = varientItem.quantity == -1 ? "N/A" : varientItem.quantity.ToString();
                                    var statusItem = varientItem.status ? "true" : "false";
                                    var nameVarien = varient._id + "_" + indexOfProduct.ToString();
                                    <tr>
                                        <td><a class="businessID" onclick="location.href='@Url.Action("ListProduct", "Inventory", new { store = @productItem.index })'">@productItem.store</a></td>
                                        <td><span class="currentQuantity">@quantityItem</span></td>
                                        <td><input type="text" class="changeQuantity" @(varientItem.quantity == -1 ? "disabled" : "") /></td>
                                        <td>
                                            @try
                                            {
                                                <input type="hidden" id="hidden-@nameVarien" value="@statusItem" class="activeStatus" />
                                                <input type="hidden" id="store-@nameVarien" value="@productItem.store" />
                                                <div class="btn-group" data-toggle="buttons">
                                                    <label class="btn btn-default @(varientItem.status == true ? "active":"") statusMerchant" id="lbl-statusActive-@nameVarien">
                                                        <input type="radio" name="@nameVarien" id="statusActive-@nameVarien" value="true" class="optionsRadios" />
                                                        ON
                                                    </label>
                                                    <label class="btn btn-default @(varientItem.status == false ? "active":"") statusMerchant" id="lbl-statusInActive-@nameVarien">
                                                        <input type="radio" name="@nameVarien" id="statusInActive-@nameVarien" value="false" class="optionsRadios" />
                                                        OFF
                                                    </label>
                                                </div>
                                            }
                                            catch (Exception) { }
                                            @*<input type="checkbox" class="activeStatus" defaultstatus="@statusItem" @statusItem />*@
                                        </td>
                                    </tr>
                                            indexOfProduct = indexOfProduct + 1;
                                }

                            }

                        </table>
                        @*<div class="col-md-12 tableStore">

                            </div>*@
                    </div>
                </div>
            }
        }
        catch { }
        }
    </div>
</div>
<div class="clearfix"></div>
<div class="q-toolsbar">
    <div class="col-md-4">
      
    </div>
    <div class="col-md-8">
        <input type="button" value="@Html.LocalizedButton("Update")" class="btn btn-primary update" style="margin-left:auto" onclick="UpdateQuantity();" />
        <input type="button" value="@Html.LocalizedButton("UpdateClose")" class="btn btn-primary updateAndClose" style="margin-left:auto" onclick="UpdateQuantity(true);" />
        <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-default">Cancel</button>
    </div>
</div>
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>
<script>
    jsCollectionItem = {};
    isDismiss = "False";
    var elems = document.querySelectorAll('.optionsRadios');
    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:25 PM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCollectionItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCollectionItem["position"]);
        if (jsCollectionItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCollectionItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCollectionItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:24 PM</datetime>
    function confirmUpdate() {

        setStatus(jsCollectionItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCollection = element.value == "true" ? true : false;
        var yesNo;
        var idCollection = element.getAttribute("name");

        $('#hidden-' + idCollection).val(statusCollection);
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateStatusCollection", "Collection")',
            data: {
                id: idCollection,
                status: statusCollection
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });*@
    }
    function setResizeWindow() {
        var viewportWidth = $(window).width();
        var viewportHeight = $(window).height();
        //if (viewportWidth < 1080) {
        //    $('.price').attr('style', 'margin-top: -30px;');
        //}
        //else {
        //    $('.price').removeAttr('style');
        //}
    }
    $(window).resize(function () {
        setResizeWindow();
    });

    $(function () {
        setResizeWindow();
        if (isMobile.iOS) {
            //$('.price').attr('style','margin-top: -10px;');
        }

        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {
                jsCollectionItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsCollectionItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCollectionItem.position = this.getAttribute('id').toString();
                    var name = this.getAttribute('name').toString();
                    var storeName = $('#store-' + name).val();

                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveProductOn")' + ' ' + storeName + '?');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveProductOn")' + ' ' + storeName + '?');

                    }

                    $('#modalInactive').modal();
                }
            };

        }


        $(".changeQuantity").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });
    var myApp = angular.module('distribution', []);
    myApp.controller('distributeController', ['$scope', '$http',
      function ($scope, $http) {
          $scope.showList = $("#listVarient").find("li")[0].id;
          if ($scope.showList != '') {
              $("#" + $scope.showList).attr("class", "click");
          }
          $scope.lines = [$scope.showList];
          currentVarientID = $scope.showList;

          $scope.setShowList = function (varientID) {
              $scope.showList = varientID;
              $("#" + varientID).removeAttr("class");
              $("#" + varientID).attr("class", "click");
              if ($scope.lines.indexOf(varientID) < 0) {
                  $scope.lines.push(varientID);
              }
              for (var i = 0; i < $scope.lines.length; i++) {
                  if ($scope.lines[i] != varientID) {
                      $("#" + $scope.lines[i]).attr("class", "unclick");
                      $('#varientID_' + varientID).find(".changeQuantity").val('');
                      //$('#varientID_' + varientID).find(".activeStatus[defaultstatus='checked']").prop('checked', true);
                      //$('#varientID_' + varientID).find(".activeStatus[defaultstatus='']").removeAttr('checked');
                  }
              }
              currentVarientID = varientID;
          };
      }
    ]);
    function disableButton(isClose) {
        $('.updateAndClose').prop('disabled', true);
        $('.update').prop('disabled', true);
        if (isClose) {
            $('.updateAndClose').prop('value', 'Saving...');
        }
        else {
            $('.update').prop('value', 'Saving...');
        }
    }
    function enableButton() {
        $('.updateAndClose').prop('disabled', false);
        $('.update').prop('disabled', false);
        $('.updateAndClose').prop('value', 'Update & Close');
        $('.update').prop('value', '@Html.LocalizedButton("Update")');
    }
    var currentVarientID;
    function UpdateQuantity(isClose) {
        disableButton(isClose);
        var businessIDs = $('#varientID_' + currentVarientID).find(".businessID");
        var currentQuantities = $('#varientID_' + currentVarientID).find(".currentQuantity");
        var changeNumbers = $('#varientID_' + currentVarientID).find(".changeQuantity");
        var statuses = $('#varientID_' + currentVarientID).find(".activeStatus");

        var businessIDValues = [];
        var changeNumberValues = [];
        var statuseValues = [];
        $.each(changeNumbers, function (i, value) {
            businessIDValues.push(businessIDs[i].textContent);
            changeNumberValues.push(value.value == "" ? 0 : ((parseInt(value.value) || 0) - (parseInt(currentQuantities[i].textContent) || 0)));

            //className: "activeStatus"
            statuseValues.push(statuses[i].value);
        });

        var formData = {
            productID: "@masterProductItem.productID",
            varientID: currentVarientID,
            businessIDs: businessIDValues,
            changeNumbers: changeNumberValues,
            statuses: statuseValues
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateQuantity", "ProductItem")',
            data: formData,
            success: function (data) {
                var errorMsgPanel = $('.validation-summary-valid, .validation-summary-errors');
                if (data.IsSuccess) {
                    if (isClose) {
                        window.location.href = '@Url.Action("Index", "Product")';
                        enableButton();
                    } else {
                        errorMsgPanel.removeClass("validation-summary-errors");
                        errorMsgPanel.addClass("validation-summary-valid");

                        var messagePanel = $("#divMessage");
                        messagePanel.html("<li style='color:blue'>" + data.Message + "</li>");
                        //setTimeout(function () {
                        //    messagePanel.children("li:first").fadeOut(1000, function () { $(this).remove(); });
                        //}, 1000);

                        var sumChangedValues = changeNumberValues.reduce(function (a, b) { return a + b; });

                        //Update total of Master
                        var currentMasterQuantityControl = $("#varientID_" + currentVarientID + " .currentMasterQuatity")[0];
                        var total = (parseInt(currentMasterQuantityControl.textContent) || 0) - sumChangedValues;
                        if (currentMasterQuantityControl.textContent != "N/A") {
                            currentMasterQuantityControl.textContent = total;
                        }

                        //Update total on left hand
                        var leftMasterQuantityControl = $("#" + currentVarientID + " .masterQuantity")[0];
                        leftMasterQuantityControl.innerHTML = (total >= 0 ? total + " items" : "N/A") + leftMasterQuantityControl.innerHTML.substring(leftMasterQuantityControl.innerHTML.indexOf('<'));

                        //Update changed quantity
                        var changedQuantityControl = $("#varientID_" + currentVarientID + " .changedQuantity")[0];
                        changedQuantityControl.textContent = sumChangedValues >= 0 ? "" + sumChangedValues + "" : "- " + Math.abs(sumChangedValues) + "";

                        //Update current quantity
                        var changeNumbersStore = $('#varientID_' + currentVarientID).find(".changeQuantity:enabled");
                        $.each(changeNumbersStore, function (i, value) {
                            currentQuantities[i].textContent = ((parseInt(currentQuantities[i].textContent.split(" ")[0]) || 0) + changeNumberValues[i])
                                + (changeNumberValues[i] >= 0 ? " (+" + changeNumberValues[i] + ")" : " (-" + Math.abs(changeNumberValues[i]) + ")");
                            changeNumbers[i].value = "";
                        });

                        $.each(statuses, function (i, value) {
                            value.setAttribute("defaultstatus", statuses[i].checked == true ? "checked" : "");
                        });
                        enableButton();
                        UpdateStepUpdateProfile();
                    }

                } else {
                    enableButton();
                    errorMsgPanel.addClass("validation-summary-errors");
                    errorMsgPanel.removeClass("validation-summary-valid");
                    $(".validation-summary-errors").html("<li class='errs'>" + data.Message + "</li>");
                }
            },
            error: function (data) {
                enableButton();
                // alert(data);
                return false;
            }
        });
    }

    function UpdateStepUpdateProfile() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CountStepCompleted", "General")',
            data: {},
            success: function (data) {
                if (data == 5) {
                    $('.badge').css("display", "none");
                } else {
                    $('.badge').text(data + "/5");
                }
            },
            error: function (data) {

            }
        });
    }
</script>
