﻿@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}
@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.Customer.CustomerViewModel

<script type="text/javascript" src="~/Scripts/moment.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>

@*@using (Html.BeginForm("EditProfile", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
    {*@
@using (Ajax.BeginForm("EditProfile", "Customer", new SmoovPOS.UI.Models.Customer.CustomerViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
{
    <div class="q_form_myProfile">
        <div class="row">
            <div class="col-md-12 s-title">
                <h3>@Html.LocalizedLabel("EditInformation")</h3>
                <p style="margin-left: 265px;"></p>
            </div>
        </div>
        <div class="s_edit_profile">
            @Html.HiddenFor(model => model.email)
            @Html.HiddenFor(model => model._id)
            @Html.HiddenFor(model => model.status)
            @Html.HiddenFor(model => model.display)
            @Html.HiddenFor(model => model.password)

            <div class="row">
                <div class="col-md-5">
                    <label>@Html.LocalizedLabel("FirstName") *</label>
                    @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", maxlength = "50", placeholder = Html.LocalizedLabel("FirstName") })
                    <div id="ErrFirstNameRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrFirstNameRequired") </div>
                </div>
                <div class="col-md-5">
                    <label>@Html.LocalizedLabel("LastName")</label>
                    @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", maxlength = "50", placeholder = Html.LocalizedLabel("LastNameOptional") })
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <label>@Html.LocalizedLabel("Gender") </label>
                    <select class="form-control" name="gender" id="gender">
                        <option @(Model.gender == 2 ? " selected" : " ") value="2">Select Gender</option>
                        <option @(Model.gender == 1 ? " selected" : " ") value="1">Male</option>
                        <option @(Model.gender == 0 ? " selected" : " ") value="0">Female</option>
                    </select>
                </div>
                <div class="col-md-5">
                    <label>@Html.LocalizedLabel("DoB") </label>
                    <div id="datetimepicker1" class="input-append date">
                        @Html.TextBoxFor(m => m.birthday, new { @class = "form-control", maxlength = "50", placeholder = Html.LocalizedLabel("DateFormat") })
                        @*<span class="glyphicon glyphicon-calenda"></span>*@
                        <div id="ErrBirthdayRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrBirthdayRequired")</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="col-md-4 none_padding_left_right" style="padding-right: 10px;">
                        <label>@Html.LocalizedLabel("Phone") *</label>
                        @Html.TextBoxFor(m => m.phoneRegion, new { @class = "form-control", maxlength = "50", placeholder = "+65" })
                    </div>
                    <div class="col-md-8 none_padding_left_right"><label>&nbsp</label>@Html.TextBoxFor(m => m.phone, new { @class = "form-control", maxlength = "50", placeholder = Html.LocalizedLabel("MobileNumber") })</div>
                    <div id="ErrPhoneNumberRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrPhoneNumberRequired")</div>
                </div>
                <div class="col-md-5">
                    <label>@Html.LocalizedLabel("country") *</label>
                    <select class="form-control" name="country">
                        @foreach (var item in Model.arrCountry.arrayCountry)
                        {
                            <option @(item.Equals(Model.country) ? " selected" : "") value="@item">@item</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="Country">@Html.LocalizedLabel("TimeZone")  </label>
                        <select class="form-control" name="timeZoneFullName">
                            @{
                                foreach (var item in Model.listDefaultTimeZones)
                                {
                                    string value = item.Key.ToString();
                                    <option @(value.Contains(Model.timeZoneFullName) ? " selected" : "") value="@value">@item.Key @item.Value</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <label>@Html.LocalizedLabel("Address") *</label>
                    @Html.TextBoxFor(m => m.address, new { @class = "form-control", maxlength = "50", placeholder = Html.LocalizedLabel("Address") })
                    <div id="ErrAddressRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrAddressRequired")</div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    @Html.TextBoxFor(m => m.city, new { @class = "form-control", maxlength = "50", placeholder = "City" })
                    <div id="ErrCityRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrCityRequired")</div>
                </div>
                <div class="col-md-5">
                    <div class="col-md-7 none_padding_left_right" style="padding-right: 10px;">
                        @Html.TextBoxFor(m => m.state, new { @class = "form-control", maxlength = "50", placeholder = @Html.LocalizedLabel("StateOptional") })
                    </div>
                    <div class="col-md-5 none_padding_left_right">
                        @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control", maxlength = "50", placeholder = "Postal Code" })
                        <div id="ErrZipCodeRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrZipCodeRequired")</div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10">
                    <label>@Html.LocalizedLabel("Promos") *</label><br />
                    <div class="col-md-5">
                        @Html.CheckBoxFor(m => m.acceptsNewsletter) @Html.LocalizedLabel("AcceptNewsletter")
                    </div>
                    <div class="col-md-5">
                        @Html.CheckBoxFor(m => m.acceptsSms) @Html.LocalizedLabel("AcceptSms")
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 s_button">
                    <br />
                    <button type="button" class="btn btn-save submit">@Html.LocalizedLabel("Save")</button>
                    <button type="button" class="btn btn-cancel" onclick="location.href = '@Url.Action("MyProfile", "Customer", new { email=Model.email })'">@Html.LocalizedLabel("Cancel") </button>

                </div>
            </div>
            <div class="loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
}

<script>
    jQuery(document).ready(function ($) {

        $("#birthday").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || e.which == 43)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#phoneRegion").keypress(function (e) {
            if (e.which == 43) {
                return true;
            } else {
                //if the letter is not digit then display error and don't type anything
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57 || e.which == 43)) {
                    //display error message
                    //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            }

        });
        $("#phone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#zipCode").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

        $(function () {
            var picker = $('#datetimepicker1').datetimepicker({
                language: 'pt-BR',
                maxDate: new Date(),
                format: 'MM-DD-YYYY',
            });
        })

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit()
            }
        });
        $('.submit').click(function () {
            validateBeforeSubmit()
        })
        function validateBeforeSubmit() {
            var check = true;
            check = Validation();
            if (check) {
                $('#formid').submit();
            }
        }

        function Validation() {
            var check = true;
            var FirstName = $('#firstName').val().trim();
            var Birthday = $('#birthday').val().trim();
            var Address = $('#address').val().trim();
            var City = $('#city').val().trim();
            var ZipCode = $('#zipCode').val().trim();
            var PhoneRegion = $('#phoneRegion').val().trim();
            var Phone = $('#phone').val().trim();

            if (FirstName.length < 1) {
                $('#ErrFirstNameRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrFirstNameRequired').css('display', 'none');
            }
            if (Birthday.length < 1) {
                $('#ErrBirthdayRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrBirthdayRequired').css('display', 'none');
            }
            if (Address.length < 1) {
                $('#ErrAddressRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrAddressRequired').css('display', 'none');
            }
            if (City.length < 1) {
                $('#ErrCityRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrCityRequired').css('display', 'none');
            }
            if (ZipCode.length < 1) {
                $('#ErrZipCodeRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrZipCodeRequired').css('display', 'none');
            }
            if (PhoneRegion.length < 1) {
                $('#ErrPhoneNumberRequired').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrPhoneNumberRequired').css('display', 'none');
            }
            if (Phone.length < 1) {
                $('#ErrPhoneNumberRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrPhoneNumberRequired').css('display', 'none');
            }
            return check;
        }

    })

</script>