﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}
@model Com.SmoovPOS.Entity.Customer

@using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q-form-signup">
        <div class="row">
            <div class="col-md-12 s-changePassword">
                <h3>CHANGE PASSWORD</h3>
                <p></p>
            </div>
        </div>

        @if (Model != null)
        {
            <input type="hidden" name="email" id="email" value="@Model.email" />
            <div class="s-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="s-alert">
                            <div class="alert alert-success" role="alert" style="display: none;" id="alert">
                                <strong>Well done!</strong> Your password has been changed.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="validation-summary-errors">
                                <ul>
                                    <li id="ErrPassword" style="display: none; ">The Password field is required.</li>
                                    <li id="ErrConfirmPassword" style="display: none; ">The Confirm Password field is required.</li>
                                    <li id="ErrPasswordNotMatch" style="display: none; ">Your passwords do not match.</li>
                                    <li id="ErrPasswordTooShort" style="display: none; ">Your password must be at least 6 characters long.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="row s-form">
                    <div class="col-md-12">
                        <form>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="New Password (6 characters or more)" maxlength="50">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" maxlength="50">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="s-button">
                    <div class="row">                       
                        <button type="button" id="btn-button" class="btn btn-default">SAVE</button>
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("Index", "Home")'">CANCEL</button>
                    </div>
                </div>
            </div>

        }
        else
        {
            <div class="s-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="s-alert">
                            <div class="alert alert-success" role="alert" style="" id="alert">
                                <strong>Sorry!</strong> Your password has been changed. Please go to <a href="@Url.Action("ForgotPassword", "Customer")">Link </a> to reset password.
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        }
    </div>

}

<script>
    $(document).ready(function () {

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit()
            }
        });

        $('#btn-button').click(function () {
            validateBeforeSubmit()
        })
        function validateBeforeSubmit() {
            var check = false;
            check = Validation();
            if (check) {
                ResetPassword();
            } 
        }
        function ResetPassword() {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetPassword", "Customer")',
                data: {
                    email: $('#email').val().trim(),
                    password: $('#password').val().trim()
                },
                success: function (result) {
                    if (parseInt(result) == 1) {
                        $('#alert').css('display', 'block');
                        $('.s-button').css("display", "none");
                        $('.s-form').css("display", "none");
                    } else {
                        $('#alert').css('display', 'none');
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        }
        function Validation() {
            reset();
            var check = true;
            var password = $('#password').val().trim();
            var confirmPassword = $('#confirmPassword').val().trim();


            if (password.length < 1) {
                $('#ErrPassword').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrPassword').css('display', 'none');
            }

            if (confirmPassword.length < 1) {
                $('#ErrConfirmPassword').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrConfirmPassword').css('display', 'none');
            }

            if (password.length > 1 && password.length <= 5) {
                $('#ErrPasswordTooShort').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrPasswordTooShort').css('display', 'none');
            }

            if (password != confirmPassword) {
                $('#ErrPasswordNotMatch').css('display', 'block');
                exit;
            } else {
                $('#ErrPasswordNotMatch').css('display', 'none');
            }

            return check;
        }
        function reset() {
            $('#ErrPasswordNotMatch').css('display', 'none');
            $('#ErrPasswordTooShort').css('display', 'none');
            $('#ErrPassword').css('display', 'none');
            $('#ErrConfirmPassword').css('display', 'none');            
        }
    });
</script>
