﻿@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    var remember = "";
    try
    {
        remember = Request.Cookies["remember"].Value;
    }
    catch
    {
        Response.Cookies["username"].Value = "";
        Response.Cookies["password"].Value = "";
        Response.Cookies["remember"].Value = "0";
    }

}
@using (Html.BeginForm("SignIn", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q-form-signup">
        <div class="row">
            <div class="col-md-12 s-title">
                <h3>Login</h3>
                <p style="margin-left: 115px;"></p>
            </div>
        </div>
        <div class="s-content">
            <div class="s-alert">
                <div class="alert alert-danger" role="alert" style="display: none;" id="alertNotVerify">
                    Please verify your account by following the instructions in the email.
                </div>
            </div>
            <div class="s-alert">
                <div class="alert alert-warning" role="alert" style="display: none;" id="alertNotActive">
                    Your account is inactive.
                </div>
            </div>
            <div class="col-md-12">@*<h4>Nice to meet you !</h4>*@</div>
            <div class="col-md-12">
                <div class="validation-summary-errors" style="width:28%">
                    <ul>
                        <li id="ErrAccountNotFound" style="display: none; ">Email address or password is incorrect.Please try again.</li>
                        <li id="ErrEmail" style="display: none; ">The Email Address field is required.</li>
                        <li id="ErrEmailNotFound" style="display: none; ">The Email Address you entered was not found.</li>
                        <li id="ErrPassword" style="display: none; ">The Password field is required.</li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="username" name="username" value="@Request.Cookies["username"].Value" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" value="@Request.Cookies["password"].Value" placeholder="Password" maxlength="50">
                        </div>
                        <div class="validation-summary-errors" style="width:28%">
                            <div class="checkbox">
                                <label class="s-lbl-remember">
                                    <input type="checkbox" name="remember" @(remember.Equals("1") ? " checked" : "") id="remember"> Remember me
                                </label>
                                <div class="s-forgot">
                                    <a href="@Url.Action("ForgotPassword", "Customer")">Forgot your password ?</a>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div class="s-remember">
                                <button type="button" id="btn-submit" class="btn btn-default">SIGN IN</button>
                                <div class="s-return">or <a href="@Url.Action("AllProducts", "Product")"> Return To Store </a></div>
                            </div>
                        </div>
                        <div class="loading">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {

        $('#btn-submit').click(function () {
            validateBeforeSubmit();
        })
        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit();
            }
        });

        function validateBeforeSubmit() {
            var check = false;
            check = Validation();
            if (check) {
                submitForm();
            }
        }

        function submitForm() {
            var checked = false;
            if ($('#remember').is(":checked")) {
                checked = true;
            }
            var formData = {
                username: $('#username').val().trim(),
                password: $('#password').val().trim(),
                remember: checked
            };
            console.log(formData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SignIn", "Customer")',
                data: formData,
                success: function (result) {
                    if (parseInt(result) == 1) {
                        $('#ErrAccountNotFound').css('display', 'none');
                        $('#alertNotVerify').css('display', 'none');
                        $('#alertNotActive').css('display', 'none');
                        var idProduct = "@ViewBag.idProduct";
                        if (idProduct) {
                            location.href = "@Url.Action("ProductDetail", "Product", new { productItemId = ViewBag.idProduct })";
                        } else {
                            location.href = "@Url.Action("AllProducts", "Product")";
                        }

                    }
                    else if (parseInt(result) == 2) {
                        $('#ErrAccountNotFound').css('display', 'none');
                        $('#alertNotVerify').css('display', 'block');
                        $('#alertNotActive').css('display', 'none');
                    }
                    else if (parseInt(result) == 3) {
                        $('#ErrAccountNotFound').css('display', 'none');
                        $('#alertNotVerify').css('display', 'none');
                        $('#alertNotActive').css('display', 'block');
                    }
                    else {
                        $('#ErrAccountNotFound').css('display', 'block');
                        $('#alertNotActive').css('display', 'none');
                        $('#alertNotVerify').css('display', 'none');
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });

        }

        function Validation() {
            reset();
            var check = true;
            var email = $('#username').val().trim();
            var password = $('#password').val().trim();

            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                $('#ErrEmailNotFound').css('display', 'none');
                check = false;
                exit;
            } else if (!validateEmail(email)) {
                $('#ErrEmailNotFound').css('display', 'block');
                $('#ErrEmail').css('display', 'none');
                check = false;
                exit;
            } else {
                $('#ErrEmail').css('display', 'none');
                $('#ErrEmailNotFound').css('display', 'none');
            }

            if (password.length < 1) {
                $('#ErrPassword').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrPassword').css('display', 'none');
            }

            return check;
        }

        function reset() {
            $('#ErrPasswordTooShort').css('display', 'none');
            $('#ErrPassword').css('display', 'none');
            $('#ErrEmail').css('display', 'none');
            $('#ErrEmailNotFound').css('display', 'none');
        }
    })
</script>