﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}



.sidebar-nav {
    padding: 9px 0;
}

.ng-binding {
    font-size: 13px;
}



#q-top-menu .navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.49);
}

#q-top-menu .navbar-default .navbar-brand {
    color: #000;
}

#q-menu .active {
    background-color: #EEE;
}

#q-menu .nav > li > a {
    color: rgba(0, 0, 0, 0.58);
    font-size: 17px;
    font-weight: 700;
}

#navbar-menu {
    padding: 30px 20px;
}

#q-menu-responsive {
    display: block;
}

#footer {
    background: #282828;
}

    #footer .col-md-4 {
        padding: 50px;
        padding-left: 0px;
    }

        #footer .col-md-4 ul li {
            padding: 5px 5px;
        }

            #footer .col-md-4 ul li a {
                color: #FFF;
                text-decoration: none;
                font-size: 15px;
            }

        #footer .col-md-4 h4 {
            color: #FFF;
            font-size: 15px;
        }

.q-btt-subscribe {
    padding-top: 10px;
}

#q-follow {
    padding-left: 0px;
}

    #q-follow li {
        display: inline;
    }

#copyright {
    background: #000;
    height: 50px;
}

    #copyright h5 {
        margin-top: 18px;
        color: #FFF;
    }



#contact-us {
    margin-bottom: 20px;
}

    #contact-us input, textarea {
        max-width: 100%;
    }

.onl-content {
    margin-top: 30px;
}

/**theme*/
.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: #282828;
    background-size: cover;
}

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    .banner ul {
        margin-bottom: 0;
    }

.banner-social-buttons {
    float: right;
    margin-top: 0;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


#q-menu-responsive {
    display: block;
}

@media (min-width: 768px) {
    #q-menu-responsive {
        display: none;
    }
}



@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (max-width: 768px) {
    #footer .col-md-4 {
        padding: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

        ul.banner-social-buttons > li:last-child {
            margin-bottom: 0;
        }
}
