﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 335px;
}

/* Format title, button all of site */
.btn-default {
    padding: 7px 22px;
    padding-top: 5px;
}

    .btn-default:hover {
        color: #282828;
        background-color: #FFF;
    }

    .btn-default.active {
        color: #282828;
        background-color: #FFF;
    }

.orderTypeChoose {
    color: #282828;
    background-color: #FFF;
    border-color: #CCC;
    padding: 7px 22px;
}

    .orderTypeChoose.active {
        color: #FFF;
        background-color: #282828;
    }

    .orderTypeChoose:hover {
        color: #FFF;
        background-color: #282828;
    }

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    width: 30%;
    text-align: left;
    margin: 0px auto;
}

.validation-summary-errors-delivery {
    color: #b94a48;
    width: 40%;
    text-align: left;
    margin: 0px auto;
}

.validation-summary-errors ul {
    list-style-type: none;
}

.s-alert {
    color: #b94a48;
    width: 45%;
    text-align: left;
    margin: 20px auto;
}

.validation-summary-valid {
    display: none;
}



.sidebar-nav {
    padding: 9px 0;
}

.ng-binding {
    font-size: 13px;
}

#q-cart-count {
    color: #FFF;
    font-size: 13px;
    background: #C31400;
    border-radius: 10px;
    padding: 1px 5px;
}

#q-wishlist-count {
    color: #FFF;
    font-size: 13px;
    background: #C31400;
    border-radius: 10px;
    padding: 1px 5px 1px 4px;
}


#q-top-menu .glyphicon {
    top: 3px;
}

#q-top-menu .navbar-default .navbar-nav > li > a {
    color: rgba(0, 0, 0, 0.49);
}

#q-top-menu .navbar-default .navbar-brand {
    color: #000;
}

.q-top-menu-signup {
    padding-right: 5px !important;
}

.q-top-menu-signin {
    padding-left: 1px !important;
}

#q-menu .active {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px;
    padding-top: 3px !important;
}

#q-menu .nav > li {
    margin-right: 5px;
    position: relative;
    z-index: 2;
}

    #q-menu .nav > li > a {
        color: black;
        font-size: 13px;
        font-weight: 700;
        background: #FFF;
        z-index: 3;
    }

        #q-menu .nav > li > a:hover {
            background-color: #fff;
            color: #878787;
        }

#q-menu .col-md-7 .dropdown-menu {
    overflow-y: scroll;
    max-height: 285px;
    padding-top: 2px;
}

.q-product .thumbnail img {
    height: 200px;
    width: 300px;
}

.q-product-info {
    padding-bottom: 50px;
}

.q-product-title h4 {
    line-height: 25px;
}

    .q-product-title h4 a {
        text-decoration: none;
        color: #000;
    }

.price-left {
    font-size: 15px;
    font-weight: bold;
}

.price-right {
    font-size: 15px;
    margin-left: 17px;
    text-decoration: line-through;
    color: rgba(101, 96, 96, 0.66);
}

.price-right-detail {
    text-decoration: line-through;
    color: rgba(101, 96, 96, 0.66);
    margin-top: 3px;
    font-size: 15px;
    padding-top: 0px;
}

.price-left-detail {
    font-size: 17px;
    float: left;
    margin-top: 2px;
    padding-right: 20px;
    color: #D54B32;
}

#navbar-menu {
    padding: 30px 20px;
}

#q-menu-responsive {
    display: block;
}

#footer {
    background: #282828;
}

    #footer .col-md-4 ul li {
        padding: 5px 5px;
    }

        #footer .col-md-4 ul li a {
            color: #FFF;
            text-decoration: none;
            font-size: 15px;
        }

    #footer .col-md-4 h4 {
        color: #FFF;
        font-size: 15px;
    }

    #footer .col-md-8 {
        padding-top: 20px;
        padding-left: 10px;
    }

        #footer .col-md-8 ul li {
            padding: 5px 5px;
        }

            #footer .col-md-8 ul li a {
                color: #FFF;
                text-decoration: none;
                font-size: 15px;
            }

        #footer .col-md-8 h4 {
            color: #FFF;
            font-size: 15px;
        }

.q-btt-subscribe {
    padding-top: 10px;
}

#q-follow {
    padding-left: 0px;
}

    #q-follow li {
        display: inline;
    }

#copyright {
    background: #000;
    height: 50px;
}

    #copyright h5 {
        margin-top: 18px;
        color: #FFF;
    }



#contact-us {
    margin-bottom: 20px;
}

    #contact-us input, textarea {
        max-width: 100%;
    }

.onl-content {
    margin-top: 30px;
}

/**theme*/

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: #282828;
    background-size: cover;
}

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    .banner ul {
        margin-bottom: 0;
    }

.banner-social-buttons {
    float: right;
    margin-top: 0;
}


footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}


#q-menu-responsive {
    display: block;
}

#loadMore {
    text-align: center;
    padding: 20px 0 50px;
}

.loading {
    text-align: center;
    display: none;
    font-size: 30px;
}

.loading-subscribe {
    text-align: center;
    display: none;
    font-size: 25px;
}

.right-content {
    margin: 30px 10px 10px 0px;
}

.detail-price {
    margin-right: 100px;
}

.detail-quantity {
    margin-right: 77px;
}

.detail-input-quantity {
    width: 70px;
}

.q-product-detail {
    margin-top: 30px;
    margin-bottom: 80px;
    padding-left: 15px;
}

    .q-product-detail .col-md-1 {
        padding-left: 0;
        height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .q-product-detail .imgShow img {
        /*width: 100%;*/
        display: block;
        /*border: 1px solid #ddd;*/
    }

    .q-product-detail .miniIcon img {
        height: 70px;
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        border: 1px solid #ddd;
    }

.q-detail-title {
    padding-left: 13px;
}

.q-detail-addCart #addToCart {
    margin-top: 15px;
    background-color: #000;
    border-color: #000;
    font-weight: bold;
    position: relative;
    padding: 7px 40px;
    height: 45px;
}

.q-detail-addCart .btn-primary:hover {
    background-color: #000;
    border-color: #000;
}

.q-detail-addCart .icon-wishlist .fa-circle-thin {
    position: absolute;
    margin-top: -10px;
    margin-left: -12px;
    color: #CFCFCF;
}

.q-detail-addCart .icon-wishlist .fa-heart {
    position: relative;
}

.q-detail-addCart .btn-wishlist {
    position: absolute;
    margin-left: 5px;
    margin-top: 22px;
    background: transparent;
    border: none !important;
    font-weight: bold;
}

.q-detail-overView .line-header-des {
    border-bottom: 2px solid;
    margin-left: 165px;
    margin-top: -15px;
    margin-right: 15px;
}

.q-detail-overView {
    /*padding-left: 20px;*/
}


    .q-detail-overView .desc {
        font-size: 15px;
    }

    .q-detail-overView h3 {
        font-size: 17px;
        font-weight: bold;
    }

.q-detail-require {
    color: red;
}

.q-select-varient {
    padding-left: 13px;
    margin-top: 30px;
}

    .q-select-varient .col-md-6 {
        padding-bottom: 15px;
    }

        .q-select-varient .col-md-6 label {
            text-transform: capitalize;
        }

    .q-select-varient .q-message {
        padding: 10px 0;
        color: #287EAF;
    }

    .q-select-varient .q-alert {
        padding: 10px 0;
        color: red;
    }

.q-product-detail .q-detail-title label {
    margin-top: 0;
    font-size: 17px;
}

.select-varient {
    width: 208px;
    height: 30px;
}

.button-group {
    margin-top: 40px;
}

.buttonAdd {
    width: 80%;
}

.p-description {
    display: block;
    width: 100%;
    word-wrap: break-word;
}

.q-footer {
    margin: 60px 0px 70px 0px;
}



.styleLeft {
    padding-left: 0;
    padding-right: 0;
}
/*Css for search Zin*/

#q-search {
    padding-right: 0px;
}

.q-menu-search {
    width: 300px;
    overflow: no-display;
}

#q-menu .col-md-7 .q-menu-search {
    width: 300px;
    overflow: hidden;
    max-height: 300px;
    margin: 0px;
    position: absolute;
    right: -11px;
    border-radius: 0;
}

.img-varientmycart {
    width: 110px;
}

.q-qtyvarient {
    width: 77px;
    border-radius: 10px;
    text-align: center;
}

.p-right {
    float: right;
}

.q-billfooter {
    font-size: 14px;
    text-align: left;
}

.q-total {
    font-weight: bold;
    font-size: 14px;
}

.aligntotal {
    border-bottom: 1px solid lightgrey;
}

.q-checkout-mycart button {
    background-color: #000;
    border-color: #000;
    width: 100%;
    margin: 15px 0;
}

.q-continue {
    font-size: larger;
    float: left;
    margin: 15px 0;
}

    .q-continue button {
        background-color: #000;
        border-color: #000;
        color: #fff;
    }

        .q-continue button:hover {
            background-color: #286090;
            color: #fff;
        }

.q-remove-variant a {
    font-style: italic;
}

.titleitem {
    font-weight: bold;
    padding-left: 0px;
}

.tablecart {
    table-layout: fixed;
    word-wrap: break-word;
    border: 1px solid rgb(202, 202, 202);
}

    .tablecart th {
        border-right: solid 1px #E7E1E1;
        text-align: center;
        border: 0;
    }

    .tablecart td {
        text-align: center;
    }

.tableTotal tr th, td {
    padding-left: 20px !important;
}

.tableTotal tr {
    border: 1px solid #DDD;
}

.q-ul-nobullet {
    list-style-type: none;
    padding-left: 0px;
}

.lineStyle {
    margin-bottom: 15px;
}

/* Sign in / Sign up */

.s-title p {
    border-bottom: 2px solid;
    margin-left: 115px;
    margin-top: -15px;
    margin-right: 15px;
}

.s-changePassword p {
    border-bottom: 2px solid;
    margin-left: 265px;
    margin-top: -15px;
    margin-right: 15px;
}

.s-title .s-p-forgot {
    border-bottom: 2px solid;
    margin-left: 335px;
    margin-top: -15px;
    margin-right: 15px;
}

.s-title h3 {
    text-transform: uppercase;
}

.col-md-12 h4 {
    padding: 15px 0;
}

.q-form-signup .form-group {
    text-align: center;
}

.q-form-signup .form-control {
    display: inline;
}

.s-content {
    text-align: center;
    padding: 10px 0 30px;
}

    .s-content ul {
        padding-left: 0px;
    }

    .s-content a {
        color: #000;
        font-weight: bold;
    }

        .s-content a:hover {
            text-decoration: none;
        }

    .s-content .btn-default {
        color: #FFF;
        background-color: #282828;
        border-color: #CCC;
        padding: 7px 22px;
    }

        .s-content .btn-default:hover {
            color: #282828;
            background-color: #FFF;
        }

.s-forgot {
    margin: 10px 0 20px;
}

    .s-forgot a {
        color: #000;
        font-weight: normal;
    }

.s-button {
    text-align: center;
    padding: 10px 0 30px;
}

.s-lbl-remember {
    color: black;
}

.s-remember {
    margin: 14px 0;
    text-align: center;
}

.s-return {
    margin: 20px 0;
}

    .s-return a {
        font-weight: normal;
    }

.hide {
    display: none;
}

.q-reset-password {
    margin-bottom: -23px;
}
/* End Sign in / Sign up  */


/* custom menu */

.open {
    z-index: 4 !important;
    /*margin-top: 10px;*/
}

#q-menu-icon .open {
    margin-top: 10px;
}

.nav .open > a {
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px;
    padding-top: 3px !important;
    padding-left: 13px;
    margin-right: -2px;
}

    .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
        border-color: black;
    }

#navbar-menu .dropdown-menu li {
    border-bottom: solid 1px #CFC4C4;
}

#q-menu .dropdown-menu {
    padding: 0 0;
    min-width: 209px;
}

    #q-menu .dropdown-menu > li > a {
        padding: 6px 20px;
        font-weight: bold;
        font-size: 13px;
    }

#q-menu .dropdown-toggle {
    /*border-bottom: none;*/
}

#q-menu .open a {
    border-bottom: none !important;
}

#q-menu .open .dropdown-menu {
    overflow: hidden;
    outline: none;
    position: absolute;
    z-index: -1;
    top: 28px;
    border: solid 2px #000;
}
/* end custom menu */
#addToCart {
    height: 32px;
    padding: 5px 10px;
}

.wish-title {
    margin-bottom: 40px;
}

    .wish-title p {
        border-bottom: 1px solid;
        margin-left: 170px;
        margin-top: -15px;
        margin-right: 6px;
    }

.cart-title p {
    border-bottom: 1px solid;
    margin-left: 158px;
    margin-top: -15px;
    margin-right: 6px;
}

.q-continueFromWish {
    float: left;
}

.main {
    padding-bottom: 50px;
}

/* Member Profile*/
.s-title p {
    margin-left: 310px;
}

.q_form_myProfile .s-content {
    text-align: left;
}

.btn-cancel {
    color: #000;
    background-color: #fff;
    border-color: #000;
    padding: 6px 22px;
}

    .btn-cancel:hover {
        color: #fff;
        background-color: #000;
    }

.btn {
    text-transform: uppercase;
    padding: 6px 25px;
    min-width: 100px;
}

/* Edit Member Profile */
.s_edit_profile {
    text-align: left;
    width: 60%;
    margin: 0 auto;
}

    .s_edit_profile label {
        padding-top: 5px;
    }

.row {
    padding: 10px 0;
}

.s_edit_profile input, select, textarea {
    max-width: 100%;
}

.btn-save {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

    .btn-save:hover {
        color: #000;
        background-color: #fff;
    }

    .btn-save:focus {
        color: #000;
        background-color: #fff;
    }

.s_button {
    padding-left: 10px;
    text-align: center;
}

.bootstrap-datetimepicker-widget {
    width: 308px !important;
}

.s_edit_profile .col-md-2 {
    text-align: left;
}

.error-message {
    color: #b94a48;
    margin-left: 16px;
    padding-left: 0px;
    margin-left: 0px;
    text-align: left;
}

/* Change password Profile */
.s_changepw_profile {
    text-align: center;
    width: 30%;
    margin: 0 auto;
}

.changepw p {
    margin-left: 265px;
}

.s_changepw_profile .form-control {
    display: inline;
}

.none_padding_left_right {
    padding-left: 0px;
    padding-right: 0px;
}

/* fix padding view product , discount*/
.q-product .row .col-md-3 {
    /*padding: 0px 10px;*/
}

/* discount items */
.discount-banner {
    top: 25px;
    left: 12px;
    /* background-color: red; */
    height: 20px;
    min-width: 70px;
    position: absolute;
    vertical-align: middle;
    border-top: 20px solid red;
    border-bottom: 20px solid red;
    border-right: 7px solid transparent;
}

    .discount-banner span {
        color: white;
        width: auto;
        font-size: 12px;
        text-align: center;
        padding: 0 5px;
        display: block;
    }

        .discount-banner span:first-child {
            margin-top: -15px;
        }

        .discount-banner span:last-child {
        }

.product-info {
    margin-bottom: 15px;
    margin-left: 5px;
    height: 40px;
}

.product-name {
    margin-top: 10px;
    font-size: 14px;
}

.product-price {
    font-size: 17px;
    display: inline-block;
    margin-left: 0px;
}

.product-dis-price {
    font-size: 14px;
    display: inline-block;
    color: #808080;
}

.discount-product-item {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding-bottom: 1px;
}

    .discount-product-item:hover {
        background-color: #F0F0F0;
    }

.image-fill {
    width: auto !important;
    height: 100% !important;
}

.discount-product-thumb {
    width: 265px;
    height: 200px;
    /*position: relative;*/
    overflow: hidden;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

    .discount-product-thumb:before {
        content: " ";
        height: 100%;
        vertical-align: middle;
    }

    .discount-product-thumb img {
        vertical-align: middle;
        max-height: 100%;
        margin: auto;
        max-width: 100%;
    }

.collectionItem {
    width: 265px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
}

    .collectionItem img {
        vertical-align: middle;
        max-height: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

.lineStyle {
    display: inline-block;
    padding: 0 !important;
}

.collection_product {
    max-height: 265px;
    word-wrap: break-word;
}
