﻿

.Table_PayDone h4{
      margin-top: 30px;
}


@media (max-width: 1200px) {
   
}



@media(max-width:1024px) {
     .Table_PayDone {
        width: 100%;
    }

    .Table_Item {
        width: 100%;
        margin: 0 auto;
    }

   .Table_Item .col-md-2 {
        width: 16.666667% !important;
        float: left !important;
        padding: 0 !important;
    }
   .Table_Item .col-md-5 {
        width: 41.66666667%;
        float: left !important;
        padding: 0 !important;
    }

}

@media (max-width: 768px) {
   
}

@media (max-width: 480px) {
   
}


