﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea {
    max-width: 280px;
}

.form-control {
}

.bootstrap-datetimepicker-widget {
    width: 300px !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* Custom css */
.nav-sidebar {
    padding: 10px;
    margin-bottom: 0px !important;
    border-bottom: solid 1px;
}

    .nav-sidebar a {
        color: #95a7b7;
    }

        .nav-sidebar .active, .nav-sidebar .active a, .nav-sidebar .active a:hover, .nav-sidebar a:hover, .nav-sidebar a:focus {
            outline: 0;
            background: #272c30 !important;
            color: #fff;
        }

.main {
    padding: 0px;
    padding-bottom: 50px !important;
}

.q-toolsbar .col-md-8 {
    text-align: right;
    padding: 25px 0;
}

.modal .col-md-6 {
    padding: 8px 0;
    padding-right: 30px;
}

.q-form input, select, textarea {
    max-width: 100%;
}

.q-form .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.q-form .bootstrap-tagsinput {
    display: block;
    height: 100px;
}

.q-form .radio input[type="radio"] {
    margin-left: 0px;
}

.q-form .glyphicon {
    margin-left: 60px;
}

.q-clear {
    clear: both;
}

.q-menu-top {
    display: block;
}

.header_table {
    background: #3D3C3C;
    color: white;
}

.u_title {
    text-transform: capitalize;
}

    .u_title a {
        color: #fff;
    }

.table {
    table-layout: fixed;
}

    .table td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (min-width: 768px) {
    .main {
        padding-right: 20px;
        padding-left: 20px;
    }

    .q-menu-top {
        display: none;
    }

    #ViewMode .modal-dialog {
        width: 1000px;
    }
}



.imgProduct {
    width: 145px;
}

.tdleft {
    width: 170px;
    padding-bottom: 20px;
}

.tdright {
    padding-bottom: 20px;
}

.activeStatus {
    color: #008000;
}

.inactiveStatus {
    color: #ff1f47;
}

.selectStatus {
    width: 90px;
    height: 27px;
}

.img-remove-option {
    margin-top: 60px;
}

.activeStatusBackground {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #008000;
}

.inactiveStatusBackground {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #ff0000;
}

.q-name-left {
    padding-left: 0px;
}

.q-name-right {
    padding-left: 0px;
}

.upfile1 {
    border: 1px solid #ccc;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4681C3;
    background-color: white;
    border-radius: 4px;
}

.error-message {
    color: #b94a48;
    margin-left: 16px;
}

.cke_contents {
    height: 500px !important;
}

.btnDeleteImage {
    color: rgba(0, 0, 0, 0);
    border: 0;
    background: #F4F1F1;
    margin-left: 115px;
}

#uploadPreview #editImg {
    height: 145px;
    width: 145px;
}


.main .col-md-8 input {
    max-width: 100%;
}

/*****************************CSS Distribute*********************************/
.divleft {
    border-right: 1px solid rgb(168, 167, 167);
}

#listVarient {
    display: initial;
}

ul {
    list-style-type: none;
}

.styleLetter {
    text-align: center;
    background: #78caea;
    border-right: 4px solid white;
}

.styleLetterChange {
    text-align: center;
    background: #c4e6f7;
    border-right: 4px solid white;
}

.tableStore {
    display: inline-table;
    margin-top: 30px;
}

.styleVarriant {
    margin-top: 10px;
    margin-left: 10px;
}

.styletr {
    border-bottom: 1px solid rgb(221, 218, 218);
}

.countNumberAbove {
    display: block;
    margin-top: 18px;
}

.countNumberUnder {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: x-large;
    font-weight: bold;
}

.changeQuantity {
    width: 90px;
}

#listVarient li {
    background-color: #e4e4e4;
    border-bottom: 6px solid white;
    height: 95px;
    cursor: pointer;
}

.click {
    background: #c4e6f7 !important;
}

.unclick {
    background: #e4e4e4 !important;
}

.price {
    border: solid 1px #000;
    border-radius: 3px;
    float: right;
    margin-right: 2px;
    width: 100px;
    text-align: center;
    display: inline-table;
    padding: 3px 0;
}

.center {
    text-align: center;
}

.clr {
    clear: both;
}

#q-store-list-product .table {
    margin-bottom: 0px;
}

.q-collapse {
    background: #D7D7D7;
}

    .q-collapse .table {
        background: #F2F2F2;
    }

hr {
    border-top: 1px solid #BFB7B7;
}

.businessID {
    cursor: pointer;
}

.q-expand {
    text-align: right;
}

.lineStyle {
    display: inline-block;
    padding: 0 !important;
}

/*--- Employee ---*/
.input-append.date {
    position: relative;
}

.add-on {
    position: absolute;
    top: 8px;
    right: 10px;
}

#addPermission {
    margin-top: 30px;
    width: 240px;
}

#gender {
    margin-left: -15px;
}

.bootstrap-tagsinput {
    width: 100%;
    height: 130px;
}

/*CSS for Taxes in settting*/
#newTaxId .container {
    border: 2px solid #ccc;
    width: 95%;
    height: 200px;
    overflow-y: scroll;
}

#detailTaxItemModal .container {
    border: 2px solid #ccc;
    width: 95%;
    height: 200px;
    overflow-y: scroll;
}

.settingsMenu {
    display: none;
}

.detailTax {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.bottom-toolsbar {
    text-align: right;
    margin-top: 280px;
}

/*CSS for Dashboard*/

.btn-default-smoov {
    color: #fff;
    background-color: #4681C3;
    border-color: #cccccc;
    width: 80px;
}

    .btn-default-smoov:hover {
        color: #000;
        background-color: #fff;
        border-color: #cccccc;
    }

.dashboard_text_center {
    text-align: center;
}

.dashboard-blur {
    opacity: 0.6;
}

.dashboard_body {
    margin: 40px auto 0;
    border: solid 1px rgba(0, 0, 0, 0.47);
    padding: 15px 0;
}

    .dashboard_body h3 {
        padding-top: 4px;
        margin-top: 0px;
        font-size: 20px;
        text-align: left;
    }

.dashboard_body_info {
    text-align: left;
}

.dashboard_body_button {
    padding-top: 20px;
    text-align: right;
    padding-right: 30px;
}

.smoov_hidden {
    visibility: hidden;
}

.smoov_visbile {
    visibility: visible;
}

.loading {
    text-align: center;
    display: none;
    font-size: 30px;
}

    .loading img {
        width: 100px;
    }

.parant-title {
    color: #959595;
}

.btn-default {
    color: #4681C3 !important;
    background-color: #ffffff;
    border-color: #cccccc;
}

.statusMerchant.active {
    color: white !important;
    background-color: #337ab7 !important;
    /* color of parent Title in Dashboard */
}

.statusMerchant {
    color: #337ab7 !important;
    background-color: white !important;
    /* color of parent Title in Dashboard */
}

.btnCloseSmoov {
    background-color: #D9534F;
    color: white;
}

.search-box {
    position: relative;
    width: 100%;
}

span#searchclear {
    position: absolute;
    right: 80px;
    top: 7px;
    cursor: pointer;
}

#txtSearchButton {
    max-width: 100% !important;
    width: 80% !important;
    right: 60px;
    position: absolute;
}

div#divpaging {
    height: 60px !important;
}

.pagination > li > a, .pagination > li > span {
    color: #337ab7;
}

#btnSearchButton {
    position: absolute;
    width: 65px;
    right: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

i.fa.fa-sort-up, i.fa.fa-sort-down {
    color: #7A80DD;
}
.buttonApply {
        width: 100px;
        margin-top: 10px;
    }