﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.InfoNewEmployee

@{
    //ViewBag.Title = "Employee Management";
    ViewBag.Title = "New Employee";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlImgDefault = Url.Content("~/Content/Images/avatarDefault.jpg");
}
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/Scripts/underscore.js"></script>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post, new { autocomplete = "off", @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title / New Employee</h3>
        </div>
        <div class="col-md-8">
            <button type="button" class="btn btn-default btn-Save" >Save</button>
            <button onclick="location.href='@Url.Action("Index", "Employee")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-form">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("InformationDetail")</h4>
                <p>@Html.LocalizedLabel("InformationDetailEmployee")</p>
            </div>
            <div class="col-md-8">
                @*2. ------- upload image for employee *@
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id=" " type="hidden" value="" name="logoImg">
                                </div>
                            </div>

                            <div id="lbl_image">
                                <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                @* -------End upload image for employee *@

                @*3. ------- firstName and lastName fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.firstName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @id = "firstName", @name = "firstName", @placeholder = "First Name", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.lastName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @id = "lastName", @name = "lastName", @placeholder = "Last Name", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                    </div>
                </div>
                @*4. ------- Gender and Birthday fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="col-md-4 ">
                            @Html.DropDownListFor(model => model.Gender, Model.listMale, new { @id = "gender", @name = "gender", @class = "form-control" })
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Birthday)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            <div id="datetimepicker1" class="input-append date">
                                @Html.TextBoxFor(m => m.Birthday, new { @class = "form-control", @maxlength = 10 })
                                <span class="add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(model => model.Birthday)
                    </div>
                </div>

                @*5. -------Phone Number and Hired Date fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.phoneNumber)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.phoneNumber, new { @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @class = "form-control", @id = "phonenumber", @name = "phonenumber", @placeholder = "Phone number", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.phoneNumber)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.hiredDate)<span style="color:red"> *</span>
                        </div>
                        <div id="datetimepicker2" class="input-append date">
                            @Html.TextBoxFor(m => m.hiredDate, new { @class = "form-control", @maxlength = 10 })
                            <span class="add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                       @Html.ValidationMessageFor(model => model.hiredDate)
                    </div>
                </div>
                @*6. -------Address fields------ *@
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="inner">
                            @Html.LabelFor(model => model.Address)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @id = "address", @name = "address", @placeholder = "Address", @maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                </div>
                @*7. -------City and ZipCode fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.city, new { @class = "form-control", @id = "city", @name = "city", @placeholder = "city", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.city)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.zipCode, new { @class = "form-control", @id = "zipcode", @name = "zipcode", @placeholder = "Zip code", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.zipCode)
                        </div>
                    </div>
                </div>

                @*8. -------Region / Provine / State and Country fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.state)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.state, new { @class = "form-control", @id = "state", @name = "state", @maxlength = "50", @placeholder = "Region / Provine / State" })
                            @Html.ValidationMessageFor(model => model.state)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.country)
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.country, Model.listCountries, new { @id = "country", @name = "country", @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* -----------------------End Information Detail----------------------- *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @* -----------------------Begin Account Detail----------------------- *@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("account")</h4>
                <p>@Html.LocalizedLabel("accountInfor")</p>
            </div>
            <div class="col-md-8">
                @*1. -------Email Address and Pin Code  fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.email)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @id = "email", @name = "email", @placeholder = "Email Address", @maxlength = "50", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.pinCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.pinCode, new { @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @class = "form-control", @id = "pincode", @name = "pincode", @placeholder = "Pin code", @maxlength = "4" })
                            @Html.ValidationMessageFor(model => model.pinCode)
                        </div>
                    </div>
                </div>
                @*2. -------Password and Confirm fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Password)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "password", @name = "password", @placeholder = "password", @maxlength = "50", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.confirmPassword)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.PasswordFor(model => model.confirmPassword, new { @class = "form-control", @id = "passwordConfirm", @name = "passwordConfirm", @placeholder = "Confirm Password", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.confirmPassword)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* -----------------------End Account For Employee ------------------------ *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @* -----------------------Begin Permission For Employee ----------------------- *@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("permission")</h4>
                <br>
                <br>
                <text style="color:red" id="ErrDuplicate"></text>
                <br>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="inner">
                            @Html.LabelFor(model => model.Store)
                        </div>
                        <select id="store" name="store" class="form-control">
                            @foreach (var item in Model.inventoryList)
                            {
                                if (!@item.businessID.Equals("Master"))
                                {
                                    <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">@(item.businessID == "Online store" ? " Merchant Panel" : item.businessID)</option>
                                }
                            }
                        </select>
                        <br>
                        <div class="inner">
                            @Html.LabelFor(model => model.Role)
                        </div>

                        <select id="role" name="role" class="form-control">
                            @foreach (var item in Model.roleList)
                            {
                                <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">@item.roleName</option>
                            }
                        </select>
                        <br>
                        <button type="button" id="addroleandstore" name="addroleandstore" class="btn btn-primary form-control addroleandstore">Add Role</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="showroleandstore">
                    <table class="table appendPermission">
                        <tr>
                            <th>Role</th>
                            <th>Store</th>
                            <th></th>
                        </tr>
                        <tr></tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                @*<p>@Html.LocalizedLabel("StatusEmployeeDescription")</p>*@
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active statusMerchant" id="lbl-statusActive">
                                        <input type="radio" name="optionsRadios" id="statusActive" value="true" class="optionsRadios">
                                        ON
                                    </label>
                                    <label class="btn btn-default statusMerchant " id="lbl-statusInActive">
                                        <input type="radio" name="optionsRadios" id="statusInActive" value="false" class="optionsRadios">
                                        OFF
                                    </label>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* -----------------------End Permission For Employee ------------------------ *@
    </div>
    <div class="clearfix">

    </div>
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <button type="button" class="btn btn-default btn-Save">Save</button>
            <button onclick="location.href='@Url.Action("Index", "Employee")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
}

<script type="text/javascript">
    var arrpermission = [];
    $(function () {

        $("input[type='password']").attr("autocomplete", "off");

        $('form[autocomplete="off"] input, input[autocomplete="off"]').each(function () {
            var input = this;
            var name = $(input).attr('name');
            var id = $(input).attr('id');
            if (name == 'email') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                }, 1);
            }

            if (name == 'password') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                var pass = '';
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                    if (!isBlank(pass) && !isEmpty(pass)) {
                        document.getElementById("password").value = pass;
                    }
                }, 1);
            }
        });


        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });

        $('#datetimepicker2').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });
        //----------------- check Safari to upload image
        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image



        $('#addroleandstore').click(function () {
            var permission = {};
            var store = jQuery.parseJSON($('#store').val());
            var role = jQuery.parseJSON($('#role').val());
            var check = false;
            arrpermission.forEach(function (d) {
                if (d.store === store._id && d.role === role._id) {
                    check = true
                    $('#ErrDuplicate').html("The Permission is exist.");
                    setTimeout(function () { $('#ErrDuplicate').html(""); }, 5000);
                }
            });

            if (!check) {
                permission.store = store._id;
                permission.role = role._id;
                arrpermission.push(permission);
                var name = store.businessID == "Online store" ? "Merchant Panel" : store.businessID;
                $('.appendPermission').
                append('<tr id="store_' + store._id + '"><td class="role" style="display:none"><input type="text" class="listRole" name="listRole"  value="' + role._id + '" style="display:none" /></td> <td class="store" style="display:none"><input type="text" class="listStore" name="listStore"  value="' + store._id + '" style="display:none" /></td> <td class="roleid">' + role.roleName + '</td><td class="storeid">' + name + '</td><td><button type="button" class="btn btn-danger" onclick="deleteRole(this)">Delete</button></td></tr>');
                console.log(arrpermission);
            }

        });

      
    });
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }
    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }
    /*
    * Permission
    * Delete Role and store of permission
    */
    function deleteRole(self) {
        var currentRole = $(self).parents("tr").find('.listRole').val();
        var currentStore = $(self).parents("tr").find('.listStore').val();
        arrpermission.forEach(function (d) {
            if (d.store === currentStore && d.role === currentRole) {
                arrpermission.splice(d);
            }
        });
        $(self).parents("tr").remove();

    }
    //------------ end Permission-----------------

    $('.btn-Save').click(function () {    
        $('.btn').prop('disabled', true);
        var form = $('#frm');
        if (form.valid()) {
            $('#frm').submit();
        } else {
            $('.btn').prop('disabled', false);
        }
   })
</script>


