﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.EmployeeDetailModel


@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlImgDefault = Url.Content("~/Content/Images/avatarDefault.jpg");

    string status = string.Empty;
}
<div class="q-toolsbar">
    <div class="col-md-4">
        <h4>Employee Management / @Model.Employee.fullName (ID: @Model.Employee.EmployeeId)</h4>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Edit", "Employee", new { id = Model.Employee._id })';return false;" class="btn btn-primary">Edit</button>
        <button onclick="location.href='@Url.Action("Index", "Employee")';return false;" class="btn btn-default" style="margin-right:5px;">Close</button>
    </div>
</div>
@* separate line  *@
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
@* End separate line  *@
<div class="form-horizontal">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => Model.Employee._id)
    <div class="col-md-4">
        <h4>Information Detail</h4>
        <h5>Provide profile of employee</h5>
        @*<div class="">
            <label class="@(Model.Employee.status ? "activeStatusBackground" : "inactiveStatusBackground")">@(Model.Employee.status ? "Active" : "Inactive")</label>
        </div>*@
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @{
                //string urlImage = urlImgDefault;
                var imageUrl = urlImgDefault;
                System.Drawing.Size size = new System.Drawing.Size(0, 0);
                System.Drawing.Image image = null;
                if (string.IsNullOrEmpty(Model.Employee.image) || imageUrl == Model.Employee.image)
                {
                    imageUrl = urlImgDefault;

                    try
                    {
                        image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                    }
                    catch
                    {
                        image = null;
                    }
                }
                else
                {
                    Uri uri = null;
                    if (Uri.TryCreate(Model.Employee.image, UriKind.Absolute, out uri))
                    {
                        imageUrl = Model.Employee.image;
                    }

                    try
                    {
                        WebRequest request = WebRequest.Create(imageUrl);
                        WebResponse response = request.GetResponse();
                        image = System.Drawing.Image.FromStream(response.GetResponseStream());
                    }
                    catch
                    {
                        image = null;
                    }
                }
                if (image != null)
                {
                    size.Width = image.Width;
                    size.Height = image.Height;
                    size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
                }
                <div style="min-width:130px;height:auto;text-align:left;background-color: white;">
                    @if (size.Width > 0 && size.Height > 0)
                    {
                        <img src="@imageUrl" width="@size.Width" height="@size.Height" class="img-rounded category-image" id="thumbnil" />
                    }
                    else
                    {
                        <img src="@imageUrl" width="130" height="80" id="thumbnil" style="border-style: solid;border-width: 1px;position: relative;" class="img-rounded category-image" />
                    }
                </div>
            
            }
        </div>
        <br>
        @*----- Full name  ------*@
        <div class="form-group">
            <div class="col-md-6">
                <label for="Id">ID</label>
                <div>@Model.Employee.EmployeeId</div>
            </div>
            <div class="col-md-6">
                <label for="fullName">Full Name</label>
                <div>@Model.Employee.fullName</div>
            </div>

        </div>
        <br>
        @*----- Gender and Birthday ------*@
        <div class="form-group">
            <div class="col-md-6">
                <label for="gender">Gender</label>
                <div>
                    @if (Model.Employee.gender == 0)
                    {
                        <text>Male</text>
                    }
                    else if (Model.Employee.gender == 1)
                    {
                        <text>Female</text>
                    }
                    else
                    {
                        <text>Others</text>
                    }
                </div>
            </div>
            <div class="col-md-6">
                <label for="birthday">Birthday</label>
                <div>
                    <text>@Model.Employee.birthday.Split(' ')[0]</text>
                </div>
            </div>
        </div>
        <br>
        @*----- Phone number and hired Date ------*@
        <div class="form-group">
            <div class="col-md-6">
                <label for="phone">Phone Number</label>
                <div>
                    <text>@Model.Employee.phone</text>
                </div>
            </div>
            <div class="col-md-6">
                <label for="hiredDate">Hired Date</label>
                <div>
                    <text>@Model.Employee.hiredDate</text>
                </div>
            </div>
        </div>
        <br>
        @*----- Address and pincode -----*@
        <div class="form-group">
            <div class="col-md-12">
                <label for="address">Address</label>
                <div>
                    @if (@Model.Employee.AddressCombine != null)
                    {
                        <text>@Model.Employee.AddressCombine</text>
                    }

                </div>
            </div>
            @*<div class="col-md-6">
                    <label for="pinCode">Pincode</label>
                    <div>
                        <text>@Model.Employee.pinCode</text>
                    </div>
                </div>*@
        </div>
    </div>
</div>
@if (!Model.Employee.email.Equals(""))
{
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>Account</h4>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="email">Email</label>
                    <div>
                        <text>@Model.Employee.email</text>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="email">Pincode</label>
                    <div>
                        @if (string.IsNullOrEmpty(Model.Employee.pinCode))
                        {
                            <text>@Html.LocalizedLabel("NotSet")</text>
                        }
                        else
                        {
                            <text>@Model.Employee.pinCode</text>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class=" form-horizontal">
    <div class="col-md-4">
        <h4>Sales History</h4>
        <h5>Summary sale of this staff.</h5>
    </div>
    <div class="col-md-8">
        @{

            var sumSelfPOS = Model.OrderListSelfPOS == null ? 0 : Model.OrderListSelfPOS.Sum(r => r.grandTotal);
            var sumSelfPOSthismonth = Model.OrderListSelfPOSThisMonth == null ? 0 : Model.OrderListSelfPOSThisMonth.Count() > 0 ? Model.OrderListSelfPOSThisMonth.Sum(r => r.grandTotal) : 0;
            var sumSelfPOSlastmonth = Model.OrderListSelfPOSLastMonth == null ? 0 : Model.OrderListSelfPOSLastMonth.Count() > 0 ? Model.OrderListSelfPOSLastMonth.Sum(r => r.grandTotal) : 0;

            var sumSelfOnl = Model.OrderListSelfOnl == null ? 0 : Model.OrderListSelfOnl.Sum(r => r.grandTotal);
            var sumSelfOnlthismonth = Model.OrderListSelfOnlThisMonth == null ? 0 : Model.OrderListSelfOnlThisMonth.Count() > 0 ? Model.OrderListSelfOnlThisMonth.Sum(r => r.grandTotal) : 0;
            var sumSelfOnllastmonth = Model.OrderListSelfOnlLastMonth == null ? 0 : Model.OrderListSelfOnlLastMonth.Count() > 0 ? Model.OrderListSelfOnlLastMonth.Sum(r => r.grandTotal) : 0;

            var sumDelivery = Model.OrderListDelivery == null ? 0 : Model.OrderListDelivery.Sum(r => r.grandTotal);
            var sumDeliverythismonth = Model.OrderListDeliveryThisMonth == null ? 0 : Model.OrderListDeliveryThisMonth.Count() > 0 ? Model.OrderListDeliveryThisMonth.Sum(r => r.grandTotal) : 0;
            var sumDeliverylastmonth = Model.OrderListDeliveryLastMonth == null ? 0 : Model.OrderListDeliveryLastMonth.Count() > 0 ? Model.OrderListDeliveryLastMonth.Sum(r => r.grandTotal) : 0;

            var PointThisMonth = sumSelfPOSthismonth + sumSelfOnlthismonth + sumDeliverythismonth;
            var PointLastMonth = sumSelfPOSlastmonth + sumSelfOnllastmonth + sumDeliverylastmonth;
            var PointAllTime = sumSelfPOS + sumSelfOnl + sumDelivery;

            <table class="table tableemhistory">
                <tr>
                    <th class="first_tr"></th>
                    <th class="first_tr">Self-collect (POS)</th>
                    <th class="first_tr">Self-collect (Online)</th>
                    <th class="first_tr">Delivery</th>
                    <th class="first_tr">Point</th>
                </tr>
                <tr>
                    <td>This month</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumSelfPOSthismonth)</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumSelfOnlthismonth)</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumDeliverythismonth)</td>
                    <td>@String.Format("{0:0.00}", @PointThisMonth)</td>
                </tr>
                <tr>
                    <td>Last month</td>
                    <td>@Model.CurrencyDisplay @string.Format("{0:0.00}", @sumSelfPOSlastmonth)</td>
                    <td>@Model.CurrencyDisplay @string.Format("{0:0.00}", @sumSelfOnllastmonth)</td>
                    <td>@Model.CurrencyDisplay @string.Format("{0:0.00}", @sumDeliverylastmonth)</td>
                    <td>@String.Format("{0:0.00}", @PointLastMonth)</td>
                </tr>
                <tr>
                    <td>All time</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumSelfPOS)</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumSelfOnl)</td>
                    <td>@Model.CurrencyDisplay @String.Format("{0:0.00}", @sumDelivery)</td>
                    <td>@String.Format("{0:0.00}", @PointAllTime)</td>
                </tr>
            </table>

        }

    </div>
</div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="form-horizontal">
    <div class="col-md-4">
        <h4>Permission</h4>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <table class="col-md-12">
                @if (Model.Employee.arrPermission.Count() > 0)
                {
                    <thead>
                        <tr>
                            <th class="col-md-6">Role</th>
                            <th class="col-md-6">Store </th>
                        </tr>
                        <tr></tr>
                    </thead>
                    foreach (var item in Model.Employee.arrPermission)
                    {
                        if (item.isMerchant)
                        {
                            <tr>
                                <td class="col-md-6">@Html.LocalizedLabel("roleMerchant")</td>
                                <td class="col-md-6">All stores</td>
                            </tr>
                        }
                        else if (item.role != null)
                        {
                            <tr>
                                <td class="col-md-6">@item.role.roleName</td>
                                <td class="col-md-6">@(item.store.index == 1 ? " Merchant Panel" : item.store.businessID) </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
<div class="form-horizontal">
    <div class="col-md-4">
        <h4>@Html.LocalizedLabel("Status")</h4>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <div class="col-md-10">
                @if (Model.Employee.status)
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                }
                else
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                }
                @if (Model.Employee.status)
                {
                    <span style="color:green;">@Html.DisplayFor(model => status)</span>
                }
                else
                {
                    <span style="color:red;">@Html.DisplayFor(model => status)</span>
                }
                @*<label for="email">Email</label>*@
            </div>
        </div>
    </div>
</div>

<div class="q-toolsbar">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Edit", "Employee", new { id = Model.Employee._id })';return false;" class="btn btn-primary">Edit</button>
        <button onclick="location.href='@Url.Action("Index", "Employee")';return false;" class="btn btn-default" style="margin-right:5px;">Close</button>
    </div>
</div>