﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.InfoNewEmployee
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlNoImage = Url.Content("~/Content/Images/avatarDefault.jpg");
    String urlImgDefault = string.IsNullOrEmpty(Model.Employee.image) ? Url.Content("~/Content/Images/avatarDefault.jpg") : Model.Employee.image;
    System.Drawing.Size size = new System.Drawing.Size(0, 0);
    System.Drawing.Image image = null;
    if (urlNoImage == urlImgDefault)
    {
        try
        {
            image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(urlImgDefault));
        }
        catch
        {
            image = null;
        }
    }
    else
    {
        try
        {
            WebRequest request = WebRequest.Create(urlImgDefault);
            WebResponse response = request.GetResponse();
            image = System.Drawing.Image.FromStream(response.GetResponseStream());
        }
        catch
        {
            image = null;
        }
    }
    if (image != null)
    {
        size.Width = image.Width;
        size.Height = image.Height;
        size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
    }
}

@using (Html.BeginForm("Edit", "Employee", FormMethod.Post, new { autocomplete = "off", @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h4>Employee Management / @Model.Employee.fullName (ID: @Model.Employee.EmployeeId)</h4>
        </div>
        <div class="col-md-8">

            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 350px;">
                        <div class="modal-body">
                            Are you sure you want to delete this employee?
                        </div>
                        <div class="modal-footer">
                            <button onclick="location.href='@Url.Action("Delete", "Employee", new {id = Model.Employee._id })';return false;" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default btn-Save">Save</button>
            <button type="button" name="deleteEmployee" class="btn btn-danger deleteEmployee">Delete</button>
            <button type="button" onclick="location.href='@Url.Action("Detail", "Employee", new { id = Model.Employee._id })';return false;" class="btn btn-default" id="btnCancelCate" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-form">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="col-md-4">
                <h4>Information Detail</h4>
                <h5>Provide profile of employee</h5>
            </div>
            <div class="col-md-8">
                <div class="validation-summary-errors">
                    <ul>
                    </ul>
                </div>
                @* ------- End validation summary ------- *@
                @*2. ------- upload image for employee *@
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        @if (!string.IsNullOrEmpty(Model.Employee.image))
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image" style="position: relative;min-width: 263px; min-height: 170px;width: 263px!important;height: 170px!important;">
                                        <img src="@urlImgDefault" width="@size.Width" height="@size.Height" id="thumbnil" style="position: absolute;width: @size.Width px!important;height: @size.Height px!important;bottom:0px;" class="img-rounded category-image">
                                        <div class="q-clear"></div>
                                        <button class="btn btn-default" onclick="deleteImage()" style="position: absolute;bottom: 2px;left: 2px;min-width:37px!important;padding-left: 0px!important;padding-right: 0px!important;">   <i class="fa fa-trash">    </i> </button>
                                    </div>
                                    <input id="logoImg" name="logoImg" type="hidden" value="@urlImgDefault">
                                </div>
                                <div id="lbl_image" style="display:none">
                                    <img src="@urlNoImage" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image">
                                        <input id="logoImg" type="hidden" value="" name="logoImg">
                                    </div>
                                </div>
                                <div id="lbl_image">
                                    <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                @* -------End upload image for employee *@

                @*3. ------- firstName and lastName fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.firstName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @id = "firstName", @name = "firstName",  @maxlength = "50", @Value = Model.Employee.firstName})
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                        @*<label for="firstName">First Name (*)</label>
                        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" maxlength="50" value="@Model.Employee.firstName">*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.lastName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @*<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" maxlength="50" value="@Model.Employee.lastName">*@
                            @Html.TextBoxFor(model => model.lastName, new { @class = "form-control", @id = "lastName", @name = "lastName", @maxlength = "50", @Value = Model.Employee.lastName })
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                        @*<label for="lastName">Last Name (*)</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" maxlength="50" value="@Model.Employee.lastName">*@
                    </div>
                </div>
                @*4. ------- Gender and Birthday fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Gender)
                        </div>
                        <div class="col-md-4">
                            <select id="gender" name="gender" class="form-control">
                                <option value="0" @Html.Raw((Model.Employee.gender == 0) ? "selected=\"selected\"" : "")>Male</option>
                                <option value="1" @Html.Raw((Model.Employee.gender == 1) ? "selected=\"selected\"" : "")>Female</option>
                                <option value="2" @Html.Raw((Model.Employee.gender == 2) ? "selected=\"selected\"" : "")>Others</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Birthday)<span style="color:red"> *</span>
                        </div>
                        <div id="datetimepicker1" class="input-append date">
                            <input data-format="MM/dd/yyyy" type="text" class="form-control" id="birthday" name="birthday" value="@Model.Employee.birthday.Split(' ')[0]" />
                            <span class="add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span style="color:#b94a48;display: none;" id="ErrBirthday" name="ErrBirthday"> This field is required.</span>
                    </div>
                </div>

                @*5. -------Phone Number and Hired Date fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        @*<label for="phone">Phone Number (*)</label>
                        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="phonenumber" name="phonenumber" placeholder="Phone number" maxlength="50" value="@Model.Employee.phone">*@
                        <div class="inner">
                            @Html.LabelFor(model => model.phoneNumber)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.phoneNumber, new { @onkeypress="return event.charCode >= 48 && event.charCode <= 57", @class="form-control", @id="phonenumber", @name="phonenumber", @maxlength="50", @Value=Model.Employee.phone, @Placeholder = "Phone number"})
                            @Html.ValidationMessageFor(model => model.phoneNumber)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.hiredDate)<span style="color:red"> *</span>
                        </div>
                        <div id="datetimepicker2" class="input-append date">
                            <input data-format="MM/dd/yyyy" type="text" class="form-control" id="hiredate" name="hiredate" value="@Model.Employee.hiredDate" />
                            <span class="add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span style="color:#be1515;display: none;" id="ErrHiredDate"> This field is required.</span>
                    </div>
                </div>
                @*6. -------Address fields------ *@
                <div class="form-group">
                    <div class="col-md-12">
                        @*<label for="address">Address (*)</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Address" maxlength="100" value="@Model.Employee.address">*@
                        <div class="inner">
                            @Html.LabelFor(model => model.Address)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.Address, new { @class="form-control", @id="address", @name="address", maxlength="100", @Value=Model.Employee.address})
                            @Html.ValidationMessageFor(model => model.Address)
                        </div>
                    </div>
                </div>
                @*7. -------City and ZipCode fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.city, new { @class="form-control", @id="city", @name="city", @maxlength="50", @Value = Model.Employee.city})
                            @Html.ValidationMessageFor(model => model.city)
                        </div>
                        @*<label for="phone">City (*)</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="" maxlength="50" value="@Model.Employee.city">*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.zipCode, new { @class="form-control", @id = "zipcode", @name = "zipcode", @maxlength = "50", @Value = Model.Employee.zipCode})
                            @Html.ValidationMessageFor(model => model.zipCode)
                        </div>
                        @*<label for="zipCode">Zip Code (*)</label>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="" maxlength="50" value="@Model.Employee.zipCode">*@
                    </div>
                </div>

                @*8. -------Region / Provine / State and Country fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.state)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.state, new { @class = "form-control", @id = "state", @name = "state", @maxlength = "50", @Value = Model.Employee.state })
                            @Html.ValidationMessageFor(model => model.state)
                        </div>
                        @*<label for="state">Region / Provine / State (*)</label>
                        <input type="text" class="form-control" id="state" name="state" maxlength="50" placeholder="Region / Provine / State" value="@Model.Employee.state">*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.country)
                        </div>
                        <div class="inner">
                            <select id="country" name="country" class="form-control">
                                @foreach (var item in Model.arrCountry.arrayCountry)
                                {
                                    try
                                    {
                                        <option @(Model.Employee.country == @item ? " selected " : "") value="@item">@item</option>
                                    }
                                    catch
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>
                        </div>
                        </div>
                </div>
            </div>
        </div>
        @* -----------------------End Information Detail----------------------- *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @* -----------------------Begin Account Detail----------------------- *@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Account</h4>
                <h5>enter if this employee can be taken part in system</h5>
            </div>
            <div class="col-md-8">
                @*1. -------Email Address and Pin Code  fields------ *@
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.email)
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.email, new { @class="form-control", @id="email", @name="email", @maxlength="50", @Value = Model.Employee.email, @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                        @*<label for="email">Email Address (*)</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" maxlength="50" value="@Model.Employee.email" autocomplete="off">*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.pinCode)
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.pinCode, new { @onkeypress="return event.charCode >= 48 && event.charCode <= 57", @class="form-control",  @id="pincode", @name="pincode" , @maxlength="4", @Value = Model.Employee.pinCode})
                            @Html.ValidationMessageFor(model => model.pinCode)
                        </div>
                        @*<label for="hiredDate">Pin Code (only 4 numbers)</label>
                        <input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="pincode" name="pincode" placeholder="" maxlength="4" value="@Model.Employee.pinCode">*@
                    </div>
                </div>
                @*2. -------Password and Confirm fields------ *@
                @if (Model.Employee.arrPermission == null || !Model.Employee.arrPermission.Where(e => e.isMerchant).Any())
                {
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="inner">
                                @Html.LabelFor(model => model.Password)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.PasswordFor(model => model.Password, new { @class="form-control", @id="password", @name="password", @maxlength="50", @Value=Model.Employee.password , @autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                            @*<label for="phone">Password (*)</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="password" maxlength="50" value="@Model.Employee.password" autocomplete="off">*@
                        </div>
                        <div class="col-md-6">
                            <div class="inner">
                                @Html.LabelFor(model => model.confirmPassword)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.PasswordFor(model => model.confirmPassword, new { @class="form-control", @id="passwordConfirm", @name="passwordConfirm" , @maxlength="50", @Value=Model.Employee.password})
                                @Html.ValidationMessageFor(model => model.confirmPassword)
                            </div>
                            @*<label for="hiredDate">confirm Password (*)</label>
                            <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Password" maxlength="50" value="@Model.Employee.password">*@
                        </div>
                    </div>
                }
            </div>
        </div>
        @* -----------------------End Account For Employee ------------------------ *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @* -----------------------Begin Permission For Employee ----------------------- *@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Permission</h4>
                <br>
                <br>
                <text style="color:red" id="ErrDuplicate">                        </text>
                <br>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Store</label>
                        <select id="store" name="store" class="form-control">
                            @foreach (var item in Model.inventoryList)
                            {
                                if (!@item.businessID.Equals("Master"))
                                {
                                    <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">@(item.businessID == "Online store" ? " Merchant Panel" : item.businessID)</option>
                                }

                            }

                        </select>
                        <br>
                        <label for="hiredDate">Role</label>
                        <select id="role" name="role" class="form-control">
                            @foreach (var item in Model.roleList)
                            {
                                <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(item)">@item.roleName</option>
                            }

                        </select>
                        <br>
                        <button type="button" id="addroleandstore" name="addroleandstore" class="btn btn-primary form-control addroleandstore">Add Role</button>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="showroleandstore">
                    <table class="table appendPermission">
                        <tr>
                            <th>Role</th>
                            <th>Store</th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Employee.arrPermission)
                        {
                            if (item.isMerchant)
                            {
                                <tr>
                                    <td class="col-md-6">@Html.LocalizedLabel("roleMerchant")</td>
                                    <td class="col-md-6">All stores</td>
                                    <td class="col-md-6"></td>
                                </tr>
                            }
                            else if (item.role != null)
                            {
                                <tr>
                                    <td class="role" style="display:none">
                                        <input type="text" class="listRole" name="listRole" value="@item.role._id" style="display:none">
                                    </td>
                                    <td class="store" style="display:none">
                                        <input type="text" class="listStore" name="listStore" value="@item.store._id" style="display:none">
                                    </td>
                                    <td class="roleid">@item.role.roleName</td>
                                    <td class="storeid">@(item.store.index == 1 ? " Merchant Panel" : item.store.businessID)</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" onclick="deleteRole(this)">Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </div>

        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                @*<p>@Html.LocalizedLabel("StatusEmployeeDescription")</p>*@
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.Employee.status == true ? "active" : "") statusMerchant " id="lbl-statusActive-0">
                                        @*<label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-0">*@
                                        <input type="radio" name="@Model.Employee._id" id="statusActive-0" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(Model.Employee.status == false ? "active" : "") statusMerchant " id="lbl-statusInActive-0">
                                        @*<label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-0">*@

                                        <input type="radio" name="@Model.Employee._id" id="statusInActive-0" value="false" class="optionsRadios">
                                        OFF
                                    </label>


                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* -----------------------End Permission For Employee ------------------------ *@
    </div>
    <div class="clearfix">

    </div>
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 350px;">
                        <div class="modal-body">
                            Are you sure you want to delete this employee?
                        </div>
                        <div class="modal-footer">
                            <button onclick="location.href='@Url.Action("Delete", "Employee", new {id = Model.Employee._id })';return false;" class="btn btn-primary">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-default btn-Save">Save</button>
            <button type="button" name="deleteEmployee" class="btn btn-danger deleteEmployee">Delete</button>
            <button type="button" onclick="location.href='@Url.Action("Detail", "Employee", new { id = Model.Employee._id })';return false;" class="btn btn-default" id="btnCancelCate" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
}
<!-- MODEL POPUP CONFIRM-->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveEmployee")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>
<script>
    var jsEmployeeItem = {};
    // get list current Permission
    var arrpermission = [];
    var listRole = [];
    var listStore = [];
    if ($('#email').val().trim() !== "") {
        checkEmail = false;
        $('#email').prop('disabled', true);
    } else {
        checkEmail = true;
    }

    $('.listStore').each(function () {
        listStore.push($(this).val());
    });

    $('.listRole').each(function () {
        listRole.push($(this).val());
    });

    for (var i = 0; i < listRole.length ; i++) {
        var permission = {};
        permission.store = listStore[i];
        permission.role = listRole[i];
        arrpermission.push(permission);
    }

    function dismissPopup() {

        $('#lbl-' + jsEmployeeItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsEmployeeItem["position"]);
        if (jsEmployeeItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsEmployeeItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsEmployeeItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
   
    function confirmUpdate() {

        setStatus(jsEmployeeItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusEmployee = element.value == "true" ? true : false;
        var yesNo;
        var idEmployee = element.getAttribute("name");
        //console.log(statusEmployee);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusEmployee", "Employee")',
            data: {
                id: idEmployee,
                status: statusEmployee
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsEmployeeItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsEmployeeItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsEmployeeItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveEmployee")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveEmployee")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
    $(function () {
        jsEmployeeItem = {};
        isDismiss = "False";
        showStatus();
        $("input[type='password']").attr("autocomplete", "off");

        $('form[autocomplete="off"] input, input[autocomplete="off"]').each(function () {
            var input = this;
            var name = $(input).attr('name');
            var id = $(input).attr('id');
            if (name == 'email') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                }, 1);
            }

            if (name == 'password') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                var pass = '@Model.Employee.password';
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                    if (!isBlank(pass) && !isEmpty(pass)) {
                        document.getElementById("password").value = pass;
                    }
                }, 1);
            }
        });

        var now = new Date()
        // init datetime picker for birthday
        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });

        // init datetime picker for hired date
        $('#datetimepicker2').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });

    });
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

    /*
       * Validation Summary with jquery
       */
    
   

    /*
    * Permission
    * Add and Delete Role and store of permission
    */
    $('.deleteEmployee').click(function () {
        $('#myModal').modal();
    });

    $('#addroleandstore').click(function () {
        var permission = {};
        var store = jQuery.parseJSON($('#store').val());
        var role = jQuery.parseJSON($('#role').val());
        var check = false;
        arrpermission.forEach(function (d) {
            if (d.store === store._id && d.role === role._id) {
                check = true
                $('#ErrDuplicate').html("The Permission is exist.");
                setTimeout(function () { $('#ErrDuplicate').html(""); }, 5000);
            }
        });
        if (!check) {
            permission.store = store._id;
            permission.role = role._id;
            arrpermission.push(permission);
            var name = store.businessID == "Online store" ? "Merchant Panel" : store.businessID;
            $('.appendPermission').
                append('<tr id="store_' + store._id + '"><td class="role" style="display:none"><input type="text" class="listRole" name="listRole"  value="' + role._id + '" style="display:none" /></td> <td class="store" style="display:none"><input type="text" class="listStore" name="listStore"  value="' + store._id + '" style="display:none" /></td> <td class="roleid">' + role.roleName + '</td><td class="storeid">' + name + '</td><td><button type="button" class="btn btn-danger" onclick="deleteRole(this)">Delete</button></td></tr>');
            console.log(arrpermission);
        }
    });
    function deleteRole(self) {
        var currentRole = $(self).parents("tr").find('.listRole').val();
        var currentStore = $(self).parents("tr").find('.listStore').val();
        arrpermission.forEach(function (d) {
            if (d.store === currentStore && d.role === currentRole) {
                arrpermission.splice(d);
            }
        });
        $(self).parents("tr").remove();
    }
    //------------ end Permission-----------------
    $('.btn-Save').click(function () {
        $('.btn').prop('disabled', true);
        var form = $('#frm');
        if (form.valid()) {
            $('#frm').submit();
        } else {
            $('.btn').prop('disabled', false);
        }
    })
</script>