﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/csstableorder")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstraptableorder")
    @Scripts.Render("~/bundles/cookie")
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        .body-content .row:first-child {
            margin-top: -15px !important;
        }

        footer .row {
            margin-top: 5px !important;
        }

        .tableOrdering .row {
            margin-bottom: 15px !important;
        }

        .tableOrdering .row .col-md-6:first-child,
        .tableOrdering .row .col-xs-6:first-child {
            padding-right: 7px !important;
        }

        .tableOrdering .row .col-md-6:last-child,
        .tableOrdering .row .col-xs-6:last-child {
            padding-left: 7px !important;
        }

        .tableOrdering .row .col-md-4:first-child,
        .tableOrdering .row .col-xs-4:first-child {
            padding-right: 7px !important;
        }

        .tableOrdering .row .col-md-8:last-child,
        .tableOrdering .row .col-xs-8:last-child {
            padding-left: 7px !important;
        }

        .tableOrdering .row > div > input {
            max-width: 100% !important;
        }

        .footer {
            margin-top: 15px !important;
            margin-bottom: 15px !important;
            height: auto;
            background: transparent;
            width: 100%;
            text-align: center;
            vertical-align: middle;
        }
    </style>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>*@
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12 col-xs-12" id="tableordering">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12" style="font-size:small;color:grey;">
                <span>@ViewBag.businessName <i class="fa fa-copyright"></i> 2015 - All Rights Reserved</span>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
