﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css_theme_2")
    @Scripts.Render("~/bundles/modernizr")
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top heading" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle togglebutton" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="shym-logo"> <img class="shym-logo" src="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/1222211498_smoov2.png" alt="Store"></a>
                <ul class="shym-social-icons">
                    <li><a href="#">Login | Sign Up</a></li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="@Url.Action("MyCart", "Product", new { theme = @ViewBag.theme }, null)">Cart</a></li>
                </ul>
            </div>

            <div class="collapse navbar-collapse menubar">
                @if (@ViewBag.previewtheme != "1")
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li class=@(ViewBag.Class=="home"?"active":"")>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null) </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Products<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AllProducts", "Product", new { theme = @ViewBag.theme }, null)">All Categories</a></li>
                                @{
                    foreach (var item in ViewBag.listCategoryActive)
                    {
                        <li><a href="@Url.Action("ProductByCategory", "Product", new { category = @item.title, theme = @ViewBag.theme }, null)">@item.title</a></li>
                    }
                                }
                            </ul>
                        </li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">Best Seller</a></li>
                        <li><a href="#">Discount</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>

    <!-- Header -->
    <div class="navbar-wrapper">

        <div class="container">
            <div class="navbar navbar-inverse navbar-static-top" style="margin-bottom: 0px;">
                <div class="navbar-header">
                    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    @if (@ViewBag.previewtheme != "1")
                    {
                        <ul class="nav navbar-nav">
                            <li class=@(ViewBag.Class=="home"?"active":"")>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null) </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Products<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("AllProducts", "Product", new { theme = @ViewBag.theme }, null)">All Categories</a></li>
                                    @{
                        foreach (var item in ViewBag.listCategoryActive)
                        {
                            <li><a href="@Url.Action("ProductByCategory", "Product", new { category = @item.title, theme = @ViewBag.theme }, null)">@item.title</a></li>
                        }
                                    }
                                </ul>
                            </li>

                            <li><a href="#">Collections</a></li>
                            <li><a href="#">Best Seller</a></li>
                            <li><a href="#">Discount</a></li>
                            
                        </ul>
                    }
                </div>
            </div>

        </div><!-- /container -->

    </div><!-- /navbar wrapper -->
    <div id="carousel" class="carousel slide" data-ride="carousel" style="position: inherit;margin-top: -50px;">
        @if (ViewBag.SiteID == "store1")
        {
            <div class="carousel-inner" role="listbox">
                @{
            int i = 0;
            foreach (var item in ViewBag.slideImage)
            {
                i++;

                <div class="item @(i==1?" active":"")">
                    <a href="@item.targetLink"> <img src="@item.urlImage" alt=""></a>
                </div>
            }
                }
            </div>
            <ol class="carousel-indicators">
                @{
            int j = -1;
            foreach (var item in ViewBag.slideImage)
            {
                j++;
                <li data-target="#carousel" data-slide-to="@j"></li>
            }
                }

            </ol>

        }
        else
        {

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="http://corporate.smoov.me/"><img src="~/Content/images/slide_3.png" alt=""></a>
                </div>
                @{
            int i = 0;
            foreach (var item in ViewBag.slideImage)
            {
                i++;

                <div class="item">
                    <a href="@item.targetLink"> <img src="@item.urlImage" alt=""></a>
                </div>
            }
                }
            </div>
            <ol class="carousel-indicators">
                @{
            int j = -1;
            foreach (var item in ViewBag.slideImage)
            {
                j++;
                <li data-target="#carousel" data-slide-to="@j"></li>
            }
                }

            </ol>
        }


        <a href="#carousel" class="left carousel-control" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a href="#carousel" class="right carousel-control" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

    <div class="container marketing">
        <div class="container" style="min-height: 550px;">
            @RenderBody()
        </div>
    </div>
    <footer class="shym-contact">

        <div class="container">

            <!--======= TITTLE PART =========-->
            <div class="tittle">
                <h3 class="shym-text-center">Get ın touch</h3>
                <hr>
                <p class="shym-text-center">It is a long established fact that a reader will be distracted by the readable content.</p>
            </div>

            <!--======= SOCIAL ICONS PART =========-->
            <div class="social_icons">
                <ul>
                    @if (!String.IsNullOrEmpty(ViewBag.Social.facebook))
                    {
                        @*<li><a href="@ViewBag.Social.facebook"><img src="~/Content/images/facebook.png"></a></li>*@
                        <li class="facebook"> <a href="@ViewBag.Social.facebook" target="_blank" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" data-scroll-reveal-id="21" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"><i class="fa fa-facebook"></i> </a> </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.Social.twitter))
                    {
                        @*<li><a href="@ViewBag.Social.twitter"><img src="~/Content/images/twiter.png"></a></li>*@
                        <li class="twitter"> <a href="@ViewBag.Social.twitter" target="_blank" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" data-scroll-reveal-id="22" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"><i class="fa fa-twitter"></i> </a> </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.Social.youtube))
                    {
                        @*<li><a href="@ViewBag.Social.youtube"><img src="~/Content/images/youtube.png"></a></li>*@
                        <li class="youtube"> <a href="@ViewBag.Social.youtube" target="_blank" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" data-scroll-reveal-id="23" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"><i class="fa fa-youtube"></i> </a> </li>
                    }
                    @if (!String.IsNullOrEmpty(ViewBag.Social.googlePlus))
                    {
                        @*<li><a href="@ViewBag.Social.googlePlus"><img src="~/Content/images/google.png"></a></li>*@
                        <li class="googleplus"> <a href="@ViewBag.Social.googlePlus" target="_blank" data-scroll-reveal="wait 0.25s, then enter top and move 40px over 1s" data-scroll-reveal-id="24" data-scroll-reveal-initialized="true" data-scroll-reveal-complete="true"><i class="fa fa-google"></i> </a> </li>
                    }
                </ul>
            </div>

            <!--======= CONTACT INFO PART =========-->
            <div class="con-info">
                <div class="row">
                    <div class="container">
                        <div class="col-md-6 col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="ion-flag"></i>
                                    <h4>ABOUT US</h4>
                                    <p> @(Html.Raw(ViewBag.aboutUs))</p>
                                </div>

                                <!--======= OFFICE ADRESS PART =========-->
                                <div class="col-sm-6">
                                    <i class="ion-android-location"></i>
                                    <h4>OFFICE ADRESS</h4>
                                    <p>Smoov Pte Ltd</p>
                                    <p>(65) 6253 6168</p>
                                    <p> sales@smoov.me </p>
                                    <p> Braddell Tech 15 Lorong 8 Toa Payoh #5-09 Singapore (319262)</p>

                                </div>
                            </div>
                        </div>

                        <!--======= GET IN TOUCH PART =========-->
                        <div class="col-md-6 col-sm-6">
                            <i class="ion-flag"></i>
                            <h4>GET IN TOUCH</h4>
                            <div id="contact_form">
                                <form id="contact-form" class="contact-form " accept-charset="utf-8" method="post">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    <span>Name</span>
                                                    <input name="name" type="text" placeholder="Name">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>
                                                    <input name="email" type="email" placeholder="Email">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <label>
                                                <span>Message</span>
                                                <textarea name="message" placeholder="Your Message"></textarea>
                                            </label>
                                            <input name="submit" type="submit" value="SUBMIT YOUR MESSAGE">
                                        </div>
                                    </div>
                                </form>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <hr>
                                <ul class="list-inline q-ul-nobullet">
                                    <li class=@(ViewBag.Class=="home"?"active":"")>@Html.ActionLink("About", "About", "Home", new { theme = @ViewBag.theme }, null) </li>
                                    <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { theme = @ViewBag.theme }, null) </li>
                                    <li>@Html.ActionLink("Shipping Information", "ShippingInfo", "Home", new { theme = @ViewBag.theme }, null)</li>
                                    <li>@Html.ActionLink("Return & Exchange", "ReturnExchange", "Home", new { theme = @ViewBag.theme }, null)</li>
                                    <li>@Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", new { theme = @ViewBag.theme }, null) </li>
                                    <li>@Html.ActionLink("Terms & Conditions ", "TermConditions", "Home", new { theme = @ViewBag.theme }, null) </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyrights">
            <div class="container">
                <a href="http://corporate.smoov.me/">
                    <p class="pull-left">Copyright © 2014- Smoov Pte Ltd - All rights reserved.</p>
                </a>

            </div>

        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
