﻿@using SmoovPOS.Utility.CustomHTMLHelper
@* Modal to Delete *@
<div class="modal fade" id="modalDeleteItem" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <input type="hidden" value="" id="idDeviceDelete" />
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeleteDevice")
            </div>
            <div class="modal-footer">
                <button onclick="confirmDelete()" class="btn btn-primary" data-dismiss="modal" value="">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>
<script>
    function DeleteItem(id) {
        $('#idDeviceDelete').val(id);
    }
    function confirmDelete() {
        var idDevice = $('#idDeviceDelete').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "ManageDevice")',
            data: {
                id: idDevice
            },
            success: function (data) {
                $('#partialListing').html(data);
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
                $(".btn").removeAttr("disabled");
            }
        });
    }
</script>