﻿@Scripts.Render("~/bundles/jqueryval")
@model SmoovPOS.UI.Models.DeviceToken.DetailDeviceViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
@using (Ajax.BeginForm("Edit", "ManageDevice", new SmoovPOS.UI.Models.DeviceToken.DetailDeviceViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()


    <div class="modal fade q-form" id="modalDetailItem" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                @*Set flag to create new list stations or update the old*@
                <div class="modal-header">
                    <h4 class="modal-title" id="ModalTitle"></h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.deviceTokenId)
                                @Html.HiddenFor(m => m.branchIndex)
                                @Html.HiddenFor(m => m.merchantID)
                                @Html.HiddenFor(m => m.bucket)
                                @Html.HiddenFor(m => m.appType)

                                @Html.LabelFor(model => model.uuid)
                                @Html.TextBoxFor(m => m.uuid, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.token)
                                @Html.TextBoxFor(m => m.token, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.name)
                                @Html.TextBoxFor(m => m.name, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.systemName)
                                @Html.TextBoxFor(m => m.systemName, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.systemVersion)
                                @Html.TextBoxFor(m => m.systemVersion, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.model)
                                @Html.TextBoxFor(m => m.model, new { @disabled = "disabled", @class = "form-control", @maxlength = 35 })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.os)
                                @Html.TextBoxFor(m => m.os, new { @disabled = "disabled", @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-primary" id="@(string.IsNullOrEmpty(Model.uuid) ? "btn-Save" : "btn-Edit")">@Html.LocalizedButton("Save")</button>*@
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-Cancel" onclick="">@Html.LocalizedButton("Close")</button>
                </div>

            </div>
        </div>
    </div>

}

<script type="text/javascript">
    function SubmitForm(form) {
        $.ajax({
            type: "POST",
            url: form.attr('action'),
            data: form.serialize(),
            success: function (result) {
                $('#partialListing').html(result);
            },
            beforeSend: function () {
                $('.btn').attr('disabled', true);
            },
            complete: function () {
                $('.btn').attr('disabled', false);
                $('#btn-Cancel').click();
            }
        });
    }
    $("#btn-Save").click(function (e) {
        e.preventDefault();
        var form = $("#formid");
        console.log(form);
        var checkForm = form.valid();
        if (checkForm) {
            SubmitForm(form);
        }
    });
    $("#btn-Edit").click(function (e) {
        var form = $("#formid");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        form.valid();
        var uuid = $('#UUID').val();
        if (uuid != '@Model.uuid') {
            form = $("#formid");
            form.removeData('validator');
            form.removeData('unobtrusiveValidation');
            $.validator.unobtrusive.parse(form);
            form.valid();
            setTimeout(function () {
                check = form.valid();
                if (check) {
                    SubmitForm(form);
                }
            }, 1000)
        }
        else {
            $.validator.unobtrusive.parse(form);
            form.valid();
            $('.field-validation-error').hide();
            SubmitForm(form);
        }
    });
</script>