﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.Entity.DeviceToken.ManageDevice
<div style="max-height:547px;overflow-y:auto;border-bottom:1px solid #dddddd;">
    <table class="table table-hover">
        <thead>
            <tr class="first_tr">
                <th>@Html.LocalizedLabel("UUID")</th>
                <th>@Html.LocalizedLabel("OS")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.ArrayDevices != null && Model.ArrayDevices.Count() > 0)
                {
                    foreach (var Item in Model.ArrayDevices)
                    {
                        <tr>
                            <td>
                                <label>@Item.uuid</label>
                            </td>

                            <td>
                                <text>@Item.os</text>
                            </td>

                            <td>
                                <button type="button" class="btn btn-default" onclick="EditItem('@Item.uuid','@Item.deviceTokenId','@Item.os')" data-toggle="modal">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-default" onclick="DeleteItem('@Item.uuid');" data-toggle="modal" data-target="#modalDeleteItem">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="center" colspan="4">@Html.LocalizedMessage("NoDeviceFound")</td>
                    </tr>
                }
            }
        </tbody>



    </table>
</div>
