﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        .modal {
            overflow-y: auto !important;
        }

        body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
            margin-right: 0px !important;
        }
    </style>

    @*<style>
            .nav-sidebar {
                margin-bottom: 20px;
            }

            a {
                color: #000;
                text-decoration: none;
            }

            .nav-sidebar {
                border-bottom: solid 1px;
            }

                .nav-sidebar a {
                    color: #fff;
                }

                .nav-sidebar .active {
                    outline: 0;
                    background: #FFF;
                    color: #000;
                }

                    .nav-sidebar .active a {
                        color: #000;
                    }

                .nav-sidebar a:hover {
                    color: #000;
                }
        </style>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SMOOV POS", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="display:none;">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-sm-3 col-md-2 sidebar" style="background: #3D3C3C">
            <ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "management" ? "active" : "")>
                    <a href="@Url.Action("Index", "MerchantManagement")"><i class="fa fa-group"></i> &nbsp;&nbsp; Merchant Management</a>
                </li>
            </ul>
            
            <ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "servicepackage" ? "active" : "")>
                    <a href="@Url.Action("Index", "ServicePackage")"><i class="fa fa-puzzle-piece"></i> &nbsp;&nbsp; Service Package</a>
                </li>
            </ul>

            <ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "functionMethod" ? "active" : "")>
                    <a href="@Url.Action("Index", "FunctionMethod")"><i class="fa fa-tasks"></i> &nbsp;&nbsp; Function List</a>
                </li>
            </ul>

            <ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "payment" ? "active" : "")>
                    <a href="@Url.Action("Index", "Setting")"><i class="fa fa-codepen"></i> &nbsp;&nbsp; Payment Gateway</a>
                </li>
            </ul>
            @*<ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "mailserver" ? "active" : "")>
                    <a href="@Url.Action("MailServer", "Setting")"><i class="fa fa-envelope"></i> &nbsp;&nbsp; Default Email</a>
                </li>
            </ul>*@
            @*<ul class="nav nav-sidebar">
                <li class=@(ViewBag.Class == "defaultEmail" ? "active" : "")>
                    <a href="@Url.Action("Index", "DefaultEmail")"><i class="fa fa-envelope"></i> &nbsp;&nbsp; Default Email</a>
                </li>
            </ul>*@

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" id="div_main">
            @RenderBody()
        </div>


        <hr />
        @*<footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
