﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.Station.StationViewModel

@{
    ViewBag.Title = "Station";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";

    bool isBranchEmpty = (Model.ListBranches != null && Model.ListBranches.Count() > 0);
}

<style>
    .StationsTable {
        table-layout: auto !important;
    }

        .StationsTable tr td {
            vertical-align: middle !important;
        }

        .StationsTable .first_tr {
            font-weight: bold;
        }
</style>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@Html.LocalizedLabel("StationSettings")</h3>
    </div>

    <div class="col-md-8">
        <select class="form-control" id="selectBranch1" style="width:300px;float:right;">
            @{
                if (isBranchEmpty)
                {
                    foreach (var item in Model.ListBranches)
                    {
                        <option @((item.businessID == Model.SelectedBranchName) ? "selected" : "") value="@(item.businessID + "|" + item.index.ToString())">@item.businessID</option>
                    }
                }
            }
        </select>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("StationList")</h4>
            <text>@Html.LocalizedLabel("DefineListOfStationForEachBranch")</text>
            <br />
            <br />
            <div>
                @{
                    if (isBranchEmpty)
                    {
                        <input type="button" class="btn btn-primary submit" onclick='AddStation();' data-toggle="modal" data-target="#modalDetailStationItem" style="width:120px;" value="Add" />
                    }
                }
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-12">
                    @{
                        if (isBranchEmpty)
                        {
                            <div id="partialStationListing"></div>

                            <input type="hidden" name="StationItemToDelete" id="StationItemToDelete" value="">
                        }
                        else
                        {
                            <div style="text-align: center;padding-top: 24px;">
                                <text>@Html.LocalizedMessage("NoBranchFound")</text>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2;" /></div>

<div class="q-toolsbar">
    <div class="col-md-4">
    </div>

    <div class="col-md-8" style="padding-top:0px;padding-bottom:0px;">
        <select class="form-control" id="selectBranch2" style="width:300px;float:right;">
            @{
                if (isBranchEmpty)
                {
                    foreach (var item in Model.ListBranches)
                    {
                        <option @((item.businessID == Model.SelectedBranchName) ? "selected" : "") value="@(item.businessID + "|" + item.index.ToString())">@item.businessID</option>
                    }
                }
            }
        </select>
    </div>
</div>

@* Modal to Delete *@
<div class="modal fade" id="modalDeleteStaionItem" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeleteStation")
            </div>
            <div class="modal-footer">
                <button onclick="confirmDelete()" class="btn btn-primary" data-dismiss="modal" value="">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade q-form" id="modalDetailStationItem" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            @*Set flag to create new list stations or update the old*@
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>

            <div class="modal-body">
                <div class="col-md-12" id="modalDetailStation">
                    @Html.Partial("~/Views/Station/StationDetail.cshtml", Model.StationDetail)
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-Save">@Html.LocalizedButton("Save")</button>

                <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-Cancel" onclick="ReloadDetail();">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(".mainMenu").hide();
    $(".settingsMenu").show();

    $(document).ready(function () {
        //Set the default data of partial view StationDetail.cshtml by the selected value of ddl 'selectBranch'
        var BranchName = $("#selectBranch1").val();
        ChangeBranch(BranchName);

        //Change data of partial view StationDetail.cshtml when the selected value of ddl 'selectBranch' is changed
        $('#selectBranch1').change(function () {
            $("#selectBranch2").val($(this).val());
            $('#modalDetailStationItem').find('#hfBranchName').val($(this).val());
            ChangeBranch($(this).val());
        })

        $('#selectBranch2').change(function () {
            $("#selectBranch1").val($(this).val());
            $('#modalDetailStationItem').find('#hfBranchName').val($(this).val());
            ChangeBranch($(this).val());
        })
    });

    function ReloadDetail() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("StationDetail", "Station")',
            data: { BranchName: $("#selectBranch1").val(), StationName: 'NA', StationSize: 1, StationID: 'NA' },
            success: function (result) {
                isChangeDetail = false;
                $('#modalDetailStation').html(result);
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            }
        });
    }

    var isChangeDetail = false;
    var isChangeBranch = false;

    function ChangeBranch(SelectedBranchName) {
        if (isChangeBranch == false) {
            isChangeBranch = true;

            $.ajax({
                type: "GET",
                url: '@Url.Action("GetListStationOfBranch", "Station")',
                data: { id: SelectedBranchName },
                success: function (result) {
                    $('#partialStationListing').html(result);
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                },
                complete: function () {
                    $('#modalDetailStationItem').modal('hide');
                    //Reset button
                    $('#btn-Save').text('Save');
                    $('#btn-Save').prop('disabled', false);
                    $('#btn-Cancel').prop('disabled', false);
                }
            });

            isChangeBranch = false;
        }
    }

    function AddStation() {
        var BranchName = $("#selectBranch1").val();
        isChangeDetail = true;
        var lst = BranchName.split("|");

        $('#modalDetailStationItem').find('.modal-title').html('@Html.LocalizedLabel("AddStation")');
        $('#modalDetailStationItem').find('#BranchName').val(lst[0]);
        $('#modalDetailStationItem').find('#BranchIndex').val(lst[1]);
        $('#modalDetailStationItem').find('#StationID').val('');
        $('#modalDetailStationItem').find('#StationName').val('');
        $('#modalDetailStationItem').find('#StationSize').val('');
        $('#StationName').focus();
    }

    function EditStation(BranchName, BranchIndex, ID, StationName, StationSize) {
        isChangeDetail = false;

        $('#modalDetailStationItem').find('.modal-title').html('@Html.LocalizedLabel("EditStation")');
        $('#modalDetailStationItem').find('#BranchIndex').val(BranchIndex);;
        $('#modalDetailStationItem').find('#BranchName').val(BranchName);
        $('#modalDetailStationItem').find('#StationID').val(ID);
        $('#modalDetailStationItem').find('#StationName').val(StationName);
        $('#modalDetailStationItem').find('#StationSize').val(StationSize);
    }

    function DeleteStation(ID) {
        $("#StationItemToDelete").val(ID);
    }

    function confirmDelete() {
        var id = $('#StationItemToDelete').val();
        var postData = { stationID: id };

        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteStationItem", "Station")',
            data: postData,
            success: function (data) {
                ChangeBranch($("#selectBranch1").val());
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    $('#btn-Save').click(function () {
        if (isChangeDetail == false) {
            $('#modalDetailStationItem').modal('hide');
            return;
        }
        var form = $('#formData');
        //var check = ValidateSize();
        jQuery.validator.unobtrusive.parse(form);
        if (!form.valid()) {
            
            return;
        }

        var BranchIndex = $('#modalDetailStationItem').find("#BranchIndex").val();
        var StationID = $('#modalDetailStationItem').find('#StationID').val();
        var StationName = $('#modalDetailStationItem').find('#StationName').val();

        //Validate
        //Set btn Save to saving... when start submitting
        $('#btn-Save').text('Saving...');
        //Disable buttons
        $('#btn-Save').prop('disabled', true);
        $('#btn-Cancel').prop('disabled', true);
        //Validate IsNameExisted
        $.ajax({
            type: "GET",
            url: '@Url.Action("IsExistedStation", "Station")',
            data: { StationID: StationID, StationName: StationName, BranchIndex: BranchIndex },
            success: function (result) {

                if (result != true) {
                    $('#btn-Save').text('Save');
                    $('#btn-Save').prop('disabled', false);
                    $('#btn-Cancel').prop('disabled', false);

                    form.removeData('validator');
                    form.removeData('unobtrusiveValidation');
                    $.validator.unobtrusive.parse(form);
                    form.valid();
                }
                else {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EditStationItem", "Station")',
                        data: form.serialize(),
                        success: function (data) {
                            ChangeBranch($('#modalDetailStationItem').find("#hfBranchName").val() + "|" + $('#modalDetailStationItem').find("#BranchIndex").val());
                        },
                        error: function (error) {
                            console.log(error);
                        },
                        beforeSend: function () {
                        },
                        complete: function () {
                            $('#modalDetailStationItem').modal('hide');
                            //Reset button
                            $('#btn-Save').text('Save');
                            $('#btn-Save').prop('disabled', false);
                            $('#btn-Cancel').prop('disabled', false);
                        }
                    });
                }
            }
        });
    });
</script>