﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.Station.StationViewModel

<div style ="max-height:547px;overflow-y:auto;border-bottom:1px solid #dddddd;">
    <table class="table StationsTable">
        <tr class="first_tr">
            <td style="width:25%">@Html.LocalizedLabel("Name")</td>
            <td style="width:25%">@Html.LocalizedLabel("Size")</td>
            <td style="width:35%">@Html.LocalizedLabel("QRCode")</td>
            <td style="width:15%"></td>
        </tr>

        @{
            if (Model.ListStations != null && Model.ListStations.Count() > 0)
            {
                foreach (var Item in Model.ListStations)
                {
                    var QRCode8cmFileName = "QR_Code_" + Item.BranchName + "_" + Item.StationName + "_8cm.jpg";

                    <tr id="@Item.StationName">
                        <td>
                            <label>@Item.StationName</label>
                            <input type="hidden" name="linkQACode" id="linkQACode" value="@Item.StationQRCode">
                        </td>

                        <td>
                            <text>@Item.StationSize</text>
                        </td>

                        <td>
                            <input type="hidden" name="branch-name" id="branch-name" class="branch-name" value="@Item.BranchName">
                            <input type="hidden" name="station-name" id="station-name" class="station-name" value="@Item.StationName">
                            <select class="form-control selectPrintingSize" style="width:100px;display:inline;">
                                @{
                                    <option value="226">8 cm</option>
                                    <option value="453">12 cm</option>
                                    <option value="566">15 cm</option>
                                }
                            </select>
                            &nbsp;&nbsp;
                            <a href='@Url.Action("DownloadQRCode", "Station", new { url = @Item.StationQRCode, size = "226", filename = QRCode8cmFileName })'>
                                <i class="fa fa-download"></i>
                            </a>
                        </td>

                        <td>
                            <button type="button" class="btn btn-default" onclick="EditStation('@Item.BranchName','@Item.BranchIndex.ToString()','@Item.ID','@Item.StationName','@Item.StationSize.ToString()');" data-toggle="modal" data-target="#modalDetailStationItem">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button type="button" class="btn btn-default" onclick="DeleteStation('@Item.ID');" data-toggle="modal" data-target="#modalDeleteStaionItem">
                                <i class="fa fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td class="center" colspan="4">@Html.LocalizedMessage("NoStationFound")</td>
                </tr>
            }
        }
    </table>
</div>

<script>
    //Change data of link-btn 'this.linkToDownload' when the selected value of ddl 'this.selectPrintingSize' is changed
    $('.selectPrintingSize').change(function () {
        var filename = "QR_Code_" + $(this).siblings('.branch-name').val() + "_" + $(this).siblings('.station-name').val();
        switch ($(this).val().trim()) {
            case '566':
                filename += "_15cm.jpg";
                break;
            case '453':
                filename += "_12cm.jpg";
                break;
            default:
                filename += "_8cm.jpg";
        }

        var element = $(this).siblings('a');
        link = element.attr('href');
        var index = link.indexOf("size");
        if (index < 0) link = link + "&size=" + $(this).val().trim() + "&filename=" + filename;
        else link = link.substring(0, index) + "&size=" + $(this).val().trim() + "&filename=" + filename;
        element.attr('href', link);
    });
</script>