﻿@model IEnumerable<Com.SmoovPOS.Entity.ServiceDelivery>

@if (Model != null && Model.Count() > 0)
{
    string valueService = string.Empty;
    string check = string.Empty;

    foreach (var item in Model)
    {
        valueService = string.Format("{0}|{1} {2}|{3} - {4} Business days", item._id, ViewBag.currency, String.Format("{0:0.00}", item.shippingPrice), item.beginEstimate, item.endEstimate);
        check = item.isDefault ? "checked" : "";

        <label class="radio labelstyle">
            <input type="radio" class="service-area" name="delivery_service" id="delivery_service" value="@valueService" @check>
            @item.serviceName
        </label>
    }
}
else
{
    <span>
        N/A
    </span>
}
<script>
    //delivery_service
    $(document).ready(function () {
        setTimeout(function () {
            SetValueShipping();
            $('#listDelivery').removeClass('checkboxstyle');
            if ('@Model.Count().ToString()' != '0') {
                $('#listDelivery').addClass('checkboxstyle')
            }
        }, 200);

        $('input[name="delivery_service"]:radio').change(function () {
            SetValueShipping();
        });
    });
</script>
