﻿@using online.Models
@using Com.SmoovPOS.Entity

@model MyCart

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    string isAuthenticated = "false";
    if (HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName] != null && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString()))
    {
        isAuthenticated = "true";
    }
    int count = 0;
    int countOfCheckedVariant = 0;
    foreach (var item in Model.listProductItems)
    {
        foreach (var variant in item.arrayVarient)
        {
            count++;
            if (variant.isCheckedToCheckOut) { countOfCheckedVariant++; }
        }
    }
    var selectAll = (count == countOfCheckedVariant) ? "checked" : "";
    
}

<style>
    .col-md-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .loading {
        display: block;
    }

    .discount-product-cart {
        max-width: 110px;
        max-height: 90px;
    }

    .header-Cart-Backgroud {
        background: #F4F4F4;
    }

    .tablecart tbody tr {
        height: 100px !important;
    }

    .fix-image-cart {
        max-height: 80px;
    }
</style>

<div class="cart-title"><h4>MY CART(@count items)</h4><p></p></div>
<div class="q-select-varient"></div>
@if (@count > 0)
{
    <div class="q-content">
        <div id="cartToCheckout" class="q-mycart">
            <table class="table tablecart">
                <thead>
                    <tr class="header-Cart-Backgroud">
                        <th><input type="checkbox" class="checkbox" id="checkAll" @selectAll onchange="checkAllCheckBoxes();"/></th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2" style="text-align: left; padding-left: 19px;">PRODUCT NAME</th>
                        <th class="col-md-3">PRICE</th>
                        <th class="col-md-2">QUANTITY</th>
                        <th class="col-md-2">SUB TOTAL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.listProductItems.Count() > 0)
                    {
                        foreach (var item in Model.listProductItems)
                        {
                            foreach (var variant in item.arrayVarient)
                            {
                                <tr id="variantSku_@variant.sku" class="item_cart">
                                    @{
                                var tmpImage = variant.image.imageDetault;
                                        var imagePath = "";

                                        if (tmpImage.Length > 4)
                                        {
                                            imagePath = variant.image.imageDetault;
                                        }
                                        else
                                        {
                                            if (int.Parse(tmpImage) == 0)
                                            {
                                                if (variant.image.arrayImage != null && variant.image.arrayImage.Count() > 0)
                                                {
                                                    imagePath = variant.image.arrayImage[int.Parse(variant.image.imageDetault)];
                                                }
                                                else
                                                {
                                                    imagePath = Url.Content("~/Content/images/imageDefault.png");
                                                }
                                            }
                                            else if (int.Parse(tmpImage) > 0)
                                            {
                                                imagePath = variant.image.arrayImage[int.Parse(variant.image.imageDetault)];
                                            }
                                            else
                                            {
                                                imagePath = variant.image.imageDetault;
                                            }
                                        }

                                        double variantPrice = variant.price;
                                        double variantPriceDiscount = variant.price;
                                        var isProductSelected = variant.isCheckedToCheckOut ? "checked" : "";
                                        var isDisplayWarningOfVariantQuantity = (variant.quantity > variant.quantityInStock && variant.quantityInStock >= 0) ? "block" : "none";
                                    }
                                    <td style="padding-left:8px!important;vertical-align:middle;">
                                        <input type="checkbox" class="checkbox" id="@variant.sku" @isProductSelected onchange="selectCheckBox('@item._id','@variant.sku');" />
                                    </td>
                                    <td>
                                        <div class="discount-product-cart">
                                            @if (item.discount)
                                            {
                                                var discountbanner = item.DiscountProductItem.type == 0 ? item.DiscountProductItem.discountValue + " %" : ViewBag.currency + " " + item.DiscountProductItem.discountValue;
                                               // variantPriceDiscount = item.DiscountProductItem.type == 0 ? variantPriceDiscount - variantPriceDiscount * item.DiscountProductItem.discountValue / 100 : variantPriceDiscount - item.DiscountProductItem.discountValue;
                                                variantPriceDiscount = item.DiscountProductItem.type == 0 ? variantPriceDiscount - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", variantPriceDiscount * item.DiscountProductItem.discountValue / 100)), 2) : variantPriceDiscount - item.DiscountProductItem.discountValue;
                                                
                                                variantPriceDiscount = variantPriceDiscount > 0 ? variantPriceDiscount : 0;
                                            }

                                            <img id="q-img-large" src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                                                 data-holder-rendered="true" class="img-responsive img-thumbnail fix-image-cart">
                                        </div>

                                    </td>
                                    <td style="text-align:left;vertical-align:middle;">
                                        <div class="titleitem"> @item.name</div>
                                        <span>@variant.title @variant.color @variant.size</span>
                                        @if (!string.IsNullOrEmpty(variant.variantRemark))
                                        {
                                            <br />
                                            <span style="font-style:italic">* @variant.variantRemark</span>
                                        }
                                    </td>
                                    <td style="vertical-align:middle;">
                                        <div style="display: inline-block;">@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(variantPriceDiscount, 2))</div>
                                        &nbsp;&nbsp;
                                        @if (item.discount)
                                        {
                                            <div style="display: inline-block;"><del>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(variantPrice, 2))</del></div>
                                        }
                                    </td>
                                    <td style="vertical-align:middle;">
                                        <div id="warning-qty-varient-@variant.sku" style="color:red;font-style:italic;display:@isDisplayWarningOfVariantQuantity;" >Only @variant.quantityInStock item(s) left.</div>

                                        <input id="qtyvarient__@variant.sku" name="qtyvarient" class="q-qtyvarient" value="@variant.quantity" onchange="changeQuantity('@variant.sku','@item._id');" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="1" />
                                    </td>
                                    <td style="vertical-align:middle;">
                                        @{
                                         //   var totalItem1 =  (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}",  variantPriceDiscount)))*variant.quantity;
                                            var totalItem = 0.00;
                                            if (item.DiscountProductItem != null && item.discount)
                                            {
                                                if (item.DiscountProductItem.type == 0)
                                                {
                                                    var saveMoney = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity * item.DiscountProductItem.discountValue / 100))), 2);
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity)- saveMoney)),2);
                                                }
                                                else
                                                {
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity) - item.DiscountProductItem.discountValue * variant.quantity)),2);
                                                    totalItem = totalItem > 0 ? totalItem : 0.00;
                                                }
                                            }
                                            else
                                            {
                                                totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", variant.price * variant.quantity)),2);
                                            }
                                           
                                                 
                                         }
                                        <div class="control-group">
                                            <span>@ViewBag.currency </span><span class="currentsubTotal ">@String.Format("{0:0.00}", totalItem)</span>
                                        </div>
                                    </td>
                                    <td style="vertical-align:middle;">
                                        <a href="@Url.Action("removeVariantCart", "Product", new { productItemId = @item._id, variantSku = @variant.sku }, null)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    </td>
                                </tr>
                            }
                        }
                    }

                    <tr>
                        <td colspan="7" style="background: #F4F4F4">
                            <div class="control-group">
                                @{
                                     var category = Model == null || Model.listProductItems == null || Model.listProductItems.Count == 0 ? "" : Model.listProductItems[0].categoryName;
                                }
                                <div class="q-continue">
                                    <button onclick="location.href='@Url.Action("AllProducts", "Product", new { category = @category, theme = @ViewBag.theme }, null)';return false;" class="btn btn-default">Continue Shopping</button>
                                </div>
                                <div class="q-continue" style="float:right!important; display:flex;">
                                    <text id="ErrNothingIsChecked" style="display:none;font-style:italic;color:red;font-size:14px;margin-top:5px;">Please select at least 1 item to check out.</text>
                                    <text id="ErrQuantityIsNotValid" style="display:none;font-style:italic;color:red;font-size:14px;margin-top:5px;">Please input valid quantity of product(s).</text>
                                    <div class="loading" style="display:none;max-height:34px;">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </div>
                                    &nbsp;
                                    <button type="button" id="checkOut" class="btn btn-primary">Checkout</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="q-footer">
            <div class="col-md-6">
                <textarea id="comment" cols="70" rows="8" placeholder="Please write a note to seller"></textarea>
            </div>
            <div class="col-md-6">
                @{
                    var total = Model == null || Model.listProductItems == null || Model.listProductItems.Count == 0
                    ? 0
                    : Model.receiptValue.subTotal;

                    string tax = string.Format("{0:N}", 0);
                }
                <table class="table tableTotal">
                    @if (Model.receiptValue.discountTotal > 0)
                    {
                        <tr>
                            <td><div class="q-billfooter"><span>Total Discount</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.discountTotal)</span></div></td>
                        </tr>
                    }
                    <tr>
                        <td><div class="q-billfooter"><span>Sub Total</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", total)</span></div></td>
                    </tr>
                    @if (Model.receiptValue.serviceCharge > 0)
                    {
                        <tr>
                            <td><div class="q-billfooter"><span>Service Charge</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.serviceCharge)</span></div></td>
                        </tr>
                    }
                    @foreach (Com.SmoovPOS.Entity.TaxValue item in Model.receiptValue.listTaxOrder)
                    {
                        <tr>
                            <td><div class="q-billfooter"><span>@item.taxName</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", item.taxValue)</span></div></td>
                        </tr>
                    }
                    @if (Model.receiptValue.rountAmt != 0)
                    {
                        <tr>
                            <td><div class="q-billfooter"><span>Round Amount</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.rountAmt)</span></div></td>
                        </tr>
                    }
                    <tr class="header-Cart-Backgroud">
                        <td><div class="q-total"><span>Total</span> <span class="p-right">@ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.grandTotal)</span></div></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div>There is no item in cart.</div>
}

<script>
    var data = @(new HtmlString(Json.Encode(Model.listProductItems)));
    console.log(data);

    function changeQuantity(variantSku, productItemId) {
        var Qty = $("#qtyvarient__" + variantSku).val();
        if(parseInt(Qty)==0){
            $('.q-select-varient').html("<div class='q-message'>Please enter quantity greater than 0.</div>");
            data.forEach(function(product){
                product.arrayVarient.forEach(function(item){
                    if(item.sku==variantSku){
                        $("#qtyvarient__" + variantSku).val(item.quantity);
                    }
                })
            })
        }else {
            var formdata = {
                variantSku: variantSku,
                productItemId: productItemId,
                qty: Qty
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("changeQuantity", "Product")',
                data: formdata,
                success: function (result) {
                    console.log(result);
                    location.reload(true);
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    //Display loading gif
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    //Hidden loading gif
                    $('.loading').css("display", "none");
                }
            });
        }
    }

    $(document).ready(function() {
        $('#checkAll').click(function(event) {  //on click
            if(this.checked) { // check select status
                $('.checkbox').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox"
                });
            }else{
                $('.checkbox').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox"
                });
            }
        });
    });

    function checkAllCheckBoxes() {
        //Display loading gif
        $('.loading').css("display", "block");

        var formdata = {
            isChecked: $('#checkAll').is(":checked")
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("checkAllMyCartItemToCheckOut", "Product")',
            data: formdata,
            success: function () {
                location.reload(true);
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
                //Display loading gif
                $('.loading').css("display", "block");
            },
            complete: function () {
                //Hidden loading gif
                $('.loading').css("display", "none");
            }
        });
    }

    function selectCheckBox(productId, variantSku) {
        //Display loading gif
        $('.loading').css("display", "block");

        var checkBoxId = '#'+variantSku;

        var formdata = {
            productId: productId,
            variantSku: variantSku,
            isChecked: $(checkBoxId).is(":checked")
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("selectMyCartItemToCheckOut", "Product")',
            data: formdata,
            success: function () {
                location.reload(true);
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    $(".q-qtyvarient").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            //    $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
    });

    if(data && data.length>0){
        data.forEach(function(product){
            product.arrayVarient.forEach(function(variant){
                var regex = /(&nbsp;|<([^>]+)>)/ig
                ,   body = $('#variantSku_'+variant.sku + " .col-md-8 span").text()
               ,   result = body.replace(regex, "");
                $('#variantSku_'+variant.sku + " .col-md-8 span").text(result);
            })
        })
    }

    $("#checkOut").click(function(){
        var remark = $("#comment").val();

        $.ajax({
            url:'@Url.Action("CheckOut_OnClick", "Product")',
            type:'POST',
            data:{
                remark : remark
            },
            success:function(result){
                if (parseInt(result) == 0) {
                    if (Boolean(@isAuthenticated)) {
                        //if customer is logged-in, redirect to Payment page
                        window.location.href = '@Url.Action("Payment", "Product")';
                    }else{
                        //if customer is not logged-in, redirect to Check-out-as-member-or-guest page
                        window.location.href = '@Url.Action("CheckOut", "Product")';
                    }
                }
                else if (parseInt(result) == 1) {
                    $('#ErrQuantityIsNotValid').css('display', 'block');
                }else if (parseInt(result) == 2) {
                    $('#ErrNothingIsChecked').css('display', 'block');
                }else if (parseInt(result) == 3) {
                    location.reload(true);
                }
            },
            error:function(error){
                console.error("not submit checkout");
            },
            beforeSend: function () {
                //Display loading gif
                $('.loading').css("display", "block");
                $('#checkOut').button('loading');
            },
            complete: function () {
                $('.loading').css("display", "none");
                $('#checkOut').button('reset');
            }
        });
    });
</script>