﻿@using online.Models
@model OrderModel
@{
    ViewBag.Title = "Page Success";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<h2 style="text-align:center;text-transform:uppercase;">Payment successfully. Thank you! </h2>

<div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-12"><h4>Receipt Detail</h4></div> 
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-4">Order ID</div>
                <div class="col-md-8">@Model.Order.orderCode</div>
            </div>
            <div class="form-group">
                <div class="col-md-4">Transaction ID</div>
                <div class="col-md-8">@this.Request.Params["ref_id"]</div>
            </div>
            <div class="form-group">
                <div class="col-md-4">Status</div>
                <div class="col-md-8">Paid</div>
            </div>
            <div class="form-group">
                <div class="col-md-4">Total Amount</div>
                <div class="col-md-8">@this.Request.Params["currency"]  @this.Request.Params["total_amount"]</div>
            </div>

        </div>

    </div>

