﻿@using online.Models

@model PaymentModel
@{
    var grandTotal = Model.mycart == null || Model.mycart.listProductItems == null || Model.mycart.listProductItems.Count == 0 ? 0 : Model.mycart.receiptValue.grandTotal;
}

@***************************************** Buyer's information **************************************************** *@

@using (Html.BeginForm("PaymentOrder", "Product", FormMethod.Post, new { @encType = "multipart/form-data", @id = "paymentSelfCollect" }))
{
    <input type="hidden" name="optionPayment" value="paymentDeliverly" />
    <input type="hidden" value="@grandTotal" name="grandTotal" />

    <div class="deliverly-conponent">
        <div class="validation-summary-errors-delivery">
            <ul>
                <li id="ErrBuyerFullName" style="display:none">The Buyer's Name field is required.</li>
                <li id="ErrBuyerEmail" style="display:none">The Buyer's Email field is required.</li>
                <li id="ErrBuyerContact" style="display: none; ">The Buyer's Contact is required.</li>
                <li id="ErrBuyerAddress" style="display: none; ">The Billing Address is required.</li>
                <li id="ErrRecipientName" style="display: none; ">The Recipient's Name is required.</li>
                <li id="ErrRecipientEmail" style="display: none; ">The Recipient's Email is required.</li>
                <li id="ErrEmailFormat" style="display: none; ">Please enter a valid email address.</li>
                <li id="ErrRecipientContact" style="display: none; ">The Recipient's Contact is required.</li>
                <li id="ErrRecipientAddress" style="display: none; ">The Delivery Address is required.</li>
                <li id="ErrOrderType" style="display:none">The store hasn't specified a shipping service to [state / district]. Please contact the store to request shipping to your location.</li>
            </ul>
        </div>
        <div>
            <h4><span class="label label-default">2</span> <span>Buyer's Information</span></h4>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-4">
                Buyer's Name *
            </div>
            <div class="col-md-4">

                <input type="text" class="form-control" id="buyer_firstname" name="buyer_firstname" placeholder="First Name" maxlength="30" value="@Model.member.firstName" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="buyer_lastname" name="buyer_lastname" placeholder="Last Name" maxlength="30" value="@Model.member.lastName" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Buyer's Email *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_email" name="buyer_email" placeholder="Buyer's Email" maxlength="30" value="@Model.member.email" @(!string.IsNullOrEmpty(Model.member.email) ? "readonly" : "") />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Buyer's Contact *</div>
            </div>
            <div class="col-md-3">
                <label for="contact"></label>
                <input type="text" class="form-control inputstyle" id="buyer_contact" name="buyer_contact" placeholder="+65" maxlength="5" value="@Model.member.phoneRegion" />
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_mobile" name="buyer_mobile" placeholder="Mobile Number" maxlength="30" value="@Model.member.phone" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Billing Address *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_address" name="buyer_address" placeholder="Street Address" maxlength="50" value="@Model.member.address" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-3">
                <label for="country"></label>
                @*  @Html.DropDownListFor(m => m.country1, Model.countrys, new { @class = "form-control" })*@
                <select id="buyer_country" name="buyer_country" class="form-control">
                    @if (Model.member.country != null)
                    {
                        foreach (var item in Model.arrCountry.arrayCountry)
                        {
                            <option @(item.Contains(Model.member.country) ? " selected" : "") value="@item">@item</option>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.arrCountry.arrayCountry)
                        {
                            <option value="@item">@item</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_city" name="buyer_city" placeholder="City" maxlength="30" value="@Model.member.city" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_state" name="buyer_state" placeholder="State (optional)" maxlength="20" value="@Model.member.state" />
                @*   @Html.DropDownListFor(m => m.area1, Model.areas, new { @class = "form-control" })*@
            </div>
            <div class="col-md-3">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_postcode" name="buyer_postcode" placeholder="Postal Code" maxlength="20" value="@Model.member.zipCode" />
            </div>
        </div>

        @*****************************************End Buyer's information ************************************************** *@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*****************************************Recipent Buyer's information **************************************************** *@

        <div>
            <h4><span class="label label-default">3</span> <span>Recipient's Information</span></h4>
        </div>
        <div class="form-group">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <div class="checkboxstyle">
                    <label class="checkbox labelstyle">
                        <input type="checkbox" value="false" id="use-recipient" name="use-recipient">
                        Use Buyer's information?
                    </label>
                </div>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Recipient's Name *
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="recipient_firstname" name="recipient_firstname" placeholder="First Name" maxlength="30" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="recipient_lastname" name="recipient_lastname" placeholder="Last Name" maxlength="30" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Recipient's Email *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="recipient_email" name="recipient_email" placeholder="Recipient's Email" maxlength="30" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Recipient's Contact *</div>
            </div>
            <div class="col-md-3">
                <label for="recipient_country"></label>
                <input type="text" class="form-control inputstyle" id="recipient_contact" name="recipient_contact" placeholder="+65" maxlength="5" />
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="recipient_mobile" name="recipient_mobile" placeholder="Mobile Number" maxlength="30" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Delivery Address *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="recipient_address" name="recipient_address" placeholder="Street Address" maxlength="50" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-3">
                <label for="country"></label>
                @Html.DropDownListFor(m => m.country2, Model.countrySettings, new { @class = "form-control" })
                @*<select id="recipient_country" name="recipient_country" class="form-control">

                        @foreach (var item in Model.arrCountry.arrayCountry)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>*@

            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="recipient_city" name="recipient_city" placeholder="City" maxlength="30" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-5">
                <label></label>
                @*<input type="text" class="form-control inputstyle" id="recipient_state" name="recipient_state" placeholder="State (optional)" maxlength="20" />*@
                @Html.DropDownListFor(m => m.area, Model.areaSettings, new { @class = "form-control" })
            </div>
            <div class="col-md-3">
                <label></label>
                <input type="text" class="form-control inputstyle" id="recipient_postcode" name="recipient_postcode" placeholder="Postal Code" maxlength="20" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Delivery Service</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div class="loading" style="display:none;">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="checkboxstyle" id="listDelivery">
                    @Html.Partial("~/Views/Product/DeliveryService.cshtml", Model.arrayService)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Shipping Fee</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div>
                    <span id="ShippingFee">
                        N/A
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Time Estimated</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div>
                    <span id="TimeEstimated">
                        N/A
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Instructions</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div>
                    @if (string.IsNullOrEmpty(Model.checkoutSetting.instructionsDelivery))
                    {
                        <text>N/A</text>
                    }
                    else
                    {
                        <textarea style="width:100%; height:100px ;border-style: none;  overflow: hidden; resize: none;" readonly>@Model.checkoutSetting.instructionsDelivery</textarea>

                    }
                </div>
            </div>
        </div>

        @*****************************************End Recipent information ************************************************** *@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*****************************************Payment information **************************************************** *@

        <div>
            <h4><span class="label label-default">4</span> <span>Payment</span></h4>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div>Payment Type</div>
            </div>
            <div class="col-md-8">
                <label class="radio labelstyle">
                    <input type="radio" name="smoovpay" id="smoovpay" value="true" checked>
                    Smoovpay
                </label>
            </div>
        </div>
        <div style="margin-top:50px;">
            <div>By selecting credit card, you agree to the terms and conditions of the smoovepay agreement.</div>
        </div>

    </div>

    @*****************************************Recipent Payment information **************************************************** *@

    <div class="button-pay">
        <input type="submit" name="Go" value="Pay" id="payment" style="width:200px; display:none;" class="btn btn-primary" />
        <input type="button" name="Go" value="Pay" id="check_payment" style="width:200px;" class="btn btn-primary" />
    </div>
}

<script>
    function loadService(data, url, elementId, reLoad) {
        $.ajax({
            type: "POST",
            url: url,
            data: data,
            success: function (result) {

                if (result.success == true) {
                    var select = $('#' + elementId);

                    $.each(result.data, function (sender, obj) {
                        
                        var option = new Option(obj.Value, obj.Text);
                        select.append($(option));
                    });
                    if (reLoad) {
                        $("#area").trigger("change", null);
                        SumGrandTotal();
                    }
                }
            },
            beforeSend: function () {
                $('#' + elementId).empty()
            },
            complete: function () {
            }
        });
    }
    $(document).ready(function () {
        setTimeout(function () {
            var area = $("#area").val();
            
            if (area != undefined && area != null && area != '') {
                $("#area").trigger("change", null);
                SumGrandTotal();
            }
            else {
                var url = '@Url.Action("LoadAreaSettings", "Product")';
                var data = { id: $("#country2").val() }
                loadService(data, url, 'area', true);
            }
        }, 200);

        $("#country2").change(function () {
            var url = '@Url.Action("LoadAreaSettings", "Product")';
            var data = { id: $("#country2").val() }
            $('.loading').css("display", "inline");
            $("#check_payment").css("display", "none");
            loadService(data, url, 'area', true);
        });
        $("#country1").change(function () {
            var url = '@Url.Action("LoadAreas", "Product")';
            var data = { id: $("#country1").val() }
            loadService(data, url, 'area1', false);
        });

        $("#area").change(function () {
            var data = { id: $("#country2").val(), area: $(this).val() }

            $('.loading').css("display", "inline");
            $("#check_payment").css("display", "none");
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeliveryService", "Product")',
                data: data,
                success: function (result) {
                    $('#listDelivery').html(result);
                },
                beforeSend: function () {
                    $('#ShippingFee').text("N/A");
                    $('#TimeEstimated').text("N/A");
                    //$('#' + elementId).empty()
                    //$('#listDelivery').empty();
                    //$('#listDelivery').append(' <div><span>N/A</span></div>');
                    //$('#listDelivery').append('<div id="noDelivery"><text>&nbsp;&nbsp;</text></div>');
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });

        });




        $("#use-recipient").change(function () {
            var check = $(this).is(":checked");
            if (check) {
                $("#recipient_firstname").val($("#buyer_firstname").val());
                $("#recipient_lastname").val($("#buyer_lastname").val());
                $("#recipient_email").val($("#buyer_email").val());
                $("#recipient_contact").val($("#buyer_contact").val());
                $("#recipient_mobile").val($("#buyer_mobile").val());
                $("#recipient_address").val($("#buyer_address").val());
                $("#recipient_city").val($("#buyer_city").val());
                $("#recipient_state").val($("#buyer_state").val());
                $("#recipient_postcode").val($("#buyer_postcode").val());

                //$("#country").val($("#country1").val());

                //var area1 = $("#area1").val();
                //$("#area").empty();
                //$('#area1 option').clone().appendTo('#area');
                //$("#area").val(area1);
                //$("#area").trigger("change", null);
            } else {
                $("#recipient_firstname").val("");
                $("#recipient_lastname").val("");
                $("#recipient_email").val("");
                $("#recipient_contact").val("");
                $("#recipient_mobile").val("");
                $("#recipient_address").val("");
                @*$("#recipient_country").val("@Model.arrCountry.arrayCountry[0]");*@
                $("#recipient_city").val("");
                //$("#recipient_state").val("");
                $("#recipient_postcode").val("");
            }
        });
        $("#check_payment").click(function () {
            var check = true;
            var buyer_firstname = $('#buyer_firstname').val().trim();
            var buyer_lastname = $('#buyer_lastname').val().trim();
            var buyer_email = $('#buyer_email').val().trim();
            var buyer_contact = $('#buyer_mobile').val().trim();
            var buyer_address = $('#buyer_address').val().trim();
            var buyer_city = $('#buyer_city').val().trim();
            var buyer_state = $('#buyer_state').val();
            var buyer_postcode = $('#buyer_postcode').val().trim();
            var recipient_firstname = $('#recipient_firstname').val().trim();
            var recipient_lastname = $('#recipient_lastname').val().trim();
            var recipient_email = $('#recipient_email').val().trim();
            var recipient_contact = $('#recipient_mobile').val().trim();
            var recipient_state = $('#area').val();
            var recipient_postcode = $('#recipient_postcode').val().trim();
            var recipient_address = $('#recipient_address').val().trim();
            var recipient_city = $('#recipient_city').val().trim();
            var scrollTop = $('html, body').animate({ scrollTop: 200 }, 800);
            var shippingOrder = $('#shippingFeeOrder').text();

            var arrOrderType = $('.checkout-process').find(".optionsRadios:checked");
            console.debug(arrOrderType.length);
            if (arrOrderType.length < 1) {
                $('#ErrOrderType').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrOrderType').css('display', 'none');
            }

            if (buyer_firstname.length < 1 || buyer_lastname.length < 1) {
                $('#ErrBuyerFullName').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerFullName').css('display', 'none');
            }

            if (buyer_contact.length < 1) {
                $('#ErrBuyerContact').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerContact').css('display', 'none');
            }
            if (buyer_address.length < 1 || buyer_city.length < 1 || buyer_postcode.length < 1) {
                $('#ErrBuyerAddress').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerAddress').css('display', 'none');
            }
            if (recipient_firstname.length < 1 || recipient_lastname.length < 1) {
                $('#ErrRecipientName').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrRecipientName').css('display', 'none');
            }

            if (recipient_contact.length < 1) {
                $('#ErrRecipientContact').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrRecipientContact').css('display', 'none');
            }
            if (recipient_address.length < 1 || recipient_city.length < 1 || recipient_postcode < 1) {
                $('#ErrRecipientAddress').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrRecipientAddress').css('display', 'none');
            }
            var arrOrderType = $('#listDelivery').find(".service-area:checked").length;
            if (arrOrderType == 0) {
                $('#ErrOrderType').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrOrderType').css('display', 'none');
            }

            if (recipient_email.length < 1) {
                $('#ErrRecipientEmail').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ValidationEmail", "Product")',
                    data: {
                        email: recipient_email
                    },
                    success: function (data) {
                        if (data == "True") {
                            $('#ErrEmailFormat').css('display', 'none');
                            $('html, body').stop();
                        } else {
                            check = false;
                            $('#ErrEmailFormat').css('display', 'block');
                        }
                    },
                    error: function (data) {
                        return false;
                    }
                });
                $('#ErrRecipientEmail').css('display', 'none');
            }
            if (buyer_email.length < 1) {
                $('#ErrBuyerEmail').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ValidationEmail", "Product")',
                    data: {
                        email: buyer_email
                    },
                    success: function (data) {
                        if (data == "True") {
                            $('#ErrEmailFormat').css('display', 'none');
                            $('html, body').stop();
                        } else {
                            check = false;
                            $('#ErrEmailFormat').css('display', 'block');

                        }

                    },
                    error: function (data) {
                        return false;
                    }
                });
                $('#ErrBuyerEmail').css('display', 'none');
            }
            //not shipping
            if (shippingOrder == 'N/A') {
                return false;
            }
            setTimeout(function () {
                if (check) {
                    $("#payment").click();
                    $('html, body').stop();
                    $("#payment").attr("disabled", true);
                }
            }, 1000);
        });
    });

    function SetValueShipping() {
        var value = $("#listDelivery input[type='radio']:checked").val();

        if (value != undefined && value != '') {
            var list = value.split('|');
            if (list.length >= 3) {
                $('#ShippingFee').text(list[1]);
                $('#TimeEstimated').text(list[2]);
                SumGrandTotal();
            }
        }
    }

    function SumGrandTotal() {
        var shipping = $('#ShippingFee').text();
        //var shippingOrder = $('#shippingFeeOrder').text();
        $('#shippingFeeOrder').text(shipping);

        var shippingValue = parseFloat("0");
        if (shipping != 'N/A') {
            var shippings = shipping.split(' ');
            if (shippings.length > 1 && !isNaN(shippings[1])) {
                shippingValue = parseFloat(shippings[1]);
                $("#check_payment").css("display", "block");
            }
        } else {
            $("#check_payment").css("display", "none");
        }

        var grandTotal = $('#grandTotal').val();
        var grandTotalValue = parseFloat("0");
        if (grandTotal != undefined && grandTotal != '' && grandTotal != 'N/A') {

            grandTotalValue = parseFloat(grandTotal);
        }

        grandTotalValue = grandTotalValue + shippingValue;
        var rountAmtValue = parseInt((grandTotalValue.toFixed(2) * 100) % 10);
        var rountAmt = 0
        if (rountAmtValue > 7) {
            rountAmt = 10 - rountAmtValue;
        }
        else {
            if (rountAmtValue > 2) {
                rountAmt = 5 - rountAmtValue;
            }
            else {
                rountAmt = -1 * rountAmtValue;
            }
        }
        rountAmt = rountAmt / 100;
        rountAmtValue = grandTotalValue + rountAmt;

        if (rountAmt != 0) {
            $('#rountAmtTr').removeAttr("style");
        } else {
            $('#rountAmtTr').attr("style", "display:none;");
        }

        var grandTotalSpan = $('#grandTotalSpan').text();
        if (grandTotalSpan != 'N/A') {
            var grandTotalSpans = grandTotalSpan.split(' ');
            if (grandTotalSpans.length > 1 && !isNaN(grandTotalSpans[1])) {
                grandTotalSpan = grandTotalSpans[0] + ' ';
            }
        }

        $('#rountAmtSpan').text(grandTotalSpan + rountAmt.toFixed(2).toString());
        grandTotalSpan = grandTotalSpan + rountAmtValue.toFixed(2).toString();

        $('#grandTotalSpan').text(grandTotalSpan);
    }
</script>