﻿@using online.Models
@model PaymentModel

@{
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    ViewBag.Title = "PaymentSubmit";
    string site = "http://" + Request.Url.Host + "/Product/";
    //string site = "http://localhost/Online/Product/";
    //if (Model.payConfig.Status == 0) {
    //    urlPay = Model.payConfig.SmoovUrl;
    //} else {
    //    urlPay = Model.payConfig.SandboxSmoovUrl;
    //}
    // string urlPay = System.Configuration.ConfigurationManager.AppSettings[SmoovPOS.Common.ConstantSmoovs.AppSettings.UrlFormPostSmoovPay];
    //string SecretKey = Model.accountSmoovPay.secretKey;
    //string emailMerchant = Model.accountSmoovPay.emailAddress;
    string urlPay = "https://sandbox.smoovpay.com/access";
    string SecretKey = "754dbb726363468d93ac2c3d5f5d705b";
    string emailMerchant = "smoovpos.demo@gmail.com";
    string action = "pay";
    string dataToBeHashed = SecretKey
               + emailMerchant
               + action
               + Model.transactionId
               + System.Configuration.ConfigurationManager.AppSettings[SmoovPOS.Common.ConstantSmoovs.AppSettings.PriceTestSandbox]
               + ViewBag.currency;
               
    var sha1 = new System.Security.Cryptography.SHA1CryptoServiceProvider();
    var passwordBytes = System.Text.Encoding.UTF8.GetBytes(dataToBeHashed);
    var passwordHash = sha1.ComputeHash(passwordBytes);
    var signature = BitConverter.ToString(passwordHash).Replace("-", string.Empty).ToLowerInvariant();
}

<div id="loadding" style="display:block;text-align:center;"><i class="fa fa-spinner fa-spin"></i> </div>
<form action="@urlPay" method="post" id="paysmoov" style="text-align:center;">

        <input type="hidden" name="action" value="pay" />
        <input type="hidden" name="skip_success_page" value="1" />
        <input type="hidden" name="currency" value="@ViewBag.currency" />
        <input type="hidden" name="version" value="2.0" />
        @try
        {
            if (Model.mycart.listProductItems.Count() > 0)
            {
                int count = Model.mycart.listProductItems.Count();
                int i = 0;
                foreach (var item in Model.mycart.listProductItems)
                {

                    foreach (var varient in item.arrayVarient)
                    {
                        i++;
                        double variantPrice = varient.price;
                        if (item.discount){
                            variantPrice = item.DiscountProductItem.type == 0 ? variantPrice - variantPrice * item.DiscountProductItem.discountValue / 100 : variantPrice - item.DiscountProductItem.discountValue;
                            variantPrice = variantPrice > 0 ? variantPrice : 0;       
                        }
                        var totalItem = @varient.quantity * @varient.price;
                        <input type="hidden" name="item_name_@i" value="@item.title" />
                        <input type="hidden" name="item_description_@i" value="@varient.title @varient.color @varient.size" />
                        <input type="hidden" name="item_quantity_@i" value="@varient.quantity" />
                        <input type="hidden" name="item_amount_@i" value="@variantPrice" />
                    }
                }
            }
        }
        catch (Exception e)
        {
            e.Message.ToString();
        }
        @{
            var total = Model == null || Model.mycart.listProductItems == null || Model.mycart.listProductItems.Count == 0
            ? 0
            : Model.mycart.receiptValue.subTotal;
        }
        <input type="hidden" name="merchant" value="@emailMerchant" />
        <input type="hidden" name="ref_id" value="@Model.transactionId" />
        <input type="hidden" name="discount_amount" value="@Model.mycart.receiptValue.discountTotal" />
        <input type="hidden" name="delivery_charge" value="@Model.mycart.receiptValue.shippingFree" />  
        <input type="hidden" name="tax_amount" value="@Model.mycart.receiptValue.totalTax" />
        <input type="hidden" name="tax_percentage" value="@Model.mycart.receiptValue.taxPercent" />
        <input type="hidden" name="total_amount" value="0.50" />
        @{
            string pageSuccess = site + Model.payConfig.SuccessPage;
            string pageCancel = site + Model.payConfig.CancelPage;
            string pageStr = site + Model.payConfig.StrUrl;
        }
        <input type="hidden" name="str_url" value="@pageStr" />
        <input type="hidden" name="success_url" value="@pageSuccess" />
        <input type="hidden" name="cancel_url" value="@pageCancel" />
        <input type="hidden" name="signature" value="@signature" />
        <input type="hidden" name="signature_algorithm" value="sha1" />

        <input type="submit" name="submit v2" alt="SmoovPay!" value="Click to continue if you are not automatically redirected." style="max-width:500px !important;" />
    </form>

@*<form action="https://sandbox.smoovpay.com/access" method="post">
    <input type="hidden" name="action" value="pay" />
    <input type="hidden" name="currency" value="SGD" />
    <input type="hidden" name="version" value="2.0" />
    <input type="hidden" name="item_name_1" value="item 1" />
    <input type="hidden" name="item_description_1" value="Description for item 1" />
    <input type="hidden" name="item_quantity_1" value="1" />
    <input type="hidden" name="item_amount_1" value="2" />
    <input type="hidden" name="merchant" value="khanhbis@gmail.com" />
    <input type="hidden" name="ref_id" value="Tran201220141008554534" />
    <input type="hidden" name="delivery_charge" value="0.00" />
    <input type="hidden" name="tax_amount" value="0.00" />
    <input type="hidden" name="tax_percentage" value="0.00" />
    <input type="hidden" name="total_amount" value="0.50" />
    <input type="hidden" name="str_url" value="" />
    <input type="hidden" name="success_url" value="http://YourWebSite/SuccessPage" />
    <input type="hidden" name="cancel_url" value="http://YourWebSite" />
    <input type="hidden" name="signature" value="505c9ef7ee1d1ce30f2e62da1aa9e2d30a14fe7d" />
    <input type="hidden" name="signature_algorithm" value="sha1" />
    <input type="submit" name="submit v2" alt="SmoovPay!" />
</form>*@
<script>
    $(document).ready(function () {
     $('#paysmoov').submit();
    });
</script>
