﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using online.Models
@using Microsoft.AspNet.Identity
@model ProductItemDetailModel
@{
    ViewBag.Title = "ProductDetail";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    var init = 0;
    int numDefault = 20;
    string email = null;
    if (HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName] != null && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString()))
    {
        email = HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString();
    }
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}
<style>
    /*.imgShow {
        height: 400px;
        width: 460px;
        background-color: transparent;
        text-align: center;
        border: 1px #dddddd solid;
        display: inline-block;
    }*/

    .imgShow {
        height: 400px; /* equals max image height */
        width: 460px;
        background-color: transparent;
        border: 0px #dddddd solid;
        white-space: nowrap;
        text-align: center;
    }

    .selectImg {
        height: 70px; /* equals max image height */
        width: 96px;
        background-color: transparent;
        white-space: nowrap;
        text-align: center;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .mainImg {
        display: inline-block !important;
        background: transparent;
        vertical-align: middle;
        max-height: 400px;
        max-width: 460px;
    }

    .smallImg {
        display: inline-block !important;
        background: transparent;
        vertical-align: middle;
        max-height: 96px;
        max-width: 70px;
    }

    .portrait img {
        width: 100%;
        max-height: 400px;
    }

    .landscape img {
        height: 100%;
        max-width: 460px;
    }

    .portrait-selectimg img {
        width: 100%;
        max-height: 96px;
    }

    .landscape-selectimg img {
        height: 100%;
        max-width: 70px;
    }
</style>
<ol class="breadcrumb">
    @{
        if (Model.Collection == null)
        {
            <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
            <li>@Html.ActionLink("All Categories", "AllProducts", "Product", new { theme = @ViewBag.theme }, null)</li>
            <li>@Html.ActionLink(Model.ProductItem.categoryName, "ProductByCategory", "Product", new { theme = @ViewBag.theme, category = Model.ProductItem.categoryName }, null)</li>
            <li class="active">@Model.ProductItem.name</li>
        }
        else
        {
            <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
            <li>@Html.ActionLink("All Collections", "Index", "Collection", new { theme = @ViewBag.theme }, null)</li>
            <li>@Html.ActionLink(Model.Collection.name, "ProductByCollection", "Collection", new { id = Model.Collection._id }, null)</li>
            <li class="active">@Model.ProductItem.name</li>

        }
    }

</ol>

<div class="q-product-detail">
    <div class="row">
        <div class="col-md-1">
            <div class="miniIcon">
                @if (Model.ProductItem.image.arrayImage.Count() == 0)
                {
                    <a class="selectImg" onclick="selectImg(@init);">
                        <span class="helper"></span><img src="@Url.Content("~/Content/images/imageDefault.png")" class="img-polaroid imgToShow_@init smallImg" data-holder-rendered="true">
                    </a>
                }
                @foreach (var item in Model.ProductItem.image.arrayImage)
                {
                    <a class="selectImg" onclick="selectImg(@init);">
                        <span class="helper"></span><img src="@item" class="img-polaroid imgToShow_@init smallImg"
                                                         data-holder-rendered="true">
                    </a>
                    init++;
                }
            </div>
        </div>
        <div class="col-md-5">
            <div class="imgShow">
                @{
                    var index = !string.IsNullOrWhiteSpace(@Model.ProductItem.image.imageDetault) ? -1 : Convert.ToInt32(@Model.ProductItem.image.imageDetault);
                    // var imagePath = index >= 0 ? (@Model.ProductItem.image.arrayImage.Count > index ? @Model.ProductItem.image.arrayImage[index] : "") : "";

                    if (Model.ProductItem.arrayInventory.Count == 0 || Model.ProductItem.arrayInventory == null)
                    {
                        var imagePath = Model.ProductItem.arrayVarient[0].image.imageDetault;
                        if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
                        {
                            var indexImage = Model.ProductItem.image.imageDetault;
                            int number = -1;
                            try
                            {
                                number = int.Parse(indexImage);
                            }
                            catch
                            {

                            }
                            if (number >= 0)
                            {
                                imagePath = Model.ProductItem.image.arrayImage.Count() > 0 ? Model.ProductItem.image.arrayImage[number] : urlImgDefault;
                            }
                            else
                            {
                                imagePath = imagePath = urlImgDefault;
                            }

                        }

                        <span class="helper"></span><img id="q-img-large" src="@imagePath" data-holder-rendered="true" class="img-polaroid mainImg" onload="SetAutoResizeWidthHeightImage('q-img-large',460, 400)" />
                    }
                    else
                    {
                        <span class="helper"></span><img id="q-img-large" src="" data-holder-rendered="true" class="img-polaroid mainImg" />
                    }

                }



            </div>
        </div>
        <div class="col-md-5">
            <div class="q-detail-title">
                <label class="">@Model.ProductItem.name</label>
            </div>
            @{
                var discountitem = Model.ProductItem.DiscountProductItem;
                Model.ProductItem.arrayVarient = Model.ProductItem.arrayVarient.OrderBy(v => v.status).ThenBy(r => r.price).ToList();
                double min = 0;
                if (Model.ProductItem.arrayVarient.Count() > 0)
                {
                    min = Model.ProductItem.arrayVarient[0].price;
                }
                else
                {
                    min = Model.ProductItem.price;
                }

                string currency = ViewBag.currency;
                int indexVariant = 0;
            }
            <div class="q-price">
                <div class="col-md-10">
                    <div class="price-left-detail"><strong><span id="price"></span></strong></div>
                    <div class="price-right-detail">
                        <span id="priceCompare"></span>
                    </div>
                </div>

            </div>

            <div class="q-select-varient">
                <div class="message">
                </div>

                <div class="row">
                    @try
                    {
                        foreach (var item in Model.ProductItem.arrayInventory)
                        {
                            <div class="col-md-6">
                                <label>@item.name </label>
                                <select class="form-control" id="@item.name" name="@item.name">
                                    @*@foreach (var option in item.options)
                                        {
                                            <option value="@option.ToString()">@option.ToString()</option>
                                        }*@
                                </select>
                            </div>
                            <div class="clearfix"></div>
                        }
                    }
                    catch (Exception) { }



                </div>
                <div class="row">

                    <div class="col-md-4 q-qty">
                        <div class="form-group">
                            <label for="Qty">Qty</label>
                            <input type="text" class="form-control" id="Qty" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" value="1">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    
                </div>

                <div class="row" style="padding-top:10px;">
                    <div class="col-md-12 col-xs-12">
                        <label for="VariantRemark">@Html.LocalizedMessage("RemarkProductDetail").ToString().ToUpper()</label>
                        <textarea class="form-control" style="width:100%" id="VariantRemark" rows="2" placeholder="@Html.LocalizedMessage("RemarkProductDetail")"></textarea>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <!-- Standard button -->
                        <div class="q-detail-addCart">
                            <button type="button" id="addToCart" class="btn btn-primary" onclick="AddToCart()">ADD TO CART</button>
                            <button type="button" id="addToWishlist" class="btn btn-wishlist" onclick="AddToWishList()">
                                <span class="icon-wishlist"><i class="fa fa-circle-thin fa-3x"></i><i class="fa fa-heart icon-wishlist"></i></span>
                                &nbsp;&nbsp; ADD TO WISHLIST
                            </button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>



            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row q-detail-overView">
                <h3>Product Description</h3><p class="line-header-des"></p>
                <div class="desc">
                    @if (string.IsNullOrEmpty(Model.ProductItem.description))
                    {
                        <text>NA</text>
                    }
                    else
                    {
                        @Html.Raw(Model.ProductItem.description);
                    }
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var data = @(new HtmlString(Json.Encode(Model.ProductItem)));
    var discount = @(new HtmlString(Json.Encode(Model.ProductItem.DiscountProductItem)));
    var discount_status = @(new HtmlString(Json.Encode(Model.ProductItem.discount)));
    //console.log(data);
    //console.log(discount);
    var arrSelect = [];
    var arrSelectOption = {};

    $(document).ready(function () {
        // Set price default when product not have arrayInventory
        if(!data.productMultiple){
            var varientprice = data.arrayVarient[0].price;
            if (discount != undefined && discount.discountValue > 0 && discount_status == true){
                var disprice = discount.type == 0 ? varientprice - varientprice * discount.discountValue / 100 : varientprice - discount.discountValue ;
                var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                var last_disprice = disprice < 0 ? '0.00' : disprice.toFixed(2);
                $('#priceCompare').text("@currency"+" "+last_varientprice);
                $('#price').text("@currency"+" "+last_disprice);
            }
            else{
                $('#priceCompare').text("");
                var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                $('#price').text("@currency"+" "+last_varientprice);
            }
        }

        $(".col-md-1").niceScroll();
        setOptionSelect(data,{},@indexVariant);
        data.arrayInventory.forEach(function(item){
            var tmp = {
                "field" : item.name,
                "value":  null
            };
            arrSelect.push(tmp);
            arrSelectOption[item.name]=[];
            if(item.name==data.arrayInventory[0].name){
                $('#'+item.name+' option[value="'+data.arrayVarient[@indexVariant][item.name]+'"]').attr('selected','selected');
            } else {
                $('#'+item.name).html($('<option>', {
                    value: data.arrayVarient[@indexVariant][item.name],
                    text: data.arrayVarient[@indexVariant][item.name]
                }));
            }
            $('#'+item.name+' option[value="'+data.arrayVarient[@indexVariant][item.name]+'"]').attr('selected','selected');
            setImageVariant(data.arrayVarient[@indexVariant]);
            ShowMessage(2,data.arrayVarient[@indexVariant].quantity);
            $( "#"+item.name ).change(function(info) {
                chooseVariant(info);
            });
        })

        //resizeImg();
        resizeSelectImg();

        //var app = angular.module('online', []);
        //app.controller('viewDetail', function ($scope) {
        //    $scope.viewVariant = function (data) {
        //        var data = jQuery.parseJSON(data);
        //        $('#priceProduct').html(data.price);
        //        $('#currency').html(data.currency);
        //        setImageLarge(data.image.imageDetault);
        //    };

        //    $scope.changeVariants = function(){
        //        alert(1);
        //    };
        //});
        if(data.arrayInventory && data.arrayInventory.length>0){
            var variantDefault = {};
            variantDefault.target = {};
            variantDefault.target.name= data.arrayInventory[0].name;
            variantDefault.target.value= data.arrayVarient[@indexVariant][variantDefault.target.name];
            chooseVariant(variantDefault);
        }

        function chooseVariant(info){
            var field = info.target.name;
            var value= info.target.value;
            arrSelect.forEach(function(val){
                arrSelectOption[val.field]=[];
            })
            data.arrayVarient.forEach(function(item){
                if(item[field]==value){
                    arrSelect.forEach(function(val){
                        if(val.field != field && val.field != arrSelect[0].field){
                            if(arrSelectOption[val.field].indexOf(item[val.field])== -1){
                                arrSelectOption[val.field].push(item[val.field]);
                            }
                        }
                    })
                }
            })
            AddOptionSelect(arrSelectOption);
            changeVariant();
        }
    });
    function selectImg(index) {
        var imgToShow = $('.imgToShow_' + index).attr('src');
        //$('#q-img-large').css('display','none');
        $('#q-img-large').attr("src",imgToShow);
        //$('#q-img-large').show();
        //resizeImg();
        AutoResizeWidthHeightImage($('.imgToShow_' + index),'q-img-large',460,400);
        //var imgHeight = $('#q-img-large').height();
        //var imgWidth = $('#q-img-large').width();
        //$('#q-img-large').removeAttr('style');
        //$('#q-img-large').attr('style','margin-top:' + ((400 - imgHeight)/2).toString() + 'px;margin-left:' + ((460 - imgWidth)/2).toString() + 'px');
    }
    function setImageLarge(src){
        $('#q-img-large').css('display','none');
        $('#q-img-large').attr("src",src);
        $('#q-img-large').show();
    }
    function ShowMessage(mess,qty){
        $('.message').css("display","none");
        if(mess==1){
            if(parseInt(qty)==0 ){
                $('.message').html("<div class='q-alert'> Out of stock </div> ");
                $('.q-qty').hide();
                $("#addToCart").hide();
            }
            else {
                $('.message').html("");
                $('.q-qty').show();
                $("#addToCart").show();
            }
        }else if(mess==2) {
            if(parseInt(qty)==0 || parseInt(qty)<0){
                ShowMessage(1,qty);
            }
            else if(qty<= parseInt("@numDefault")){
                $('.message').html("<div class='q-message'> Only "+ qty +" left in stock </div>");
                $('.q-qty').show();
                $("#addToCart").show();
            }else {
                $('.message').html("");
                $('.q-qty').show();
                $("#addToCart").show();
            }
        }
        else if(mess==3) {
            $('.message').html("<div class='q-message'>Item has been added to shopping cart.</div>");
        } else if(mess==4){
            $('.message').html("<div class='q-alert'>We only have "+ qty +" left in stock. Please order again.</div> ");
        } else if(mess==5){
            $('.message').html("<div class='q-message'>Please enter quantity greater than 0.</div>");
        }else if(mess==6){
            $('.message').html("<div class='q-message'>Item has been added to wish list.</div>");
        } else if(mess==7){
            $('.message').html("<div class='q-alert'>This product already exists in wishlist.</div>");
        }
        $(".message").fadeIn("slow");
    }

    function setImageVariant(data){
        var tmpImage = data.image.imageDetault;
        var linkURL = "";
        if(parseInt(tmpImage)==0){
            if( data.image.arrayImage && data.image.arrayImage.length>0){
                linkURL = data.image.arrayImage[parseInt(data.image.imageDetault)];
            } else {
                linkURL = "@Url.Content("~/Content/images/imageDefault.png")";
            }
        } else if(parseInt(tmpImage)>0){
            linkURL =  data.image.arrayImage[parseInt(data.image.imageDetault)];
        } else {
            linkURL = data.image.imageDetault;
        }
        setImageLarge(linkURL);
    }
    function setOptionSelect(data,arrSelectOption,index){
        var i = -1;
        data.arrayInventory.forEach(function(field){
            arrSelectOption[field.name]=[];
            data.arrayVarient.forEach(function(item){
                if(arrSelectOption[field.name].indexOf(item[field.name])== -1){
                    arrSelectOption[field.name].push(item[field.name]);
                    $('#'+field.name).append($('<option>', {
                        value: item[field.name],
                        text: item[field.name]
                    }));
                }
            })
        })
    }
    function AddOptionSelect(data){
        //console.log(data);
        arrSelect.forEach(function(item){
            var option="";
            var key ="";
            if(data[item.field].length>0){
                data[item.field].forEach(function(val){
                    option+= "<option value='"+ val +"'>"+val+"</option>";
                })
                var valueTmp = $('#'+item.field).val();
                $('#'+item.field).html(option);
                $('#'+item.field+' option[value="'+valueTmp+'"]').attr('selected','selected');
            }
        })
    }
    function changeVariant() {
        arrSelect.forEach(function (item){
            item.value= $('#'+item.field).val();
        })
        for(var i=0;i<data.arrayVarient.length;i++){
            var check = true;
            for(j=0;j<arrSelect.length;j++){
                var field = arrSelect[j].field;
                if(arrSelect[j].value!=data.arrayVarient[i][field]){
                    check=false;
                }
            }
            if(check){
                var varientprice = data.arrayVarient[i].price;

                if (discount != undefined && discount.discountValue > 0  && discount_status == true){
                    var disprice = discount.type == 0 ? varientprice - varientprice * discount.discountValue / 100 : varientprice - discount.discountValue ;
                    //console.log(discount.discountValue + "/" + varientprice + "/" +disprice);
                    var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                    var last_disprice = disprice < 0 ? '0.00' : disprice.toFixed(2);
                    $('#priceCompare').text("@currency"+" "+last_varientprice);
                    $('#price').text("@currency"+" "+last_disprice);
                }
                else{
                    //console.log(varientprice);
                    var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                    $('#priceCompare').text("");
                    $('#price').text("@currency"+" "+last_varientprice);
                }
                setImageVariant(data.arrayVarient[i]);
                ShowMessage(2,data.arrayVarient[i].quantity);
            }
        }
    }

    function AddToWishList(){
        var user = "@email";
        if(user){
            arrSelect.forEach(function (item){
                item.value= $('#'+item.field).val();
            })
            //console.log(arrSelect);
            for(var i=0;i<data.arrayVarient.length;i++){
                var check = true;
                var checkQuantity = false;
                for(j=0;j<arrSelect.length;j++){
                    var field = arrSelect[j].field;
                    if(arrSelect[j].value!=data.arrayVarient[i][field]){
                        check=false;
                    }
                }
                if(check){
                    var productItem = @(new HtmlString(Json.Encode(Model.ProductItem)));
                    var tmp = productItem.arrayVarient[i];
                    var quantity = parseInt($('#Qty').val());
                    checkQuantity= true;
                    tmp.quantity = 0;
                    productItem.arrayVarient = [];
                    productItem.arrayVarient.push(tmp);
                    addProductItemToWish(productItem);
                    //console.log(productItem);
                }
            }
        }else {
            location.href="@Url.Action("SignIn", "Customer", new { idProduct = Model.ProductItem._id })"
        }
    }

    function addProductItemToWish(productItem){
        //console.log(productItem);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToWishlist", "Product")',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify($.convertJSONDates(productItem)),
            success: function (result) {
                result= parseInt(result);
                if(result){
                    ShowMessage(6);
                }else {
                    ShowMessage(7);
                }
                updateWishList();
            },
            error: function (error) {
                //console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    function AddToCart(){
        if(parseInt($('#Qty').val())==0){
            ShowMessage(5);
        }else {
            arrSelect.forEach(function (item){
                item.value= $('#'+item.field).val();
            })
            //console.log(arrSelect);
            for(var i=0;i<data.arrayVarient.length;i++){
                var check = true;
                var checkQuantity = false;
                for(j=0;j<arrSelect.length;j++){
                    var field = arrSelect[j].field;
                    if(arrSelect[j].value!=data.arrayVarient[i][field]){
                        check=false;
                    }
                }
                if(check){
                    var productItem = @(new HtmlString(Json.Encode(Model.ProductItem)));
                    var tmp = productItem.arrayVarient[i];
                    var quantity = parseInt($('#Qty').val());
                    if(parseInt(tmp.quantity)==-1){
                        //console.log(productItem);
                        checkQuantity= true;
                        tmp.quantity = parseInt($('#Qty').val());
                        tmp.variantRemark = $('#VariantRemark').val();
                        productItem.arrayVarient = [];
                        productItem.arrayVarient.push(tmp);
                        addProductItemToCart(productItem);
                    }
                    else if(quantity>tmp.quantity){
                        ShowMessage(4,tmp.quantity);
                        break;
                    }else {
                        tmp.quantity = parseInt($('#Qty').val());
                        tmp.variantRemark = $('#VariantRemark').val();
                        productItem.arrayVarient = [];
                        productItem.arrayVarient.push(tmp);
                        checkQuantity= true;
                        addProductItemToCart(productItem)
                        break;
                    }

                }
            }
        }
    }

    function addProductItemToCart(productItem){
        //console.log(productItem);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Product")',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify($.convertJSONDates(productItem)),
            success: function (result) {
                ShowMessage(3);
                updateCart();
            },
            error: function (error) {
                //console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    function updateCart(){
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCountProductInCart", "Product")',
            success: function (result) {
                if(parseInt(result)>-1){
                    $('#q-cart-count').text(result);
                }
            },
            error: function (error) {
                //console.log(error);
            },
            beforeSend: function () {

            },
            complete: function () {

            }
        });
    }

    function resizeImg() {
        var thisImg= $('.imgShow');
        var refH = thisImg.height();
        var refW = thisImg.width();
        var refRatio = refW/refH;

        var imgH = thisImg.children("img").height();
        var imgW = thisImg.children("img").width();

        if ( (imgW/imgH) > refRatio ) {
            thisImg.addClass("portrait");
            thisImg.removeClass("landscape");
        } else {
            thisImg.addClass("landscape");
            thisImg.removeClass("portrait");
        }
    }

    function resizeSelectImg() {
        var thisImg= $('.selectImg');
        var refH = thisImg.height();
        var refW = thisImg.width();
        var refRatio = refW/refH;

        var imgH = thisImg.children("img").height();
        var imgW = thisImg.children("img").width();

        if ( (imgW/imgH) > refRatio ) {
            thisImg.addClass("portrait-selectimg");
            thisImg.removeClass("landscape-selectimg");
        } else {
            thisImg.addClass("landscape-selectimg");
            thisImg.removeClass("portrait-selectimg");
        }
    }

    function updateWishList(){
        $.ajax({
            type: "GET",
            url: '@Url.Action("GetCountProductInWishList", "Product")',
            success: function (result) {
                if(parseInt(result)>-1){
                    $('#q-wishlist-count').text(result);
                }
            },
            error: function (error) {
                //console.log(error);
            },
            beforeSend: function () {

            },
            complete: function () {

            }
        });
    }

    //Convert Date
    (function ($) {

        // replacer RegExp
        var dateISO = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:[.,]\d+)?Z/i;
        //var dateNet = /\/Date\((\d+)(?:[-\+]\d+)?\)\//i;
        var dateNet = /\/Date\((-?\d+)\)\//

        var jsonDateConverter = function (value) {
            if (typeof (value) == "string") {
                if (dateISO.test(value)) {
                    return new Date(value);
                }
                if (dateNet.test(value)) {
                    return new Date(parseInt(dateNet.exec(value)[1], 10));
                }
            }
            return value;
        };

        var converter = function (json) {
            $.each(json, function (k, v) {
                if (typeof v == 'object') {
                    // recurse
                    if (v != null) {
                        converter(v);
                    }
                }
                else {
                    json[k] = jsonDateConverter(v);
                }
            });
            return json;
        };

        $.convertJSONDates = converter;

    })(jQuery);

    //validate quantity
    $("#Qty").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            //    $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
    });

    $(window).resize(function(){
        resizeImg();
        resizeSelectImg();
    });

</script>