﻿@using online.Models
@model ProductByCategoryModel

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    int PageDefault = int.Parse(Model.Paging.limit.ToString() ?? "20");
}

<script type="text/javascript" src="~/Scripts/Extend.js"></script>

<div class="q-product">
    <h2>Search Results</h2>
    <div id="lbl-no-product" style="display:none">
        <text>No result was found for keyword "@Model.searchKeyWord"</text>
    </div>

    <div id="lbl-has-product" style="display:none">
        <text>@Model.countOfSearchResults result(s) for keyword "@Model.searchKeyWord"</text>
    </div>

    <div class="row" id="productSearchResults">
        @Html.Partial("~/Views/Product/ProductItemLoadMore.cshtml", Model)
    </div>
</div>


@if (Model.ProductItemList.Count() == PageDefault)
{
    <div class="loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div id="loadMore">
        <button type="button" onclick="loadMoreProductItem()" class="btn btn-info">Load more</button>
    </div>
}

@Html.HiddenFor(r => r.Paging.pageCurrent)
@Html.HiddenFor(r => r.Paging.pageCount)
@Html.HiddenFor(r => r.Paging.limit)
@Html.HiddenFor(r => r.Paging.pageGoTo)
@Html.HiddenFor(r => r.Paging.sort)
@Html.HiddenFor(r => r.Paging.desc)
@Html.HiddenFor(m => m.Currency)
<input id="countAll" name="countAll" type="hidden" value="">

<script>
    var productItemList = @(new HtmlString(Json.Encode(Model.ProductItemList)))

    $(document).ready(function () {
        //loadMore();
        if (productItemList.length <= 0) {
            $("#lbl-no-product").show();
        }
        else
        {
            $("#lbl-has-product").show();
        }
        $('#countAll').val('@Model.countOfSearchResults');
    });

    function loadMoreProductItem() {
        var pageGoTo = parseInt($('#Paging_pageCurrent').val()) + 1;
        var limit = parseInt($('#Paging_limit').val());
        var countOfSearchResults = parseInt($('#countOfSearchResults').val());
        var currency = $('#Currency').val();

        var countAll = parseInt($('#countAll').val());
        
        var formData = {
            limit: limit,
            pageGoTo: pageGoTo,
            currency: currency,
            searchCondition: '@Model.Category'
        };

        $.ajax({
            url: '@Url.Action("SearchProductLoadMore", "Product")',
            type: "POST",
            data: formData, //JSON.stringify($.convertJSONDates(loadMoreData)),
            success: function (result) {
                $('#Paging_pageCurrent').val(pageGoTo.toString());

                $('#loadMore').removeAttr('style');
                if ((pageGoTo * limit) >= countAll) {
                    $('#loadMore').attr('style', 'display:none');
                }

                $('#productSearchResults').append(result);

                $('html, body').animate({
                    scrollTop: $("#loadMore").offset().top
                }, 1000);
            },
            error: function (error) {
            },
            beforeSend: function () {
                $('.loading').css("display", "block");
            },
            complete: function () {
                $('.loading').css("display", "none");
            }
        });
    }

    function loadMore() {
        var pageCurrent = parseInt($("#Paging_pageCurrent").val());
        var limit = parseInt($("#Paging_limit").val());
        var pageCount = parseInt($("#Paging_pageCount").val());
        var pageGoTo = parseInt($("#Paging_pageGoTo").val());

        pageCurrent = pageGoTo;
        var startIndex = (limit * pageGoTo) - limit;
        pageGoTo = pageCount > pageGoTo ? pageGoTo + 1 : pageGoTo;

        var loadMoreData = [];
        $.each(productItemList, function (index, productItem) {
            if (index >= startIndex && index < startIndex + limit) {
                loadMoreData.push(productItem);
            }
        });

        //if (productItemList.length > 0) {
        //    $("#lbl-no-product").hide();
        //}

        if (pageCount == 0 || pageGoTo == pageCount) {
            $('#loadMore').css('display', 'none');
        }

        if (loadMoreData.length > 0) {
            $.ajax({
                url: '@Url.Action("SearchProductLoadMore", "Product")',
                type: "POST",
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify($.convertJSONDates(loadMoreData)),
                success: function (result) {
                    $("#Paging_pageCurrent").val(pageCurrent);
                    $("#Paging_limit").val(limit);
                    $("#Paging_pageCount").val(pageCount);
                    $("#Paging_pageGoTo").val(pageGoTo);
                    $('#productSearchResults').append(result);
                    $('html, body').animate({
                        scrollTop: $("#loadMore").offset().top
                    }, 1000);
                },
                error: function (error) {
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });
        }
    }
</script>
