﻿@using online.Models
@model online.Models.CollectionItemListingModel
@{
    ViewBag.Title = "AllCollections";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}



@*<h2>All Categories</h2>*@

<div class="q-container">
    <ol class="breadcrumb">              
        <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
        <li class="active">All Collections</li>
    </ol>
    <div class="collections">
        <div class="row" id="q-product-catgory">
            @{
                if (@Model.CollectionList != null && @Model.CollectionList.Count() > 0)
                {
                    int index = 1;
                    foreach (var collec in Model.CollectionList)
                    {
                        var imagePath = collec.url;
                        var collecname = @collec.name.Length > 50 ? @collec.name.Substring(0, 50) + "..." : @collec.name;
                        <div class="col-md-3 collection_product" id="@index">
                            <a href="@Url.Action("ProductByCollection", "Collection", new { id = collec.id }, null)">
                                <div class="img-thumbnail collectionItem">
                                    <img src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                                         class="img-responsive image-fix" alt="@collec.name" style="vertical-align: middle; max-height: 100%; max-width: 100%;" data-holder-rendered="true">
                                </div>
                            </a>
                            <div class="q-product-info">
                                <div class="q-product-title">
                                    <h4> <a href="@Url.Action("ProductByCollection", "Collection", new { id = collec.id }, null)">@collecname</a></h4>
                                </div>
                            </div>
                        </div>
                        index++;
                    }
                }
                else
                {
                    <h4 class="col-md-12 center-block">There isn't collection at this moment.</h4>
                }
            }

        </div>
    </div>
    <div class="row" style="margin: 20px 0;">
        <input type="button" class="btn btn-info center-block" value="Load more" id="load-more" step="1" style="display: none;" />
    </div>

</div>

<script>
    var Collectionlist = @Model.CollectionList.Count();
    var itemcount = Collectionlist;
    var nextstep = 0;
    $(document).ready(function () {
        var defaultNumberItem = 20;
        $('.collection_product').hide();
        LoadMoreProduct(0);

        $('#load-more').click(function () {
            nextstep = parseInt($('#load-more').attr("step"));
            LoadMoreProduct(nextstep);
            $('#load-more').attr("step", parseInt($('#load-more').attr("step")) + 1);
        })

        if (itemcount <= 20){
            $('#load-more').hide();
        }
    })

    function LoadMoreProduct(step) {
        for (var i = 1; i <= 20; i++) {
            var itemid = step * 20 + i;
            if (step == 0) {
                $('.collection_product[id="' + itemid + '"]').fadeIn();
            }
            else {
                $('.collection_product[id="' + itemid + '"]').slideDown(1000);
            }
        }
        if (itemcount - ((step + 1) * 20) > 0){
            $('#load-more').show();
        }
        else{
            $('#load-more').hide();
        }
    }
</script>