﻿@model SmoovPOS.Entity.Settings.CheckoutSetting
@using SmoovPOS.Utility.CustomHTMLHelper

@{
    ViewBag.Title = "Checkout Setting";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
<style>
    .pay_info .btn {
        min-width: 110px;
    }
    .pay_signin  .btn {
        min-width: 110px;
    }
     .pay_signup  .btn {
        min-width: 110px;
    }
</style>


<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>Checkout Settings</h3>
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-primary checksubmit">Save</button>
    </div>
</div>

@*-------------------End Standard & Format Information ------------------------*@

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

@*------------------- Standard & Format Information ------------------------*@
<div class="form-horizontal">
    <div class="col-md-4">
        <h4>Payment Mode</h4>
        <text class="text-muted">@Html.LocalizedMessage("EnableSmoovPay")</text>
    </div>
    <div class="col-md-8">   
        <div class="row">
            <div class="col-md-12 validation-summary-errors" style="padding-bottom: 0;height: 20px">
                <ul>
                    <li class="alert_pay">@ViewBag.Message</li>
                </ul>
            </div>
        </div>
                 
        @if (Model.accountSmoovPay != null)
        {
            @Html.Partial("~/Views/SettingCheckout/InfoSmoovpay.cshtml", Model.accountSmoovPay)
        }
        else
        {
            @Html.Partial("~/Views/SettingCheckout/SignupSmoovpay.cshtml", Model)
        }

        @Html.Partial("~/Views/SettingCheckout/SigninSmoovpay.cshtml", new SmoovPOS.UI.Models.Setting.SignInSmoovpayViewModel())
    </div>
</div>
@*-------------------End Standard & Format Information ------------------------*@


@using (Html.BeginForm("Edit", "SettingCheckout", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <button type="submit" id="submit" class="btn btn-primary" style="display:none">Save</button>
    
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    
    <div class="q-form">
        <input type="hidden" value="@Model._id" name="_id" />
        @Html.AntiForgeryToken()
        @*------------------- Standard & Format Information ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Self-Collect</h4>
                <text class="text-muted">Allow your customer to select self collection option. Write instruction and give estimate time for preparation.</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="checkbox" id="acceipt-selfCollection" name="acceipt-selfCollection" class="checkouttype" value="true" @(Model.acceptSelfCollection ? "checked" : "")>&nbsp;&nbsp;Accept Self-collection Orders<br><br>
                        <text>Customize self-collection instructions for your customers.</text><br>
                        <textarea name="instructionSelfcollect" id="instructionSelfcollect" style="width:90%;height:120px" class="form-control">@Model.instructionsSelfCollection</textarea>
                    </div>
                    <div class="col-md-12" style="margin-top:20px;">
                        <div><text>Estimated time required to prepare a self-collection (eg. 1-2 or 2-2)</text></div>
                        <input id="datefrom" name="datefrom" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="@Model.beginDateSelf"> Days to
                        <input id="dateto" name="dateto" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="@Model.endDateSelf" /> Days

                        <text id="ErrDateFrom" class="validation-summary-errors" style="display:none">The Day From field is required.</text> <text id="ErrDateTo" class="validation-summary-errors" style="display:none">The Day To field is required.</text>
                        <text id="ErrDate" class="validation-summary-errors" style="display:none">From Date must less than or equal To Day.</text>
                    </div>
                    <div class="col-md-12" style="margin-top:20px;">
                        @*<div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="multiple" value="multiple" checked>
                                    Have multiple self-collection points (eg. branch 1, branch 2)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="public" value="public">
                                    Set public profile address as collection point
                                </label>
                            </div>*@
                    </div>
                    <div class="col-md-12">
                        <input type="checkbox" id="timeSelfCollection" name="timeSelfCollection" value="true" @(Model.timeSelfCollection ? " checked" : "")> Allow customer to select self-collect time (coming soon)
                    </div>
                </div>
            </div>
        </div>
        @*-------------------End Standard & Format Information ------------------------*@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*------------------- Standard & Format Information ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Delivery</h4>
                <text class="text-muted">Allow your customer to select shipping option and write instruction.</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="checkbox" id="acceipt-delivery" name="acceipt-delivery" class="checkouttype" value="true" @(Model.acceptDelivery ? " checked" : "")>&nbsp;&nbsp;Accept Delivery Orders <br><br>
                        <text>Customize shipping instructions for your customers.</text><br>
                        <textarea name="instructionShipping" id="instructionShipping" style="width:90%;height:120px" class="form-control">@Model.instructionsDelivery</textarea>
                    </div>
                    <div class="col-md-12">
                        <input type="checkbox" id="timeDelivery" name="timeDelivery" value="true" @(Model.timeDelivery ? " checked" : "")> Allow customer to select delivery time (coming soon)
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*-------------------End Standard & Format Information ------------------------*@

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    @*------------------- Standard & Format Information ------------------------*@
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>Timing</h4>
            <text class="text-muted">Setting timing for your order.</text>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-12">
                    Cut-off times for orders to be considered as a next day order (coming soon)<br />
                </div>
                <div class="col-md-3">
                    <input type="text" name="cutOff" id="cutOff" class="form-control" placeholder="Eg. 16:00" value="@Model.hourCutOff" />
                </div>
            </div>
        </div>
    </div>
    @*-------------------End Standard & Format Information ------------------------*@


    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    //------- Footer -------
    <div class="q-toolsbar">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <button type="button" class="btn btn-primary checksubmit">Save</button>
        </div>
    </div>
    //------ End Footer ------
}

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body center">
                Please select at least one checkout method to continue.
            </div>
            <div class="modal-footer center">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function(){
        $('.alert_pay').css('display','none');
    },5000)

    $(".mainMenu").hide();
    $(".settingsMenu").show();

    $(function () {
        $('.q-toolsbar .checksubmit').click(function () {
            var datefrom = $('#datefrom').val();
            var dateto = $('#dateto').val();
            var check = true;
            if (!$("#acceipt-selfCollection").is(':checked') && !$("#acceipt-delivery").is(':checked')) {
                $('#modalInactive').modal();
                check = false;
            }
            else {
                $('#ErrDateFrom').css('display', 'none');
                $('#ErrDateTo').css('display', 'none');
                $('#ErrDate').css('display', 'none');
                if($("#acceipt-selfCollection").is(':checked')){
                    if (datefrom != "" && dateto != "" && parseInt(dateto) < parseInt(datefrom)) {
                        check = false;

                        $('#ErrDate').css('display', 'block');
                    } else if (datefrom == "" && dateto != "") {
                        check = false;
                        $('#ErrDateFrom').css('display', 'block');
                    } else if (datefrom != "" && dateto == "") {
                        check = false;
                        $('#ErrDateTo').css('display', 'block');
                    }
                }
            }
            if (check) {
                $('.checksubmit').html("Loading...");
                $('.checksubmit').prop("disabled", true);
                $('#datefrom').prop('disabled', false);
                $('#dateto').prop('disabled', false);
                $('#instructionSelfcollect').prop('disabled', false);
                $('#timeSelfCollection').prop('disabled', false);
                $('#timeDelivery').prop('disabled', false);
                $('#instructionShipping').prop('disabled', false);
                $('#submit').prop('disabled', false);
                $("#submit").click();
            }
        })
        //---------check disable field------------
        checkDisableSelf();
        checkDisableDelivery();

        $('#acceipt-selfCollection').change(function () {
            checkDisableSelf();
        })

        $('#acceipt-delivery').change(function () {
            checkDisableDelivery();
        });
        //---------end check disable field------------
    });
    function checkDisableSelf() {
        var check = $('#acceipt-selfCollection').is(':checked');

        if (check) {
            $('#instructionSelfcollect').prop('disabled', false);
            $('#datefrom').prop('disabled', false);
            $('#dateto').prop('disabled', false);
            $('#timeSelfCollection').prop('disabled', false);
        } else {
            $('#instructionSelfcollect').prop('disabled', true);
            //  $('#instructionSelfcollect').val("");
            $('#datefrom').prop('disabled', true);
            // $('#datefrom').val('');
            $('#dateto').prop('disabled', true);
            //    $('#dateto').val('');
            $('#timeSelfCollection').prop('disabled', true);
            //$('#timeSelfCollection').prop("checked", "");
        }
    }
    function checkDisableDelivery() {
        var check = $('#acceipt-delivery').is(':checked');

        if (check) {
            $('#instructionShipping').prop('disabled', false);
            $('#timeDelivery').prop('disabled', false);
        } else {
            $('#instructionShipping').prop('disabled', true);
            $('#timeDelivery').prop('disabled', true);
            //  $('#timeDelivery').val("");
            //$('#timeDelivery').prop("checked", "");
        }
    }
    $('#cutOff').datetimepicker({
        timepicker: true,
        datepicker: false,
        format: 'H:00'
    });
</script>

<script>
    var data = @(new HtmlString(Json.Encode(Model.accountSmoovPay)));
    if(data==null){
        $('.pay_signup').css("display","block");
        $('.pay_signin').css("display","none");
    }else{
        $('.pay_signup').css("display","none");
        $('.pay_signin').css("display","none");
        $('.pay_info').css("display","block");
    }
    var divActive= "@ViewBag.DivActive";
    if(divActive){
        if(divActive=="pay_signup"){
            $('.pay_signup').css("display","block");
            $('.pay_signin').css("display","none");
            $('.pay_info').css("display","none");
        }else{
            $('.pay_signup').css("display","none");
            $('.pay_signin').css("display","block");
            $('.pay_info').css("display","none");
        }
    }
</script>