﻿@using SmoovPOS.Utility.CustomHTMLHelper
<style>
     .pay_signup {
        margin-left: 20px;
    }
    .pay_signup .pay_button {
       margin-top: 30px;
       margin-bottom: 30px;
       text-align: left;
    }
    .pay_signup .row a{
        color: #428bca
    }
    .pay_signup  button {
      margin-right: 30px; 
    }
</style>
<div class="pay_signup">
    <div class="row">
        <h4>@Html.LocalizedMessage("ConnectToSmoovPay")</h4>
        <p>@Html.LocalizedMessage("ConnectToSmoovPayDesc")</p>
    </div>
    <div class="row pay_button">
        <button type="button" class="btn btn-default-smoov" onclick="location.href = '@Url.Action("SignUp")'">@Html.LocalizedButton("SignupToSmoovPay")</button>
        <button type="button" onclick="$('.pay_signup').css('display', 'none'); $('.pay_signin').css('display', 'block');" class="btn btn-default">@Html.LocalizedButton("ExistingUser")</button>
    </div>
    <div class="row">
        <a target="_blank" href="https://merchant.smoovpay.com/">@Html.LocalizedMessage("LearnMoreSmoovPay") > </a>
        <div style="height: 10px"></div>
        <a target="_blank" href="https://merchant.smoovpay.com/terms">@Html.LocalizedMessage("ReviewTheSmoovPay") > </a>
    </div>
</div>
