﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.Setting.SignInSmoovpayViewModel
<style>
    .pay_signin {
        margin-left: 20px;
    }

        .pay_signin .pay_button {
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: right;
        }
</style>
@using (Ajax.BeginForm("SignIn", "SettingCheckout", new SmoovPOS.UI.Models.Setting.SignUpSmoovpayViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "frmSignIn", @encType = "multipart/form-data" }))
{

    <div class="pay_signin">
        <div class="row">
            <h4>Account Information</h4>
        </div>
       
        <div class="row">
            <div class="col-md-6" style="padding-left: 15px;">
                <div class="form-group">
                    <label for="categoryName">@Html.LocalizedLabel("UserNameForLogin")</label><span style="color: red"> * </span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("email"), @Value=ViewBag.Email })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="password">@Html.LocalizedLabel("Password")</label><span style="color: red"> * </span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @maxlength = 50, @Value = ViewBag.Password, @placeholder = @Html.LocalizedLabel("Password") })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
        </div>

        <div class="row pay_button">
            <button type="button" class="btn btn-primary" id="pay_login_submit" style="margin-right:5px;">@Html.LocalizedButton("Save")</button>
            <button type="button" class="btn btn-default" id="pay_login_cancel" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "SettingCheckout")'">@Html.LocalizedButton("Cancel")</button>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $('#pay_login_submit').click(function (e) {
            var form = $("#frmSignIn");
            var checkForm = form.valid();
            if (checkForm) {
                $('#pay_login_submit').text('Please wait...');
                $('.btn').attr('disabled', true);
                $('#frmSignIn').submit();
            }
        })
    })
</script>