﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.Setting.GeneralSettingModel

@{
    ViewBag.Title = "General";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Edit", "General", FormMethod.Post, new { @encType = "multipart/form-data", @id = "formData" }))
{
    //------- Header -------
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@Html.LocalizedLabel("General")</h3>
        </div>
        <div class="col-md-8">
            <div class="loading" style="display:none;font-size:x-large;vertical-align:middle;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <button type="submit" onclick="submitForm()" class="btn btn-primary button-submit">@Html.LocalizedButton("Save")</button>
        </div>
    </div>
    //------ End Header ------
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div class="q-form">
        @Html.AntiForgeryToken()
        @*------------------- Standard & Format Information ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("StandardAndFormat")</h4>
                <text>@Html.LocalizedMessage("ThisSectionIsUsedToSetUpOnlineShopTimezoneAndCurrency")</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <text for="TimeZone">@Html.LocalizedLabel("TimezoneOfOnlineShop")</text><br />
                        <select class="form-control" name="selectedTimeZone">
                            @{
                                foreach (var item in Model.listDefaultTimeZones)
                                {
                                    string value = item.Key.ToString() + "~" + item.Value.ToString();
                                    <option @(!string.IsNullOrEmpty(Model.generalSetting.TimeZoneFullName) && value.Contains(Model.generalSetting.TimeZoneFullName) ? " selected" : "") value="@value">@item.Key @item.Value</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-6">
                        <text for="Currency">@Html.LocalizedLabel("Currency")</text><br />
                        <select class="form-control" name="selectedCurrency">
                            @{
                                foreach (var item in Model.listDefaultCurrencies)
                                {
                                    string value = item.currencyFullName + "~" + item.currency;
                                    <option @(item.currencyFullName.Contains(Model.generalSetting.CurrencyFullName) ? " selected" : "") value="@value">@item.currencyFullName (@item.currency)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        @*-------------------End Standard & Format Information ------------------------*@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*------------------- GST Registration Number ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("GstRegistrationNumber")</h4>
                <text>@Html.LocalizedMessage("ThisSectionIsUsedToPrintTheGstRegistrationNumberOnReceipt")</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <text for="chargeOnline">@Html.LocalizedLabel("GstRegistrationNumber")</text><br />
                        <input type="text" class="form-control chargeStore" name="stringGST" maxlength="50" value="@Model.generalSetting.GST">
                    </div>
                </div>
            </div>
        </div>
        @*-------------------End GST Registration Number ------------------------*@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*------------------- Best Seller ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("BestSeller")</h4>
                <text>@Html.LocalizedMessage("ThisSectionIsUsedToIdentifyBestSellerOnOnlineShop")</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <text for="chargeOnline">@Html.LocalizedLabel("NumberOfSoldItems")</text><br />
                        <input type="text" class="form-control chargeStore" name="strBestSeller" maxlength="5" placeholder="Max 99999" min="1"
                               id="countOfBestSeller"
                               onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                               onchange="ValidateBestSeller();"
                               value="@Model.generalSetting.CountOfBestSellerProduct">
                        <text id="AlertCountOfBestSellerIsNotValid" style="display:none;font-style:italic;color:red;">@Html.LocalizedMessage("AlertCountOfBestSellerIsNotValid")</text>
                    </div>
                </div>
            </div>
        </div>
        @*-------------------End Best Seller ------------------------*@
        
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        @*------------------- Daily Report Period ------------------------*@
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("DailyReportPeriod")</h4>
                <text>@Html.LocalizedMessage("ConfigurePeriodForDailyReport")</text>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-3">
                        <text>@Html.LocalizedLabel("From")</text>
                        <div id="beginHour">
                            <input id="dtpFrom" type="text" class="form-control" name="dtpFrom" value="@Model.generalSetting.DailyReportPeriodBeginFrom" onchange="ValidateDailyReportPeriod();">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <text>@Html.LocalizedLabel("To")</text>
                        <div id="endHour" class="input-group">
                            <input id="dtpTo" type="text" class="form-control" name="dtpTo" value="@Model.generalSetting.DailyReportPeriodEndAt" onchange="ValidateDailyReportPeriod();">
                            <span class="input-group-addon" id="basic-addon2">
                                <label>
                                    <input style="display:inline-block;margin:0;" type="checkbox" id="DailyReportPeriodEndAtNextDay" name="DailyReportPeriodEndAtNextDay"
                                           value="true" @(Model.generalSetting.isDailyReportPeriodEndAtNextDay ? "checked" : "") onchange="ValidateDailyReportPeriod();" />
                                    @Html.LocalizedLabel("NextDay")
                                </label>
                            </span>
                        </div>
                    </div>                    
                </div>
                <text id="AlertDailyReportPeriodIsNotValid" style="display:none;font-style:italic;color:red;">@Html.LocalizedMessage("AlertDailyReportPeriodIsNotValid")</text>
            </div>
        </div>
        @*-------------------End Daily Report Period ------------------------*@
    </div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    //------- Footer -------
    <div class="q-toolsbar">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="loading" style="display:none;font-size:x-large;vertical-align:middle;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <button type="submit" onclick="submitForm()" class="btn btn-primary button-submit">@Html.LocalizedLabel("Save")</button>
        </div>
    </div>
    //------ End Footer ------
}

<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();

    jQuery('#dtpFrom').datetimepicker({
        datepicker: false,
        format: 'H:i'
    });

    jQuery('#dtpTo').datetimepicker({
        datepicker: false,
        format: 'H:i'
    });

    function ValidateBestSeller() {
        var Qty = $("#countOfBestSeller").val();
        if (parseInt(Qty) == 0) {
            $('#AlertCountOfBestSellerIsNotValid').css('display', 'block');
            $('.button-submit').css('display', 'none');
        }
        else {
            $('#AlertCountOfBestSellerIsNotValid').css('display', 'none');
            $('.button-submit').css('display', 'inline-block');
        }
    }

    function ValidateDailyReportPeriod() {
        var IsNextDate = $("#DailyReportPeriodEndAtNextDay").is(':checked');

        if (!IsNextDate) {
            var From = new Date("01 01 01 " + $("#dtpFrom").val());
            var To = new Date("01 01 01 " + $("#dtpTo").val());

            if (From > To) {
                $('#AlertDailyReportPeriodIsNotValid').css('display', 'block');

                $('.button-submit').css('display', 'none');
            }
            else {
                $('#AlertDailyReportPeriodIsNotValid').css('display', 'none');
                $('.button-submit').css('display', 'inline-block');
            }
        }
        else {
            $('#AlertDailyReportPeriodIsNotValid').css('display', 'none');
            $('.button-submit').css('display', 'inline-block');
        }
    }

    function submitForm() {
        $('.button-submit').text('Saving...');
        $('.button-submit').prop('disabled', true);

        var form = $('#formData');
        
        $.ajax({
            url: "@ViewBag.Url" + '/General/Edit',
            type: 'POST',
            data: form.serialize(),
            beforeSend: function () { },
            onsuccess: function () { },
            success: function (result) {
                $('.button-submit').prop('disabled', false);
                $('.button-submit').text('Save');
            },
            error: function () {
                $('.button-submit').prop('disabled', false);
                $('.button-submit').text('Save');
            }
        });
    }
</script>
