﻿<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],

        </label>
        <div style="margin-top:10px;">
            Welcome to [BusinessName]. In order to use this website, you need to activate your account. Please click the following
            link to complete the process.
        </div>
        <div>
            <div style="margin-top:10px;">
                <a href="[LinkResetPasswork]">[LinkResetPasswork]</a>
            </div>
            <div style="margin-top:30px;">
                If you did not request to have your email verified you can safely ignore this email.
            </div>
            <div style="margin-top:30px;">
                Thank you,
            </div>
            <div>
                [BusinessName]
            </div>
        </div>
    </div>

</div>
