﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.DiscountInformation
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    string status = string.Empty;
}
<style>
    .table tr:nth-child(even) {
        background: #f9f9f9;
    }

    .table tr:nth-child(odd) {
        background: #FFF;
    }
</style>
<div class="q-discount">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3><span class="parant-title">Discount</span> / @Model.discount.name </h3>
        </div>
        <div class="col-md-8">
            @if (Model.isExpired)
            {
                <button onclick="location.href='@Url.Action("Edit", "Discount", new { id = Model.discount._id })';return false;" class="btn btn-primary">Edit</button>
            }

            <button onclick="location.href='@Url.Action("Index", "Discount")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
        </div>
    </div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div class="q-content">
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Discount Detail</h4>
                <h5>Create your discount code, and specify the usage limit.</h5>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="discountName"><strong>Name</strong></label>
                        <div>@Model.discount.name</div>
                    </div>

                    <div class="col-md-6">
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <label for="discountName"><strong>Discount</strong></label>
                        <div>
                            @if (Model.discount.type == 0)
                            {
                                <span>@String.Format("{0:0.00}", @Model.discount.discountValue) %</span>
                            }
                            else
                            {
                                <span>@Model.currency @String.Format("{0:0.00}", @Model.discount.discountValue)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Date Range</h4>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="discountName"><strong>Begin Date</strong></label>
                        <div>
                            <span>@TimeZoneInfo.ConvertTimeFromUtc(Model.discount.beginDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("MM/dd/yyyy H:mm")</span>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label for="timeUse"><strong>End Date</strong></label>
                        <div>
                            <span>@(Model.discount.neverExpired ? "Never Expire" : @TimeZoneInfo.ConvertTimeFromUtc(Model.discount.endDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("MM/dd/yyyy H:mm"))</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Apply for Products</h4>
                <h5>Select product you want to apply this discount.</h5>

            </div>
            <div class="col-md-8">
                <div id="ListProductsApply" style="max-height: 700px; overflow-x: hidden; overflow-y: auto;">
                    @if (Model.listSelectedProductItems != null && Model.listSelectedProductItems.Count > 0)
                    {
                        <table class="table">
                            <tr>
                                <th width="100px">Product</th>
                                <th></th>
                                <th>Category</th>
                            </tr>
                            @foreach (var prod in Model.listSelectedProductItems)
                            {
                                if (prod == null || !prod.status || !prod.display)
                                {
                                    continue;
                                }
                                <tr class="trproduct">
                                    <td style="text-align:right">
                                        @{
                                var imageUrl = "";
                                System.Drawing.Size size = new System.Drawing.Size(0, 0);
                                System.Drawing.Image image = null;
                                if (string.IsNullOrEmpty(prod.image.imageDetault) || prod.image.arrayImage.Count == 0)
                                {
                                    imageUrl = Url.Content("~/Content/Images/imageDefault.png");

                                    try
                                    {
                                        image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                                    }
                                    catch
                                    {
                                        image = null;
                                    }
                                }
                                else
                                {
                                    Uri uri = null;
                                    if (Uri.TryCreate(prod.image.imageDetault, UriKind.Absolute, out uri))
                                    {
                                        imageUrl = prod.image.imageDetault;
                                    }
                                    else
                                    {
                                        imageUrl = prod.image.arrayImage[int.Parse(prod.image.imageDetault)];
                                    }
                                    try
                                    {
                                        WebRequest request = WebRequest.Create(imageUrl);
                                        WebResponse response = request.GetResponse();
                                        image = System.Drawing.Image.FromStream(response.GetResponseStream());
                                    }
                                    catch
                                    {
                                        image = null;
                                    }
                                }
                                if (image != null)
                                {
                                    size.Width = image.Width;
                                    size.Height = image.Height;
                                    size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S);
                                }

                                //Console.WriteLine("Image size: {0}x{1}", image.Width, image.Height);

                                        }
                                        <div style="width:80px;height:auto;text-align:center;background-color: white;">
                                            @if (size.Width > 0 && size.Height > 0)
                                            {
                                                <img src="@imageUrl" width="@size.Width" height="@size.Height" />
                                            }
                                            else
                                            {
                                                <img src="@imageUrl" width="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S" height="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S" />
                                            }
                                        </div>
                                    </td>
                                    <td style="vertical-align:inherit">@prod.title</td>
                                    <td style="vertical-align:inherit">
                                        @prod.categoryName
                                        <input type="hidden" name="product" id="product" value="@prod._id" />
                                    </td>
                                </tr>

                            }
                        </table>
                    }
                    
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10">
                        @if (Model.discount.beginDate <= DateTime.UtcNow && Model.discount.endDate >= DateTime.UtcNow)
                        {
                            status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                        }
                        else
                        {
                            status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                        }
                        @if (Model.discount.beginDate <= DateTime.UtcNow && Model.discount.endDate >= DateTime.UtcNow)
                        {
                            <span style="color:green;">@Html.DisplayFor(model => status)</span>
                        }
                        else
                        {
                            <span style="color:red;">@Html.DisplayFor(model => status)</span>
                        }
                        @*<div>
                                @if (Model.discount.beginDate <= DateTime.UtcNow && Model.discount.endDate >= DateTime.UtcNow)
                                {
                                    <span class="text-success">Active</span>
                                }
                                else
                                {
                                    <span class="text-danger">Inactive</span>
                                }
                            </div>*@
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
<br />
<br />
<br />
<div class="q-toolsbar">
    <div class="col-md-4" style="position: relative;">
    </div>
    <div class="col-md-8" style="position: relative;">
        @if (Model.isExpired)
        {
            <button onclick="location.href='@Url.Action("Edit", "Discount", new { id = Model.discount._id })';return false;" class="btn btn-primary">Edit</button>
        }
        <button onclick="location.href='@Url.Action("Index", "Discount")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
    </div>
</div>