﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.DiscountItemListingModel

@{
    int index = 0;
}
@if (Model.DiscountList != null && Model.DiscountList.Count() > 0)
{
    <table class="display table" id="@Model.tableId" cellspacing="0" style="padding-top:10px;">
        <thead>
            <tr class="header_table">
                <th class="u_title">Discount  </th>
                <th class="u_title">Start</th>
                <th class="u_title">End</th>
                <th class="u_title" style="background:none">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DiscountList)
            {
                <tr>
                    <td>@Html.ActionLink(item.name.ToString(), "Detail", new { id = item._id, isExpired = false })</td>
                    <td>@TimeZoneInfo.ConvertTimeFromUtc(item.beginDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("dd-MMM-yyyy H:mm")</td>
                    <td>@TimeZoneInfo.ConvertTimeFromUtc(item.endDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("dd-MMM-yyyy H:mm")</td>
                    <td><div class="text-danger">Inactive</div></td>
                </tr>
                index++;
            }
        </tbody>
    </table>
}
else
{
    <div class="row text-center">
        <h5>No discount was found.</h5>
    </div>
}

<script>
    $(document).ready(function () {
        var sZeroRecords = "No discount was found.";
        var sEmptyTable = "No discount was found.";
        var sInfoEmpty = ""

        $('#@Model.tableId').DataTable({
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": false },
              { "bSearchable": false },
              { "bSearchable": false }
            ],
            "columns": [
              { "width": "25%" },
              { "width": "25%" },
              { "width": "25%" },
              { "width": "25%" }
            ],
            "pagingType": "full_numbers",
            "bSortClasses": false,
            "order": [[1, "desc"]],
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": "<i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": "<i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": "<i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": "<i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": sInfoEmpty,
                "sEmptyTable": sEmptyTable,
                "sZeroRecords": sZeroRecords
            }
        });

        $('#ExpiredDiscount_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="myInputTextField1" class="form-control" placeholder="Search discount" /></div></div>')

        oTable1 = $('#@Model.tableId').dataTable();
        $('#myInputTextField1').keyup(function () {
            oTable1.fnFilter($(this).val());
        });
    });
</script>
