﻿@using SmoovPOS.UI.Models
@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.DiscountListingModel
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>
    .modal-footer button{
        width: 80px;        
    }
    
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .glyphicon {
        left: 5px;
        top: -1px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .dataTables_paginate {
        float: left !important;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 1px solid white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    .dataTables_paginate.paging_simple_numbers {
        padding-left: 25px;
    }

    .searching {
        float: right;
    }

    #myInputTextField, #myInputTextField1 {
        width: 370px;
        max-width: inherit;
    }

    .statusDiscount{
        width: 60px;
    }

    /* ==CSS for Datatables Grid== */
    .dataTables_info {
        margin-top: 2px;
        margin-right: 10px;
    }

    .pagination > li > a, .pagination > li > span {
        margin-left: -5px;
    }

    #OpenDiscount_filter, #ExpiredDiscount_filter {
        display: block !important;
        margin-top: 3px !important;
    }

    /*#OpenDiscount tr, #ExpiredDiscount tr {
        background-color: transparent !important;        
    }*/

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        /*background-color: #eee !important;*/
        border-color: #ddd !important;
        color: #fff !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
        color: #428bca;
    }

    .dataTables_paginate a{
        color: #428bca;
    }

    .pagination > li > a, .pagination > li > span{
        padding: 4px 10px;
    }

    .header_table {
        background-color: transparent;
        color: #000;
        border-bottom: 2px solid #ddd;
    }
    
    /*#OpenDiscount tbody tr:hover, #ExpiredDiscount tbody tr:hover{
        background-color: #e8e5e5 !important;
}*/
</style>

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertDiscountCountIsLimited")</div>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>Discount</h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Discount")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Discount</button>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>


<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#all-customer" role="tab" data-toggle="tab">Open</a></li>
        <li><a href="#guests" role="tab" data-toggle="tab">Expired</a></li>
    </ul>
</div><br />
<div class="tab-content">
    <div class="tab-pane active" id="all-customer">
        @Html.Partial("~/Views/Discount/OpenDiscountListing.cshtml", Model.OpenDiscountListing)
    </div>
    <div class="tab-pane" id="guests">
        @Html.Partial("~/Views/Discount/ExpiredDiscountListing.cshtml", Model.ExpiredDiscountListing)
    </div>
</div>

<div class="q-toolsbar">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Discount")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Discount</button>
    </div>
</div>

<script>
    $(function () {
        $(".expire-button").click(function () {
            jsProductItem.status = $(this).val();
            jsProductItem.value = this.getAttribute('id').toString();
            elementChange = $(this).parent().parent().children();
            var result = '';
            $('#modalInactive').find('.modal-body').html(" Do you want to expire this discount?");
            $('#modalInactive').modal();
        });
    })

    jsProductItem = {};

    function dismissPopup() {
        console.log(elementChange);
        elementChange[0].classList.contains('active') ? elementChange[0].classList.remove('active') : elementChange[0].classList.add('active');
        elementChange[1].classList.contains('active') ? elementChange[1].classList.remove('active') : elementChange[1].classList.add('active');

        return true;
    }

    function confirmUpdate() {
        setStatus(jsProductItem["value"], jsProductItem["status"]);
        isDismiss = "False";
        return false;
    }

    function setStatus(id, statusCustomer) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatus", "Discount")',
            data: {
                id: id,
                status: false
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        })

        location.reload();
    }
</script>