﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.DiscountInformation
<style>
    .table tr:nth-child(even) {
        background: #f9f9f9;
    }

    .table tr:nth-child(odd) {
        background: #FFF;
    }
    .group-image {
        height: 50px;
        width: 77px;
        background-color: transparent;
        text-align: center; /* optional */
    }
    .portrait img {
        width: 100%;
        max-height: 50px;
    }

    .landscape img {
        height: 100%;
        max-width: 77px;
    }
</style>
<div style="max-height: 700px; overflow-x: hidden; overflow-y: auto;">
    <table class="table table-curved">
        <tr>
            <th width="100px">Product</th>
            <th></th>
            <th>Category</th>
            <th></th>
        </tr>
        @if (Model.discount.ListProductItems != null && Model.discount.ListProductItems.Count > 0)
        {
            foreach (var prod in Model.listSelectedProductItems)
            {
                if (prod == null || !prod.status || !prod.display)
                {
                    continue;
                }
                <tr class="trproduct">
                    <td style="text-align:right">
                        @{
                var imageUrl = "";
                System.Drawing.Size size = new System.Drawing.Size(0, 0);
                System.Drawing.Image image = null;
                if (string.IsNullOrEmpty(prod.image.imageDetault) || prod.image.arrayImage.Count == 0)
                {
                    imageUrl = Url.Content("~/Content/Images/imageDefault.png");

                    try
                    {
                        image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                    }
                    catch
                    {
                        image = null;
                    }
                }
                else
                {
                    Uri uri = null;
                    if (Uri.TryCreate(prod.image.imageDetault, UriKind.Absolute, out uri))
                    {
                        imageUrl = prod.image.imageDetault;
                    }
                    else
                    {
                        imageUrl = prod.image.arrayImage[int.Parse(prod.image.imageDetault)];
                    }
                    try
                    {
                        WebRequest request = WebRequest.Create(imageUrl);
                        WebResponse response = request.GetResponse();
                        image = System.Drawing.Image.FromStream(response.GetResponseStream());
                    }
                    catch
                    {
                        image = null;
                    }
                }
                if (image != null)
                {
                    size.Width = image.Width;
                    size.Height = image.Height;
                    size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S);
                }

                //Console.WriteLine("Image size: {0}x{1}", image.Width, image.Height);

                        }
                        <div style="width:80px;height:auto;text-align:center;background-color: white;">
                            @if (size.Width > 0 && size.Height > 0)
                            {
                                <img src="@imageUrl" width="@size.Width" height="@size.Height" />
                            }
                            else
                            {
                                <img src="@imageUrl" width="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S" height="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S" />
                            }
                        </div>
                    </td>
                    <td style="vertical-align:inherit">@prod.title</td>
                    <td style="vertical-align:inherit">
                        @prod.categoryName
                    </td>
                    <td style="vertical-align:inherit">
                        <button type="button" class="btn btn-danger" onclick="deleteProduct(this)">Remove</button>
                        <input type="hidden" name="product" id="product" value="@prod._id" />
                    </td>
                </tr>
            }
        }
        else
        {
            <caption>There aren't discount.</caption>
        }
    </table>
</div>
<script>
    $(document).ready(function () {
        resizeImg();
    })

    function resizeImg() {
        var thisImg = $('.group-image');
        var refH = thisImg.height();
        var refW = thisImg.width();
        var refRatio = refW / refH;

        var imgH = thisImg.children("img").height();
        var imgW = thisImg.children("img").width();

        if ((imgW / imgH) > refRatio) {
            thisImg.addClass("portrait");
            thisImg.removeClass("landscape");
        } else {
            thisImg.addClass("landscape");
            thisImg.removeClass("portrait");
        }
    }
</script>