﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <style>
        .modal {
            overflow-y: auto !important;
        }

        body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
            margin-right: 0px !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SMOOVPOS", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav q-menu-top">
                    <li class=@(ViewBag.Class == "dashboard"?"active":"")>@Html.ActionLink("Dashboard", "Index", "Home")</li>
                    <li class=@(ViewBag.Class == "order" ? "active" : "")>@Html.ActionLink("Order", "Index", "Order")</li>
                    <li class=@(ViewBag.Class == "employee" ? "active" : "")>@Html.ActionLink("Employees", "Index", "Employee")</li>
                    <li class=@(ViewBag.Class == "customer"?"active":"")>@Html.ActionLink("Customer", "Index", "Customer")</li>
                    <li class=@(ViewBag.Class == "inventory" ? "active" : "")>@Html.ActionLink("Inventory", "Index", "Inventory")</li>
                    <li class=@(ViewBag.Class == "product"?"active":"")> @Html.ActionLink("Product", "Index", "Product")</li>
                    <li class=@(ViewBag.Class == "category"?"active":"")>@Html.ActionLink("Category", "Index", "Category")</li>
                    <li class=@(ViewBag.Class == "content"?"active":"")>@Html.ActionLink("Web Content & Theme", "AboutUs", "WebContent")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @{
        var NumberInit = -1;
        try
        {
            NumberInit = ViewBag.NumberInit;
        }
        catch
        {
        }
    }
    <div class="container-fluid">
        <div class="col-sm-3 col-md-2 sidebar" style="background: #31373d">
            <nav class="mainMenu">
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="dashboard"?"active":"")>
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-tachometer"></i> &nbsp;&nbsp; Dashboard
                            @if (NumberInit >= 0 && NumberInit < 5)
                            {
                                <span class="badge" style="float: right"> @NumberInit/5 </span>

                            }
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class == "order" ? "active" : "")>
                        <a href="@Url.Action("Index", "Order")"><i class="fa fa-inbox"></i> &nbsp;&nbsp; Order</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class == "generateReport" ? "active" : "")>
                        <a href="@Url.Action("Index", "GenerateReport")"><i class="fa fa-pie-chart"></i> &nbsp;&nbsp; Generate Report</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class == "employee" ? "active" : "")>
                        <a href="@Url.Action("Index", "Employee")"><i class="fa fa-user"></i> &nbsp;&nbsp; Employee</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class == "customer" ? "active" : "")>
                        <a href="@Url.Action("Index", "Customer")"><i class="fa fa-group"></i> &nbsp;&nbsp; Customer</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class == "inventory" ? "active" : "")>
                        <a href="@Url.Action("Index", "Inventory")"><i class="fa fa-briefcase"></i> &nbsp;&nbsp; Store</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="collection"?"active":"")>
                        <a href="@Url.Action("Index", "Collection")"><i class="fa fa-tags"></i> &nbsp;&nbsp; Collection</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="product"?"active":"")>
                        <a href="@Url.Action("Index", "Product")"><i class="fa fa-tag"></i> &nbsp;&nbsp; Product</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="discount"?"active":"")>
                        <a href="@Url.Action("Index", "Discount")"><i class="fa fa-cut"></i> &nbsp;&nbsp; Discount</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="category"?"active":"")>
                        <a href="@Url.Action("Index", "Category")"><i class="fa fa-archive"></i> &nbsp;&nbsp; Category</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li class=@(ViewBag.Class=="content"?"active":"")>
                        <a href="@Url.Action("AboutUs", "WebContent")"><i class="fa fa-codepen"></i> &nbsp;&nbsp; Web Content</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li>
                        <a class="settings" href="@Url.Action("Index", "General")"><i class="fa fa-cog"></i> &nbsp;&nbsp; Settings</a>
                    </li>
                </ul>
            </nav>
            <nav class="settingsMenu">
                <ul class="nav nav-sidebar">
                    <li class="backMenu styleSetting">
                        <a href="@Url.Action("Index", "Home")"><i class="fa fa-long-arrow-left"></i> &nbsp;&nbsp; Back To Admin</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class=="general"?"active":"")>
                        <a href="@Url.Action("Index", "General")"><i class="fa fa-cog"></i> &nbsp;&nbsp; General</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "checkout" ? "active" : "")>
                        <a href="@Url.Action("Index", "SettingCheckout")"><i class="fa fa-shopping-cart"></i> &nbsp;&nbsp; Checkout</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "tableordering" ? "active" : "")>
                        <a href="@Url.Action("Index", "TableOrdering")"><i class="fa fa-codepen"></i> &nbsp;&nbsp; Table Ordering</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "delivery" ? "active" : "")>
                        <a href="@Url.Action("Index", "Delivery")"><i class="fa fa-truck"></i> &nbsp;&nbsp; Delivery</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "station" ? "active" : "")>
                        <a href="@Url.Action("Index", "Station")"><i class="fa fa-th"></i> &nbsp;&nbsp; Station</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "tax" ? "active" : "")>
                        <a href="@Url.Action("Index", "Tax")"><i class="fa fa-magic"></i> &nbsp;&nbsp; Taxes</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "MemberPoint" ? "active" : "")>
                        <a href="@Url.Action("Index", "MemberPoint")"><i class="fa fa-star"></i> &nbsp;&nbsp; Member Point</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "emailConfig" ? "active" : "")>
                        <a href="@Url.Action("Index", "EmailConfiguration")"><i class="fa fa-envelope"></i> &nbsp;&nbsp; Email Configuration</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "SMSSetting" ? "active" : "")>
                        <a href="@Url.Action("Index", "SMSSetting")"><i class="fa fa-envelope-o"></i> &nbsp;&nbsp; SMS Setting</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "DeviceSetting" ? "active" : "")>
                        <a href="@Url.Action("Index", "ManageDevice")"><i class="fa fa-tablet"></i> &nbsp;&nbsp; Device List</a>
                    </li>
                </ul>
                <ul class="nav nav-sidebar styleSetting">
                    <li class=@(ViewBag.Class == "ServicePlan" ? "active" : "")>
                        <a href="@Url.Action("Index", "ServicePlan")"><i class="fa fa-list-ul"></i> &nbsp;&nbsp; Service Plan</a>
                    </li>
                </ul>
            </nav>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            @RenderBody()
        </div>
        <hr />
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
