﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel


<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],

          
        </label>
        <div style="margin-top:10px;">
            Below is a summary of your order from your [BusinessName]. Please keep this mail for future reference.

        </div>
        <div>
           
            If you have any questions or need additional assistance with your account, please contact us.
        </div>
    </div>
    <div style="margin-top:50px;margin-left:50px;">
        <div>
            <label>
                Your order number is [OrderNumber], placed  [OrderDay], status 
            </label>
            <b>[OrderStatusOfCustomer].</b>
        </div>
        <div>
            <div>
                <!-- Bill to ship to-->
                <table style="width:50%;">
                    <tr>
                        <td><p><b>Bill to:</b></p></td>
                        <td><p><b>[OrderTypeInformation]</b></p></td>
                    </tr>
                    <tr style="margin-top:10px;">
                        <td>
                            [FirstNameLastNameBill] 
                        </td>
                        <td>
                            [FirstNameLastNameReceive]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            [AddressBill]
                        </td>
                        <td>
                            [AddressReceive]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            [PhoneBill]
                        </td>
                        <td>
                            [PhoneReceive]
                        </td>
                    </tr>
                    <tr>
                        <td>
                            [EmailBill]
                        </td>
                        <td>
                            [EmailReceive]
                        </td>
                    </tr>

                </table>
                <!-- bill to ship to-->
                <!-- Payment infor-->
               
                <div style="margin-top:30px;">                                
                    <div style="width:50%">
                        [ProductOrderDetails]
                    </div>                  
                </div>
                
            </div>
           
        </div>
    </div>
   <div>
       <div style="margin-top:10px;">
           Visit us again at: [OnlineshopLink]
       </div>
       <div style="margin-top:30px;">
           Sincerely,
       </div>
       <div>
           [BusinessName]
       </div>
   </div>
</div>
