﻿@model Com.SmoovPOS.Entity.TableOrderingSetting
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table ordering</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="text-center">
        <h3 class="text-danger">Sorry!</h3>
        <div>Your table is not available at the moment.</div>
        <div>Please scan QR Code to try again.</div>
    </div>
</body>
</html>
