﻿@model Com.SmoovPOS.Entity.TableOrderingSetting
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table ordering</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .out-of-time-header {
            background-color: lightgray;
        }

        body {
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 0 !important;
            margin: 0 !important;
        }

        header {
            background-color: lightgray;
        }

        .caption-main {
            /*padding: 20px 0;*/
            font-size: medium;
        }

        .table tbody tr:first-child td {
            border-top: none;
        }

        .table tbody tr:last-child td {
            border-bottom: 1px solid #ddd;
        }
    </style>
</head>
<body>
    <header>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 out-of-time-header">
            <br />
            <div class="text-center text-danger caption-main"><strong>Sorry!</strong></div>
            <br />
            <div class="text-center">The service is not available at the moment.</div>
            <div class="text-center">Please try again later.</div>
            <br /><br />
        </div>
    </header>
    <div class="out-of-time-content">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <br />
            <div class="text-center"><strong>Available Time</strong></div>
            <br />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <table class="table table-condensed">
                <tbody>
                    @for (int i = 0; i < Model.ListDayOfWeekSetting.Count; i++)
                    {
                        DayOfWeek dayofweek = (DayOfWeek)Model.ListDayOfWeekSetting[i].DayOfWeek;
                        if (Model.ListDayOfWeekSetting[i].Option == 0)
                        {
                            <tr>
                                <td width="50%">
                                    @dayofweek.ToString()
                                </td>
                                <td width="50%">
                                    @Model.ListDayOfWeekSetting[i].Open_Opening&nbsp;to&nbsp;@Model.ListDayOfWeekSetting[i].Open_Closing
                                </td>
                            </tr>
                        }
                        else if (Model.ListDayOfWeekSetting[i].Option == 1)
                        {
                            <tr>
                                <td width="50%">
                                    @dayofweek.ToString()
                                </td>
                                <td width="50%">
                                    @Model.ListDayOfWeekSetting[i].Split_OpeningStart&nbsp;to&nbsp;@Model.ListDayOfWeekSetting[i].Split_OpeningEnd &nbsp;-&nbsp; @Model.ListDayOfWeekSetting[i].Split_ClosingStart&nbsp;to&nbsp;@Model.ListDayOfWeekSetting[i].Split_ClosingEnd
                                </td>
                            </tr>
                        }
                        else
                        {
                            continue;
                        }
                    }
                </tbody>

            </table>

        </div>
    </div>
</body>
</html>
