﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model IEnumerable<Com.SmoovPOS.Entity.ProductItem>

<style>
    .discount-product-item {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        padding-bottom: 1px;
    }

        .discount-product-item:hover {
            background-color: #F0F0F0;
        }

    .discount-product-row-style {
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #F3F3F3;
    }

    .discount-product-thumb {
        width: 265px;
        height: 200px;
        /*position: relative;*/
        overflow: hidden;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
    }

        .discount-product-thumb:before {
            content: " ";
            height: 100%;
            vertical-align: middle;
        }

        .discount-product-thumb img {
            vertical-align: middle;
            max-height: 100%;
            margin: auto;
            max-width: 100%;
        }

    .img-thumbnail-style {
        display: table-cell;
        width: 140px;
        height: 110px;
        vertical-align: middle;
        text-align: -webkit-center;
    }
</style>

@if (Model != null && Model.Count() > 0)
{
    int idIndex = 0;
    foreach (var productitem in @Model)
    {
        idIndex++;

        //Get min price of Variants
        var smallestProductItem = productitem.arrayVarient[0];
        var listVariants = productitem.arrayVarient.Where(i => i.quantity != 0).ToList();
        if (listVariants != null && listVariants.Count() > 0)
        {
            listVariants.Sort((var1, var2) => var1.price.CompareTo(var2.price));
            smallestProductItem = listVariants[0];
        }
        else
        {
            productitem.arrayVarient.Sort((var1, var2) => var1.price.CompareTo(var2.price));
            smallestProductItem = productitem.arrayVarient[0];
        }

        var imagePath = "";

        var discountbanner = "";
        var discount = productitem.DiscountProductItem;
        double minPriceVariant = smallestProductItem.price;
        double minPriceDiscount = 0;
        if (discount != null)
        {
            double disprice = 0;
            if (discount.type == 0)
            {
                disprice = minPriceVariant * discount.discountValue / 100;
                string strDisprice = disprice.ToString("N2");
                disprice = double.Parse(strDisprice);
            }
            else
            {
                disprice = discount.discountValue;
            }

            minPriceDiscount = minPriceVariant - disprice;
            minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;

            if (discount.type == 0)
            {
                discountbanner = discount.discountValue + " %";
            }
            else
            {
                discountbanner = ViewBag.TableOrder.currency + " " + discount.discountValue;
            }
        }
        else
        {
            minPriceDiscount = smallestProductItem.price;
        }

        imagePath = smallestProductItem.image.imageDetault;
        if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
        {
            var indexImage = productitem.image.imageDetault;
            int number = -1;
            try
            {
                number = int.Parse(indexImage);
            }
            catch
            {

            }
            if (number >= 0)
            {
                imagePath = productitem.image.arrayImage.Count() > 0 ? productitem.image.arrayImage[number] : Url.Content("~/Content/images/imageDefault.png");
            }
            else
            {
                imagePath = imagePath = Url.Content("~/Content/images/imageDefault.png");
            }
        }

        var productname = productitem.title.Length > 30 ? productitem.title.Substring(0, 30) + "..." : productitem.title;

        <div class="discount-product row discount-product-row-style" title="@productname" id="@productitem._id">
            <div class="col-md-9 col-xs-9" style="display:table;">
                <a href='#' onclick="LoadProductById('@productitem._id'); return false;" style="color:black;">
                    <div class="discount-product-item" style="display:table-row;">
                        <div class="discount-product-thumb img-thumbnail img-thumbnail-style">
                            @if (productitem.discount && productitem.DiscountProductItem != null)
                            {
                                <div class="discount-banner">
                                    <span>&nbsp;&nbsp;@discountbanner</span>
                                    <span>OFF</span>
                                </div>
                            }
                            <img src="@imagePath" class="img-responsive" alt="@productitem.title" id="ImageResize-@idIndex"
                                 onload="SetAutoResizeWidthHeightImage('ImageResize-@idIndex',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List)" />
                        </div>

                        <div style="display:table-cell;padding-left:10px;vertical-align:middle;">
                            <text style="color:#DA3756;">@productname</text>
                            <div>
                                @if (productitem.discount && productitem.DiscountProductItem != null)
                                {
                                    <text>@ViewBag.TableOrder.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))&nbsp; &nbsp;</text>

                                    <del>@ViewBag.TableOrder.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceVariant, 2))</del>
                                }
                                else
                                {
                                    <text>@ViewBag.TableOrder.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))</text>
                                }
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-xs-3" style="padding-top:24px;">
                @if (listVariants != null && listVariants.Count() > 0)
                {
                    <button type="button" id="addToCart" class="btn btn-success"
                            onclick='addProductItemToCart(@(new HtmlString(Json.Encode(productitem))), @(new HtmlString(Json.Encode(smallestProductItem))))'>
                        Add
                    </button>
                }
                else
                {
                    <div>
                        <text style="color:red;">Out of Stock</text>
                    </div>
                }
            </div>
        </div>
    }
}
else
{
    <h4 style="text-align:center;">There is no item at this moment.</h4>
}

<script>
    function addProductItemToCart(productItem, variantItem) {
        var tmp = variantItem;
        tmp.quantityInStock = tmp.quantity;
        tmp.quantity = 1;
        productItem.arrayVarient = [];
        productItem.arrayVarient.push(tmp);

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "TableOrder")',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify(productItem),
            success: function (result) {
                //updateCart();
                if (result.success == true) {
                    $('#q-cart-count').text(result.count);
                }
            },
            error: function (error) {
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }
</script>