﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.TableOrderProductsByCategoryViewModel

@{
    ViewBag.Title = "ProductList";
}

<style>
    #listCategories {
        border: none;
        background: white;
    }

    #listCategoriesUL {
        padding-right: 0px; 
        margin-left: 0px; 
        margin-right: 0px; 
        margin-top: 0px; 
        color: black; 
        position: fixed; 
        z-index:9999
    }

    #listCategoriesDropdownMenu{
        position: absolute;
        color: black;
        background: white;
    }

    #listCategoriesDropdownMenu > li > a{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        color: black;
        text-align: center;
        border-bottom: 1px solid #999;
    }
</style>

@if (ViewBag.listCategoryActive != null)
{
    int index = 0;
    <div class="navbar navbar-default" style="border:none; margin-bottom:0px;">
        <div class="row">
            <div class="col-md-12 col-xs-12" id="listCategories">
                <ul class="col-md-12 col-xs-12 nav navbar-nav" id="listCategoriesUL">
                    <li class="dropdown col-md-12 col-xs-12" style="padding-right: 0px; padding-left: 0px; color: black;">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="DropdownMenu" style="background: #F3F3F3; text-align: center; color: black;"><i class="fa fa-caret-down fa-2x pull-right"></i></a>

                        <ul class="dropdown-menu" id="listCategoriesDropdownMenu">
                            @foreach (var item in ViewBag.listCategoryActive)
                            {
                                index++;
                                <li>
                                    <a href="#" onclick="LoadProductByCategory('@item.name'); return false;" id="dropdown-@index"
                                       style="">@item.name</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="q-form">
        <div id="ProductsByCategory">
            @*@Html.Partial("~/Views/TableOrder/ProductListByCategory.cshtml", Model.ProductItemList)*@
        </div>
    </div>
}

<script type="text/javascript">

    function LoadProductByCategory(name) {
        $('#DropdownMenu').html(name + ' <i class="fa fa-caret-down fa-2x pull-right"></i>');
        $('#hfCategoryName').val(name);

        $.ajax({
            type: "GET",
            url: '@Url.Action("ProductListByCategory", "TableOrder")',
            data: { CategoryName: name },
            success: function (result) {
                $('#ProductsByCategory').html(result);
            },
            error: function () {
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    $(document).ready(function () {
        $('.dropdown').on('show.bs.dropdown', function (e) {
            //$(this).find('#caret').removeClass('fa-caret-down pull-right').addClass('fa-caret-up pull-right');
            $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
        });

        // Add slideUp animation to dropdown
        $('.dropdown').on('hide.bs.dropdown', function (e) {
            //$(this).find('#caret').removeClass('fa-caret-up pull-right').addClass('fa-caret-down pull-right');
            $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
        });
        if ($('#hfCategoryName').val() != "") {
            LoadProductByCategory($('#hfCategoryName').val());
        }
        else {
            $('#dropdown-1').click();
        }

        updateCart();
    });
</script>
