﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.TableOrderViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TableOrder.cshtml";
    var Title1 = Html.LocalizedLabel("TableOrderingTitle");

    var Title2 = Model.stationName;
    if (!Model.isHost)
    {
        Title2 = string.Format(Html.LocalizedLabel("TableClientTitle").ToString(), Model.stationName);
    }
}
<div class="row">
    <div class="col-lg-12" style="text-align:center;border-bottom: 1px solid #eee!important;margin-bottom: 25px;padding-bottom: 10px;">
        <h4>@Title1 <span style="color:red;">@Model.branchName</span></h4>
        <h4 id="title2">@Title2</h4>
        @*<p>@Html.LocalizedLabel("TableHostDescription")</p>*@

        <img src="@Url.Content("~/Content/images/HostInfoHost.png")" />
    </div>
</div>
@if (Model.isStartOrder)
{
    <div class="q-form tableOrdering" id="tableOrderingStart">
        @using (Html.BeginForm("StartOrder", "TableOrder", null, FormMethod.Post, new { @id = "formid", @encType = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()


            @*@Html.ValidationSummary(false)*@
            @Html.HiddenFor(m => m.id)
            @Html.HiddenFor(m => m.branchIndex)
            @Html.HiddenFor(m => m.branchName)
            @Html.HiddenFor(m => m.stationName)
            @Html.HiddenFor(m => m.stationSize)
            @Html.HiddenFor(m => m.orderId)
            @Html.HiddenFor(m => m.isHost)
            @Html.HiddenFor(m => m.isStartOrder)
            @Html.HiddenFor(m => m.currency)
            @Html.HiddenFor(m => m.businessName)

            <div class="row">
                <div class="col-md-6 col-xs-6">
                    <div class="inner">
                        @Html.LabelFor(model => model.firstName)<span style="color:red"> *</span>
                    </div>
                    @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", @maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.firstName)
                </div>
                <div class="col-md-6 col-xs-6">
                    <div class="inner">
                        @Html.LabelFor(model => model.lastName)
                    </div>
                    @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", @maxlength = 50 })
                </div>
            </div>

            <div class="row">
                @Html.LabelFor(model => model.phone, new { @style = "margin-left: 15px;" })<span style="color:red"> *</span>
                <br />
                <div class="col-md-3 col-xs-3">
                    @Html.TextBoxFor(m => m.phoneRegion, new { @class = "form-control", @maxlength = 10, @placeholder = @Html.LocalizedLabel("phoneRegion_placeholder") })
                    @*@Html.ValidationMessageFor(m => m.phoneRegion)*@
                </div>
                <div class="col-md-9 col-xs-9">
                    @Html.TextBoxFor(m => m.phone, new { @class = "form-control", @maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.phone)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="inner">
                        @Html.LabelFor(model => model.email)<span style="color:red"> *</span>
                    </div>
                    @Html.TextBoxFor(m => m.email, new { @class = "form-control", @maxlength = 100 })
                    @Html.ValidationMessageFor(m => m.email)
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <button type="button" class="btn btn-success btn-block" id="btnSave">@Html.LocalizedButton("Start")</button>
                </div>
            </div>
        }
        @*</section>*@

    </div>
    <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmJoinClient")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript">
    $('#btnSave').click(function (e) {
        var form = $('#formid');
        var checkForm = form.valid();
        if (checkForm) {
            var url = window.location.href;
            $.cookie(url, $('#email').val().toLowerCase());

            form.submit();
        }
    });
    $(document).ready(function () {
        $.ajaxSetup({ cache: true });

        var url = window.location.href;
        var dataC = $.cookie(url);
        if ('@Model.isStartOrder.ToString()' == 'True' && '@Model.isHost.ToString()' != 'True') {

            if (dataC != undefined && dataC.toLowerCase() == '@ViewBag.email') {
                
                $('#email').val(dataC.toLowerCase());
                $('#firstName').val('@ViewBag.TableOrder.firstName');
                $('#lastName').val('@ViewBag.TableOrder.lastName');
                $('#phone').val('@ViewBag.TableOrder.phone');
                $('#phoneRegion').val('@ViewBag.TableOrder.phoneRegion');
                $('#title2').text('@Model.stationName');
                $('#btnSave').click();
            }
            else {
                $('#modalInactive').modal('show');
            }
        }
        if ('@Model.isStartOrder.ToString()' == 'True' && '@Model.isHost.ToString()' == 'True') {
            if (dataC != undefined && dataC.toLowerCase() == '@ViewBag.email'.toLowerCase()) {
                
                $('#email').val(dataC.toLowerCase());
                $('#firstName').val('@ViewBag.TableOrder.firstName');
                $('#lastName').val('@ViewBag.TableOrder.lastName');
                $('#phone').val('@ViewBag.TableOrder.phone');
                $('#phoneRegion').val('@ViewBag.TableOrder.phoneRegion');
                $('#title2').text('@Model.stationName');
                $('#btnSave').click();
            }
        }

        $(document).keypress(function (e) {
            if (e.which == 13) {
                $('#btnSave').click();
            }
        });
    });

    function dismissPopup() {
        $('#isStartOrder').val('False');
        $.ajax({
            type: "POST",
            url: '@Url.Action("RejectJoin", "TableOrder")',
            data: $('#formid').serialize(),
            success: function (result) {
                $('#btnSave').css('display', 'none');
                $('#tableOrderingStart').html('');
            },
            beforeSend: function () {
            },
            complete: function () {

            }
        });
    }

    function confirmUpdate() {
        $('#isStartOrder').val('True');
        isDismiss = "False";
    }

</script>


