﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "SET PASSWORD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="q-form">
    @*@using (Html.BeginForm("ResetPassword", "Account"))
        {*@
    @*string dateStr = string.Empty;
        Html.AntiForgeryToken();*@
    @*. ------BEGIN HEADER------ *@
    <div class="q-toolsbar">
        @Html.HiddenFor(model => model.userID)
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-md-8" style="padding-right:10px;">

        </div>
    </div>
    @*. ------END HEADER------ *@
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    @*5. -------BEGIN INFORMATION------ *@

    <div class="form-horizontal">
        @*@Html.ValidationSummary()*@

        @*<div class="col-md-4">
                <h4>@Html.LocalizedLabel("ChangePassword")</h4>

                <p>To reset your password.</p>
            </div>*@

        <div class="col-md-12">
            <div class="form-group ">
                <div class="col-md-3 outer">
                </div>
                <div class="col-md-5 outer">
                    <div class="inner">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @maxlength = 100, @placeholder = @Html.LocalizedLabel("NewPassword") })

                        <div class="validation-summary-errors">
                            <ul>
                                <li id="ErrPassword" style="display: none; ">The Password field is required.</li>
                                <li id="ErrPasswordTooShort" style="display: none; ">Your password must be at least 6 characters long.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outer">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-3 outer">
                </div>
                <div class="col-md-5 outer">
                    <div class="inner">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = 100, @placeholder = @Html.LocalizedLabel("ConfirmPassword") })

                        <div class="validation-summary-errors">
                            <ul>
                                <li id="ErrConfirmPassword" style="display: none; ">The Confirm Password field is required.</li>
                                <li id="ErrPasswordNotMatch" style="display: none; ">Your passwords do not match.</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 outer">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-md-3 outer">
                </div>
                <div class="col-md-5 outer">
                    <div class="inner" style="text-align:center">
                        <button type="button" class="btn btn-primary" style="width:150px;" id="btnSave">Save</button>
                        @*<button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Login", "Account")'">Cancel</button>*@
                    </div>
                </div>
                <div class="col-md-3 outer">
                </div>
            </div>
        </div>
    </div>
    @*}*@

</div>
<script type="text/javascript">
    $("#btnSave").click(function () {
        if (Validation()) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ResetPassword", "Account")',
                data: { userID: $('#userID').val(), newPassword: $('#NewPassword').val() },
                success: function (result) {
                    //do your success logic
                    var url = '@Url.Action("Success", "Account")';
                    window.location.href = url;
                    return false;
                },
                error: function (result) {
                    //do your success logic
                },
                beforeSend: function () {
                    $('button[type=button], .btn-default').each(function () {
                        $(this).button('loading');
                    });
                },
                complete: function () {
                }
            });
        }

        return false;
    });

    function Validation() {
        //reset();
        var check = true;
        var password = $('#NewPassword').val().trim();
        var confirmPassword = $('#ConfirmPassword').val().trim();

        if (password.length < 1) {
            $('#ErrPassword').attr('style', 'display:block');
            check = false;
        } else {
            $('#ErrPassword').removeAttr('style');
            $('#ErrPassword').attr('style', 'display:none');
        }

        if (confirmPassword.length < 1) {
            $('#ErrConfirmPassword').attr('style', 'display:block');
            check = false;
        } else {
            $('#ErrConfirmPassword').removeAttr('style');
            $('#ErrConfirmPassword').attr('style', 'display:none');
        }

        if (password.length > 1 && password.length <= 5) {
            $('#ErrPasswordTooShort').attr('style', 'display:block');
            check = false;
        } else {
            $('#ErrPasswordTooShort').removeAttr('style');
            $('#ErrPasswordTooShort').attr('style', 'display:none');
        }

        if (confirmPassword.length > 0 && password != confirmPassword) {
            $('#ErrPasswordNotMatch').attr('style', 'display:block');
            check = false;
        } else {
            $('#ErrPasswordNotMatch').removeAttr('style');
            $('#ErrPasswordNotMatch').attr('style', 'display:none');
        }

        return check;
    }
    //function reset() {
    //    $('#ErrPasswordNotMatch').removeAttr('style');
    //    $('#ErrPasswordTooShort').removeAttr('style');
    //    $('#ErrPassword').removeAttr('style');
    //    $('#ErrConfirmPassword').removeAttr('style');
    //}
</script>
