﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.FunctionMethodViewModel

@{
    ViewBag.Title = "Function / Detail / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    .col-md-5 {
        width: 50% !important;
    }
</style>
<div class="q-form">
    @using (Html.BeginForm("Edit", "FunctionMethod", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        @*. ------BEGIN HEADER functionMethodID and Full Name ------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.functionMethodID)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" onclick="location.href='@Url.Action("Edit", "FunctionMethod", new { id = Model.functionMethodID })'">Update</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "FunctionMethod")'">Close</button>
            </div>
        </div>
        @*. ------END HEADER functionMethodID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">

            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("FunctionInformation")</h4>
                <p>@Html.LocalizedLabel("FunctionInformationDetail")</p>
            </div>

            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.name)
                        </div>
                        <div class="inner">
                            @Html.DisplayFor(model => model.name)
                        </div>
                    </div>
                </div>
                @*5. -------Business Name and Phone fields------ *@
                @*<div class="form-group ">
                        <div class="col-md-10 outer">
                            <div class="inner">
                                <label><input type="checkbox" id="isDatabaseFunction" name="isDatabaseFunction" onchange="isDatabase()" value="true" disabled="disabled" /><strong>&nbsp;@Html.LocalizedLabel("isDatabaseFunction")</strong></label>
                            </div>
                            <div class="inner" id="DatabaseFunction">
                                @Html.DisplayFor(model => model.dataType)
                            </div>
                        </div>
                    </div>*@
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.Raw(HttpUtility.HtmlDecode(Model.description))
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">

            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Module")</h4>
                <p>@Html.LocalizedLabel("ModuleDetail")</p>
            </div>

            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner" style="margin-top: 7px;">
                            @Html.DisplayFor(model => model.keyMethod)
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <hr />
    }

</div>
<script type="text/javascript">
    function isDatabase() {
        var check = $('#isDatabaseFunction').is(':checked');
        if (!check) {
            $('#DatabaseFunction').hide();
        } else {
            $('#DatabaseFunction').show();
        }
    }
    $(document).ready(function () {
        if ('@Model.isDatabaseFunction.ToString()' == 'True') {
            $('#isDatabaseFunction').prop("checked", true);
        }
        $('#isDatabaseFunction').trigger("change");
    });
</script>