﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.FunctionMethodViewModel
@{
    ViewBag.Title = "Function / Edit / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<link type="text/css" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>

<div class="q-form">
    @*@using (Html.BeginForm("Create", "FunctionMethod", FormMethod.Post, new { @encType = "multipart/form-data" }))*@
    @using (Ajax.BeginForm("Edit", "FunctionMethod", new SmoovPOS.UI.Models.FunctionMethodViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.functionMethodID)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span> @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" id="btnSubmit">@Html.LocalizedButton("Save")</button>
                <button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btnCloseSmoov" style="margin-right:10px;padding-left:20px;padding-right:20px;" id="btnDelete">@Html.LocalizedLabel("Delete")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "FunctionMethod", new { id = @Model.functionMethodID })'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        @*. ------END HEADER functionMethodID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("FunctionInformation")</h4>
                <p>@Html.LocalizedLabel("FunctionInformationDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.name)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("name_placeholder") })
                            @Html.ValidationMessageFor(m => m.name)
                        </div>
                    </div>
                </div>
                <div class="q-clear">
                </div>
                @*<div class="form-group ">
                        <div class="col-md-10 outer">
                            <div class="inner">
                                <label><input type="checkbox" id="isDatabaseFunction" name="isDatabaseFunction" onchange="isDatabase()" value="true" /><strong>&nbsp;@Html.LocalizedLabel("isDatabaseFunction")</strong></label>
                            </div>
                            <div class="inner" id="DatabaseFunction">
                                @Html.DropDownListFor(m => m.dataType, Model.dataTypes, new { @class = "form-control", @style = "width:100px" })
                            </div>
                        </div>
                    </div>
                    <div class="q-clear">
                    </div>*@
                <div class="form-group ">
                    <div class="col-md-10">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = 5, @maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("Module")</h4>
                <p>@Html.LocalizedLabel("ModuleDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.keyMethod)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.keyMethod, Model.keyMethods, new { @class = "form-control", @style = "width:350px" })
                            @Html.ValidationMessageFor(m => m.keyMethod)
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />
        <div class="q-toolsbar">
            <div class="col-md-4">

            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" id="btnSubmit1">@Html.LocalizedButton("Save")</button>
                <button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btnCloseSmoov" style="margin-right:10px;padding-left:20px;padding-right:20px;" id="btnDelete1">@Html.LocalizedLabel("Delete")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "FunctionMethod", new { id = @Model.functionMethodID })'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
    }

</div>
<!-- modal delete collection -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Are you sure you want to delete this Function?
            </div>
            <div class="modal-footer">
                <button onclick="location.href='@Url.Action("Delete", "FunctionMethod", new { id = Model.functionMethodID })';return false;" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var countSubmit = 0;
    $('#btnSubmit1').click(function (e) {
        $('#btnSubmit').click();
    });
    $('#btnSubmit').click(function (e) {
        var form = $("#formid");
        var checkForm = form.valid();
        if (checkForm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("IsExistedName","FunctionMethod")',
                data: { name: $('#name').val(), functionMethodID: $('#functionMethodID').val() },
                success: function (check) {
                    //do your success logic
                    if (checkForm && check) {
                        $("#formid").submit();
                    }
                    else {
                        if (checkForm) {
                            $('#name').focus();
                        }

                        $('#btnSubmit').button('reset');
                        $('#btnSubmit1').button('reset');

                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).removeAttr('disabled');
                            }
                        });
                    }
                    return false;
                },
                beforeSend: function () {
                    $('#btnSubmit').button('loading');
                    $('#btnSubmit1').button('loading');
                    $('button[type=button], .btn-default').each(function () {
                        if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                            $(this).attr('disabled', 'disabled');
                        }
                    });
                },
                complete: function () {
                   
                }
            });

        }

    });
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        //do your success logic
                        //if (result.success) {
                        var url = '@Url.Action("Detail", "FunctionMethod", new { id = Model.functionMethodID})';
                        window.location.href = url;
                        return;
                    },
                    beforeSend: function () {
                        $('#btnSubmit').button('loading');
                        $('#btnSubmit1').button('loading');
                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                    },
                    complete: function () {
                    }
                });

            }
        }
    });
    function isDatabase() {
        var check = $('#isDatabaseFunction').is(':checked');
        if (!check) {
            $('#DatabaseFunction').hide();
        } else {
            $('#DatabaseFunction').show();
        }
    }
    $(document).ready(function () {
        if ('@Model.isDatabaseFunction.ToString()' == 'True') {
            $('#dataType').val('@Model.dataType');
            $('#isDatabaseFunction').prop("checked", true);
        }
        $('#isDatabaseFunction').trigger("change");
    });
</script>


