﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.SMSSetting.SMSSettingModel
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "SMS Setting";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
@using (Html.BeginForm("Edit", "SMSSetting", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3"><h2>@Html.LocalizedLabel("SMSSettings")</h2></div>
        <div class="col-md-8 col-md-offset-1">
            <input type="submit" name="btn-edit" value="@Html.LocalizedButton("Save")" class="btn btn-primary btn-save" style="float: right; margin-top: 20px;" />
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("ConnectSMSServer")</h4>
            <span>@Html.LocalizedLabel("ConnectSMSServerContent")</span>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <div class="col-md-12">
                <h4>@Html.LocalizedLabel("ConnectToSmoovIM")</h4>
            </div>
            <div class="col-md-12">
                <span>@Html.LocalizedLabel("ConnectToSmoovIMContent")</span>
            </div>
            <br />
            <div class="form-group" style="min-height: 80px;">
                <div class="col-md-6">
                    <p>@Html.LocalizedLabel("ApiKey")</p>
                    @Html.TextBoxFor(m => m.ApiKey, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ApiKey, "Invalid API key (32 chars and only number or alphabet)")
                </div>
                <div class="col-md-6 outer">
                    <p>@Html.LocalizedLabel("SecretCode")</p>
                    @Html.TextBoxFor(m => m.SecretCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.SecretCode, "Invalid Secret key (32 chars and only number or alphabet)")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" name="btn-edit" value="@Html.LocalizedButton("Save")" class="btn btn-primary btn-save" style="float: right; margin-top: 30px;" />
        </div>
    </div>
}
<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();
</script>
