﻿@model Com.SmoovPOS.Model.PaymentModel
@{

    ViewBag.Title = "Payment Gateway";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .col-md-12 {
        margin-bottom: 50px;
        margin-top: 10px;
    }

    .content {
        background-color: #F2F2F2;
        margin-bottom: 30px;
    }

    .link-show {
        margin-bottom: 10px;
        height: 30px;
    }

    input {
        display: inline-block !important;
        max-width: 400px !important;
        float: right;
        margin-top: -7px;
    }
    .title {
        font-size: 12pt;
    }
</style>

@using (Html.BeginForm("Update", "Setting", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3 style="padding: 10px; margin-left: -28px;">@ViewBag.Title</h3>

        </div>
        <div class="col-md-8">
            <button type="submit" id="submit" class="btn btn-default">Save</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4 col-md-3">
            <div class="btn-group">
                <label style="font-size: 14pt;">Configuration</label><br />
                <span> Configure link for SmoovPay</span><br />
                @*<select name="typePay" class="form-control" id="typePay" style="margin-top: 20px;">
                    <option value="0" @(@Model.Status == 0 ? "selected" : "")> Live Mode </option>
                    <option value="1" @(@Model.Status == 1 ? "selected" : "")> Test Mode - Sandbox </option>
                </select>*@
            </div>
        </div>
        <div class="col-xs-14 col-md-9" id="show-payment">
            <div class="col-md-10 content">

                <div class="col-md-12">
                    <span class="title">Payment Url </span> <br />
                    <div class="link-show">
                        <span>Payment  Mode Url </span><input type="text" class="form-control" required id="smoovUrl" name="smoovUrl" placeholder="https://secure.smoovpay.com/access" maxlength="200" size="50" value="@Model.SmoovUrl">
                    </div>
                    @*<div class="link-show">
                        <span>Payment Test Mode(Sandbox) Url</span><input type="text" class="form-control" required id="sandboxSmoovUrl" name="SandboxSmoovUrl" placeholder="https://sandbox.smoovpay.com/access" maxlength="200" size="50" value="@Model.SandboxSmoovUrl">
                    </div>*@
                </div>

            </div>
            <div class="col-md-10 content">

                <div class="col-md-12">
                    <span class="title"> Success Page URL</span> <br />
                    <div class="link-show">
                        <label>http://Merchant_Store_Address/</label><input type="text" class="form-control" required id="successPage" name="successPage" placeholder="SuccessPage" maxlength="200" size="50" value="@Model.SuccessPage">
                    </div>
                    <p>( A link to show customer that their payment is successful )</p>
                </div>

            </div>
            <div class="col-md-10 content">

                <div class="col-md-12">
                    <span class="title">Cancel Page URL</span>
                    <div class="link-show">
                        <label>http://Merchant_Store_Address/</label><input type="text" class="form-control" required id="cancelPage" name="cancelPage" placeholder="CancelPage" maxlength="200" size="50" value="@Model.CancelPage">
                    </div>
                    <p>( A link to show customer after they cancelled the payment process )</p>
                </div>

            </div>
            <div class="col-md-10 content">

                <div class="col-md-12">
                    <span class="title">STR URL</span>
                    <div class="link-show">
                        <label>http://Merchant_Store_Address/</label><input type="text" class="form-control" required id="strUrl" name="strUrl" placeholder="StrHandler" maxlength="200" size="50" value="@Model.StrUrl">
                    </div>
                    <p>( Smoov Transaction Response link )</p>
                </div>

            </div>
        </div>
</div>
}
<script>
    /*
    $(document).ready(function () {

    if (status == 1) {
        $("#show-payment").css("display", "none");
        $("#show-payment-sandbox").css("display", "inline");
    } else {
        $("#show-payment-sandbox").css("display", "none");
        $("#show-payment").css("display", "inline");
    }

    $("#typePay").change(function () {
        var type = $("#typePay").val();
        if (type == 1) {
            $("#show-payment").css("display", "none");
            $("#show-payment-sandbox").css("display", "inline");
        }else {
            $("#show-payment-sandbox").css("display", "none");
            $("#show-payment").css("display", "inline");
        }
    });

    });
    */

</script>