﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.Entity.Models.MailServerModel
@{

    ViewBag.Title = "Default Email Server";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .link-show {
        margin-bottom:15px;
    }
    .col-md-6{
        display: inline-block;
padding: 10px !important;

    }
     .col-md-12 >.col-md-4 {
         margin-left:-40px;
     }
</style>
@using (Html.BeginForm("UpdateMailServer", "Setting", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.Id)
    <div>
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3 style="padding: 10px; margin-left: -28px;">@ViewBag.Title</h3>

            </div>
            <div class="col-md-8" >
                <button type="submit" id="submit" class="btn btn-primary" style="padding-left:20px;padding-right:20px;">@Html.LocalizedButton("Save")</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <!-- BODY-->
        <div class="col-md-12">
            <div class="col-md-4">
                <div>
                    <b>@Html.LocalizedLabel("DefaultCustomerEmail")</b>
                </div>
                <div>
                    <text>@Html.LocalizedLabel("ConfigureEmailForSmoovPos") </text>
                </div>
            </div>
            <div class="col-md-8">
                <!-- SMTP -->
                <div>
                    <div class="col-md-6">
                        <span>Outgoing SMTP Server </span>
                        <input type="text" class="form-control" id="OutgoingSmtp" name="OutgoingSmtp" maxlength="200" size="50" value="@Model.OutgoingSmtp" placeholder="smtp.gmail.com">
                    </div>
                    <div class="col-md-6">
                        <span>Outgoing Port</span>
                        <input type="text" class="form-control" required id="OutgoingPort" name="OutgoingPort" maxlength="200" size="50" value="@Model.OutgoingPort" placeholder="25">
                    </div>
                </div>
                <!-- POP -->
                <div>
                    <div class="col-md-6">
                        <span>Incoming POP Server </span>
                        <input type="text" class="form-control" id="IncomingPop" name="IncomingPop" maxlength="200" size="50" value="@Model.IncomingPop" placeholder="pop.gmail.com">
                    </div>
                    <div class="col-md-6">
                        <span>Incoming Port</span>
                        <input type="text" class="form-control" required id="IncomingPort" name="IncomingPort" maxlength="200" size="50" value="@Model.IncomingPort" placeholder="995">
                    </div>
                </div>
                <!-- User Pass  -->
              
                <div>
                    <div class="col-md-6">
                        <span>User Name</span>
                        <input type="text" class="form-control" id="UserName" name="UserName" maxlength="200" size="50" value="@Model.UserName">
                    </div>
                    <div class="col-md-6">
                        <span>Password</span>
                        <input type="password" class="form-control" id="Password" name="Password" maxlength="200" size="50" value="@Model.PassWord">
                    </div>
                </div>
               
                <!-- Secure Network Connection -->
                <div style="padding:10px">
                    <span><input type="checkbox" name="EnableSsl" @(@Model.EnableSsl == true ? "checked" : "")>Use a Secure Network Connection</span>
                </div>
               
                @*<!-- Account 1 -->
                <div>
                    <div class="col-md-6">
                        <span><b> Account 1</b> (from SmoovPOS admin to merchant)</span><br />
                    
                        <input type="text" class="form-control" id="UserName1" name="UserName1" maxlength="200" size="50" value="@Model.UserName1">
                    </div>
                    <div class="col-md-6">
                        <span>Password</span>
                        <input type="password" class="form-control" id="PassWord1" name="Password1" maxlength="200" size="50" value="@Model.PassWord1">
                    </div>
                </div>
                <!-- Account 2 -->
                <div>
                    <div class="col-md-6">
                        <span><b> Account 2</b> (from merchant to customer)</span><br />
                     
                        <input type="text" class="form-control" id="UserName2" name="UserName2" maxlength="200" size="50" value="@Model.UserName2">
                    </div>
                    <div class="col-md-6">
                        <span>Password</span>
                        <input type="password" class="form-control" id="PassWord2" name="PassWord2" maxlength="200" size="50" value="@Model.PassWord2">
                    </div>
                </div>*@
            </div>
        </div>
        <!-- BODY-->

    </div>
}

