﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.DefaultEmailViewModel
@{

    ViewBag.Title = "Default Email Server";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .colSmoov > .link-show {
        margin-bottom: 15px;
    }

    .colSmoov > .col-md-6 {
        display: inline-block;
        padding: 10px !important;
        /*margin-left: -10px !important;*/
    }

    .colSmoov .col-md-4 {
        margin-left: -10px !important;
    }

    .colSmoov .col-md-2 {
        padding: 0px !important;
    }

    .colSmoov > .col-md-12 {
        margin-right: 0px !important;
        padding: 0px !important;
    }
  .q-toolsbar .col-md-4
   {
         margin-left: -20px;
   }
    .breakDivSmoov{
        margin-left: -40px;
    }
</style>
<div class="q-form">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3 style="padding: 10px; margin-left: -10px;">@ViewBag.Title</h3>

        </div>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="col-md-12">
        <div class="col-md-4 breakDivSmoov">
            <div>
                <b>@Html.LocalizedLabel("DefaultCustomerEmail")</b>
            </div>
            <div>
                <text>@Html.LocalizedLabel("ConfigureEmailForSmoovPos") </text>
            </div>

        </div>
        <div class="col-md-8 colSmoov">
            <div>
                @Html.LocalizedLabel("CustomerEmail")
            </div>
            <div class="col-md-6 colSmoov">
                <input placeholder="sample@email.com" class="form-control" id="txtEmailReceive" style=" margin-left: -10px" />
            </div>
            <div class="q-clear">
            </div>
            <div class="col-md-12 lineStyle"></div>
            <div>
                
            </div>
            <div class="q-clear">
            </div>
            <div class="validation-summary-errors">
                <ul>
                    <li id="ErrEmailTest" style="display:none; ">The Customer Email field is required.</li>
                    <li id="ErrEmailFormatTest" style="display:none; ">Please enter a valid email address.</li>
                    <li id="ErrUnbableSendMail" style="display:none">
                        Unable to Send emails. Please contact with your admin system for more information!
                    </li>

                </ul>

            </div>
            <div class="q-clear">
            </div>
            <div class="col-md-12 lineStyle"></div>
            <div style="margin-top:10px;">
                <button class="btn btn-default" style="margin-right:10px;" id="btnChangeSend" onclick="location.href='@Url.Action("ConfigEmail", "DefaultEmail", new { type = @Model.type  })'">@Html.LocalizedButton("Change")</button>
                <button class="btn btn-primary" style="padding-left:20px;padding-right:20px" onclick="testSendEmail()" id="btnTestSend">@Html.LocalizedButton("Test")</button>
            </div>
        </div>
        <!-- POPUP MESSAGE-->
        <div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 350px;">
                    <div class="modal-body">
                        Your Mail has been sent successfully!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script>
        function testSendEmail() {
            var check = true;
            var element = document.getElementById("txtEmailReceive");
            $('#ErrEmailTest').css('display', 'none');
            $('#ErrEmailFormatTest').css('display', 'none');
            var emailReceive = element.value.trim();
            if (emailReceive.length > 0) {
                // email
                if (emailReceive.length < 1) {
                    $('#ErrEmailTest').css('display', 'block');

                } else {
                    var isValid = validateEmail(emailReceive);
                    var validEmail = Boolean(isValid);
                    if (validEmail) {
                        $('#ErrEmailTest').css('display', 'none');
                        $('#ErrEmailFormatTest').css('display', 'none');
                    } else {
                        check = false;
                        $('#ErrEmailTest').css('display', 'none');
                        $('#ErrEmailFormatTest').css('display', 'block');
                    }
                }

            }
            else {
                check = false;
                $('#ErrEmailTest').css('display', 'block');
                $('#ErrEmailFormatTest').prop('display', 'none');
            }

            if (check) {
                var btnTest = document.getElementById("btnTestSend");
                btnTest.setAttribute("disabled", "disabled");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TestSendMail", "DefaultEmail")',
                    data: { emailReceive: emailReceive },
                    success: function (status) {
                       
                        if (status == "True") {

                            $('#modalMessage').modal('show');
                            btnTest.removeAttribute("disabled");
                        }
                        else {
                            $('#ErrUnbableSendMail').css('display', 'block');
                            btnTest.removeAttribute("disabled");

                        }
                    },
                    error: function (status) {
                        $('#ErrUnbableSendMail').css('display', 'block');
                        btnTest.removeAttribute("disabled");
                    }

                });
            }


        }


        //function GetPrivateEmail() {
        //    var btnChange = document.getElementById("btnChangeSend");
        //    btnChange.setAttribute("disabled", "disabled");
        //    var elem = document.getElementById("PassWord");
        //    elem.value = "";
        //    btnChange.removeAttribute("disabled");
        //}

    </script>
