﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ServicePackageViewModel
@{
    ViewBag.Title = @Html.LocalizedLabel("CreateNewServicePacket");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var index = 0;
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}
@*<style>
        .unlimit {
            margin-top: 30px;
        }

        #searchProduct {
            max-width: none;
        }

        .listproduct {
            height: 235px !important;
        }

        .listproductItem {
            border: 1px solid #D3D2D2;
            height: 200px;
            overflow-y: auto;
        }

        .productItem {
            margin: 10px;
        }

        .buttonApply {
            width: 100px;
            margin-top: 10px;
        }

        .trproduct td {
            vertical-align: inherit;
        }

        .sortServicePackettitle {
            margin-top: 30px;
            color: darkgray;
        }
    </style>*@

<div class="q-form">
    @using (Ajax.BeginForm("Create", "ServicePackage", null, new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        Html.AntiForgeryToken();
        @*<div class="q-ServicePacket">*@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.servicePacketID)
            <div class="col-md-4">
                <h3><span class="parant-title">Service Package / </span>@ViewBag.Title  @Model.servicePacketName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary style=" margin-right:5px;" id="btnSubmit">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ServicePackage")'" id="btnCancel">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ServicePacketDetail")</h4>
                @*<p>@Html.LocalizedLabel("ServicePacketDetailDescription")</p>
                    <p>@Html.LocalizedLabel("MBSizeLimit")</p>*@
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.servicePacketName, new { @class = "form-control", @maxlength = 100, @placeholder = @Html.LocalizedLabel("ServicePacketName_placeholder") })
                            @Html.ValidationMessageFor(m => m.servicePacketName)
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = 5, @maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Image")</h4>
                <p>@Html.LocalizedLabel("ImageDetailDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id=" " type="hidden" value="" name="logoImg">
                                </div>
                            </div>
                            <div id="lbl_image">
                                <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="q-clear">
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
            <div class="form-horizontal">
                <div class="col-md-4">
                    <h4>@Html.LocalizedLabel("DateRange")</h4>
                    <p>@Html.LocalizedLabel("DateRangeDescription")</p>
                </div>
                <div class="col-md-8">
                    <div class="form-group ">
                        <div class="col-md-5 outer">
                            <div class="inner">
                                @Html.LabelFor(model => model.beginDate)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                <div id="datetimepicker1" class="input-append date">
                                    @Html.TextBoxFor(m => m.beginDate, new { @class = "form-control", @maxlength = 50 })
                                    <span class="add-on" onclick="FocusControl('beginDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    @Html.ValidationMessageFor(m => m.beginDate)
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 outer">
                            <div class="inner">
                                <label><input type="checkbox" id="neverExpires" name="neverExpires" onchange="expires()" value="true" /><strong>&nbsp;Never Expire</strong></label>
                            </div>
                            <div class="inner">
                                <div id="datetimepicker2" class="input-append date">
                                    @Html.TextBoxFor(m => m.endDate, new { @class = "form-control", @maxlength = 50 })
                                    <span class="add-on" onclick="FocusControl('endDate')">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                    <label id="ErrendDate" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("MSG3")</label>
                                    <label id="ErrendAfter" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("EnddateVSBegindate")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@

        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusServicePacketDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant" id="lbl-statusActive">
                                        <input type="radio" name="optionsRadios" id="statusActive" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive">
                                        <input type="radio" name="optionsRadios" id="statusInActive" value="false" class="optionsRadios">
                                        OFF
                                    </label>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Functions")</h4>
                <p>@Html.LocalizedLabel("FunctionsDescription")</p>
                @*<div>
                        <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-default buttonApply" id="buttonApply">Add</button>
                    </div>
                    <div class="form-group sortServicePackettitle">
                        <div class="col-md-10 outer">
                            <div class="inner">
                                @Html.LabelFor(model => model.defaultSortProduct)
                            </div>
                            <div class="inner">
                                @Html.DropDownListFor(m => m.defaultSortProduct, Model.defaultSortList, new { @class = "form-control", @style = "width:270px" })
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 outer" id="functionMethodNoneAddOns">
                        @*style="max-height:380px;overflow-y:scroll;"*@
                        <table cellspacing="0" style="padding-top:10px;width:100%;height:40px" class="table table-hover" id="Functions_table">
                            <thead>
                                <tr>
                                    @*<th class="u_title"><input type="checkbox" id="checkAll" /></th>*@
                                    <th class="u_title">
                                        @*<input type="checkbox" id="checkAll" style="margin-right:10px;" />*@
                                        @Html.LocalizedLabel("FunctionName")
                                    </th>
                                    <th width="120px" class="u_title">@Html.LocalizedLabel("Limit")</th>
                                    <th width="100px" class="u_title"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.FunctionServicePackets.Count; i++)
                                {
                                    if (!Model.FunctionServicePackets[i].isAddOns)
                                    {
                                        index++;
                                        <tr>
                                            @*<td width="40px">
                                                    @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @class = "checkBoxFunction" })
                                                </td>*@
                                            <td>
                                                <label style="font-weight: normal">
                                                    @*@Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @class = "checkBoxFunction", @style = "margin-right:10px;" })*@
                                                    @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                                </label>
                                                @Html.HiddenFor(m => m.FunctionServicePackets[i].functionServiceID)
                                                @Html.HiddenFor(m => m.FunctionServicePackets[i].functionMethodID)
                                                @Html.HiddenFor(m => m.FunctionServicePackets[i].servicePacketID)
                                                @Html.HiddenFor(m => m.FunctionServicePackets[i].createdDate)
                                                @Html.HiddenFor(m => m.FunctionServicePackets[i].isSelect)
                                            </td>
                                            <td width="120px">
                                                @Html.TextBoxFor(m => m.FunctionServicePackets[i].limit, new { @class = "form-control", @maxlength = 9 })
                                            </td>
                                            <td width="100px" style="text-align: center;vertical-align: bottom;">
                                                <label style="font-weight: normal">
                                                    @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isUnlimit)
                                                    Unlimited
                                                </label>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Addons")</h4>
                <p>@Html.LocalizedLabel("AddonsDetail")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 outer">
                        @*style="max-height:380px;overflow-y:scroll;"*@
                        <table cellspacing="0" style="padding-top:10px;width:100%;height:40px" class="table table-hover" id="Addons_table">
                            @for (int i = 0; i < Model.FunctionServicePackets.Count; i++)
                            {
                                if (Model.FunctionServicePackets[i].isAddOns)
                                {
                                    <tr>
                                        @*<td width="40px">
                                                @if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP)
                                                {
                                                    @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect)
                                                }
                                            </td>*@
                                        <td>
                                            @*@if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP)
                                                {
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @style = "margin-right:10px;" })
                                                        @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                                    </label>
                                                }
                                                else
                                                {*@
                                            <label style="font-weight: normal;">
                                                @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                            </label>
                                            @*}*@
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].functionServiceID)
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].functionMethodID)
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].servicePacketID)
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].createdDate)
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].keyMethod)
                                            @Html.HiddenFor(m => m.FunctionServicePackets[i].isSelect)
                                        </td>
                                        <td width="120px">
                                            @if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.DATABASE)
                                            {
                                                <div class="input-group">
                                                    @Html.TextBoxFor(m => m.FunctionServicePackets[i].limit, new { @class = "form-control", @maxlength = 9, @disabled = "disabled" })
                                                    <span class="input-group-addon">@Model.FunctionServicePackets[i].dataType</span>
                                                </div>
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 1 ? "active" : "") statusMerchant" id="lbl-statusActive" disabled="disabled">
                                                            <input type="radio" name="optionsMembership" id="statusActive" value="1" class="optionsRadios_Func">
                                                            ON

                                                        </label>
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 0 ? "active" : "") statusMerchant" id="lbl-statusInActive" disabled="disabled">
                                                            <input type="radio" name="optionsMembership" id="statusInActive" value="0" class="optionsRadios_Func">
                                                            OFF
                                                        </label>
                                                    </div>
                                                }
                                                catch { }
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 1 ? "active" : "") statusMerchant" id="lbl-statusActive" disabled="disabled">
                                                            <input type="radio" name="optionsOnlineShop" id="statusActive" value="1" class="optionsRadios_Func">
                                                            ON

                                                        </label>
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 0 ? "active" : "") statusMerchant" id="lbl-statusInActive" disabled="disabled">
                                                            <input type="radio" name="optionsOnlineShop" id="statusInActive" value="0" class="optionsRadios_Func">
                                                            OFF
                                                        </label>
                                                    </div>
                                                }
                                                catch { }
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.QUEUEMANAGEMENT)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 1 ? "active" : "") statusMerchant" id="lbl-statusActive" disabled="disabled">
                                                            <input type="radio" name="optionsQueueManagement" id="statusActive" value="1" class="optionsRadios_Func">
                                                            ON

                                                        </label>
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 0 ? "active" : "") statusMerchant" id="lbl-statusInActive" disabled="disabled">
                                                            <input type="radio" name="optionsQueueManagement" id="statusInActive" value="0" class="optionsRadios_Func">
                                                            OFF
                                                        </label>
                                                    </div>
                                                }
                                                catch { }
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.TABLEORDERING)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 1 ? "active" : "") statusMerchant" id="lbl-statusActive">
                                                            <input type="radio" name="optionsTableOrdering" id="statusActive" value="1" class="optionsRadios_Func">
                                                            ON

                                                        </label>
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 0 ? "active" : "") statusMerchant" id="lbl-statusInActive">
                                                            <input type="radio" name="optionsTableOrdering" id="statusInActive" value="0" class="optionsRadios_Func">
                                                            OFF
                                                        </label>
                                                    </div>
                                                }
                                                catch { }
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MAINPOSAPP)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    <div class="btn-group" data-toggle="buttons">
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 1 ? "active" : "") statusMerchant" id="lbl-statusActive">
                                                            <input type="radio" name="optionsMainPOSApp" id="statusActive" value="1" class="optionsRadios_Func">
                                                            ON

                                                        </label>
                                                        <label class="btn btn-default @(Model.FunctionServicePackets[i].limit == 0 ? "active" : "") statusMerchant" id="lbl-statusInActive">
                                                            <input type="radio" name="optionsMainPOSApp" id="statusInActive" value="0" class="optionsRadios_Func">
                                                            OFF
                                                        </label>
                                                    </div>
                                                }
                                                catch { }
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.FunctionServicePackets[i].limit, new { @class = "form-control", @maxlength = 9 })
                                            }
                                        </td>
                                        <td width="100px" style="text-align: center;vertical-align: bottom;">
                                            @if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP &&
                                                Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.QUEUEMANAGEMENT &&
                                                Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.TABLEORDERING &&
                                                Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MAINPOSAPP)
                                            {
                                                if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.DATABASE)
                                                {
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isUnlimit, new { @disabled = "disabled" })
                                                        Unlimited
                                                    </label>
                                                }
                                                else
                                                {
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isUnlimit)
                                                        Unlimited
                                                    </label>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("BillingCycle")</h4>
                <p>@Html.LocalizedLabel("BillingCycleDetail")</p>
                <div>
                    <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-default buttonApply" id="buttonApply">Add</button>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-3 outer">
                        <div class="inner">
                            @Html.CheckBoxFor(m => m.isTrial)
                            Trial
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inner">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.trialDays, new { @disabled = "disabled", @class = "form-control", @maxlength = 3 })
                                <span class="input-group-addon">Days</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div id="ListBillingCyclesApply">
                            @Html.Partial("~/Views/ServicePackage/SelectBillingCycle.cshtml", Model.BillingServicePackets)
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="q-clear">
        </div>
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary style=" margin-right:5px;" id="btnSubmit1">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ServicePackage")'" id="btnCancel1">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <hr />
            <!-- MODEL Add product-->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">@Html.LocalizedLabel("AddNewBillingCycle")</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="height:30px !important;">
                            <div class="col-md-4 outer">
                                <div class="inner">
                                    <label>@Html.LocalizedLabel("PaymentCycle")</label>
                                </div>
                                <div class="inner">
                                    <input type="hidden" name="paymentCycleName" id="paymentCycleName" value="" />
                                    <select id="billingCycle" name="billingCycle" class="form-control">
                                        @foreach (var cate in Model.billingCycles)
                                        {
                                            <option value="@cate.Value">@cate.Text</option>
                                        }
                                    </select>
                                    <label id="ErrbillingCycle" style="font-weight: normal;display:none" class="validation-summary-errors">@Html.LocalizedMessage("MSG3")</label>
                                </div>
                            </div>
                            <div class="col-md-4 outer">
                                <div class="inner">
                                    <label>@Html.LocalizedLabel("AmountPerUnit")</label><span style="color:red"> *</span>
                                </div>
                                <div class="inner">
                                    <div class="input-group">
                                        <span class="input-group-addon">SGD</span>
                                        <input type="text" id="AmountPerUnit" name="AmountPerUnit" class="form-control" maxlength="16" placeholder="0.00">
                                    </div>
                                    <label id="ErrAmountPerUnit" style="font-weight: normal;display:none" class="validation-summary-errors">@Html.LocalizedMessage("MSG3")</label>
                                </div>
                            </div>
                            <div class="col-md-4 outer">
                                <div class="inner">
                                    <label>@Html.LocalizedLabel("Discount")</label><span style="color:red"> *</span>
                                </div>
                                <div class="inner">
                                    <div class="input-group">
                                        <input type="text" id="Discount" name="Discount" class="form-control" maxlength="3">
                                        <span class="input-group-addon">%</span>
                                    </div>
                                    <label id="ErrDiscount" style="font-weight: normal;display:none" class="validation-summary-errors">@Html.LocalizedMessage("MSG3")</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary billingCycles">Add</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            <!-- MODEL  Add product-->
        @*</div>*@

    }
</div>
<script type="text/javascript">
    var billingCycles = [];
    var countSubmit = 0;

    $(document).ready(function () {
        $('#functionMethodNoneAddOns').removeAttr('style');
        if (@index > 10) {
            $('#functionMethodNoneAddOns').attr('style', 'max-height:500px;overflow-y:scroll;');
            $('#FunctionServicePackets_0__limit').focus();

            $('#Addons_table').removeAttr("style");
            $('#Addons_table').attr("style","padding-top:10px;width:" + ($('#Functions_table').width() - 13) + "px;height:40px");
        }
    });
    $(function () {
        $("input:text").focus(function () { $(this).select(); });

        $('#paymentCycleName').val($("#billingCycle option:selected").text());

        $("#Functions_table :text, #Addons_table :text").each(function () {
            $(this).blur(function () {
                var value = $(this).val();
                if (value == '') {
                    $(this).val("0");
                }
            });
            $(this).keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    return false;
                }
            });

        });
        $("#AmountPerUnit").maskMoney();
        $('#Discount').blur(function () {
            var value = $(this).val();
            if (value == '') {
                $(this).val("0");
            }
            else {
                var disc = parseFloat(value);
                if (disc > 100) {
                    $(this).val("100");
                }
            }
        });
        $('#Discount').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#Discount').keyup(function (e) {
            var value = $(this).val();
            if (value != '') {
                var disc = parseFloat(value);
                if (disc > 100) {
                    $(this).val("100");
                }
            }
        });
        $('#trialDays').blur(function () {
            var value = $(this).val();
            if (value == '') {
                $(this).val("0");
            }
        });
        $('#trialDays').keypress(function (e) {
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                return false;
            }
        });
        $('#btnSubmit1').click(function (e) {
            $('#btnSubmit').click();
        });
        $('#btnSubmit').click(function (e) {
            var check = true;

            var form = $("#formid");
            var checkForm = form.valid()
            if (checkForm && check) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("IsExistedName", "ServicePackage")',
                    data: { servicePacketName: $('#servicePacketName').val(), servicePacketID: $('#servicePacketID').val() },
                    success: function (result) {
                        //do your success logic
                        check = result;
                        if (result == true) {
                            $("#formid").submit();
                        }
                        else {
                            $('#btnSubmit').button('reset');
                            $('#btnSubmit1').button('reset');
                            $('button[type=button], .btn-default').each(function () {
                                if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                    $(this).removeAttr('disabled');
                                }
                            });
                        }
                    },
                    beforeSend: function () {
                        $('#btnSubmit').button('loading');
                        $('#btnSubmit1').button('loading');
                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                    },
                    complete: function () {

                    }
                });
            }
            else {
                if (checkForm) {
                    $('#endDate').focus();
                }

                $('#btnSubmit').button('reset');
                $('#btnSubmit1').button('reset');

                $('button[type=button], .btn-default').each(function () {
                    if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                        $(this).removeAttr('disabled');
                    }
                });
            }
            return false;
        });

        $("#formid").submit(function (e) {
            if (countSubmit == 0) {
                e.preventDefault();
                if ($(this).valid()) {
                    countSubmit = 1;
                    $.ajax({
                        type: "POST",
                        url: $(this).attr('action'),
                        data: $(this).serialize(),
                        success: function (result) {
                            var url = '@Url.Action("Index", "ServicePackage")';
                            window.location.href = url;
                            return;
                        },
                        beforeSend: function () {
                            $('#btnSubmit').button('loading');
                            $('#btnSubmit1').button('loading');
                            $('button[type=button], .btn-default').each(function () {
                                if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                    $(this).attr('disabled', 'disabled');
                                }
                            });
                        },
                        complete: function () {
                        }
                    });

                }
                else {
                    //do your success logic
                    $('#btnSubmit').button('reset');
                    $('#btnSubmit1').button('reset');
                    $('button[type=button], .btn-default').each(function () {
                        if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                            $(this).removeAttr('disabled');
                        }
                    });
                }
            }
        });

        $("#billingCycle").change(function () {

            $('#paymentCycleName').val($("#billingCycle option:selected").text());
        });

        $('#myModalEdit').on('shown.bs.modal', function () {
            //checkCheckAll();
            $('#AmountPerUnit').val('');
            $('#Discount').val('');
            $('#ErrDiscount').css('display', 'none');
            $('#ErrAmountPerUnit').css('display', 'none');
            $('#ErrbillingCycle').css('display', 'none');
            $('#billingCycle').focus();
        })

        $('.billingCycles').click(function () {
            var check = true;
            if ($('#billingCycle').val() == '') {
                check = false;
                $('#ErrbillingCycle').css('display', 'block');
            }
            else {
                $('#ErrbillingCycle').css('display', 'none');
            }

            if ($('#AmountPerUnit').val() == '') {
                check = false;
                $('#ErrAmountPerUnit').css('display', 'block');
            }
            else {
                $('#ErrAmountPerUnit').css('display', 'none');
            }

            if ($('#Discount').val() == '') {
                check = false;
                $('#ErrDiscount').css('display', 'block');
            }
            else {
                $('#ErrDiscount').css('display', 'none');
            }

            if (check) {
                billingCycles.push($('#billingCycle').val());

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SelectBillingCycle", "ServicePackage")',
                    data: $('#formid').serialize(),
                    success: function (result) {
                        $("#ListBillingCyclesApply").html(result);

                        $('#myModalEdit').modal('hide');
                        LoadBillingCycle();

                        $('#AmountPerUnit').val('');
                        $('#Discount').val('');
                        $('#ErrDiscount').css('display', 'none');
                        $('#ErrAmountPerUnit').css('display', 'none');
                        $('#ErrbillingCycle').css('display', 'none');
                    },
                    beforeSend: function () {
                        $('.loading').css("display", "block");
                    },
                    complete: function () {
                        $('.loading').css("display", "none");
                    }
                });

            }
        });

        $("#checkAll").change(function () {
            $('.checkBoxFunction').prop('checked', this.checked);
        });
        $('.checkBoxFunction').click(function () {
            if ($('.checkBoxFunction').length == $('.checkBoxFunction:checked').length) {
                $('#checkAll').prop('checked', true);
            } else {
                $('#checkAll').prop('checked', false);
            }
        });
        $("#isTrial").change(function () {
            if (this.checked == true) {
                $('#trialDays').removeAttr('disabled');
                $('#buttonApply').attr('disabled', 'disabled');

                $('.billingServiceRemove').each(function() {
                    $(this).css('display', 'none');
                });
            }
            else {
                $('#trialDays').attr('disabled', 'disabled');
                $('#trialDays').val('0');
                if (billingCycles.length < 3) {
                    $('#buttonApply').removeAttr('disabled');
                }

                $('.billingServiceRemove').each(function () {
                    $(this).css('display', 'block');
                });
            }
        });
        //upload image
        var ua = navigator.userAgent.toLowerCase();
        var checkBrowser = function (r) {
            return r.test(ua);
        };
        var isChrome = checkBrowser(/chrome/);
        var isSafari = !isChrome && checkBrowser(/safari/);
        var isSafari2 = isSafari && checkBrowser(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && checkBrowser(/version\/3/);
        var isSafari4 = isSafari && checkBrowser(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image

    });
    function LoadBillingCycle() {
        billingCycles = [];
        jQuery("input[name='billingCycleIDs']").each(function () {
            billingCycles.push(this.value);
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadBillingCycle", "ServicePackage")',
            data: { selectBillingCycle: billingCycles },
            success: function (result) {

                if (result.success == true) {
                    var select = $('#billingCycle');

                    $.each(result.data, function (sender, obj) {
                        if (obj.Selected == true) {
                            var option = new Option(obj.Text, obj.Value, obj.Selected, true);
                            select.append($(option));
                        }
                        else {
                            var option = new Option(obj.Text, obj.Value);
                            select.append($(option));
                        }
                    });

                    $('#paymentCycleName').val($("#billingCycle option:selected").text());
                }

                var length = $('#billingCycle > option').length;
                if (length <= 0) {
                    $('#buttonApply').attr('disabled', 'disabled');
                }
                else {
                    $('#buttonApply').removeAttr('disabled');
                }
            },
            beforeSend: function () {
                $('#billingCycle').empty()
            },
            complete: function () {
            }
        });
    }

    function FocusControl(elementID) {
        $('#' + elementID).focus();
    }

    function deleteBillingCycle(self) {
        var product_id = $(self).parents("tr").find("input:hidden")[0].value;
        var indexItem = billingCycles.indexOf(product_id);
        billingCycles.splice(indexItem, 1);

        $(self).parents("tr").remove();

        LoadBillingCycle();
    }

    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Normal');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }
    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

</script>
