﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ServicePackageViewModel
@{
    ViewBag.Title = "Service Package / Detail / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var index = 0;
    String urlImgDefault = string.IsNullOrEmpty(Model.image) ? Url.Content("~/Content/Images/imageDefault.png") : Model.image;
    var limitDisplay = "";
}
<div class="q-form">
    @using (Ajax.BeginForm("Edit", "ServicePackage", null, new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string status = string.Empty;
        Html.AntiForgeryToken();
        @*<div class="q-ServicePacket">*@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.servicePacketID)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.servicePacketName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" onclick="location.href='@Url.Action("Edit", "ServicePackage", new { id = Model.servicePacketID })'">Update</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ServicePackage")'">Close</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ServicePacketDetail")</h4>
                @*<p>@Html.LocalizedLabel("ServicePacketDetailDescription")</p>
                    <p>@Html.LocalizedLabel("MBSizeLimit")</p>*@
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.servicePacketName)
                        </div>
                        <div class="inner">
                            @Html.DisplayFor(m => m.servicePacketName)
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.DisplayFor(m => m.description)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Image")</h4>
                <p>@Html.LocalizedLabel("ImageDetailDescription")</p>
                <p>@Html.LocalizedLabel("MBSizeLimit")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            @{
        string urlImage = urlImgDefault;
        try
        {
            if (!string.IsNullOrWhiteSpace(@Model.image))
            {
                Uri uri = null;
                if (Uri.TryCreate(@Model.image, UriKind.Absolute, out uri))
                {
                    urlImage = @Model.image;
                }
            }
            <img src="@urlImage" style="border: 1px solid #E3E3E3;border-radius:4px" />
        }
        catch
        {

        }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusServicePacketDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @if (Model.status.GetValueOrDefault())
                            {
                                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                            }
                            else
                            {
                                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                            }
                            @if (Model.status.GetValueOrDefault())
                            {
                                <span style="color:green;">@Html.DisplayFor(model => status)</span>
                            }
                            else
                            {
                                <span style="color:red;">@Html.DisplayFor(model => status)</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Functions")</h4>
                <p>@Html.LocalizedLabel("FunctionsDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer" id="functionMethodNoneAddOns">
                        @*style="max-height:380px;overflow-y:scroll;"*@
                        <table cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="Functions_table" class="table table-hover">
                            <thead>
                                <tr>
                                    @*<th class="u_title"><input type="checkbox" id="checkAll" /></th>*@
                                    <th class="u_title">
                                        @*<input type="checkbox" id="checkAll" style="margin-right:10px;" disabled="disabled" />*@
                                        @Html.LocalizedLabel("FunctionName")
                                    </th>
                                    <th width="150px" class="u_title">@Html.LocalizedLabel("Limit")</th>
                                    @*<th width="100px" class="u_title"></th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.FunctionServicePackets.Count; i++)
                                {
                                    if (!Model.FunctionServicePackets[i].isAddOns)
                                    {
                                        index = index + 1;
                                        <tr>
                                            @*<td width="40px">
                                                    @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @class = "checkBoxFunction" })
                                                </td>*@
                                            <td>
                                                <label style="font-weight: normal">
                                                    @*@Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @class = "checkBoxFunction", @style = "margin-right:10px;", @disabled = "disabled" })*@
                                                    @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                                </label>
                                            </td>
                                            <td width="150px">
                                                @if (Model.FunctionServicePackets[i].isUnlimit)
                                                {
                                                    limitDisplay = "Unlimited";
                                                }
                                                else
                                                {
                                                    limitDisplay = Model.FunctionServicePackets[i].limit.ToString();
                                                }
                                                @Html.DisplayFor(m => limitDisplay)
                                            </td>
                                            @*<td width="100px" style="text-align:right">
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isUnlimit, new { @disabled = "disabled" })
                                                        Unlimited
                                                    </label>
                                                </td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Addons")</h4>
                <p>@Html.LocalizedLabel("AddonsDetail")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        @*style="max-height:380px;overflow-y:scroll;"*@
                        <table cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="Addons_table" class="table table-hover">
                            @for (int i = 0; i < Model.FunctionServicePackets.Count; i++)
                            {
                                if (Model.FunctionServicePackets[i].isAddOns)
                                {
                                    <tr>
                                        @*<td width="40px">
                                                @if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP)
                                                {
                                                    @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect)
                                                }
                                            </td>*@
                                        <td>
                                            @*@if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP)
                                                {
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isSelect, new { @style = "margin-right:10px;", @disabled = "disabled" })
                                                        @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                                    </label>
                                                }
                                                else
                                                {*@
                                            <label style="font-weight: normal;">
                                                @Html.DisplayFor(m => m.FunctionServicePackets[i].FunctionName)
                                            </label>
                                            @*}*@
                                        </td>
                                        <td width="150px">
                                            @if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.DATABASE)
                                            {
                                                limitDisplay = "";
                                                if (Model.FunctionServicePackets[i].isUnlimit)
                                                {
                                                    limitDisplay = "Unlimited";
                                                }
                                                else
                                                {
                                                    limitDisplay = Model.FunctionServicePackets[i].limit.ToString();
                                                }
                                                @Html.DisplayFor(m => limitDisplay)
                                                if (!Model.FunctionServicePackets[i].isUnlimit)
                                                {
                                                    <span>@Model.FunctionServicePackets[i].dataType</span>
                                                }
                                            }
                                            else if (Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE ||
                                                Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP ||
                                                Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.QUEUEMANAGEMENT ||
                                                Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.TABLEORDERING ||
                                                Model.FunctionServicePackets[i].keyMethod == SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MAINPOSAPP)
                                            {
                                                try
                                                {
                                                    //string idActive = "FunctionServicePackets_7__limit";
                                                    if (Model.FunctionServicePackets[i].limit == 1)
                                                    {
                                                        status = "On";
                                                    }
                                                    else
                                                    {
                                                        status = "OFF";
                                                    }
                                                    if (Model.FunctionServicePackets[i].limit == 1)
                                                    {
                                                        <span style="color:green;">@Html.DisplayFor(model => status)</span>
                                                    }
                                                    else
                                                    {
                                                        <span style="color:red;">@Html.DisplayFor(model => status)</span>
                                                    }
                                                }
                                                catch { }
                                            }
                                            else
                                            {
                                                limitDisplay = "";
                                                if (Model.FunctionServicePackets[i].isUnlimit)
                                                {
                                                    limitDisplay = "Unlimited";
                                                }
                                                else
                                                {
                                                    limitDisplay = Model.FunctionServicePackets[i].limit.ToString();
                                                }
                                                @Html.DisplayFor(m => limitDisplay)
                                            }
                                        </td>
                                        @*<td width="100px" style="text-align:right">
                                                @if (Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.MEMBERSHIPFEE &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.ONLINESHOP &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.QUEUEMANAGEMENT &&
                                                    Model.FunctionServicePackets[i].keyMethod != SmoovPOS.Common.ConstantSmoovs.AddOns_Key.TABLEORDERING)
                                                {
                                                    <label style="font-weight: normal">
                                                        @Html.CheckBoxFor(m => m.FunctionServicePackets[i].isUnlimit, new { @disabled = "disabled" })
                                                        Unlimited
                                                    </label>
                                                }
                                            </td>*@
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("BillingCycle")</h4>
                <p>@Html.LocalizedLabel("BillingCycleDetail")</p>
                @*<div>
                        <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-default buttonApply" id="buttonApply">Add</button>
                    </div>*@
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-3 outer">
                        <div class="inner">
                            @Html.CheckBoxFor(m => m.isTrial, new { @disabled = "disabled" })
                            Trial
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="inner">
                            @Html.DisplayFor(m => m.trialDays)
                            <span>Days</span>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div id="ListBillingCyclesApply">
                            <div class="loading" style="display:none;">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            <table cellspacing="0" style="padding-top:10px;width:100%;height:40px" class="table table-hover">
                                @if (Model.BillingServicePackets != null && Model.BillingServicePackets.Count() > 0)
                                {
                                    <thead>
                                        <tr>
                                            <th>@Html.LocalizedLabel("PaymentCycle")</th>
                                            <th width="200px">@Html.LocalizedLabel("AmountPerUnit")</th>
                                            <th width="100px">@Html.LocalizedLabel("Discount")</th>
                                            <th width="100px"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var billing in Model.BillingServicePackets)
                                        {
                                            <tr class="trproduct">
                                                <td style="vertical-align:inherit">
                                                    @Html.DisplayFor(m => billing.paymentCycleName)
                                                </td>
                                                <td style="vertical-align:inherit">SGD @Html.DisplayFor(m => billing.moneyPerUnit)</td>
                                                <td style="vertical-align:inherit">@Html.DisplayFor(m => billing.discount) %</td>
                                                <td style="vertical-align:inherit;text-align:right">
                                                    @*<button type="button" class="btn btn-danger" onclick="deleteBillingCycle(this)">Remove</button>*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                }
                                @*else
                                    {
                                        <caption>There aren't discount.</caption>
                                    }*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="q-clear">
        </div>
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:5px;" onclick="location.href='@Url.Action("Edit", "ServicePackage", new { id = Model.servicePacketID })'">Update</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "ServicePackage")'">Close</button>
            </div>
        </div>
        <hr />

    }
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#functionMethodNoneAddOns').removeAttr('style');
        if (@index > 10) {
            $('#functionMethodNoneAddOns').attr('style', 'max-height:500px;overflow-y:scroll;');

            $('#Addons_table').removeAttr("style");
            $('#Addons_table').attr("style","padding-top:10px;width:" + ($('#Functions_table').width() - 13) + "px;height:40px");
        }
    });
    $(function () {
        setTimeout(function () {
            if ($('.checkBoxFunction').length == $('.checkBoxFunction:checked').length) {
                $('#checkAll').prop('checked', true);
            } else {
                $('#checkAll').prop('checked', false);
            }

            if ('@Model.isTrial.ToString()' != 'True') {
                $('#trialDays').val('0');
            }
        }, 300);

        $("#AmountPerUnit").maskMoney();

        $('#myModalEdit').on('shown.bs.modal', function () {
            //checkCheckAll();
            $('#AmountPerUnit').val('');
            $('#Discount').val('');
            $('#ErrDiscount').css('display', 'none');
            $('#ErrAmountPerUnit').css('display', 'none');
            $('#ErrbillingCycle').css('display', 'none');
            $('#billingCycle').focus();
        })

    });

    function FocusControl(elementID) {
        $('#' + elementID).focus();
    }

</script>
