﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Model.SearchServicePackageModel
@{

    ViewBag.Title = "Service Package";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    String urlIconSearch = Url.Content("~/Content/Images/iconSearch.png");
}

<!-- PARTIAL VIEW TABLE-->
@Html.Partial("~/Views/ServicePackage/ServicePackageListing.cshtml", Model)

<!-- MODAL MORE THAN ONE MERCHANT USE SELECTED PACKAGE -->
@*<div class="modal fade" id="modalConfirm" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                There're 2 merchant using this package. Please remove all merchants to continue.
            </div>
            <div class="modal-footer">
                <button onclick="viewList()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">View List</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("Close")</button>
            </div>
        </div>
    </div>
</div>*@
<script>
    //var isSort = false;
    function getInformationPaging(pageGoTo, sort, desc, search) {

        var searchInput = $("#txtSearchButton").val();

        var descConvert = false;
        if (desc != '') {
            descConvert = (desc == 'True');
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchServicePackage", "ServicePackage")',
            data: { pageGoTo: pageGoTo, sort: sort, desc: descConvert, search: searchInput },
            success: function (result) {
                $('#div_main').fadeIn();
                $('#div_main').html(result);
                if ($("#txtSearchButton").val() != '') {
                    $("#searchclear").toggle(true);
                }
            },
            error: function (status) {
            }//,
            //beforeSend: function () {
            //    if (!isSort) {
            //        $('#btnSearchFunction').button('loading');
            //    }
            //},
            //complete: function () {
            //    if (!isSort) {
            //        $('#btnSearchFunction').button('reset');
            //    }
            //    isSort = false;
            //}
        });
    }
    function resetPaing() {
        //reset paging
        $('#divpaging').fadeIn();
        $('#divpaging').html($('#divpaging2').html());
    }
    function sortListing(pageGoTo, sort, desc, search) {
        //isSort = true;
        var descConvert = 'False';
        if (desc != '' && desc == 'False') {
            descConvert = 'True';
        }

        getInformationPaging(pageGoTo, sort, descConvert, search);
    }
</script>