﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model IEnumerable<Com.SmoovPOS.Model.BillingServicePackageModel>
<div class="loading" style="display:none;">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<table cellspacing="0" style="padding-top:10px;width:100%;height:40px" class="table table-hover">
    @if (Model != null && Model.Count() > 0)
    {
        <thead>
            <tr>
                <th>@Html.LocalizedLabel("PaymentCycle")</th>
                <th width="200px">@Html.LocalizedLabel("AmountPerUnit")</th>
                <th width="100px">@Html.LocalizedLabel("Discount")</th>
                <th width="100px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var billing in Model)
            {
                <tr class="trproduct">
                    <td style="vertical-align:inherit">
                        @Html.DisplayFor(m => billing.paymentCycleName)

                        <input type="hidden" name="billingCycleIDs" id="billingCycleIDs" value="@billing.billingCycleID" />
                        <input type="hidden" name="billingServicePacketIDs" id="billingServicePacketIDs" value="@billing.billingServicePacketID" />
                        <input type="hidden" name="servicePacketIDs" id="servicePacketIDs" value="@billing.servicePacketID" />
                        <input type="hidden" name="discounts" id="discounts" value="@billing.discount" />
                        <input type="hidden" name="moneyPerUnits" id="moneyPerUnits" value="@billing.moneyPerUnit" />
                        <input type="hidden" name="createdDates" id="createdDates" value="@billing.createdDate" />
                        <input type="hidden" name="userOwners" id="userOwners" value="@billing.userOwner" />
                        <input type="hidden" name="paymentCycleNames" id="paymentCycleNames" value="@billing.paymentCycleName" />
                        <input type="hidden" name="numberBillingCycle" id="numberBillingCycle" value="@billing.number" />
                    </td>
                    <td style="vertical-align:inherit">SGD @Html.DisplayFor(m => billing.moneyPerUnit)</td>
                    <td style="vertical-align:inherit">@Html.DisplayFor(m => billing.discount) %</td>
                    <td style="vertical-align:inherit;text-align:right">
                        <button type="button" data-toggle="modal" data-target="#modalDelete" onclick="deleteBillingCycle(this)" class="btn btn-default billingServiceRemove">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    }
    @*else
        {
            <caption>There aren't discount.</caption>
        }*@
</table>