﻿@model Com.SmoovPOS.Entity.ProductItem
@using SmoovPOS.Utility.CustomHTMLHelper

@{
    //ViewBag.Title = "Product / ";
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    var ArrayVarient = Model.arrayVarient.ToList();
    String urlImg = "http://" + HttpContext.Current.Request.Url.Host.ToString() + "/SmoovPOS.UI/";
    String urlImgDynamic = Url.Content("~/Content/Images/delete-ico.png");
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
    var idIndex = 0;
    int indexImgDefault = 0;
    int uidV;

    if (int.TryParse(Model.image.imageDetault, out uidV))
    {
        indexImgDefault = int.Parse(Model.image.imageDetault);
    }
    var listImageVariant = new List<string>() { urlImgDefault };
    var totalQuantity = 0;
}

<style>
    #uploadPreview {
        float: left;
        padding-left: 5px;
    }

    .q-form .glyphicon {
        margin-left: 30px !important;
    }

    .table {
        table-layout: auto !important;
    }

        .table tbody > tr > td {
            padding-top: 30px !important;
        }

    .radioImage {
        padding-left: 10px;
        margin-top: 10px;
    }
</style>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/underscore.js"></script>

<div class="q-form">
    @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        <input type="hidden" name="hfRedirectTo" id="hfRedirectTo" value="">
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.productID)
            <input type="hidden" value="@Model._id" id="id" name="id" />
            <div class="col-md-4">
                <h3>@ViewBag.Title  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:20px;">
                <input type="button" value="@Html.LocalizedButton("SaveAndClose")" class="btn btn-default-smoov" id="btnSaveProduct" style="margin-left:auto" />
                <input type="submit" class="btn btn-default-smoov" id="btnSubmit" style="margin-left:auto;display:none" />
                <div class="modal fade" id="modalDeleteProduct" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 380px;">
                            <div class="modal-body" style="text-align:left">
                                @Html.LocalizedMessage("ConfirmDeleteProduct")
                            </div>

                            <div class="modal-footer">
                                <button type="button" onclick="actionDelete()" class="btn btn-default-smoov">@Html.LocalizedButton("Yes")</button>
                                <button type="button" class="btn btn-smoov" data-dismiss="modal">@Html.LocalizedButton("No")</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default-smoov" id="btnDistribute">@Html.LocalizedButton("SaveAndDistribute")</button>
                <button type="button" id="btnDeleteProduct" name="btnDeleteProduct" class="btn btn-danger">@Html.LocalizedButton("Delete")</button>
                <button onclick="location.href='@Url.Action("ViewDetail", "Product" , new { id=Model._id })';return false;" class="btn btn-smoov" style="margin-right:5px;" id="btnCancelproduct">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="clr"></div>
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("ProductDetail")</h4>
            <p>@Html.LocalizedLabel("ProductDetailDescription")</p>
            @Html.HiddenFor(model => model.status)

        </div>
        <div class="col-md-8">
            <div class="validation-summary-errors">
                <ul>
                    @*<li id="ErrName" style="display:none">The Name field is required.</li>*@
                    @*<li id="ErrName2" style="display:none">The Name field is too long.</li>
                    <li id="ErrSKU" style="display: none; ">The SKU field is required.</li>
                    <li id="ErrPrice" style="display: none; ">The Price field is required.</li>*@
                </ul>
            </div>

            <div class="form-group">

                <label for="name">@Html.LocalizedLabel("Name")</label><span style="color:red"> * </span>
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                <span id="ErrName" style="display:none" class="validation-summary-errors">The Name field is required.</span>
                @*@Html.ValidationMessageFor(model => model.name)*@

            </div>
            <div class="form-group">
                <div class="col-md-6 q-name-left">
                    <label for="ShortName">@Html.LocalizedLabel("ShortNameOnly3character")</label>
                    @Html.EditorFor(model => model.nameShort, new { htmlAttributes = new { @class = "form-control", @maxlength = "3" } })
                </div>

                <div class="col-md-6" style="padding-right:0px;">
                    <label for="Category">@Html.LocalizedLabel("Category")</label>

                    <select id="Category" class="form-control" name="drlCategory" style="padding-right:0px;">
                        @foreach (var item in ViewBag.listCategory)
                        {

                            if (item.display)
                            {
                                try
                                {
                                    <option @(@Model.categoryId == @item._id ? "selected" : "") value="@item._id~@item.title">@item.title</option>
                                }
                                catch
                                {

                                    <option value="@item._id~@item.title">@item.title</option>
                                }
                            }
                        }
                    </select>

                </div>
            </div>

            <div class="form-group">
                <div style="padding-top:10px;">
                    <label for="description" style="padding-top:10px;">@Html.LocalizedLabel("description")</label>
                    <textarea class="form-control ckeditor" id="description" name="description" rows="5" style="max-width: none;" maxlength="300">@{@Html.DisplayFor(model => model.description)}</textarea>

                    <p class="help-block"></p>
                </div>
            </div>
            <div class="q-clear">
            </div>

            <div class="form-group" style="padding-left:0px">

                <div class="col-md-6" style="padding-left:0px">
                    <label for="productType">@Html.LocalizedLabel("UnitType")</label>
                    @Html.EditorFor(model => model.productType, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                </div>
                <div class="col-md-6" style="padding-right:0px">
                    <label for="vendor">@Html.LocalizedLabel("Brand")</label>
                    @Html.EditorFor(model => model.vendor, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                </div>

            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Image")</h4>
            <p>@Html.LocalizedLabel("UploadImagesProduct")</p>
            <div class="form-group">
                <label for="exampleInputFile" style="display:none">File input</label>
                <label id="upfile1" style="cursor:pointer;margin-top:20px;" class="upfile1" multiple="multiple">@Html.LocalizedLabel("ChooseFile")</label>
                <input type="file" value="Browser File" id="chooseImage" multiple="multiple" name="images[]" style="display:none" />
                <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage64MB")</label>
                <p class="help-block" style="display:none">@Html.LocalizedMessage("UploadImagesProductHere")</p>
                <p>@Html.LocalizedMessage("LimitImages64")</p>
            </div>
            <input type="text" id="inputRemoveDynamic" name="inputRemoveDynamic" style="display:none" />
            <input type="text" id="inputRemoveStatic" name="inputRemoveStatic" style="display:none" />
            <input type="text" id="inputCheck" name="inputCheck" value="@indexImgDefault" style="display:none" />
            <input type="text" id="listImageSave" name="listImageSave" style="display:none;" />
        </div>
        <div class="col-md-8">

            <div class="q-form-images">
                <div class="row radio " style="padding-left:0px">
                    <!-- Display Image of produc CODE BY ZIN-->
                    <div id="uploadPreview">

                        @foreach (var item in ViewBag.listImage)
                        {
                            idIndex++;

                            var imageUrl = urlImgDefault;
                            try
                            {
                                imageUrl = item;
                                listImageVariant.Add(imageUrl);
                            }
                            catch
                            {
                            }

                            <div class="col-md-3" style="width: 160px; height: 140px;float:left;text-align:center;vertical-align:bottom;" id="div_img_@idIndex">
                                <div class="row radioImage padding-left-0">

                                    <img src="@imageUrl" class="img-rounded product-image" id="ImageResize-@idIndex" onload="SetAutoResizeWidthHeightImage('ImageResize-@idIndex',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List)" />

                                    <br />
                                    @if (indexImgDefault == (@idIndex - 1))
                                    {
                                        <input type="radio" name="radioDynamic" value="@idIndex" checked id="rad_@idIndex" style="margin-right:5px;" onchange="changeRadio(@idIndex)">
                                        <label id="lbl_@idIndex" for="rad_@idIndex">

                                            Default
                                        </label>
                                    }
                                    else
                                    {
                                        <input type="radio" name="radioDynamic" value="@idIndex" id="rad_@idIndex" style="margin-right:5px;" onchange="changeRadio(@idIndex)">
                                        <label id="lbl_@idIndex" for="rad_@idIndex">


                                            Set Default
                                        </label>
                                    }


                                    <button class="btnDeleteImageStatic" value="@idIndex" id="@idIndex" style="color: transparent;border: 0; background: transparent">
                                        <img src=@urlImgDynamic width="15" height="15" alt="submit" id="div_img_@idIndex" />
                                    </button>

                                </div>
                            </div>

                        }
                    </div>
                    <div class="loading" style="display:none">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <!-- Display Image of produc-->
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />

        <div class="col-md-4">
            <h4>Inventory & Variations</h4>
            <p>Manage inventory, and configure the options for selling this product.</p>

            <label id="lbl_Variant"></label>
            @if (Model.productMultiple)
            {
                <div style="margin-top: 10px">
                    <button type="button" class="btn btn-smoov" data-toggle="modal" data-target="#creatVariant" id="btn-add-varant" onclick="getDataProduct(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.arrayInventory))">@Html.LocalizedLabel("AddAVariant")</button>
                </div>
            }

        </div>

        <div class="col-md-8">
            @{
            idIndex = 0;
            string styleVarient = Model.arrayVarient.Count > 7 ? "overflow-y:auto;height:700px;" : "";
            }
            <div id="listVarientTable" style="@styleVarient">
                <table class="table table-striped" id="">
                    <thead>
                        <tr>
                            <th width="100px"></th>
                            <th id="abc">@Html.LocalizedLabel("SKU")</th>
                            <th>@Html.LocalizedLabel("Modifier")</th>
                            <th>@Html.LocalizedLabel("Color")</th>
                            <th>@Html.LocalizedLabel("Size")</th>
                            <th>@Html.LocalizedLabel("Quantity")</th>
                            <th>@Html.LocalizedLabel("Price")</th>
                            <th></th>
                        </tr>
                    </thead>
                   
                    @foreach (var item in Model.arrayVarient)
                {
                    idIndex = idIndex + 1;
                    var quantityItem = item.quantity < 0 ? 0 : item.quantity;
                    totalQuantity = totalQuantity + quantityItem;
                        <tr>
                            <td>

                                @{
                    var imageUrl = urlImgDefault;
                    try
                    {
                        if (item.image.arrayImage != null && item.image.arrayImage.Count > 0 && !string.IsNullOrEmpty(item.image.imageDetault) && item.image.imageDetault != "0")
                        {
                            imageUrl = item.image.imageDetault;
                        }
                    }
                    catch
                    {

                    }


                    try
                    {
                        <div style="width:100px;height:60px;text-align:center;">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addImageVariant" style="color: transparent;border: 0; background: transparent;margin-top:-20px;" onclick="editImageVariant(@Newtonsoft.Json.JsonConvert.SerializeObject(item),@Newtonsoft.Json.JsonConvert.SerializeObject(@Model.image),'@item._id')">
                                <img src="@imageUrl" class="VarientResize" id="@item._id" onload="SetAutoResizeWidthHeightImage('@item._id',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S)" />
                            </button>
                        </div>
                    }
                    catch
                    {

                    }
                                }

                            </td>
                            <td>
                                @if (item.sku != null)
                            {
                                    @Html.DisplayFor(modelItem => item.sku)
                            }
                            else
                            {
                                    <label id="lblSKUVariant">@Html.LocalizedLabel("NA")</label>
                            }
                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.title))
                            {
                                    @Html.DisplayFor(modelItem => item.title)
                            }
                            else
                            {
                                    <label id="lblTitleVariant">@Html.LocalizedLabel("NA")</label>
                            }

                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.color))
                            {
                                    @Html.DisplayFor(modelItem => item.color)
                            }
                            else
                            {
                                    <label id="lblColorVariant">@Html.LocalizedLabel("NA")</label>
                            }

                            </td>
                            <td>
                                @if (!string.IsNullOrWhiteSpace(item.size))
                            {
                                    @Html.DisplayFor(modelItem => item.size)
                            }
                            else
                            {
                                    <label id="lblSizeVariant">@Html.LocalizedLabel("NA")</label>
                            }

                            </td>
                            <td>
                                @if (item.quantity == -1)
                            {
                                    <label id="qtyVariant">@Html.LocalizedLabel("NA")</label>
                            }
                            else
                            {
                                    @Html.DisplayFor(modelItem => item.quantity)
                            }
                            </td>
                            <td>
                                @ViewBag.currency @Html.DisplayFor(modelItem => item.price)

                            </td>
                            <td>

                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#editVariant" onclick="editVariant(@Newtonsoft.Json.JsonConvert.SerializeObject(item),@Newtonsoft.Json.JsonConvert.SerializeObject(Model.arrayInventory))">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                @if (Model.arrayVarient.Count() > 1)
                            {
                                    <button type="button" onclick="setIdItem('@item._id')" class=" btn btn-default">
                                        @*<i class="fa fa-trash-o"></i>*@
                                        <i class="fa fa-trash"></i>
                                    </button>

                            }
                            </td>
                        </tr>

                }

                </table>
            </div>
        </div>
        <input id="itemID" name="itemID" type="hidden">
        <!-- ACTIVE / INACTIVE-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusProductDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <b>@Html.LocalizedLabel("Active")</b>

                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? " active":"" ) statusMerchant" id="lbl-statusActive-0">
                                        <input type="radio" name="@Model._id" id="statusActive-0" value="true" class="optionsRadios">
                                        @Html.LocalizedLabel("ON")

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? " active":"" ) statusMerchant" id="lbl-statusInActive-0">
                                        <input type="radio" name="@Model._id" id="statusInActive-0" value="false" class="optionsRadios">
                                        @Html.LocalizedLabel("OFF")
                                    </label>
                                    <input id="statusProduct" name="statusProduct" type="hidden" value="true">
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ACTIVE / INACTIVE-->
        <div class="q-clear">
        </div>
        <hr />

         <!-- FOOTER-->
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3></h3>
            </div>
            <div class="col-md-8" style="padding-right:20px;">
                <input type="button" value="@Html.LocalizedButton("SaveAndClose")" class="btn btn-default-smoov" id="btnSaveProduct1" style="margin-left:auto" />
                <input type="submit" value="@Html.LocalizedButton("Save")" class="btn btn-default-smoov" id="btnSubmit1" style="margin-left:auto;display:none" />
                <button type="button" class="btn btn-default-smoov" id="btnDistribute1">@Html.LocalizedButton("SaveAndDistribute")</button>
                <button type="button" id="btnDeleteProduct1" name="btnDeleteProduct1" class="btn btn-danger">@Html.LocalizedButton("Delete")</button>
                <button onclick="location.href='@Url.Action("ViewDetail", "Product" , new { id=Model._id })';return false;" class="btn btn-smoov" style="margin-right:5px;" id="btnCancelproduct1">@Html.LocalizedButton("Cancel")</button>

            </div>
        </div>
        <!-- END FOOTER-->

         <!-- MODEL POPUP CONFIRM-->
        <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 350px;">
                    <div class="modal-body">
                        @Html.LocalizedMessage("ConfirmDeactiveProduct")
                    </div>
                    <div class="modal-footer">
                        <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                        <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- END MODEL POPUP CONFIRM-->

        <!-- MODAL DELETE VARIANT -->
        <div class="modal fade" id="deleteVariant" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 350px;">
                    <div class="modal-body">
                        @Html.LocalizedMessage("ConfirmDeleteVariant")
                    </div>
                    <div class="modal-footer">
                        <button onclick="deleteVariant();" class="btn btn-default-smoov" data-dismiss="modal" id="btnDeleteVariant">@Html.LocalizedButton("Delete")</button>
                        <button type="button" class="btn btn-smoov" data-dismiss="modal" id="btnCancelDeleteVariant">@Html.LocalizedButton("Close")</button>

                    </div>
                </div>
            </div>
        </div>
         <!-- END MODAL DELETE VARIANT -->
    }

    <!-- MODAL DELETE ITEM-->
    <div class="modal fade" id="modalDeleteItem" tabindex="-10" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeleteItem")
                </div>
                <div class="modal-footer">
                    <button onclick="deleteItem();" class="btn btn-default-smoov" data-dismiss="modal">@Html.LocalizedButton("Delete")</button>
                    <button type="button" class="btn btn-smoov" data-dismiss="modal">@Html.LocalizedButton("Close")</button>

                </div>
            </div>
        </div>
    </div>
    <!-- MODAL DELETE ITEM-->
</div>

<!---------------------------------------------------- Modal EDIT  Varient -------------------------------->
<div class="modal fade q-form" id="editVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">@Html.LocalizedButton("Close")</span></button>
                <h4 class="modal-title" id="myModalLabel">@Html.LocalizedLabel("EditAVariant")</h4>
            </div>
            <div class="modal-body">
                <div class="validation-summary-errors">
                    <ul>
                        @*<li id="ErrColorVariantEdit" style="display:none">The Color field is required.</li>*@
                        @*<li id="ErrSizeVariantEdit" style="display:none">The Size field is required.</li>*@
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="ShortName">@Html.LocalizedLabel("Modifier")</label> <span style="color:red"> * </span>
                                <input type="text" size="30" maxlength="30" class="form-control" id="titleInEdit" name="titleInEdit" placeholder="modifier">
                                <span id="ErrNameVariantEdit" style="display:none" class="validation-summary-errors">The Modifier field is required.</span>
                            </div>
                            <div class="col-md-6">
                                <label for="color">@Html.LocalizedLabel("Color")</label><span style="color:red"> * </span>
                                <input type="text" size="15" maxlength="15" class="form-control" id="colorInEdit" name="colorInEdit" placeholder="color" required>
                                <span id="ErrColorVariantEdit" style="display:none" class="validation-summary-errors">The Color field is required.</span>
                            </div>
                            <div class="col-md-6">
                                <label for="size">@Html.LocalizedLabel("Size")</label><span style="color:red"> * </span>
                                <input type="text" size="15" maxlength="15" class="form-control" id="sizeInEdit" name="sizeInEdit" placeholder="size" required>
                                <span id="ErrSizeVariantEdit" style="display:none" class="validation-summary-errors">The Size field is required.</span>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />

                        <div class="form-group" style="position:static!important">
                            <div class="col-md-6">
                                <label for="price">@Html.LocalizedLabel("SalingPrice")</label>

                                <input type="text" size="13" maxlength="13" class="form-control" id="priceInEdit" name="priceInEdit" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="costPrice"> @Html.LocalizedLabel("CostPriceOnlyForReport")</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="costPriceInEdit" name="costPriceInEdit" placeholder="0.00">
                            </div>
                            <div class="col-md-6" style="display:none">
                                <label for="priceCompare">@Html.LocalizedLabel("CompareAtPrice")</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="priceCompareInEdit" name="priceCompareInEdit" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="sku">@Html.LocalizedLabel("SKU")</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="skuInEdit" name="skuInEdit" placeholder="sku" required disabled>
                            </div>
                            <div class="q-clear">
                            </div>
                            <div class="col-md-12" style="position:static!important">
                                <label>
                                    <input type="checkbox" id="require-ship-edit" name="require-ship-edit" onclick="showMe('weight-group-edit', this)">
                                    @Html.LocalizedLabel("TrackWeight")
                                </label>
                            </div>
                            <div class="col-md-6" id="weight-group-edit" style="display:none">
                                <div style="padding-left:0px;">
                                    <label for="weightInEdit">@Html.LocalizedLabel("WeightKG")</label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="weightInEdit" name="weightInEdit" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />

                        <div class="row" style="width:100%;margin-left:0px">
                            <div class="col-md-6">
                                <label for="inventoryPolicyEdit">@Html.LocalizedLabel("Policy")</label>
                                <select id="inventoryPolicyEdit" name="inventoryPolicyEdit" class="form-control">
                                    <option value="20">@Html.LocalizedLabel("DontTrackThisInventory")</option>
                                    <option value="21">@Html.LocalizedLabel("TrackThisInventory")</option>
                                </select>
                            </div>
                            <div class="q-clear">
                            </div>
                            <div id="21" class="showHide row" style="display:none">
                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label for="lbl-master-inventory-edit">@Html.LocalizedLabel("CurrentQuantity")</label>
                                        <p />
                                        <label id="lbl-master-inventory-edit" style="margin-right:40px;"></label>
                                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="master-inventory-edit">@Html.LocalizedLabel("NewQuantity")</label>
                                        <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="master-inventory-edit" name="master-inventory-edit" placeholder="0">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="col-md-6">
                                        <label hidden>@Html.LocalizedLabel("CurrentQuantity")</label>
                                        <p />

                                    </div>
                                    <div class="col-md-6">
                                        <label for="remind-stock-edit">@Html.LocalizedLabel("RemindMeWhenStockReaches")</label>
                                        <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="remind-stock-edit" name="remind-stock-edit" placeholder="0">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button onclick="saveEditVariant();" class="btn btn-default-smoov" id="btn_EditVarEdit" data-dismiss="modal" style="display:none">@Html.LocalizedButton("SaveChanges")</button>
                <button class="btn btn-default-smoov" id="btn_validate_editVar">@Html.LocalizedButton("SaveChanges")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal">@Html.LocalizedButton("Close")</button>
            </div>
        </div>
    </div>
</div>

<!---------------------------------------------------- Modal CREAT Varient -------------------------------->
<div class="modal fade q-form" id="creatVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@Html.LocalizedLabel("AddAVariant")</h4>
            </div>
            <div class="modal-body">
               @* <div class="validation-summary-errors">
                        <ul>
                            <li id="ErrNameVariant" style="display:none">The Modifier field is required.</li>
                                            <li id="ErrColorVariant" style="display:none">The Color field is required.</li>
                                            <li id="ErrSizeVariant" style="display:none">The Size field is required.</li>
                                          <li id="ErrSKUVariant" style="display: none; ">The SKU field is required.</li>
                                           <li id="ErrSKUVariantExist" style="display: none; ">The SKU is exist.</li>
                            </ul>
                    </div>*@
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="ShortName">@Html.LocalizedLabel("Modifier")</label><span style="color:red"> * </span>
                                <input type="text" size="30" maxlength="30" class="form-control" id="titleInCreat" name="titleInCreat" placeholder="modifier" disabled>
                                <span id="ErrNameVariant" style="display:none" class="validation-summary-errors">The Modifier field is required.</span>
                            </div>
                            <div class="col-md-6">
                                <label for="color">@Html.LocalizedLabel("Color")</label><span style="color:red"> * </span>
                                <input type="text" size="15" maxlength="15" class="form-control" id="colorInCreat" name="colorInCreat" placeholder="color" required disabled>
                                <span id="ErrColorVariant" style="display:none" class="validation-summary-errors">The Color field is required.</span>
                            </div>
                            <div class="col-md-6">
                                <label for="size">@Html.LocalizedLabel("Size")</label><span style="color:red"> * </span>
                                <input type="text" size="15" maxlength="15" class="form-control" id="sizeInCreat" name="sizeInCreat" placeholder="size" required disabled>
                                <span id="ErrSizeVariant" style="display:none" class="validation-summary-errors">The Size field is required.</span>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />

                        <div class="form-group" style="position:static!important">
                            <div class="col-md-6">
                                <label for="price">@Html.LocalizedLabel("SalingPrice")</label>

                                <input type="text" size="13" maxlength="13" class="form-control" id="priceInCreat" name="priceInCreat" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="costPrice">@Html.LocalizedLabel("CostPriceOnlyForReport")</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="costPriceInCreat" name="costPriceInCreat" placeholder="0.00">
                            </div>
                            <div class="col-md-6" style="display:none">
                                <label for="priceCompare">@Html.LocalizedLabel("CompareAtPrice")</label>
                                <input type="text" size="13" maxlength="13" class="form-control" id="priceCompareInCreat" name="priceCompareInCreat" placeholder="0.00">
                            </div>
                            <div class="col-md-6">
                                <label for="sku">@Html.LocalizedLabel("SKU")</label><span style="color:red"> * </span>
                                <input type="text" size="13" maxlength="13" class="form-control" id="skuInCreat" name="skuInCreat" placeholder="sku" required>
                                <span id="ErrSKUVariant" style="display:none" class="validation-summary-errors">The SKU field is required.</span>
                                <span id="ErrSKUVariantExist" style="display: none; " class="validation-summary-errors">The SKU is exist.</span>
                            </div>

                            <div class="col-md-12" style="position:static!important">
                                <label>
                                    <input type="checkbox" id="require-ship-creat" name="require-ship-creat" onclick="showMe('weight-group-creat', this)">
                                    @Html.LocalizedLabel("RequireAShippingAddressDescription")
                                </label>
                            </div>
                            @*<div class="col-md-6" id="weight-group-creat" style="display:none;padding-left:0px;">
                                    <div style="padding-left:0px;">
                                        <label for="weightInCreat">@Html.LocalizedLabel("WeightKG")</label>
                                        <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="weightInCreat" name="weightInCreat" placeholder="0.00">
                                    </div>
                                </div>*@<div class="col-md-6" id="weight-group-creat" style="display:none;padding-left:0px;">
                                <div style="padding-left:0px;">
                                    <label for="weightInCreat"></label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="weightInCreat" name="weightInCreat" placeholder="0.00">
                                </div>
                            </div>
                            <div class="col-md-6" id="weight-group-creat" style="display: none;">
                                <div style="padding-left:0px;">
                                    <label for="weightInCreat">Weight (kg)</label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="13" maxlength="13" min="0" class="form-control" id="weightInCreat" name="weightInCreat" placeholder="0.00">
                                </div>
                            </div>
                        </div>
                        <div class="q-clear">
                        </div>
                        <hr />


                        <div class="row" style="width:100%;margin-left:0px">
                            <div class="col-md-6">
                                <label for="inventoryPolicyCreat">@Html.LocalizedLabel("Policy")</label>
                                <select id="inventoryPolicyCreat" name="inventoryPolicyCreat" class="form-control">
                                    <option value="10">Don't track this inventory</option>
                                    <option value="11">Track this inventory</option>
                                </select>


                            </div>
                            <div class="q-clear">
                            </div>
                            <div id="11" class="showHideCreat" style="display:none;width:100%">
                                <div class="col-md-6 " s>
                                    <label for="master-inventory-creat">@Html.LocalizedLabel("Quantity")</label>

                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="master-inventory-creat" name="master-inventory-creat" placeholder="0">
                                </div>
                                <div class="col-md-6 ">
                                    <label for="remind-stock-creat">@Html.LocalizedLabel("RemindMeWhenStockReaches")</label>
                                    <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="remind-stock-creat" name="remind-stock-creat" placeholder="0">

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button onclick="actionAddVarientInEdit();" class="btn btn-default-smoov" id="btn_AddVarEdit" value="@Model.productID" data-dismiss="modal" style="display:none">@Html.LocalizedButton("SaveChanges")</button>
                <button class="btn btn-default-smoov" id="btn_validate_addVar">@Html.LocalizedButton("SaveChanges")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal">@Html.LocalizedButton("Close")</button>
            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------- IMAGE POPUP --------------------------------------------->
<div class="modal fade q-form" id="addImageVariant" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row">
                    <div class="col-md-6" style="text-align: left; padding-left: 30px;">
                        <button type="button" class="btn btn-default" onclick="deleteVariantImage()" style="display:none">@Html.LocalizedButton("Remove")</button>
                        <button type="button" id="upfileVariant" style="cursor:pointer;display:none" class="btn btn-default">@Html.LocalizedButton("AddImage")</button>
                        <input type="file" value="Browser File" id="chooseImageVariant" multiple="multiple" name="imagesVariant[]" style="display:none" />
                        <input type="text" id="imageDefaultVariant" name="imageDefaultVariant" style="display:none" />
                        <input type="text" id="arrayImageVariant" name="arrayImageVariant" style="display:none" />
                        <input type="text" id="_idVariant" name="_idVariant" style="display:none" />
                        <input type="text" id="productIDVariant" name="productIDVariant" style="display:none" />


                    </div>
                    <div class="col-md-5" style="text-align: right">
                        <button type="button" onclick="saveImageVariant(this);" class=" btn btn-default-smoov" id="saveImageVariant">@Html.LocalizedButton("Save")</button>
                        <button type="button" class="btn btn-smoov" id="btnCloseVariant" data-dismiss="modal" onclick="closeWindow()">@Html.LocalizedButton("Cancel")</button>

                    </div>
                </div>

            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Display Image of produc CODE BY ZIN-->
                    <div id="uploadPreviewVariant">
                        @{
                            idIndex++;

                            foreach (var item in listImageVariant)
                            {
                                idIndex++;
                                var imageUrl = urlImgDefault;
                                System.Drawing.Size size = new System.Drawing.Size(0, 0);
                                System.Drawing.Image image = null;
                                if (string.IsNullOrEmpty(item) || imageUrl == item)
                                {
                                    try
                                    {
                                        image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                                    }
                                    catch
                                    {
                                        image = null;
                                    }
                                }
                                else
                                {
                                    Uri uri = null;
                                    if (Uri.TryCreate(item, UriKind.Absolute, out uri))
                                    {
                                        imageUrl = item;
                                    }
                                    try
                                    {
                                        WebRequest request = WebRequest.Create(imageUrl);
                                        WebResponse response = request.GetResponse();
                                        image = System.Drawing.Image.FromStream(response.GetResponseStream());
                                    }
                                    catch
                                    {
                                        image = null;
                                    }
                                }

                                if (image != null)
                                {
                                    size.Width = image.Width;
                                    size.Height = image.Height;
                                    size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize_Product);
                                }

                                <div class="col-md-3" style="width: 160px; height: 140px;float:left;" id="div_img_@idIndex">
                                    <div class="row radio padding-left-0">
                                        <img src="@item" class="img-rounded variant-image" width="@size.Width" height="@size.Height" style="width:@size.Width px;height:@size.Height px;margin-top:@(140 - size.Height - 40)px" id="img_variant_@idIndex" onclick="chooseImageDefaultVariant(@idIndex)" />
                                    </div>
                                </div>
                            }

                        }
                    </div>
                    <!-- Display Image of produc-->

                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
<!-- IMAGE POPUP-->



<script type="text/javascript">
    var id = 1;

    function InsertMoreOption() {
        var idBefore = id;
        id++;
        var div = $(".tag-" + idBefore).clone();
        div[0].className = "tag-" + id;
        //console.log(div);
        div.insertAfter(".tag-" + idBefore);
    }

    $(document).ready(function () {
        //---------------- STATUS ACTIVE/ INACTIVE
        jsProductItem = {};
        isDismiss = "False";
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE

        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari||isSafari2||isSafari3||isSafari4) {
            // console.log("IS SAFARI");
            // $('chooseImage').removeAttr("multiple");
            $('#chooseImage').css('display', '');
            $('#upfile1').css('display', 'none');
        }


        $('input[name="nameShort"]').attr('maxlength', 3);
        $("#master-inventory-edit").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });
        $("#remind-stock-edit").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });
        $("#master-inventory-creat").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });
        $("#remind-stock-creat").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {

                return false;
            }
        });

    });

    var totalVariant =   @ViewBag.TotalItemVariant;
    var countVariant = @ViewBag.CountVariant;
    function getTitleVariant() {
        var sVariant = "There are " + totalVariant.toString() +" items for "+ countVariant.toString() +" variations" ;
        return sVariant;
    }

    document.getElementById('lbl_Variant').innerText=getTitleVariant();

    function SetValueFormEdit(value) {
        var str = jQuery.param(value);

        $('#titleInEdit').val(str);
        //Model result = list.Find(x => x.GetId() == "xy");

    }

    function disableButton()
    {
        $('#btnCancelproduct').prop("disabled", true);
        $('#btnDistribute').prop("disabled", true);
        $('#btnSaveProduct').prop("disabled", true);
        $('#btnSubmit').prop("disabled", true);
        $('#btnDeleteProduct').prop("disabled", true);

        $('#btnCancelproduct1').prop("disabled", true);
        $('#btnDistribute1').prop("disabled", true);
        $('#btnSaveProduct1').prop("disabled", true);
        $('#btnSubmit1').prop("disabled", true);
        $('#btnDeleteProduct1').prop("disabled", true);
    }

    function enableButton()
    {
        $('#btnCancelproduct').prop("disabled", false);
        $('#btnDistribute').prop("disabled", false);
        $('#btnSaveProduct').prop("disabled", false);
        $('#btnSubmit').prop("disabled", false);
        $('#btnDeleteProduct').prop("disabled", false);

        $('#btnCancelproduct1').prop("disabled", false);
        $('#btnDistribute1').prop("disabled", false);
        $('#btnSaveProduct1').prop("disabled", false);
        $('#btnSubmit1').prop("disabled", false);
        $('#btnDeleteProduct1').prop("disabled", false);
    }

    function deleteVariant()
    {
        var id = "@Model.productID";
        $('#btnCancelDeleteVariant').prop("disabled", true);
        document.getElementById("btnDeleteVariant").value="Deleting...";
        disableButton();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Product")',
            data: {
                id: id
            },
            success: function (status) {
                if (status == false) {
                    enableButton();
                }
                else {
                    disableButton();
                    location.href="@Url.Action("Index", "Product")";
                }
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            }, complete: function () {
                $('#btnCancelDeleteVariant').prop("disabled", false);
                document.getElementById("btnDeleteVariant").value="Delete";

            }
        });
    }

    function actionDelete() {
        var result = true;
        if(parseInt(@totalQuantity)>0){
            var title =" Are you sure you want to delete this product?"+ @totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?";
            $('#modalDeleteProduct').find('.modal-body').html(title);
        }
        var id = "@Model.productID";


        disableButton();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("Delete", "Product")',
            data: {
                id: id
            },
            success: function (status) {
                if (status == false) {
                    enableButton();
                }
                else {
                    disableButton();
                    location.href="@Url.Action("Index", "Product")";
                }
            }
        });
    }

    /*
     * validate form EDIT variant
    */
    $('#btn_validate_editVar').click(function () {
        var check = true;
        var title = $('#editVariant').find('#titleInEdit').val().trim();
        var color = $('#editVariant').find('#colorInEdit').val().trim();
        var size = $('#editVariant').find('#sizeInEdit').val().trim();
        //   console.log("itemVariant.length" + arrayInventoryOption.length);
        var isTitle =  $('#titleInEdit').prop("disabled");
        var isColor =  $('#colorInEdit').prop("disabled");
        var isSize =  $('#sizeInEdit').prop("disabled");
        if(arrayInventoryOption)
        {
            for(var i=0; i < arrayInventoryOption.length ; i++)
            {

                if(arrayInventoryOption[i].name === "title"){
                    if(title.length<1 && !isTitle ){
                        $('#ErrNameVariantEdit').css('display','block');
                        check = false;
                    } else {
                        $('#ErrNameVariantEdit').css('display','none');

                    }
                }else if(arrayInventoryOption[i].name === "color" ){
                    if(color.length<1 && !isColor){
                        $('#ErrColorVariantEdit').css('display','block');
                        check = false;
                    } else {
                        $('#ErrColorVariantEdit').css('display','none');

                    }
                }else {
                    if(size.length<1 && !isSize ){
                        $('#ErrSizeVariantEdit').css('display','block');
                        check = false;
                    } else {
                        $('#ErrSizeVariantEdit').css('display','none');

                    }
                }
            }
        }
        else
        {
            $('#ErrColorVariantEdit').css('display','none');
            $('#ErrSizeVariantEdit').css('display','none');
        }

        if(check) {
            saveEditVariant();
        }
    });


    $('#creatVariant').on('shown.bs.modal', function() {
        $('#creatVariant').find('#priceInCreat').val("");
        $('#creatVariant').find('#costPriceInCreat').val("");
        $('#creatVariant').find('#priceCompareInCreat').val("");
        $('#creatVariant').find('#skuInCreat').val("");
        $('.form-group ').find('#weightInCreat').val("");
        $('.row').find('#master-inventory-creat').val("");
        $('.row').find('#remind-stock-creat').val("");
        $('#creatVariant').find('#titleInCreat').val("");
        $('#creatVariant').find('#colorInCreat').val("");
        $('#creatVariant').find('#sizeInCreat').val("");
    })

    // -------------------------------- GET OPTION OF ADD VARIANT
    function  getDataProduct(item){
        arrOption = item;
        for(var i=0; i < arrOption.length ; i++)
        {
            //    console.log("getdata product");
            if(arrOption[i].name === "title")
            {
                //console.log("getdata title");
                $('#creatVariant').find('#titleInCreat').prop('disabled', false);

            }
            if(arrOption[i].name === "color")
            {
                //console.log("getdata color");
                $('#creatVariant').find('#colorInCreat').prop('disabled', false);
            }
            if(arrOption[i].name === "size")
            {
                //console.log("getdata size");
                $('#creatVariant').find('#sizeInCreat').prop('disabled', false);
            }
        }
        //  $('.row .col-md-4').find('#inventoryPolicyCreat').val() === "11"?"1":"0",
        //  quantity: $('.row .col-md-4').find('#inventoryPolicyCreat').val() === "11"? $('#creatVariant').find('#master-inventory-creat').val(): -1 ,
    }
    /*
     * validate form add new variant
    */
    $('#btn_validate_addVar').click(function () {

        var check = true;
        var title = $('#creatVariant').find('#titleInCreat').val().trim();
        var color = $('#creatVariant').find('#colorInCreat').val().trim();
        var size = $('#creatVariant').find('#sizeInCreat').val().trim();
        var sku = $('#creatVariant').find('#skuInCreat').val().trim();

        var isTitle =  $('#titleInCreat').prop("disabled");
        var isColor =  $('#colorInCreat').prop("disabled");
        var isSize =  $('#sizeInCreat').prop("disabled");
        for(var i=0; i < arrOption.length ; i++)
        {
            if(arrOption[i].name === "title"){
                if(title.length<1 && !isTitle){
                    $('#ErrNameVariant').css('display','block');
                    check = false;
                } else {
                    $('#ErrNameVariant').css('display','none');
                }
            }else if(arrOption[i].name === "color"){
                if(color.length<1 && !isColor){
                    $('#ErrColorVariant').css('display','block');
                    check = false;
                } else {
                    $('#ErrColorVariant').css('display','none');
                }
            }else {
                if(size.length<1 && !isSize){
                    $('#ErrSizeVariant').css('display','block');
                    check = false;
                } else {
                    $('#ErrSizeVariant').css('display','none');
                }
            }
        }

        if(sku.length<1 ){
            $('#ErrSKUVariant').css('display','block');
            check = false;
        }else {
            $('#ErrSKUVariant').css('display','none');

        }
        // console.log($('#creatVariant').find('#skuInCreat').val());
        if(check) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("checkSKUExist", "Product")',
                data: {
                    sku: $('#creatVariant').find('#skuInCreat').val().trim()
                },
                success: function (data) {
                    if (data=="True") {
                        //  console.log('checkSKUExist true');
                        actionAddVarientInEdit();
                    } else {
                        //    console.log('checkSKUExist true');
                        $('#ErrSKUVariantExist').css('display', 'block');

                        var btnSaveAddVariant = document.getElementById('btn_AddVarEdit');
                        btnSaveAddVariant.setAttribute('style','display:none');
                    }
                },
                error: function (data) {

                }
            });
        }

    });


    function actionAddVarientInEdit() {
        //console.log('checkSKUExist true');
        var id = document.getElementById("btn_AddVarEdit").value;
        var price = $('#creatVariant').find('#priceInCreat').val();
        var priceCost = $('#creatVariant').find('#costPriceInCreat').val();
        var priceCompare =$('#creatVariant').find('#priceCompareInCreat').val();
        var weight =$('.form-group ').find('#weightInCreat').val();
        if(price)
        {
            if (price.indexOf(',') != -1) {

                price =   parseFloat($('#creatVariant').find('#priceInCreat').val().replace(/,/g, ''));

            }
        }
        if(priceCompare)
        {
            if (priceCompare.indexOf(',') != -1) {

                priceCompare =parseFloat($('#creatVariant').find('#priceCompareInCreat').val().replace(/,/g, ''));

            }
        }
        if(priceCost)
        {
            if (priceCost.indexOf(',') != -1) {

                priceCost = parseFloat($('#creatVariant').find('#costPriceInCreat').val().replace(/,/g, ''));

            }
        }
        if(weight)
        {
            if (weight.indexOf(',') != -1) {

                weight = parseFloat($('#creatVariant').find('#weightInCreat').val().replace(/,/g, ''));

            }
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveVariantAdd", "Product")',
            data: {
                inventory_policy:$('#creatVariant').find('#inventoryPolicyCreat').val() === "11"?"1":"0",
                quantity: $('#inventoryPolicyCreat :selected').val() === "11"? $('#creatVariant').find('#master-inventory-creat').val(): -1 ,
                price : price,
                priceCost : priceCost,
                priceCompare : priceCompare,
                sku : $('#creatVariant').find('#skuInCreat').val(),
                weight :weight,
                requireShipping :$('.form-group ').find('#require-ship-creat').is(":checked"),
                masterInventory :$('.row').find('#master-inventory-creat').val(),
                remindStock : $('.row').find('#remind-stock-creat').val(),
                title:$('#creatVariant').find('#titleInCreat').val(),
                color:$('#creatVariant').find('#colorInCreat').val(),
                size:$('#creatVariant').find('#sizeInCreat').val(),
                //productID: id,
                productID: "@Model.productID",
                currency :"$",
            },
            success: function (status) {
                location.reload(true);
            }
        });

    }

    function deleteVariant() {
        var id = document.getElementById("btn_DeleteVariant").value;
        //  alert(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteVariant", "Product")',
            data: {
                _id: id
            },
        });
    }
    function deleteVariantProductItem(variantID,productID) {

        //  alert(id);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteVariant", "Product")',
            data: {
                varID: variantID,
                proID: productID
            },
            success: function () {
                location.reload(true);
            }
        });
    }

    /// <summary>
    /// Deletes the item.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/6/2015-10:23 AM</datetime>
    function deleteItem() {
        var productID = "@Model.productID";
        var variantID =document.getElementById("itemID").value ;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteVariant", "Product")',
            data: {
                varID: variantID,
                proID: productID
            },
            success: function () {
                location.reload(true);
            }
        });
    }
    // SHOW HIDE GROUP WHEN CLICK CHECKBOX
    function showMe(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
    }

    $('#inventoryPolicyEdit').change(function () {
        $('.showHide').hide();
        $('#' + $(this).val()).show();
        $("#master-inventory-edit").val(0);
        $("#remind-stock-edit").val(0);
    });

    $('#inventoryPolicyCreat').change(function () {
        //  alert("SHOW HIDE0");
        $('.showHideCreat').hide();
        $('#' + $(this).val()).show();
        $("#master-inventory-creat").val(0);
        $("#remind-stock-creat").val(0);
    });




    var arrRemove = [];
    var arrIndexDynamic="";
    var arrIndexStatic = "";
    var numCount =@ViewBag.NumPictures;


    $("#uploadPreview button").click(function () {
        // alert("remove IMAGE");
        var indexSub =$(this).val() -1;
        var valueRemove = $(this).val();
        arrIndexStatic = indexSub+   ';' + arrIndexStatic ;
        var inputStatic = document.getElementById("inputRemoveStatic");
        inputStatic.value = arrIndexStatic;
        var element = document.getElementById('div_img_'+$(this).val());
        if(element!=null)
            element.parentNode.removeChild(element);
        //========= RESET CHECKRADIO BUTTON
        var element1 = document.getElementById('div_img_'+$(this).val());
        //console.log("STATIC "+arrIndexStatic);
        //console.log("STATIC element "+element1);
        var listImage = document.getElementById('listImageSave');
        listImage.value = "";
        //console.log("listImage.value : "+listImage.value);
        changeCheckRadio();


    });


    function deleteImage(contextCurrent) {

        @*var elem;
        if (!evt) var evt = window.event;
        if (evt.target) elem = evt.target;
        else if (evt.srcElement) elem = evt.srcElement;
        var indexSub= elem.id- @ViewBag.NumPictures -1 ;        //   console.log(contextCurrent);

        arrIndexDynamic =indexSub+   ';' + arrIndexDynamic ;
        var inputDynamic = document.getElementById("inputRemoveDynamic");
        inputDynamic.value = arrIndexDynamic;

        console.log("DYNAMIC IS "+arrIndexDynamic);
        var element = document.getElementById('div_img_'+contextCurrent);
        console.log(element);*@
        var element = document.getElementById('div_img_'+contextCurrent);
        if(element!=null)
            element.parentNode.removeChild(element);
        //console.log("DYNAMIC element"+element);
        var listImage = document.getElementById('listImageSave');
        listImage.value = "";
        changeCheckRadio();
    }
    function checkExitChooseRadio(){
        var notExitCheck = false;
        var div = document.getElementById("uploadPreview");
        var i;
        var indexCheck=0;
        for (i=0;i<div.childNodes.length;i++)
        {

            var st = div.childNodes[i].id;
            if (st != null) {
                var lenght = st.lenght -8;
                var st1= st.substring(8, st.lenght);
                //  console.log("st i get " +st);
                var radioElement = document.getElementById('rad_'+st1);
                if(radioElement.checked)
                {
                    notExitCheck = true;
                    var inputCheck = document.getElementById("inputCheck");
                    inputCheck.value =indexCheck;
                }

                indexCheck++;
            }


        }
        if(!notExitCheck)
        {
            var inputCheck = document.getElementById("inputCheck");
            inputCheck.value =0;
        }
        return notExitCheck;
    }

    function changeCheckRadio() // kiem tra su ton tai cua check de set lai
    {

        var div = document.getElementById("uploadPreview");
        var i;
        var notExitCheck = checkExitChooseRadio();

        if(notExitCheck  == false&& div.childNodes.length>0)
        {

            for (i = 0; i < div.childNodes.length; i++) {

                var st = div.childNodes[i].id;
                if (st != null) {
                    var lenght = st.lenght -8;
                    var st1= st.substring(8, st.lenght);

                    var radioElement = document.getElementById('rad_'+st1);
                    var element1 = document.getElementById('lbl_'+st1).innerHTML='Default';
                    $('input[name="radioDynamic"][value="' + st1 + '"]').prop('checked', true);
                    var inputCheck = document.getElementById("inputCheck");
                    inputCheck.value =0;
                    //      console.log("BREAK FOR LOOP");
                    break;
                }
            }
        }
    }

    $("#upfileVariant").click(function () {
        // $("#chooseImageVariant").trigger('click');
        $("#chooseImageVariant").click();
    });

    $("#upfile1").click(function () {
        // $("#chooseImage").trigger('click');
        $("#chooseImage").click();
        // alert("HEHEHEHEHE");
    });

    function clickUploadFile()
    {
        $("#chooseImage").click();
    }

    var totalImageStatic= 0;
    $("#chooseImage").change(function (e) {
        $('#Errendfile').css('display', 'none');
        totalImageStatic = numCount + parseInt(totalImageStatic);
        var F = (this).files;
        var limit =   @ViewBag.LimitImage;
        var sizeLimit =1024*1024*Math.pow(2, 6); // Math.pow(2, 6) = 64
        var totalSize =0;
        if (F && F[0]) for (var i = 0; i < F.length; i++) {
            totalSize = totalSize + this.files[0].size;
        }
        if (totalSize> sizeLimit) {
            $('#Errendfile').css('display', 'block');
            //console.log(data);
            document.getElementById("chooseImage").value = null; // xoa de co the up image trung
            return false;
        }
        else
        {
            var arrImage = [];
            var listImage = [];
            var file = document.getElementById('chooseImage').files[0];
            var formData = new FormData();
            if (F && F[0]) for (var i = 0; i < F.length; i++) {
                numCount++;
                var file = F[i];
                var fileName = file.name;
                arrImage.push(file);
                listImage.push(fileName);
                formData.append(file.name, file);
            }
            formData.append("isProduct", "1");
            formData.append("listImage", listImage);
            formData.append("totalImageStatic", totalImageStatic);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            // console.log(formData);
            $.ajax({
                type: 'POST',

                url: '@Url.Action("UploadImage", "Upload")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {

                    $("#uploadPreview").append(data);
                    changeCheckRadio();
                    //console.log(data);
                    document.getElementById("chooseImage").value = null; // xoa de co the up image trung
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");

                },
                complete: function () {
                    $('.loading').css("display", "none");

                }
            });
        }
    });

    function changeRadio(contextCurrent) {
        //=================
        var div = document.getElementById("uploadPreview");
        var i;
        if(div.childNodes.length>0)
        {

            var element = document.getElementById('lbl_'+contextCurrent).innerHTML='Default' ;
            $('input[name="radioDynamic"][value="' + contextCurrent + '"]').prop('checked', true);

            var indexCheck =0;
            for (i=0;i<div.childNodes.length;i++)
            {
                var st = div.childNodes[i].id;
                if (st != null) {
                    var lenght = st.lenght -8;
                    var st1= st.substring(8, st.lenght);
                    if( st1!=contextCurrent)
                    {
                        var element1 = document.getElementById('lbl_'+st1).innerHTML='Set Default';
                    }
                    else {
                        var inputCheck = document.getElementById("inputCheck");
                        inputCheck.value =indexCheck ;
                    }
                    indexCheck ++;
                }
            }
        }
    }

    function is_valid_url(url)
    {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }

    function getListImage()
    {
        var images = [];
        $('.product-image').each(function(){
            var url = $(this).attr('src');
            url=url.trim();
            if(is_valid_url(url))
            {
                images.push($(this).attr('src'));

            }

        })
        return images;
    }

    function getListImageVariant()
    {
        var urlDefault = "@urlImgDefault";
        var imagesVariant = [];
        $('.variant-image').each(function(){
            var url = $(this).attr('src');
            if(is_valid_url(url))
            {
                if(url!=urlDefault)
                {
                    imagesVariant.push($(this).attr('src'));
                }
            }
        })

        return imagesVariant;
    }

    $('#btnSaveProduct1').click(function(){
        $('#btnSaveProduct').click();
    });

    $('#btnSaveProduct').click(function(){
        var check = Validation();

        if(check) {
            var yesNo = true;
            var status = $('.selectStatus').val();
            $('#btnCancelproduct').prop('disabled', true);
            $('#btnSaveProduct').prop('disabled', true);
            $('#btnDistribute').prop('disabled', true);
            $('#btnDeleteProduct').prop('disabled', true);

            $('#btnCancelproduct1').prop('disabled', true);
            $('#btnSaveProduct1').prop('disabled', true);
            $('#btnDistribute1').prop('disabled', true);
            $('#btnDeleteProduct1').prop('disabled', true);

            //$('#btnSaveProduct').val ="Saving...";
            document.getElementById("btnSaveProduct").value = "Saving...";
            document.getElementById("btnSaveProduct1").value = "Saving...";
            document.getElementById("hfRedirectTo").value = "ViewDetail";

            $('#btnSubmit').click();
        }

        return check;
    });

    $('#btnDistribute1').click(function(){
        $('#btnDistribute').click();
    });

    $('#btnDistribute').click(function(){
        var check = Validation();

        if(check) {
            var yesNo = true;
            var status = $('.selectStatus').val();
            $('#btnCancelproduct').prop('disabled', true);
            $('#btnSaveProduct').prop('disabled', true);
            $('#btnDistribute').prop('disabled', true);
            $('#btnDeleteProduct').prop('disabled', true);

            $('#btnCancelproduct1').prop('disabled', true);
            $('#btnSaveProduct1').prop('disabled', true);
            $('#btnDistribute1').prop('disabled', true);
            $('#btnDeleteProduct1').prop('disabled', true);

            //$('#btnSaveProduct').val ="Saving...";
            document.getElementById("btnDistribute").value = "Saving...";
            document.getElementById("btnDistribute1").value = "Saving...";
            document.getElementById("hfRedirectTo").value = "Distribute";
            
            $('#btnSubmit').click();
        }

        return check;
    });

    /*
    *------------------------ Convert currency format ------------------------
    *        Convert currency format
    */

    /*
    *------------------------ Begin Edit Variant ------------------------
    *          Edit Variant in list variant : get data from model item
    */
    function editVariant(item,itemInventoty){

        var price =  item['price'].toString();
        var priceCost = item['priceCost'].toString();
        var priceCompare =item['priceCompare'].toString();
        var weight =item['weight'].toString();
        if(price)
        {
            price = convertCurrrency(price);
        }
        if(priceCost)
        {
            priceCost = convertCurrrency(priceCost);
        }
        if(priceCompare)
        {
            priceCompare = convertCurrrency(priceCompare);
        }
        if(weight)
        {
            weight = convertCurrrency(weight);
        }
        //-----------
        if(itemInventoty)
        {
            arrayInventoryOption = itemInventoty;
        }
        else{
            arrayInventoryOption = null;
        }
        itemVariant = item;
        //  console.log(item);
        $('.form-group .col-md-6').find('#titleInEdit').val(item['title']) ;
        $('.form-group .col-md-6').find('#colorInEdit').val(item['color']);
        $('.form-group .col-md-6').find('#sizeInEdit').val(item['size']) ;
        $('.form-group .col-md-6').find('#priceInEdit').val(price) ;

        $('.form-group .col-md-6').find('#skuInEdit').val(item['sku']);
        $('.form-group .col-md-6').find('#priceCompareInEdit').val(priceCompare) ;
        $('.form-group .col-md-6').find('#costPriceInEdit').val(priceCost) ;
        $('#require-ship-edit').prop('checked', item['requireShipping']) ;
        document.getElementById("weight-group-edit").style.display = item['requireShipping'] ? 'block': 'none';
        document.getElementById("21").style.display = item['inventory_policy'] === "1" ? 'block': 'none';
        document.getElementById("inventoryPolicyEdit").value = item['inventory_policy'] === "1" ? '21': '20';
        if(item['requireShipping'])
        {
            $('.form-group ').find('#weightInEdit').val(weight)
        }
        if(item['inventory_policy'] === "1") {
            $('#editVariant').find('#inventoryPolicyEdit').val("21");
            var quantity = item['quantity'];
            if(quantity>=0)
            {
                document.getElementById('lbl-master-inventory-edit').innerText=item['quantity'] ;
            }
            else{
                document.getElementById('lbl-master-inventory-edit').innerText="N/A";
            }

            $('.row').find('#master-inventory-edit').val(item['quantity']);
            $('.row').find('#remind-stock-edit').val(item['remindStock']);
        }else {
            if(quantity>=0)
            {
                document.getElementById('lbl-master-inventory-edit').innerText=item['quantity'] ;
            }
            else{
                document.getElementById('lbl-master-inventory-edit').innerText="N/A";
            }
            $('.row .col-md-4').find('#inventoryPolicyEdit').val("20");
        }
        var title =   $('.form-group .col-md-6').find('#titleInEdit').val().trim() ;
        var color =  $('.form-group .col-md-6').find('#colorInEdit').val().trim() ;
        var size =  $('.form-group .col-md-6').find('#sizeInEdit').val().trim() ;
        if(title==null){
            $('#editVariant').find('#titleInEdit').prop('disabled', true);
        } else if(!title)
        {
            $('#editVariant').find('#titleInEdit').prop('disabled', true);
        }
        else
        {
            $('#editVariant').find('#titleInEdit').prop('disabled', false);
        }
        if(color==null)
        {
            $('#editVariant').find('#colorInEdit').prop('disabled', true);
        } else if(!color)
        {
            $('#editVariant').find('#colorInEdit').prop('disabled', true);
        }
        else
        {
            $('#editVariant').find('#colorInEdit').prop('disabled', false);
        }
        if(size==null){
            $('#editVariant').find('#sizeInEdit').prop('disabled', true);
        } else if(!size)
        {
            $('#editVariant').find('#sizeInEdit').prop('disabled', true);
        }
        else
        {
            $('#editVariant').find('#sizeInEdit').prop('disabled', false);
        }
    }
    /*
    *----------------------------- End Edit Variant ------------------------------

    *----------------- begin save item edited  Variant in list variant -----------
    */
    function saveEditVariant (){
        var price = $('#editVariant').find('#priceInEdit').val();
        var priceCost = $('#editVariant').find('#costPriceInEdit').val();
        var priceCompare =$('#editVariant').find('#priceCompareInEdit').val();
        var weight =$('.form-group ').find('#weightInEdit').val();
        if(price)
        {
            if (price.indexOf(',') !=-1)
            {

                price =  parseFloat($('#editVariant').find('#priceInEdit').val().replace(/,/g, ''));

            }
        }
        if(priceCost)
        {
            if (priceCost.indexOf(',') != -1) {

                priceCost =   parseFloat($('#editVariant').find('#costPriceInEdit').val().replace(/,/g, ''));

            }
        }
        if(priceCompare)
        {
            if (priceCompare.indexOf(',') != -1) {

                priceCompare =  parseFloat($('#editVariant').find('#priceCompareInEdit').val().replace(/,/g, ''));

            }
        }
        if(weight)
        {
            if (weight.indexOf(',') != -1) {

                weight = parseFloat($('#editVariant').find('#weightInEdit').val().replace(/,/g, ''));

            }
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateVariant", "Product")',
            data: {
                inventory_policy:$('#editVariant').find('#inventoryPolicyEdit').val() === "21"?"1":"0",
                quantity: $('#inventoryPolicyEdit :selected').val() === "21"? $('#editVariant').find('#master-inventory-edit').val(): -1 ,
                price : price,
                priceCost : priceCost,
                priceCompare : priceCompare,
                sku : $('#editVariant').find('#skuInEdit').val(),
                weight :weight,
                requireShipping :$('.form-group ').find('#require-ship-edit').is(":checked"),
                masterInventory :$('#editVariant').find('#master-inventory-edit').val(),
                remindStock : $('#editVariant').find('#remind-stock-edit').val(),
                title:$('#editVariant').find('#titleInEdit').val(),
                color:$('#editVariant').find('#colorInEdit').val(),
                size:$('#editVariant').find('#sizeInEdit').val(),
                image :itemVariant['image'],
                _id: itemVariant['_id'],
                productID : itemVariant['productID'],
                currency : itemVariant['currency'],
                createdDate: itemVariant['createdDate'],
                modifiedDate : itemVariant['modifiedDate'],
                userID : itemVariant['userID'],
                userOwner : itemVariant['userOwner']
            },
            success: function (statusResult) {

                if (statusResult == false) {
                    alert('Error! Pleas try again.');
                }
                else {
                    location.reload(true);
                }
            }
        });
    }
    /*
     *----------------------------- End Edit Variant ------------------------------
    */

    /*----------------- begin save item edited  Variant in list variant -----------
    */
    //==================================================== EDIT IMAGE VARIANT

    function editImageVariant(item,itemImage,imageId){

        imageVariantId=imageId;
        imageVariantWidth=$('#' + imageVariantId).width();
        imageVariantHeight=$('#' + imageVariantId).height();
        imageVariantSrc=document.getElementById(imageId).src;


        $('.col-md-6').find('#_idVariant').val(item['_id']);
        $('.col-md-6').find('#productIDVariant').val(item['productID']) ;

        $('.col-md-6').find('#imageDefaultVariant').val(itemImage['imageDefault']);
        $('.col-md-6').find('#arrayImageVariant').val(itemImage['arrayImage']) ;

    }

    function saveImageVariant(event){
        document.getElementById("saveImageVariant").value ="Saving...";

        $('#saveImageVariant').prop('disabled', true);
        $('#btnCloseVariant').prop('disabled', true);
        var listImageVariant = [];
        listImageVariant = getListImageVariant();
        //  console.log( $('#addImageVariant').find('#imageDefaultVariant').val());
        $('.col-md-6').find('#arrayImageVariant').val(listImageVariant);
        var formData = new FormData();
        formData.append("imageDefaultVariant", $('#addImageVariant').find('#imageDefaultVariant').val());
        formData.append("arrayImageVariant", $('#addImageVariant').find('#arrayImageVariant').val());
        formData.append("_idVariant", $('#addImageVariant').find('#_idVariant').val());
        formData.append("productIDVariant", $('#addImageVariant').find('#productIDVariant').val());

        //  debugger;
        $.ajax({
            type: 'POST',

            url: '@Url.Action("updateImageVariant", "Upload")',
            data:formData,
            mimeType: "multipart/form-data",
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                $('#addImageVariant').modal('hide');
            } ,
            beforeSend: function () {
                document.getElementById("saveImageVariant").value ="Saving...";

            },
            complete: function () {
                document.getElementById("saveImageVariant").value ="Saving";
                $('#saveImageVariant').prop('disabled', false);
                $('#btnCloseVariant').prop('disabled', false);
            }
        });
    }
    //+++++++++++++++++++++ END EDIT IMAGE VARIANT

    function Validation(){
        var listImage = document.getElementById('listImageSave');
        listImage.value = getListImage();
        //console.log(listImage.value);
        var check = true;
        var name = $('#name').val();
        var price = $('#price').val();
        var sku = $('#sku').val();
        if(name.length<1){
            $('#ErrName').css('display','block');
            check = false;
        } else {
            $('#ErrName').css('display','none');
        }
        return check;

    }

    //------------------------ Process Upload Image to AMAZONE for Variant ITEM
    var totalImageStaticVariant =0;
    $("#chooseImageVariant").change(function (e) {

        totalImageStaticVariant = numCount + parseInt(totalImageStaticVariant);
        var F = (this).files;
        var limit =   @ViewBag.LimitImage;


        if((this.files.length + numCount)>15)
        {
            alert("Maximum Upload File Size (15 posts)");
            document.getElementById("chooseImageVariant").value = null;
        }

        else
        {
            var arrImage = [];
            var listImage = [];
            var file = document.getElementById('chooseImage').files[0];
            var formData = new FormData();
            if (F && F[0]) for (var i = 0; i < F.length; i++) {
                numCount++;
                var file = F[i];
                var fileName = file.name;
                arrImage.push(file);
                listImage.push(fileName);

                formData.append(file.name, file);
            }
            formData.append("isProduct", "0");
            formData.append("listImage", listImage);
            formData.append("totalImageStatic", totalImageStaticVariant);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Normal');
            // console.log(formData);
            $.ajax({
                type: 'POST',

                url: '@Url.Action("UploadImage", "Upload")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {

                    $("#uploadPreviewVariant").append(data);
                    changeCheckRadio();
                    //console.log(data);
                    document.getElementById("chooseImageVariant").value = null; // xoa de co the up image trung
                }
            });


        }

    });

    //------------------------- DELETE IMAGE VARIANT
    function deleteVariantImage()
    {
        var idVariant = $('#addImageVariant').find('#_idVariant').val();
        var element = document.getElementById(idVariant);
        element.src =  "@Url.Content("~/Content/Images/imageDefault.png")";
        $('#addImageVariant').find('#imageDefaultVariant').val( element.src);
        @*$.ajax({
            type: 'POST',
            url: '@Url.Action("deleteImageVariant", "Product")',
            data: {


                arrayImageVariant :$('#addImageVariant').find('#arrayImageVariant').val(),
                _idVariant : $('#addImageVariant').find('#_idVariant').val(),
                productIDVariant :  $('#addImageVariant').find('#productIDVariant').val()
            },
            success: function () {


            }
        });*@
    }
    var imageVariantSrc='';
    var imageVariantId='';
    var imageVariantWidth=0;
    var imageVariantHeight=0;
    //------------------------- CHOOSE IMAGE DEFAULT IMAGE VARIANT
    function chooseImageDefaultVariant(contextCurrent)
    {
        removeBorderImage(); // REMOVE BORDER
        var idVariant = $('#addImageVariant').find('#_idVariant').val();
        var imageItem = document.getElementById(idVariant);

        var imageItemId='img_variant_'+contextCurrent;

        var imageChoose = document.getElementById(imageItemId);
        var styleOld = $('#' + imageItemId).attr('style');
        styleOld ='border:3px solid #008000; ' + styleOld;
        $('#' + imageItemId).removeAttr('style');
        $('#' + imageItemId).attr('style',styleOld);

        imageItem.src =imageChoose.src;      // set URL of Image icon Variant

        AutoResizeWidthHeightImage($('#' + imageItemId),idVariant, 80, 60);

        $('.col-md-6').find('#imageDefaultVariant').val(imageChoose.src);

    }
    function removeBorderImage()
    {
        var imagesVariant = [];
        $('.variant-image').each(function(){
            var styleOld = $(this).attr('style');
            if (styleOld.indexOf('border') >=0) {
                styleOld= styleOld.replace('border:3px solid #008000;','');

                //console.log(styleOld);
                $(this).removeAttr('style');
                $(this).attr('style',styleOld);
            }
            //var imageItem = document.getElementById(id);
            //imageItem.setAttribute('style','border:0px solid #000000; width:140px;height:105px;');
            //console.log(imageItem);
            //console.log($(this).attr('style'));

        })

    }
    function closeWindow()
    {
        if (imageVariantSrc != '' && imageVariantId != '') {
            var imageItem = document.getElementById(imageVariantId);

            imageItem.src =imageVariantSrc;      // set URL of Image icon Variant

            elementResize = $('#' + imageVariantId);
            elementResize.removeAttr('width');
            elementResize.removeAttr('height');
            elementResize.attr('width', imageVariantWidth);
            elementResize.attr('height', imageVariantHeight);
            elementResize.css('Width', imageVariantWidth.toFixed(0).toString() + 'px');
            elementResize.css('Height', imageVariantHeight.toFixed(0).toString() + 'px');
        }

        //location.reload();
    }



    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsProductItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsProductItem["position"]);
        if (jsProductItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsProductItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsProductItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsProductItem["position"]);
        isDismiss = "False";
        var statusProduct = element.value == "true" ? true : false;
        document.getElementById("statusProduct").value = statusProduct;
    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusProduct = element.value == "true" ? true : false;
        var yesNo;
        //var idProduct = element.getAttribute("name");
        var idProduct = document.getElementById("productID").value;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusProduct", "Product")',
            data: {
                id: idProduct,
                status: statusProduct
            },
            success: function (status) {
                var elem = document.getElementById("status");
                elem.value = statusProduct;

            },
            error: function (status) {
            }

        });
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {

        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsProductItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsProductItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsProductItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveProduct")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveProduct")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    // show popup delete Customer
    $('#btnDeleteProduct').click(function () {
        if(parseInt(@totalQuantity)>0){
            var title = @totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?";
            $('#modalDeleteProduct').find('.modal-body').html(title);
            @*result = confirm(@totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?")*@
            @*alert(@totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?");*@
            //  $('#modalDeleteVariant').modal();
        }
        $('#modalDeleteProduct').modal();
    });
    // show popup delete Customer
    $('#btnDeleteProduct1').click(function () {
        if(parseInt(@totalQuantity)>0){
            var title = @totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?";
            $('#modalDeleteProduct').find('.modal-body').html(title);
            @*result = confirm(@totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?")*@
            @*alert(@totalQuantity + " variants of current product will be removed too. Are you sure you want to remove this product ?");*@
            //  $('#modalDeleteVariant').modal();
        }
        $('#modalDeleteProduct').modal();
    });

    function setIdItem(idItem)
    {
        document.getElementById("itemID").value = idItem;
        $('#modalDeleteItem').modal();
    }

    $("#priceInEdit").maskMoney();
    $("#priceCompareInEdit").maskMoney();
    $("#costPriceInEdit").maskMoney();
    $("#weightInEdit").maskMoney();

    $("#weightInCreat").maskMoney();
    $("#priceInCreat").maskMoney();
    $("#priceCompareInCreat").maskMoney();
    $("#costPriceInCreat").maskMoney();

    $.brow
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}