﻿@model SmoovPOS.Entity.Models.SearchProductModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    input, select, textarea {
        max-width: none;
    }

    span#searchclear {
        position: absolute;
        right: 180px;
        top: 7px;
        cursor: pointer;
    }

    .exampleone {
        -moz-appearance: toolbarbutton;
    }

    .header_table {
        background-color: transparent;
        color: #000;
        border-bottom: 2px solid #ddd;
    }

    .u_title > a {
        color: #000;
    }
</style>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    int index = 0;
}

<div class="q-toolsbar">
    <div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertProductCountIsLimited")</div>

    <div class="col-md-4">
        <h3 style="padding: 10px; margin-left: -25px;">@ViewBag.Title</h3>
    </div>

    <div class="col-md-8">
        @*<button type="button" class="btn btn-smoov" id="3" onclick="checkActive(this.id);" style="border-top-right-radius:0px;border-bottom-right-radius:0px">Activate</button>
            <button type="button" class="btn btn-smoov" id="4" onclick="checkActive(this.id);" style="border-top-left-radius:0px;border-bottom-left-radius:0px">Deactivate</button>*@
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Product")'" style="margin-right:10px" @(@Model.isAddNew ? "" : "disabled")>@Html.LocalizedButton("AddProduct")</button>
        <div class="btn-group" data-toggle="buttons">
            <label id="1" onclick="checkActive(this.id);" class="btn btn-smoov">
                <input type="radio" value="true">

                @Html.LocalizedButton("Activate")

            </label>
            <label class="btn btn-smoov" id="2" onclick="checkActive(this.id);">

                <input type="radio" value="false" class="btn btn-smoov">
                @Html.LocalizedButton("Deactivate")

            </label>
        </div>

        <input id="statusMultiProduct" name="statusMultiProduct" type="hidden">
    </div>
</div>

<div class="q-clear"></div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

            </ul>
        }

    </div>
    <div class="col-md-6" style="margin: 20px 0;">
        <div class="input-group">
            <input type="text" name="text" id="text" class="form-control" value="@Model.Paging.text" onkeypress="$('#searchclear').show(); if ($.browser.mozilla){  $('#type').css('margin-left','-4px');}" placeholder="Search product" style="width: 84%;">
            <span id="searchclear" style="display: none;"><i class="fa fa-times"></i></span>
            <select class="form-control" id="type" name="type" style="width: 16%;">
                <option @(Model.Paging.type == "category" ? " selected" : "") value="category">Category</option>
                <option @(Model.Paging.type == "product" ? " selected" : "") value="product">Product</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button" onclick="Searching()" style="padding-left:20px;padding-right:20px"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>

<table class="table" id="contributors">
    <thead>
        <tr class="header_table">
            <th style="width:50px;"><input type="checkbox" id="selectall" /></th>
            <th class="u_title" colspan="3">

                @Html.ActionLink("Product", "Index", new { sort = "product", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "product")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">
                @Html.ActionLink("Category", "Index", new { sort = "category", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "category")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">Master Qty</th>
            <th class="u_title"> Status  </th>
            <th class="u_title">In Stores</th>
            <th class="u_title"></th>
        </tr>
    </thead>
     
    @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
    {
        foreach (var item in Model.ListProductItem)
        {
            try
            {
                if (item.display)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="case" name="case" id="@index" value=@item.productID />
                        </td>

                        <td colspan="3">
                            @try
                            {
                                @Html.ActionLink(item.name.ToString(), "ViewDetail", new { id = item._id })
                            }
                            catch (Exception) { }
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.categoryName)
                        </td>

                        <td>
                            @{
                            //  int count = 0;
                            int total = 0;
                            int itemCount = 0;
                            // int countCompare = 0;
                            bool isLargerZero = false;
                            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
                            {
                                if (itemVarient.quantity >= 0)
                                {
                                    total = total + itemVarient.quantity;
                                }


                                itemCount++;

                            }

                            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
                            {
                                if (itemVarient.quantity >= 0)
                                {
                                    isLargerZero = true;
                                    break;
                                }
                            }
                            if (isLargerZero)
                            {
                                if (total >= 0)
                                {

                                    <text> @total.ToString() for @itemCount.ToString() variants</text>
                                }
                                else
                                {
                                    <text> 0 for  @itemCount.ToString() variants </text>
                                }
                            }
                            else
                            {
                                if (item.inventoryPolicy == "100")
                                {
                                    <text> N/A for  @itemCount.ToString() variants </text>
                                }
                                else
                                {
                                    <text> 0 for  @itemCount.ToString() variants </text>
                                }
                            }
                            }
                        </td>

                        <td>
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                        <input type="radio" name="@item.productID" id="statusActive-@index" value="true" class="optionsRadios">
                                        @Html.LocalizedLabel("ON")
                                    </label>

                                    <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">
                                        <input type="radio" name="@item.productID" id="statusInActive-@index" value="false" class="optionsRadios">
                                        @Html.LocalizedLabel("OFF")
                                    </label>
                                </div>
                            }
                            catch (Exception) { }
                        </td>

                        <td>
                            @if (true)
                            {
                                <text>   @item.inStores  </text>
                            }
                        </td>

                        <td>
                            <button type="button" class="btn btn-smoov" onclick="location.href='@Url.Action("Distribute", "ProductItem", new { productId = item.productID })'">Distribute</button>
                        </td>
                    </tr>
                }
                index++;
            }
            catch{ }
        }
    }
    else
    {
        <tr style="width:100%">
            <td style="width:100%;text-align:center" colspan="9">
                @Html.LocalizedMessage("NoResultWasFound")
            </td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }

                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

            </ul>
        }
    </div>
</div>

<!-- FOOTER-->
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3 style="padding: 10px; margin-left: -10px;"></h3>
    </div>
    <div class="col-md-8">
        @*<button type="button" class="btn btn-primary" id="3" onclick="checkActive(this.id);" style="margin-left:10px;">Activate</button>
            <button type="button" class="btn btn-danger" id="4" onclick="checkActive(this.id);">Deactivate</button>*@
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Product")'" style="margin-right:10px" @(@Model.isAddNew ? "" : "disabled")>@Html.LocalizedButton("AddProduct")</button>
        <div class="btn-group" data-toggle="buttons">
            <label id="3" onclick="checkActive(this.id);" class="btn btn-smoov">
                <input type="radio" value="true">
                @Html.LocalizedButton("Activate")

            </label>
            <label class="btn btn-smoov" id="4" onclick="checkActive(this.id);">

                <input type="radio" value="false" class="btn btn-smoov">
                @Html.LocalizedButton("Deactivate")

            </label>
        </div>
    </div>
</div>
<!-- END FOOTER-->
@*<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    Do you want to deactivate this product?
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>*@

<!-- MODEL POPUP CONFIRM -->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveProduct")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP CONFIRM -->
<!-- MODEL POPUP CONFIRM MULTI-->
<div class="modal fade" id="modalInactiveMulti" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveProduct")
            </div>
            <div class="modal-footer">
                <button onclick="updateStatusMulti()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP CONFIRM MULTI-->
<!-- MODEL POPUP Select-->
<div class="modal fade" id="modalSelect" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("PleaseSelectItem")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("OK")</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP Select -->
<script language="javascript">
    // init list switchery for status of products
    jsProductItem = {};
    isDismiss = "False";
    var elems = document.querySelectorAll('.js-switch');
    for (var i = 0; i < elems.length; i++) {
        var switchery = new Switchery(elems[i], { color: '#009DD9' });
        elems[i].onchange = function (e) {
            if (this.checked && isDismiss === "False") {
                setStatus($('#' + this.getAttribute('id')).val(), true);
            } else {
                isDismiss = "True";
                jsProductItem.status = this.checked;
                jsProductItem.value = $('#' + this.getAttribute('id').toString()).val();
                jsProductItem.position = this.getAttribute('id').toString();
                $('#modalInactive').modal();
            }
        };
    }

    function dismissPopup() {
        $('#' + jsProductItem["position"]).click();
    }

    function confirmUpdate() {
        setStatus(jsProductItem["value"], jsProductItem["status"]);
        isDismiss = "False";

    }

    var jsCustomerItem = {};
    $(function () {
        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        // add multiple select / deselect functionality
        $("#selectall").click(function () {
            $('.case').prop('checked', this.checked);
        });
        // if all checkbox are selected, check the selectall checkbox
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);

            } else {
                $("#selectall").prop("checked", false);
            }

        });
    });
    /*
    * Call to controller set active/inactive Category
    * checkActive() : multi active/inactive
    *
    */
    function setStatus(id, statusProduct) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusProduct", "Product")',
            data: {
                id: id,
                status: statusProduct
            },
            success: function () {

                location.reload(true);
            }
        })
    }
    /// <summary>
    /// Updates the status multi.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/10/2015-4:11 PM</datetime>
    function updateStatusMulti()
    {

        var status =  document.getElementById("statusMultiProduct").value;
        var delChecked = [];
        var listIdStatus = [];
        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
            listIdStatus.push($(this).attr('id').toString());

        });
        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("updateStatus", "Product")',
                data: {
                    arrId: delChecked,
                    status: status
                },
                success: function (data) {



                    $.each( listIdStatus, function( index, value ){
                        if(status === "true"){// active
                            $('#lbl-statusActive-'+value).removeClass("active");
                            $('#lbl-statusInActive-'+value).removeClass("active");
                            $('#lbl-statusActive-'+value).addClass("active");
                        }else { // inActive

                            $('#lbl-statusActive-'+value).removeClass("active");
                            $('#lbl-statusInActive-'+value).removeClass("active");
                            $('#lbl-statusInActive-'+value).addClass("active");
                        }

                        //   $('#lbl-statusActive-'+value).replace("statusInActive", "statusActive").addClass("active");
                    });

                    listIdStatus
                },
                error: function (error) {

                },
                beforeSend: function () {
                },
                complete: function () {
                }
            })
        }
    }
    function checkActive(obj) {
        var yesNo;
        yesNo =  (obj == 1 || obj==3)?true:false;
        //if (obj == 1 || obj==3)
        //    yesNo = true;
        ////else {
        ////    yesNo = confirm("This product will be inactivated in all stores.Are you sure you want to inactivate it ?");
        ////}
        //else {
        //    yesNo = false;
        //}
        var status =  document.getElementById("statusMultiProduct").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            document.getElementById("statusMultiProduct").value =yesNo;
            if (yesNo) {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveProduct")');

            } else {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveProduct")');

            }
            $('#modalInactiveMulti').modal();
        }

        @*if (yesNo) {
            var delChecked = [];
            var status = (obj == 1 || obj==3) ? true : false;

            $("input:checkbox[name=case]:checked").each(function () {
                delChecked.push($(this).val());
            });

            if (delChecked.length == 0) {
                alert('Please select item !');

            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("updateStatus", "Product")',
                    data: {
                        arrId: delChecked,
                        status: status
                    },
                    success: function () {
                        location.reload(true);
                    }
                })
            }
        }*@
    }
    //----- End  Call to controller set active/inactive Category
    function GoToPage(page,bool) {
        if(bool){
            var link = "@(Url.Action("Index","Product"))";
            location.href = link +"/Index?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault;
        }
    }

    function Searching() {
        var link = "@(Url.Action("Index","Product"))";
        location.href = link +"/Index?sort="+ "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault;
    }

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }

    });
    $( "#searchclear" ).click(function() {
        var link = "@(Url.Action("Index", "Product"))";
        location.href = link;
    });
    var input = $('#text');
    input.on('keydown', function() {
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ){
            var length= $('#text').val().length-1;
            if(length==0){
                $('#searchclear').hide();
            }
        }
    });
    var text= "@Model.Paging.text";
    if(text.length>0){
        $('#searchclear').show();
    }
    setInterval(function(){
        var length= $('#text').val().length;
        if(length==0){
            $('#searchclear').hide();
        }
    },1000)


    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCustomerItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCustomerItem["position"]);
        if (jsCustomerItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCustomerItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCustomerItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {
        // updateStatusMulti();
        setStatus(jsCustomerItem["position"]);
        isDismiss = "False";

    }
    @*function updateStatusMulti()
    {
        var status =  document.getElementById("statusMultiProduct").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            alert('Please select item !');

        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("updateStatus", "Product")',
                data: {
                    arrId: delChecked,
                    status: status
                },
                success: function () {
                    location.reload(true);
                }
            })
        }
    }*@
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        var delChecked = [];
        delChecked.push(idCustomer);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatus", "Product")',
            data: {
                arrId: delChecked,
                status: statusCustomer
            },
            success: function (status) {
                //var elem = document.getElementById("status");
                //elem.value = statusCustomer;

            },
            error: function (status) {
            }
        });
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCustomerItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCustomerItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCustomerItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveProduct")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveProduct")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

</script>