﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.GenerateReport.GenerateReportViewModel

@{
    ViewBag.Title = "Report Document";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

<style>
    .hide-calendar {
        display: none !important;
        visibility: hidden !important;
    }

    .loading {
        text-align: center;
        display: none;
        font-size: 24px;
        margin-right: 12px;
    }

    .add-on-1 {
        position: absolute;
        top: 28px;
        right: 10px;
    }
</style>

<div>
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-md-8">
            <div class="loading" style="display:none;font-size:x-large;vertical-align:middle;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <button type="submit" onclick="submitForm()" class="btn btn-primary button-submit">@Html.LocalizedButton("Download")</button>
        </div>
    </div>

    <div class="q-clear"></div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div>
        @using (Html.BeginForm("GenerateReport", "GenerateReport", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {
            <!------------ FORM ------------>
            <div class="col-md-4 form-group" style="height:84px;margin-bottom:0px;">
                <text>@Html.LocalizedLabel("ReportForm")</text><span style="color:red"> * </span><br />
                <select class="form-control" id="selectedReportForm" name="selectedReportForm" onchange="reportFormValidate()">
                    <option selected value=" --- Select Form ---"> --- Select Form ---</option>
                    @*<option value="1"> Sales Channel Report</option>
                        <option value="2"> Sales Inventory Report</option>*@
                    <option value="3">Sales Branch Report</option>
                    @*<option value="4"> Sales Online Report</option>
                        <option value="5"> Individual Store Sales Performance</option>*@
                </select>
                <text id="AlertReportFormIsNotValid" style="display:none;font-style:italic;color:red;">@Html.LocalizedMessage("AlertReportFormIsNotValid")</text>
            </div>

            <!------------ TYPE ------------>
            <div class="col-md-8 form-group" style="height:84px;margin-bottom:0px;">
                <text>@Html.LocalizedLabel("ReportType")</text><span style="color:red"> * </span><br />
                <select class="form-control" id="selectedReportType" name="selectedReportType" onchange="reportTypeValidate()" style="max-width:475px;">
                    <option selected value="--- Select Type ---">--- Select Type ---</option>
                    <option value="1">Daily</option>
                    @*<option value="2">Weekly</option>
                        <option value="3">Monthly</option>*@
                </select>
                <text id="AlertReportTypeIsNotValid" style="display:none;font-style:italic;color:red;">@Html.LocalizedMessage("AlertReportTypeIsNotValid")</text>
            </div>
            <br />

            <!------------ BRANCH ------------>
            <div class="col-md-4 form-group" style="height:84px;margin-bottom:0px;">
                <text>@Html.LocalizedLabel("ReportBranch")</text><br />
                <select class="form-control" id="selectedReportBranch" name="selectedReportBranch">
                    @if (Model.ListBranches != null && Model.ListBranches.Count() > 0)
                    {
                        foreach (var item in Model.ListBranches)
                        {
                            <option value="@(item.businessID + "|" + item.index.ToString())">@item.businessID</option>
                        }
                    }
                </select>
            </div>

            <!------------ CALENDAR ------------>
            <div class="col-md-8 form-group" style="height:84px;margin-bottom:0px;">
                <div id="dtpDailyReport" class="input-group" style="display: inline-block; width: 100%; max-width:475px;">
                    <text>@Html.LocalizedLabel("Date")</text><span style="color:red"> * </span><br />
                    <input type="text" class="form-control" id="strDaily" name="strDaily" style="border-radius: 4px;" value='@DateTime.Today.ToString("dd MMM yyyy")' onchange="reportPeriodValidate()" />
                    <span class="add-on-1"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div id="dtpWeeklyReport" class="input-group col-md-6" style="display:none;">
                    <text>@Html.LocalizedLabel("Week")</text><br />
                    <input type="text" class="form-control" id="strWeekly" name="strWeekly" style="border-radius: 4px;" onchange="reportPeriodValidate()" />
                    <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <div id="dtpMonthlyReport" class="input-group col-md-6" style="display:none;">
                    <text>@Html.LocalizedLabel("Month")</text><br />
                    <input type="text" class="form-control" id="strMonthly" name="strMonthly" style="border-radius: 4px;" onchange="reportPeriodValidate()" />
                    <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <text id="AlertReportDateIsNotValid" style="display:none;font-style:italic;color:red;">@Html.LocalizedMessage("AlertReportDateIsNotValid")</text>
            </div>
        }
    </div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-toolsbar">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <div class="loading" style="display:none;font-size:x-large;vertical-align:middle;">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <button type="submit" onclick="submitForm()" class="btn btn-primary button-submit">@Html.LocalizedButton("Download")</button>
        </div>
    </div>
</div>

<!------------ START Default Datetimepicker Set Up ------------>
<script>
    //Default daily report datetimepicker
    $('#dtpDailyReport').datetimepicker({
        timepicker: false,
        weeks: true,
        dayOfWeekStart: 1,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').removeClass("hide-calendar");
        },
        onSelectDate: function (dp, $input) {
            var date = new Date($input.val());

            $('#strDaily').val(date.dateFormat("d M Y"));
            reportPeriodValidate();
        }
    });

    //Default weekly report datetimepicker
    $('#dtpWeeklyReport').datetimepicker({
        timepicker: false,
        weeks: true,
        dayOfWeekStart: 1,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').removeClass("hide-calendar");
        },
        onSelectDate: function (dp, $input) {
            var date = new Date($input.val());

            var startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 1);//+1 because start day of week = Monday //+0 if start day of week = Sunday
            var endDate = new Date(date.getFullYear(), date.getMonth(), startDate.getDate() + 6);

            $('#strWeekly').val(startDate.dateFormat("d M Y") + " - " + endDate.dateFormat("d M Y"));
            reportPeriodValidate();
        }
    });

    //Default monthly report datetimepicker
    $('#dtpMonthlyReport').datetimepicker({
        timepicker: false,
        changeMonth: true,
        changeYear: true,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').addClass("hide-calendar");
        },
        onChangeMonth: function (dp, $input) {
            $('#strMonthly').val(dp.dateFormat("M Y"));
        },
        onClose: function (dp, $input) {
            $('#strMonthly').val(dp);
            reportPeriodValidate();
        }
    });
</script>
<!------------ END Default Datetimepicker Set Up ------------>

<script>
    function reportFormValidate() {
        var reportForm = $("#selectedReportForm").val();

        if (reportForm.indexOf("Select Form") >= 0) {
            $('#AlertReportFormIsNotValid').css('display', 'block');

            return false;
        }
        else {
            $('#AlertReportFormIsNotValid').css('display', 'none');

            return true;
        }
    }

    function reportTypeValidate() {
        var reportType = $("#selectedReportType").val();

        if (reportType.indexOf("Select Type") >= 0) {
            $('#AlertReportTypeIsNotValid').css('display', 'block');

            return false;
        }
        else {
            $('#AlertReportTypeIsNotValid').css('display', 'none');

            return true;
        }
    }

    function reportPeriodValidate() {
        var reportType = $("#selectedReportType").val();
        var reportPeriod = $("#strDaily").val();

        if (reportType.indexOf("Select Type") < 0) {
            switch (reportType) {
                case "1"://Daily
                    reportPeriod = $("#strDaily").val();
                    break;
                case "2"://Weekly
                    reportPeriod = $("#strWeekly").val();
                    break;
                case "3"://Monthly
                    reportPeriod = $("#strMonthly").val();
                    break;
            }
        }

        if (reportPeriod == "" || !Date.parse(reportPeriod)) {
            $('#AlertReportDateIsNotValid').css('display', 'block');

            return false;
        }
        else {
            $('#AlertReportDateIsNotValid').css('display', 'none');

            return true;
        }
    }

    function submitForm() {
        var reportForm = $("#selectedReportForm").val();
        var reportType = $("#selectedReportType").val();
        var reportBranch = $("#selectedReportBranch").val();
        var strDate = $("#strDaily").val();
        var strWeekly = $("#strWeekly").val();
        var strMonthly = $("#strMonthly").val();

        //Form validation
        if (!reportFormValidate() || !reportTypeValidate() || !reportPeriodValidate()) {
            reportFormValidate();
            reportTypeValidate();
            reportPeriodValidate();
            //form validation is failed -> exit function
            return;
        }

        //Set "Download" btn to "Loading..."
        $('.button-submit').text('Loading...');
        $('.button-submit').prop('disabled', true);

        //Generate temp link to controller with fake values
        var url = '@Url.Action("GenerateReport", "GenerateReport", new { selectedReportForm = "selectedReportFormValue", selectedReportType = "selectedReportTypeValue",
                                                                            selectedReportBranch = "selectedReportBranchValue", strReportPeriod = "strReportPeriodValue" })';

        //Assign real value to link url
        url = url.replace("selectedReportFormValue", reportForm);
        url = url.replace("&amp;", "&");
        url = url.replace("selectedReportTypeValue", reportType);
        url = url.replace("&amp;", "&");
        url = url.replace("selectedReportBranchValue", reportBranch);
        url = url.replace("&amp;", "&");
        switch (reportType) {
            case "1"://Daily
                url = url.replace("strReportPeriodValue", strDate);
                break;
            case "2"://Weekly
                url = url.replace("strReportPeriodValue", strWeekly);
                break;
            case "3"://Monthly
                url = url.replace("strReportPeriodValue", strMonthly);
                break;
        }

        //Call url to download file
        window.open(url);

        $('.button-submit').prop('disabled', false);
        $('.button-submit').text('Download');
    }
</script>